.tag-suggestions
  .dropdown-default(data-ng-if="vm.tags.length")
    .search-sugesstions
      p.query-suggestion(data-ng-repeat="tag in vm.tags track by $index")
        span.search-query(data-tag-id="{{tag.id}}") {{tag.name}}


