.list-row
  border-bottom: 1px solid $c-lines
  padding: 20px 0
  display: flex
  align-items: center
  justify-content: space-between
  min-height:  80px

  +xsm
    padding: 20px 12px

  +smm
    padding: 20px 16px

  &.is-active
    span
      &.icon
        color: $c-success

  &.is-inactive
    .user-avatar
      opacity: 0.5

    span
      opacity: 0.5

  .list-icon
    display: inline-flex
    padding: 0 16px 0 0

    +smm
      padding: 0 24px 0 0

  .list-data
    flex: 1

    .label
      +paragraphTitle
      display: block
      text-transform: none

    .name
      +paragraph

.list-row-double
  .list-row
    &:first-child
      border-bottom: 0
      padding: 20px 12px 0

      +smm
        padding: 20px 16px 0

    &:last-child
      padding: 0 12px 20px

      +smm
        padding: 0 16px 20px
