.step-active
  margin-top: 32px
  background-color: $c-background-2
  border: 1px solid $c-lines
  padding: 0 16px 0 16px
  +smm
    padding: 0 32px 0 32px
  h3
    color: $c-primary-txt
  .title-step
    margin-top: 2px
    p
      color: $c-secondary-txt
  .step-description
    p
      color: $c-primary
      margin-top: 30px

    i
      color: $c-secondary-txt
      font-size: 24px
      margin-left: 16px
      margin-top: 8px
    .current-step-edit-icon
      font-size: 24px
      color: $c-secondary-txt
    h5
      color: $c-secondary-txt
      +colfax-bold
      text-transform: uppercase
      white-space: nowrap
    .icon-warning
      color: $c-primary
  .step-content
    .option
      h5
        color: $c-primary
      i
        color: $c-primary
      &:hover
        background-color: $c-background
        +transition('all 0.1s ease-in-out 0s')
        h5, i
          color: $c-primary

    .selected
      box-shadow: 0px 0px 0px 2px $c-primary-txt
      h5, i
        color: $c-primary-txt
      &:hover
        background-color: $c-primary
        h5, i
          color: $c-white
