.step
  color: $c-lines
  width: 100%
  position: relative
  +lgm
    width: 1104px
  margin: 0 auto
  padding: 0 16px 0 16px
  +smm
    padding: 0 32px 0 32px
  h3
    color: $c-lines
    
  .focus-layer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 999
  .title-step
    width: 100%
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-between
    align-content: center
    align-items: flex-start
    margin-top: 32px
    +smm
      flex-direction: row
    p
      color: $c-lines
      margin-top: -20px
      
    .title-order
      order: 1
      margin-top: -32px
      +smm
        order: 0
        margin-top: 0
  .step-description
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-content: center
    align-items: center
    text-transform: uppercase
    p
      color: $c-primary-txt
      margin-top: 30px
      white-space: nowrap
    i
      color: $c-secondary-txt
      font-size: 24px
      margin-left: 16px
      margin-top: 8px
    h5
      color: $c-secondary-txt
      -bold
    &.done
      i, p
        color: $c-success
    .icon-warning
      color: $c-warning
      -bold
  .step-content-column
    margin-top: 24px
    .upload-trash
      padding: 13px 10px
      i
        font-size: 20px
    .input-group
      color: $c-secondary-txt
      width: 100%
      .input-group-addon
        width: 112px
        +transition(all 0.2s ease-in-out 0s)
        text-decoration: none
        i
          text-transform: uppercase
          font-size: 16px
          padding: 0 0 0 10px
      .ui-select-container
        outline: none
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: flex-start
        align-content: center
        align-items: center
        margin-top: -5px
        input
          padding-left: 10px
          padding-top: 0px
          font-size: 15px
        .ui-select-match
          position: absolute
        .ui-select-match-item
          background-color: $c-primary-txt
          padding: 3px 5px
          margin-left: 6px
          +border-radius(0.3em)
          position: relative
          span
            text-transform: uppercase
            color: $c-white
            font-weight: bold
            padding-left: 6px
            font-size: 12px
          .ui-select-match-close
            padding: 5px 3px 5px 0px
            position: absolute
            left: 0
            font-size: 16px
      input
        bottom: 9px
        font-size: 20px


    .upload-field-description
      p
        text-transform: uppercase
        -bold
        margin-left: 25px
        margin-top: 20px
        position: absolute
    .button-next-step
      margin-top: 35px
      margin-bottom: 25px
      text-align: right
      .btn-secondary
        margin-right: 10px
    .links-submit
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-content: flex-start
      justify-content: flex-start
      align-items: center
      margin-top: 0
      h3
        margin-top: 43px
        margin-bottom: -10px
      span
        color: $c-white
        font-size: 11px
        padding: 0px 9px
        &.input-group-addon
          &:hover
            background-color: $c-primary
            i
              color: $c-white
      i
        padding: 4px 10px 0px 14px
      .icon
        font-size: 12px
      .link-add-icon
        color: $c-primary
        font-size: 22px
        margin: 0 -2px 0 -10px
        text-transform: none
        font-style: normal
        border-left: 1px solid $c-lines

      a
        margin: 24px 0 -8px 0
        text-transform: none
        +mdm
          margin: 24px 0 -8px 0
      .btn-medium
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: flex-start
        align-items: center
        padding: 17px
      .btn-main
        background-color: $c-primary-txt
        +border-radius(100px)
        font-size: 11px
        width: auto
        padding: 15px
        height: 48px
    .document
      margin-top: 12px
    .document-submit
      display: inline-flex
      @extend .links-submit
      a
        width: auto
        text-align: left
      .btn-main
        width: 100%
        margin-right: 0
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        align-content: flex-start
        align-items: center
        +mdm
          width: auto
          margin-right: 16px
      .document-container
        margin-top: -24px
        margin-bottom: 24px
        width: 100%
        .links-last-step
          margin: 34px 0px 0px 0px
          display: flex
          flex-direction: row
          flex-wrap: wrap
          justify-content: space-between
          align-content: flex-start
          align-items: center
          +mdm
            justify-content: flex-start

          .left-icon
            padding: 3px 0 0 10px
          span
            padding: -10px 0 0 24px
          i
            padding: 0 0 0 24px

          a
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            align-content: flex-start
            align-items: center
            margin: 0 8px 16px 8px
            width: auto
  .step-content
    margin-top: 30px
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-content: center
    justify-content: space-between
    align-items: center
    +smm
      flex-direction: row
    .input-group
      color: $c-secondary-txt
      width: 100%
      height: 100%
      min-height: 200px
      input
        bottom: 18px
        font-size: 16px
      textarea
        font-size: 20px
        color: $c-primary-txt
        min-height: 180px
        position: relative

    .option
      background-color: $c-white
      border: 1px solid $c-lines
      width: 100%
      text-align: center
      +border-radius(0.3em)
      margin-top: 10px
      margin-left: -1px
      cursor: pointer
      padding: 20px 10px 0px 10px
      +transition(all 0.1s ease-in-out 0s)
      +smm
        width: 48.6%
        height: 256px
        margin-top: 0
        padding: 30px 10px 20px 10px
      i
        padding: 0
        margin: 0
        font-size: 64px
        +smm
          font-size: 128px
          padding-top: 22px
      h5
        color: $c-secondary-txt
        -bold
        text-transform: uppercase
        margin-top: 12px

  .step-control
    padding: 22px 0
    flex-direction: column-reverse
    justify-content: flex-start
    +smm
      display: flex
      flex-direction: row-reverse
    .pro-btn
      width: 100%
      margin-right: 10px
      +smm
        width: 10em
        &:last-of-type
          margin-left: 10px
