.step-done
  h3
    color: $c-primary-txt
  .step-content-column
    margin-top: 30px
  .title-step
    p
      color: $c-secondary-txt
  .step-description
    p, i
      color: $c-success
    h5
      white-space: nowrap
      color: $c-success
  .step-content
    .option
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      justify-content: center
      align-content: flex-start
      align-items: center
      h5
        color: $c-lines
      i
        color: $c-lines
      &:hover
        border: 2px solid $c-primary
        h5, i
          color: $c-primary

    .selected
      h5, i
        color: $c-primary-txt
      &:hover
        h5, i
          color: $c-primary
