.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP3_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP3_DESCRIPTION")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-success-24
  .step-content-column
    .upload-field-description
      p(data-translate="DASHBOARD.CREATE_PROFILE.FILE_PREVIEW")
    .upload-field
      div
        img(src="assets/images/logo_profitelo_black.png")
    .upload-trash
      .btn-handler
        a(href="").pro-btn.btn-light.btn-icon
          i.icon.icon-trash
