@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/mixins"
@import "../../../../template/profitelo_theme/stylesheets/core/interface/icons/icons"

.output
  display: flex
  align-content: space-between
  flex-wrap: wrap
  background: $c-white
  position: relative
  padding: 0
  width: 100%
  height: $f-input-height

  output
    padding: 0
    width: 100%
    height: $s-input-height
    line-height: $s-input-height
    align-self: flex-end
