.top-modal-navbar(data-ng-class="{'isShowed':  $ctrl.isShowed, 'isHided': $ctrl.isHided}")
  .top-modal-navbar-wrapper
    .top-modal-navbar-header.logo
      img.logo(src="/assets/images/logo_profitelo_black.svg" data-ui-sref="app.home")

    .top-modal-navbar-title.title
      h3(data-translate="{{ $ctrl.title }}")

    .close-modal
      a(data-ui-sref="app.dashboard.start")
        span.icon.icon-close-16