.top-modal-navbar(data-ng-class="{'isShowed':  $ctrl.isShowed, 'isHided': $ctrl.isHidden}")
  .top-modal-navbar-wrapper
    .top-modal-navbar-header.logo
      img.logo(src="/assets/images/logo_profitelo_black.svg" data-ng-click="$ctrl.onLogoClick()")

    .top-modal-navbar-title.title
      h3(data-translate="{{ :: $ctrl.title }}")

    .close-modal
      a(data-ng-click="$ctrl.onCloseClick()")
        span.icon.icon-close-16