.charge-details-modal
  .details-tab
    margin: 0 0 32px

    +smm
      margin: 0 0 64px


  .modal-description
    p
      a
        margin: 0 0 0 4px
        color: $c-primary
        text-decoration: underline