.dashboard-section
  position: relative
  z-index: $z-index-200

  > *:first-child:not(.charge-account)
    min-height: 75vh
    padding: $s-navbar-height 0

    +smm
      padding: $s-navbar-height 0

.no-results-page
  +smm
    display: flex
    justify-content: center
    align-items: center

  .no-results-page-content
    text-align: center
    padding: 64px 0

    +mdm
      padding: 128px 0

    img
      margin: 0 0 16px

    h2
      +default-font-light
      font-size: $f-header
      margin: 0 0 32px
      color: $c-secondary-txt

    p
      +default-font-regular
      color: $c-secondary-txt
      font-size: $f-subheader
      margin: 0 0 32px

      +smm
        margin: 0 0 64px
