.no-results-page
  padding: 0 0 32px

  +smm
    display: flex
    justify-content: center
    align-items: center
    padding: 0 0 64px

  .no-results-page-content
    text-align: center
    padding: 64px 0

    +mdm
      padding: 128px 0

    img
      margin: 0 0 16px

    h2
      +default-font-light
      font-size: $f-header
      margin: 0 0 32px
      color: $c-secondary-txt

    p
      +default-font-regular
      color: $c-secondary-txt
      font-size: $f-subheader
      margin: 0 0 32px

      +smm
        margin: 0 0 64px
