span.consultation-footer__text
  span(plat-icon iconClass='information-stroke')
  span
    p(innerHtml='{{"CONSULTATION_DETAILS.FOOTER.ORGANIZATION_EDIT_1" | translate: { price: organizationPrice } }}')
    p(innerHtml='{{"CONSULTATION_DETAILS.FOOTER.ORGANIZATION_EDIT_2" | translate: { price: expertPrice } }}')
    p(innerHtml='{{"CONSULTATION_DETAILS.FOOTER.ORGANIZATION_EDIT_3" | translate: { price: grossPrice } }}')
