@import "../../modal/modal.component"
@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

\:host
  display: block
  width: 100%

  .call-summary
    height: calc(100vh - 154px)
    padding: 48px 16px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    +smm
      padding: 48px
      height: auto
      justify-content: flex-start

    &__client-name
      +paragraph
      font-weight: 500
      color: $c-text-primary
      margin: 16px 0 0

    &__title
      +h6
      font-weight: bold
      color: $c-text-primary
      margin: 24px 0 0

    &__call-details
      display: flex
      justify-content: space-between
      align-items: center
      margin: 24px 0 82px

    &__data-container
      &--header
        +caption
        color: $c-text-secondary
        font-weight: normal

      &--data
        +h6
        color: $c-text-secondary
        font-weight: normal

      &:first-child
        padding: 0 16px 0 0
        border-right: 1px solid $c-lines

      &:last-child
        padding: 0 0 0 16px

    &__footer
      position: absolute
      bottom: 0
      padding: 0 0 32px 0

      +xsm-landscape
        padding: 0

      +smm
        position: relative
        padding: 0

    &__footer-button
      font-weight: 500
      font-size: 14px
      line-height: 24px
      color: $c-primary
      display: block

      &:last-child
        margin: 16px 0 0

      &--disabled
        color: $c-lines
        cursor: default
        pointer-events: none

    &__client-rate
      margin: -40px 0 0

    &__client-rate-buttons
      display: flex
      justify-content: space-between
      margin: 24px 0

      > a
        max-width: 134px

        +smm
          max-width: 174px

        &:first-child
          margin: 0 16px 0 0

  .comment-section
    height: calc(100vh - 154px)
    padding: 48px 16px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    +smm
      padding: 48px
      min-height: 488px
      height: auto


    &__form
      width: 100%

    &__textarea-wrapper
      width: 100%

      +smm
        margin: -48px 0 0

    &__button-wrapper
      position: absolute
      width: 100%
      bottom: 0
      left: 0
      right: 0
      margin: 0 0 48px 0
      height: 56px
      display: flex
      justify-content: center

      >a
        width: 128px

        &:first-child
          margin: 0 24px 0 0

    &__header-wrapper
      +subtitle
      color: $c-text-secondary
      position: absolute
      top: 94px

  .report-client-section
    height: calc(100vh - 56px)
    padding: 48px 16px
    display: flex
    flex-direction: column
    justify-content: center

    +smm
      padding: 48px
      min-height: 488px
      height: auto

  .complaint-section
    height: calc(100vh - 56px)
    padding: 48px 16px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    +smm
      padding: 48px
      min-height: 488px
      height: auto

