plat-modal-component(
[modalTrTitleHeader]="modalHeaderTr",
[modalContainerClass]="modalContainerClass",
[isBackwardVisible]="isBackwardVisible",
(backwardClick)="onBackwardClick()"
)
  plat-call-summary(
    [currentExpertCall]="currentExpertCall",
    [currentClientCall]="currentClientCall",
    [currentSummaryState]="currentSummaryState",
    (stateChange)="onCallSummaryStateChange($event)"
  )
