@import "../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.grouped-messages-js
  display: flex
  justify-content: flex-end

  .message
    text-align: left
    flex: 1
    margin: 0 0 8px
    display: flex
    justify-content: flex-end

    &.is-active
      animation: bounce 0.4s ease-out

    span
      +paragraphSmall
      +default-font-regular
      display: inline-block
      background: $c-lines
      padding: 8px 16px
      color: $c-primary-txt
      border-radius: 8px 0 0 8px
      transform-origin: 100% 0
      word-break: break-word
      max-width: 298px

      &.icon
        padding: 8px 0 8px 16px

      .file
        display: flex
        align-items: center
        color: $c-primary-txt

        i
          padding-right: 8px

    &:last-child
      span
        border-radius: 8px 0 8px 8px

    &:first-child
      span
        border-radius: 8px 8px 0 8px

  /* green messages */
  &.interlocutor
    flex: 1
    margin: 0 0 8px
    display: flex
    justify-content: flex-start

    .message
      justify-content: flex-start
      text-align: left

      span
        +paragraphSmall
        transform-origin: 0 0
        padding: 8px 16px
        background: $c-primary
        color: $c-white
        border-radius: 0 8px 8px 0

        &.icon
          padding: 8px 16px 8px 0

        .file
          color: $c-white
          display: flex
          align-items: center

      &:last-child
        span
          border-radius: 0 8px 8px 8px

      &:first-child
        span
          border-radius: 8px 8px 8px 0

    .thumb
      margin: 0 8px 0 0

  .message-date
    p
      text-align: left

.message-date
  p
    +default-font-bold
    padding: 8px 16px 0
    color: $c-tertiary-txt
    font-size: $f-button-small
    text-align: right
