extends ../../../templates/wizard/section-controlls.partial.jade


block content
  .step-content(data-ng-click="onClick()")
      pro-textarea(data-ng-model="model.description" data-pro-model='model.description')




