.last-activities
  .last-activities-container(data-ng-click=":: $ctrl.openActivityDescription()")
    .list-row.call-activity(data-ng-if="$ctrl.isCallActivity")
      .last-activity-details
        .last-activity-icon
          span.icon.icon-outgoing-call-24

        .last-activity-about
          .last-activity-date
            span  {{:: $ctrl.activity.initializedAt | date : 'EEE d.MM.y'}}
          status(data-complaint=":: $ctrl.activityDate" data-ng-show="::$ctrl.activity.complaint")

      .last-activity-description
        h3 {{:: $ctrl.activity.serviceName }}

      .last-activity-profile
        .profile-preview
          user-avatar.thumb.x48(data-image-token="vm.imageToken")

          .profile-name
            span {{:: $ctrl.activity.serviceUsageDetails.expertName }}

        .price-small.price-section
          span(data-ng-bind-html=":: $ctrl.activity.financialOperation.operation | money")

    .list-row.money-activity(data-ng-if="!$ctrl.isCallActivity")
      .last-activity-details
        .last-activity-icon
          span.icon.icon-money

        .last-activity-about
          .last-activity-date
            span {{ ::$ctrl.activity.createdAt | date : "EEE d.MM.y" }}

      .money-activity-informations-container
        .last-activity-description
          h3 {{ 'DASHBOARD_CLIENT.CHARGE_ACCOUNT_ACTIVITY_HEADER' | translate}}

        .price-small.price-section
          span +
          span(data-ng-bind-html="::$ctrl.activity.financialOperation.operation | money")
