a.favourite-expert
    .favourite-experts-content
        .profile-preview
            .thumb.x48
                img.user-avatar( data-ng-class="{'is-not-uploaded': !$ctrl.consultationOwnerImage(consultation.owner.img)}" data-ng-src="/assets/asd.jpg")

                .status-list
                    span.status.availability

            .profile-name
                span Name konsultatatName konsultatatName konsultatatName konsultatat
