@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.manage-profile
  [class*="section"]
    margin: 0 0 48px

  .organization-row,
  .expert-row
    .btn-handler
      +lgm
        visibility: hidden

    .btn
      margin: 0

      +smm
        margin: 0 12px

    &:hover
      .btn-handler
        visibility: visible

  .consultation-section
    .entry-title
      span
        margin: 0 16px 0 0
