@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.manage-profile
  [class*="section"]
    margin: 0 0 48px

  .entry-title
    .btn
      margin: 0 0 0 24px

  .organization-row,
  .expert-row
    .btn-handler
      visibility: hidden

    &:hover
      .btn-handler
        visibility: visible
