pro-lightbox
  .modal-dialog
    &.add-overflow
      overflow-y: auto
      margin-top: 80px
      min-height: calc(100vh - 80px)
      height: calc(100vh - 80px)

    .backdrop-area
      width: 100%
      height: 100%
      position: fixed

    .right-side
      display: flex
      align-items: center
      width: 56px
      position: fixed
      z-index: 1
      top: 0
      bottom: 0
      right: 16px
      margin: auto

      .arrow-slider
        &::before
          left: 0

    .left-side
      display: flex
      align-items: center
      width: 56px
      position: fixed
      z-index: 1
      top: 0
      bottom: 0
      left: 16px
      margin: auto

      .arrow-slider
        &::before
          right: 0

  .btn.btn-circle
    box-shadow: none
    border: 0

  .arrow-slider
    display: flex
    justify-content: center
    opacity: 0.8
    background: $c-primary-txt
    width: 40px
    height: 40px
    border-radius: 4px
    align-self: flex-end
    margin: 0 0 24px
    overflow: hidden
    position: relative
    z-index: 1

    +smm
      margin: 0
      align-self: center

    &::before
      transition: width 0.3s
      content: ""
      position: absolute
      top: 0
      width: 0px
      height: 100%
      background: $c-white
      z-index: -1

    &:hover
      &::before
        width: 100%

    span
      color: $c-secondary-txt

    &:hover
      span
        color: $c-label

.modal-open
  overflow-y: hidden

  .pro-top-navbar
    position: absolute

  pro-lightbox

    .modal-dialog
      display: flex
      justify-content: center


