pro-lightbox
  .modal-dialog

    &.add-overflow
      overflow-y: auto
      margin-top: 80px
      min-height: calc(100vh - 80px)
      height: calc(100vh - 80px)


    .right-side
      display: flex
      align-items: center
      width: 56px
      position: absolute
      z-index: 1
      top: 0
      bottom: 0
      right: 16px
      margin: auto

    .left-side
      display: flex
      align-items: center
      width: 56px
      position: absolute
      z-index: 1
      top: 0
      bottom: 0
      left: 16px
      margin: auto

  .btn.btn-circle
    box-shadow: none
    border: 0

.modal-open
  overflow-y: hidden

  .pro-top-navbar
    position: absolute

  pro-lightbox

    .modal-dialog
      display: flex
      justify-content: center