@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import "../../../../../../../shared/components/modals/modal/modal.component"

\:host
  display: block
  width: 100%

.change-password
  text-align: center

  .modal-component
    &__content
      &__header
        justify-content: center
        margin: 0 0 32px

        &::ng-deep
          br
            display: block

  .modal-form
    &__input-container
      margin: 0 0 8px

  am-core-submit-button
    margin: 24px 0 0
