.pro-invitation-acceptance-box
  i.industry.icon.icon-fasion-32
  .description
    h2(data-ng-bind="invitation.industry")
    pro-summary-tag(data-tags="invitation.tags")
  .buttons
    button.pro-btn(data-translate="DASHBOARD.INVITATION.REJECT")
    button.pro-btn.btn-main(data-translate="DASHBOARD.INVITATION.ACCEPT")