extends ../../../templates/wizard/section-controlls.partial.jade

block content
    .step-content-column.pro-service-provider-file-uploader(data-ng-click="onClick()")
        pro-uploader(type="application/pdf,image/jpeg,image/png" files-uploaded="model.files" data-multiple data-ngf-pattern=".pdf,.jpg,.jpeg,.png")
        .document-submit(data-ng-show="model.files.length > 0")
            .document-container
                h3(data-translate="DASHBOARD.CREATE_PROFILE.CREATE_PROFILE_YOUR_DOCS")
                .links-submit.links-last-step
                    a.pro-btn.btn-main.btn-medium(data-ng-repeat="file in model.files track by $index" disable)
                        span {{ file.file.name }}
                        i.icon.icon-trash-24(data-ng-click="removeFile(file)")
    .input-error-messages
      .error(data-translate="DASHBOARD.CREATE_PROFILE.FILE_ERROR" data-ng-show="badFiles")
