extends ../../../templates/wizard/section-controlls.partial.jade

block content
    .step-content-column(data-ng-click="onClick()")
        pro-uploader(data-pro-model="filesModel"  type="application/pdf,image/jpeg" files-uploaded="model.avatar")
        .document-submit(data-ng-show="model.files.length > 0")
            a.pro-btn.btn-main.btn-medium(data-ng-repeat="file in model.files track by $index" disable)
                span {{ file.name }}
                i.icon.icon-close-12(data-ng-click="removeFile(file)")


