@import '../../../../../../../../template/profitelo_theme/stylesheets/variables/variables.sass'

.dashboard-navigation
  background: $c-primary-txt
  min-height: $dashboard-navigation-height
  margin: 0 0 48px

  .container
    > div
      display: flex
      flex-wrap: wrap
      justify-content: space-between

  .dashboard-nav
    order: 2
    overflow-x: scroll

    +mdm
      overflow-x: hidden

    +lgm
      order: 1
      flex-wrap: nowrap

    ul
      display: flex
      align-items: stretch
      margin: 0
      height: $dashboard-navigation-height

      li
        display: inline-flex
        align-items: stretch
        justify-content: center
        align-content: center
        padding: 0 12px

        +xsm
          width: auto
          margin: 0 12px

        &:first-child
          padding: 0 12px 0 0

          +xsm
            margin: 0 12px 0 0

        &.is-active
          a
            color: $c-white

            &::after
              border-bottom-color: $c-white
              transform: translateY(0px)

        a
          +paragraphTitle
          padding: 16px 0
          display: flex
          align-items: center
          text-transform: uppercase
          position: relative
          transition: color 0.3s

          &:hover
            color: $c-white

          &::after
            transition: all 0.3s
            transform: translateY(10px)
            content: ""
            width: 0
            height: 0
            position: absolute
            bottom: 0
            left: 0
            right: 0
            margin: auto
            border-bottom: 10px solid transparent
            border-right: 10px solid transparent
            border-left: 10px solid transparent

  .client-credits
    min-height: 56px
    text-align: center
    margin: 0 0 32px

    +xsm
      display: flex
      justify-content: flex-end
      align-items: center

    +smm
      margin: 0 auto

    > span
      +default-font-bold
      color: $c-primary-txt
      font-size: $f-header
      margin: 0 0 24px
      display: flex
      justify-content: center
      align-items: center

      +xsm
        margin: 0 24px 0 0

      span
        margin: 0 8px 0 0

  .nav-payment
    margin: 0
    display: flex
    justify-content: space-between
    align-items: center
    overflow: visible
    width: 100%
    order: 1
    padding: 32px 0 0

    +smm
      justify-content: flex-start

    +lgm
      width: auto
      justify-content: flex-end
      order: 2
      padding: 0

    .payout-btn-container
      +xsm
        margin: 0 0 0 32px

      +smm
        margin: 0 0 0 24px

    span
      +default-font-medium
      display: block
      text-align: left

      +lgm
        text-align: right

    .account-balance-title
      +paragraphSmall
      +default-font-medium
      color: $c-tertiary-txt

    .account-balacnce
      display: flex
      align-items: flex-end
      font-size: $f-header

      .amount
        color: $c-white

      .currency
        margin: 0 0 0 8px
        font-size: $f-paragraph
        color: $c-tertiary-txt
