.sms-code(data-ng-if="vm.current==1")
  .phone-handler
    p {{'REGISTER.USER_PHONE' | translate}} {{vm.registrationSteps.account.phoneNumber.prefix}} {{vm.registrationSteps.account.phoneNumber.number}}
  include ./parts/sms-code.partial.jade
.new-password(data-ng-if="vm.current==2")
  .phone-handler
    p {{'REGISTER.USER_PHONE' | translate}} {{vm.registrationSteps.account.phoneNumber.prefix}} {{vm.registrationSteps.account.phoneNumber.number}}
      span.icon.icon-tiny.icon-success-12
  include ./parts/new-password.partial.jade
.email(data-ng-if="vm.current==3")
  .phone-handler
    p {{'REGISTER.USER_PHONE' | translate}} {{vm.registrationSteps.account.phoneNumber.prefix}} {{vm.registrationSteps.account.phoneNumber.number}}
      span.icon.icon-tiny.icon-success-12
  include ./parts/email.partial.jade
