@import "../modal/modal.component"
@import "../../../../../../node_modules/@anymind-ng/core/src/template/stylesheets/stylesheets"

\:host
  display: block
  width: 100%

  .create-expert-consultation
    &__submit-button-container
      display: flex
      justify-content: center

    am-core-tooltip
      margin: 0 0 0 4px

    am-core-input-prefix
      &::ng-deep
        .input-prefix
          max-width: 180px

    .consultation-name-container
      margin: 0 0 56px

    .anymind-commission
      &__title
        +subtitle
        color: $c-label

      &__value
        +subtitle
        color: $c-text-primary
        font-weight: 500
        margin: 0 0 0 4px
