plat-modal-component(
  [modalTrTitleHeader]="'CREATE_EXPERT_CONSULTATION.HEADER.TITLE'"
)
  .modal-form.create-expert-consultation
    form(
      contentHeightAnimation,
      [id]="formId",
      [formGroup]="createConsultationForm",
      novalidate
    )

      header.modal-component__content__header
        span([translate]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.TITLE'")
        am-core-tooltip(
        [tooltipText]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.TITLE.TOOLTIP'"
        )

      .modal-form__row
        am-core-input-prefix(
          label="CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.LANGUAGE_LABEL",
          [value]="'Polski'"
        )

      .modal-form__row--small
        am-core-input-text(
          [label]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.NAME_LABEL'",
          [placeholder]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.NAME_PLACEHOLDER'",
          [isRequired]="true",
          [minLength]="minValidNameLength",
          [maxLength]="maxValidNameLength",
          [controlName]="nameControlName",
          [isDisabled]="isRequestPending",
          [form]="createConsultationForm",
          [initialFocus]="true",
          [errorTextKey]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.NAME_LENGTH_ERROR'"
        )

      .modal-form__row
        am-core-textarea-primary(
          [label]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.DESCRIPTION_LABEL'",
          [placeholder]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.DESCRIPTION_PLACEHOLDER'",
          [isRequired]="true",
          [minLength]="minValidDescriptionLength",
          [maxLength]="maxValidDescriptionLength",
          [controlName]="descriptionControlName",
          [form]="createConsultationForm",
          [isDisabled]="isRequestPending",
          [errorTextKey]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.DESCRIPTION_LENGTH_ERROR'"
        )

      .modal-form__row
        header.modal-component__content__header
          span([translate]="'CREATE_EXPERT_CONSULTATION.CONSULTATION_SECTION.TITLE'")
          am-core-tooltip(
            [tooltipText]="'CREATE_EXPERT_CONSULTATION.CONSULTATION_SECTION.TITLE.TOOLTIP'"
          )

        plat-consultation-tags(
          [label]="'CREATE_EXPERT_CONSULTATION.CONSULTATION_SECTION.TAGS_LABEL'",
          [placeholder]="'CREATE_EXPERT_CONSULTATION.CONSULTATION_SECTION.TAGS_PLACEHOLDER'",
          [isRequired]="true",
          [form]="createConsultationForm",
          [controlName]="tagControlName",
          [descriptionControlName]="descriptionControlName",
          [nameControlName]="nameControlName",
          [isDisabled]="isRequestPending",
          (selectedTagsEmitter$)="onSelectedTag($event)",
          contentHeightAnimation
        )

      header.modal-component__content__header
        span([translate]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.TITLE'")
        am-core-tooltip(
        [tooltipText]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.TITLE.TOOLTIP'"
        )

      plat-consultation-price(
        [labelWithoutCommission]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.NET_PRICE_LABEL'",
        [labelGross]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.GROSS_PRICE_LABEL'",
        [isRequired]="true",
        [form]="createConsultationForm",
        [withoutCommissionControlName]="priceWithoutCommissionControlName",
        [grossControlName]="grossPriceControlName",
        [netControlName]="netPriceControlName",
        [isDisabled]="isRequestPending"
      )

      .modal-form__row.anymind-commission
        p.anymind-commission__title {{ 'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.COMMISSION.TITLE' | translate }}
          span.anymind-commission__value([translate]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.COMMISSION.VALUE'")

      .create-expert-consultation__submit-button-container
        am-core-submit-button(
          titleText="CREATE_EXPERT_CONSULTATION.SUBMIT_BUTTON",
          [formName]="formId",
          [isLoading]="isRequestPending",
          [isSubmitType]="false",
          (click)="onFormSubmit()"
        )
