.load-more-results-container
	display: flex
	justify-content: space-between
	padding: 16px 0
	min-height: 64px

	+lgm
		padding: 16px 16px

	span
		+inputLabel
		color: $c-tertiary-txt

	a
		text-align: right

	.load-more-btn-handler
		display: flex
		align-items: center
