.navbar-user-menu(*ngIf="isMenuVisible", [@slideInOut])
  ul.smm-only
    li.menu-list__section.menu-list__section--mobile-close
      span.title([translate]="'NAVBAR_USER_MENU.ACCOUNT'")
      span.icon.icon-clear

  ul.menu-list
    li.menu-list__header
      .user-name-container(*ngIf="userName; else anonymous")
        span.user-name-container__title([translate]="'NAVBAR_USER_MENU.WELCOME'")
        span.user-name-container__user-name {{ userName }}

      ng-template(#anonymous)
        .user-name-container
          span.user-name-container__title([translate]="'NAVBAR_USER_MENU.ANONYMOUS'")
          span.user-name-container__user-name([translate]="'NAVBAR_USER_MENU.FILL_PROFILE'")

      ng-container([ngSwitch]="userType")
        // TODO uncomment this after Beta release ends
        //a(
        //  plat-button-link,
        //  *ngSwitchCase="userTypeEnum.USER",
        //  [routerLink]="userProfileUrl",
        //  [translate]="'NAVBAR_USER_MENU.EDIT'"
        //)
        a(
          plat-button-link,
          *ngSwitchCase="userTypeEnum.EXPERT",
          [routerLink]="userProfileUrl",
          [translate]="'NAVBAR_USER_MENU.SHOW'"
        )
        a(
          plat-button-link,
          *ngSwitchCase="userTypeEnum.COMPANY",
          [routerLink]="companyProfileUrl",
          [translate]="'NAVBAR_USER_MENU.SHOW'"
        )

    li.menu-list__section(*ngIf="userType === userTypeEnum.EXPERT")
      ul
        li.menu-list__row.menu-list__row--visibility
          .title-container
            span.icon.icon-available
            span.option-title([translate]="'NAVBAR_USER_MENU.SWITCH_LABEL.AVAILABLE'")

          form(
            [id]="changeVisibilityFormId",
            [formGroup]="changeVisibilityForm",
            novalidate
          )
            plat-input-switch(
              [controlName]="visibilityControlName",
              [form]="changeVisibilityForm",
              (click)="onInputSwitchClick($event)"
            )

    li.menu-list__section(*ngFor="let menuItemsGroup of groupedMenuItems")
      ul
        li.menu-list__row(
          *ngFor="let menuItem of menuItemsGroup",
          [ngClass]="{'lgm-only': menuItem.group === navigationItemGroups.NAVBAR}",
        )
          .menu-list__row__content(
            *ngIf="menuItem.url; else functionCallback",
            [routerLink]="menuItem.url"
          )
            span(plat-icon, [iconClass]="menuItem.iconClass")
            span.option-title([translate]="menuItem.trKey")
            .menu-list__counter-wrapper
              plat-activities-counter(*ngIf="menuItem.counter | async as combineCounter", [counter]="combineCounter")

          ng-template(#functionCallback)
            .menu-list__row__content((click)="onClick(menuItem.callbackFnName)")
              span(plat-icon, [iconClass]="menuItem.iconClass")
              span.option-title([translate]="menuItem.trKey")

    li.menu-list__section.menu-list__section--switch-account(*ngIf="switchAccountType")
      ul
        li.menu-list__row(
          (click)="switchAccount(switchAccountType)",
          [routerLink]="switchAccountUrl"
        )
          plat-user-avatar(
            [avatarSize]="avatarSize32",
            [avatarToken]="switchAccountAvatarToken"
          )
          span.option-title([translate]="switchAccountTrKey")
