@import "~@anymind-ng/core/src/template/stylesheets/core/core"

.navbar-user-menu
  position: fixed
  top: 0
  right: 0
  background: $c-white
  width: 100vw
  height: 100%
  overflow-y: scroll
  cursor: default

  +smm
    position: absolute
    top: 56px
    right: -8px
    width: 320px
    height: auto
    box-shadow: 0 2px 8px 0 $c-shadow

  .menu-list
    &__header
      display: flex
      align-items: center
      cursor: pointer
      justify-content: space-between
      padding: 16px

      &--user
        cursor: default

    .user-name-container
      flex: 0 0 50%
      &__title
        +input-label
        display: block

      &__user-name
        +subtitle-small
        font-weight: 500

      &--user
        flex: 1 0 100%

    &__section

      &--application-download
        .menu-list
          &__row
            cursor: default

            .option-title
              font-weight: 500

            &:hover
              .option-title
                color: $c-text-primary

        .application-download
          min-width: 40px
          height: 40px
          background-color: $c-primary
          border-radius: 8px
          cursor: pointer
          display: flex
          justify-content: center

          .icon
            margin: 0
            color: white

          &:first-of-type
            margin: 0 12px 0 0


      &--switch-account
        plat-user-avatar
          margin: 0 16px 0 0

      &--mobile-close
        padding: 16px
        display: flex
        justify-content: space-between
        align-items: center
        height: 56px
        border-bottom: 1px solid $c-lines

        .title
          +subtitle
          color: $c-text-secondary

        .icon-clear
          background: $c-lines
          border-radius: 50%
          cursor: pointer

    &__counter-wrapper
      width: 100%
      display: flex
      justify-content: flex-end

      plat-activities-counter
        &::ng-deep
          .activities-counter
            background: $c-black
            min-width: 19px
            min-height: 20px

    &__row
      display: flex
      align-items: center
      height: 40px
      cursor: pointer
      outline: none
      padding: 0 16px

      &:first-child
        height: 56px
        padding: 16px 16px 0
        border-top: 1px solid $c-lines

      &:last-child
        height: 56px
        padding: 0 16px 16px

      &:first-child
        &:last-child
          height: 72px
          padding: 16px

      &.lgm-only
        +lgm
          display: none

      &:hover
        .icon,
        .option-title
          color: $c-primary
          transition: color 0.3s

        plat-user-avatar
          &::ng-deep
            .icon-avatar
              background: $c-primary
              transition: color 0.3s

        plat-activities-counter
          &::ng-deep
            .activities-counter
              background: $c-primary
              transition: color 0.3s

      &__content
        display: flex
        align-items: center
        outline: none
        width: 100%
        height: 100%

      .icon
        font-size: 24px
        color: $c-text-primary
        margin: 0 16px 0 0

      .option-title
        +subtitle-small
        color: $c-text-primary
        width: 100%

      &--visibility
        display: flex
        justify-content: space-between
        align-items: center
        cursor: default

        &:hover
          .icon,
          .option-title
            color: $c-text-primary

        .title-container
          display: flex
          align-items: center

          .icon-available
            color: $c-black


  .button--link
    +button-small
    color: $c-primary

.profile-link
  padding: 0 0 0 8px
