.status-list
  .status
    +default-font-regular
    font-size: $f-base
    text-transform: uppercase
    display: inline-flex
    align-items: center

    &::before
      +animation(status-blank 1.5s infinite)
      content: ""
      width: 12px
      height: 12px
      display: block
      border: 2px solid $c-white
      border-radius: 50%
      margin: 0 8px 0 0

    &.availability
      color: $c-success

      &::before
        background: $c-success

+keyframes(status-blank)
  0%
    opacity: 0.7
  50%
    opacity: 1
  100%
    opacity: 0.7