.tag-list
  display: flex
  flex-wrap: wrap
  position: relative

  &.disable
    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
  li
    margin: 0 8px 8px 0
    border-radius: 0

    a
      +default-font-regular
      transition: color 0.3s, background 0.3s
      background: rgba($c-lines, 0.6)
      color: $c-secondary-txt
      height: 32px
      display: inline-flex
      align-items: center
      padding: 0 16px
      white-space: pre
      font-size: $f-h5-size
      border-radius: 3px

    &.is-checked,
    &:hover
      a
        color: $c-white
        background: $c-secondary-txt

        span
          color: $c-white

