.tag-list
  li
    background: $c-background-2
    border: 1px solid $c-lines
    display: inline-flex
    align-items: stretch
    margin: 0 8px 8px 0
    border-radius: 20px
    min-height: 32px

    &:hover
      background: $c-primary
      border-color:

      a
        color: $c-white

        span
          color: $c-white

    a
      +default-font-regular
      display: flex
      align-self: stretch
      align-items: center
      text-transform: uppercase
      padding: 4px 16px
      font-size: 14px
      color: $c-primary-txt
      font-size: $f-btn-size