.activities(*ngIf="profileActivities$ | async as profileActivities")
  .container(*ngIf="isLoaded$ | async; else loader")
    .activities__profit-container
      .activities__profit
        .activities__profit__header
          span.activities__profit__label {{ "ACTIVITIES.PROFIT_HEADER" | translate }}
          am-core-tooltip(
          [tooltipText]="'ACTIVITIES.PROFIT_HEADER.TOOLTIP.DESCRIPTION'"
          )
        p.activities__profit__money {{ 123 | currency:'PLN':'symbol-narrow' }}

      .activities__profit
        .activities__profit__header
            span.activities__profit__label {{ "ACTIVITIES.BLOCKED_PROFIT_HEADER" | translate }}
            am-core-tooltip(
            [tooltipText]="'ACTIVITIES.BLOCKED_PROFIT_HEADER.TOOLTIP.DESCRIPTION'"
            )
        p.activities__profit__money {{ 123 | currency:'PLN':'symbol-narrow' }}

      .activities__profit.activities__profit--split
        .activities__profit__container
          span.activities__profit__label {{ "ACTIVITIES.WORKERS_PROFIT_HEADER" | translate }}
          p {{ 123 | currency:'PLN':'symbol-narrow' }}

        .activities__profit__container
          span.activities__profit__label {{ "ACTIVITIES.FREELANCE_PROFIT_HEADER" | translate }}
          p {{ 123 | currency:'PLN':'symbol-narrow' }}

    .non-activities(*ngIf="!profileActivities.length")
      am-core-image-display.non-activities__image(imgName="activities")
      span {{ "EXPERT_ACTIVITIES.NON_ACTIVITIES_HEADER" | translate }}

    .activities-lists(*ngIf="profileActivities.length")
      .important-list(*ngIf="importantActivitiesCounter$ | async as importantActivitiesCounter")
        .important-list__header
          span {{"EXPERT_ACTIVITIES.IMPORTANT_LIST_COUNTER_TITLE" | translate: {currentValue: (displayedImportantActivities$ | async).length, counter: importantActivitiesCounter} }}
          ng-container(*ngIf="importantActivitiesCounter > (importantActivitiesOffset$ | async)")
            a((click)="hideMore()",
            *ngIf="isImportantListShown$ | async")
              | {{ "EXPERT_ACTIVITIES.IMPORTANT_LIST_HIDE" | translate }}
            a((click)="showMore()",
            *ngIf="!(isImportantListShown$ | async)")
              | {{ "EXPERT_ACTIVITIES.IMPORTANT_LIST_SHOW_ALL" | translate }}

        ul.important-list__container
          li(*ngFor='let activity of displayedImportantActivities$ | async; trackBy:trackByImportantActivities', [@animation])
            plat-activity-row(
            [isImportant]="true",
            [activity]="activity",
            [listType]="listType",
            (activityRowClicked)="onActivityRowClicked(activity, true)",
            )

      .all-list
        .all-list__header
          span {{"EXPERT_ACTIVITIES.ALL_LIST_COUNTER_TITLE" | translate}}
          a.all-list__filter
            span(plat-icon, iconClass="filters")
            span {{ "EXPERT_ACTIVITIES.ALL_LIST_SHOW_FILTERS" | translate }}

        ul.all-list__container
          li(*ngFor='let profileActivity of profileActivities; trackBy:trackByActivities', [@animation])
            plat-activity-row(
            [activity]="profileActivity.activity",
            [isImportant]="profileActivity.isImportant",
            [listType]="listType",
            (activityRowClicked)="onActivityRowClicked(profileActivity.activity, profileActivity.isImportant)",
            )
      .bottom
        a.button.button--tertiary.button--small((click)="loadMore()",
        *ngIf="isMoreActivity$ | async") {{"EXPERT_ACTIVITIES.LOAD_MORE" | translate}}

ng-template(#loader)
  .container
    .activities__profit
      span.activities__profit__header {{ "EXPERT_ACTIVITIES.PROFIT_HEADER" | translate }}
      span.activities__profit__money {{ 0 | currency: 'PLN':'symbol-narrow' }}

    .activities-lists
      .all-list
        .all-list__header
          span {{ "EXPERT_ACTIVITIES.ALL_LIST_COUNTER_TITLE" | translate }}

        ul.activity-loader-list
          li.activity-loader-list__item
            plat-consultation-row-loader
          li.activity-loader-list__item
            plat-consultation-row-loader
          li.activity-loader-list__item
            plat-consultation-row-loader
          li.activity-loader-list__item
            plat-consultation-row-loader

