.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.SUMMARY_TITLE")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-success-24
  .step-content-column
    h4 Rozliczenia i optymalizacja Podatków
    .links-submit
      a.pro-btn.btn-main.btn-medium
        p VAT
      a.pro-btn.btn-main.btn-medium
        p PIT
      a.pro-btn.btn-main.btn-medium
        p CIT
        
        
    h4(data-translate="DASHBOARD.CREATE_PROFILE.INVITED_CONSULTATNS")
    .links-submit
      a.pro-btn.btn-main.btn-medium
        p jan.kowalski@itelo.pl
      a.pro-btn.btn-main.btn-medium
        p jan.kowalski@itelo.pl
      a.pro-btn.btn-main.btn-medium
        p jan.kowalski@itelo.pl
