.person-summary
  .photo
    img(src="assets/images/John_Doe.jpg")
  .description
    .name
      h3 Jan Kowalski
    .person-description
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh lacus, sollicitudin ut pretium id, placerat sit amet turpis. Nam eu arcu at nisl gravida tincidunt. Nam fermentum turpis felis, bibendum convallis mi viverra volutpat.
