.consultation-comment-item(*ngIf="comment", #commentContainer)
  .consultation-comment-item__row
    .user-details
      .user-details__avatar
        plat-user-avatar(
        [avatarSize]="avatarSize40"
        )

      .user-details__data
        .user-details__data__name(*ngIf="isOwnerOfComment else clientData")
          p {{ 'CONSULTATION_DETAILS.COMMENTS.YOUR_COMMENT' | translate }}

        ng-template(#clientData)
          .user-details__data__name
            p(*ngIf="comment.clientDetails.nickname") {{ comment.clientDetails.nickname }}
            p(*ngIf="!comment.clientDetails.nickname")
              | {{ 'CONSULTATION_DETAILS.COMMENTS.ANONYMOUS_COMMENT' | translate }}

        .user-details__time
          .user-details__time__consultation-time
            span.icon.icon-time-duration
            span {{ comment.callDurationInSeconds | timeDuration }}

          .user-details__time__comment-registered
            span.icon.icon-date
            span {{ commentDate | dateDuration }}

      .consultation-comment-item__edit(
        *ngIf="isCommentOptionShown",
        commentDropdownPosition,
        [commentDropdownParentElement]="commentContainer"
      )
        span.icon.icon-options-more(toggleElementDirective, (isClickedElement)="toggleDropdown($event)")

        plat-menu-list.consultation-comment-item__edit__dropdown(
          [dropdownVisibility]="dropdownVisibility"
        )

          li(*ngIf="!_isReported", (click)="onDropdownChoose(dropdownNavigationList.REASON_REPORT)")
            span {{ 'CONSULTATION_DETAILS.COMMENTS.DROPDOWN.REPORT' | translate }}

          li(*ngIf="!isAnswer && !_isTemporaryAnswer", (click)="onDropdownChoose(dropdownNavigationList.ANSWER)")
            span {{ 'CONSULTATION_DETAILS.COMMENTS.DROPDOWN.ANSWER' | translate }}

    .consultation-comment-item__description([ngClass]="{'consultation-comment-item__description--reported': isReportAccepted}")
      p {{ comment.content }}

  .consultation-comment-item__answer(*ngIf="isAnswer")
    plat-consultation-comment-answer(
      [avatarSize]="avatarSize40",
      [tokenAvatar]="tokenAvatar",
      [expertName]="expertName",
      [commentDetails]="comment"
    )

  .consultation-comment-item__answer--temporary(*ngIf="_isTemporaryAnswer && !isAnswer", [@collapse])
    plat-consultation-comment-answer(
      [avatarSize]="avatarSize40",
      [tokenAvatar]="tokenAvatar",
      [expertName]="expertName",
      [commentDetails]="comment"

    )
