@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"

.consultation-comment-item
  margin: 0 0 4px
  background: $c-white
  padding: 20px 12px
  border-radius: 4px

  +smm
    padding: 20px 24px

  &:hover
    .consultation-comment-item__edit
      +mdm
        display: block

  &__row
		.user-details
      display: flex
      align-items: center
      margin: 0 0 12px
      position: relative

      &__data
        margin: 0 0 0 12px

        &__answer
          +caption
          margin: 0 0 4px
          color: $c-text-secondary

        &__name
          display: flex
          align-items: center
          margin: 0 0 4px

          span
            +caption
            color: $c-label
            margin: 0 4px 0 0
          p
            +caption
            color: $c-text-primary
            font-weight: 500

      &__time
        display: flex
        align-items: center

        > div
          display: flex
          align-items: center
          margin: 0 4px 0 0

        span
          color: $c-label
          margin: 0 2px 0 0

          &:not(.icon)
            +caption
            color: $c-label

  &__answer
    &--temporary
      overflow: hidden

  &__description
    p
      +paragraph-small
      color: $c-text-primary

    &--reported
      p
        text-decoration: line-through

  &__edit
    position: absolute
    right: 0
    top: 0

    +mdm
      right: 0
      top: 0

    &:hover
      span
        color: $c-primary

    span
      cursor: pointer

    &__dropdown
      background: $c-text-primary
      padding: 8px 16px
      border-radius: 8px
      min-width: 186px
      position: absolute
      right: 0
      top: 100%
      z-index: $z-index-100
      cursor: auto

      li
        display: flex
        align-items: center
        justify-content: center
        min-height: 56px
        padding: 8px
        border-bottom: 1px solid rgba($c-white, 0.15)
        cursor: pointer

        &:hover
          span
            color: $c-white

        &:last-child
          border: 0

        span
          +button-small
          color: rgba($c-white, 0.75)
