.communicator-modals.expert-unavailable
  img(data-ng-src="/assets/images/search-image.jpg")

  .communicator-modals-content
    h2(data-translate="COMMUNICATOR.MODALS.EXPERT_UNAVAILABLE")
    p(data-translate="COMMUNICATOR.MODALS.SEND_NOTIFICATION_WHEN_AVAILABLE")

  .modals-action
    a.btn.primary(data-ng-click="reject()" data-ng-translate="COMMUNICATOR.MODALS.CANCEL")

    a.btn.default(data-translate="COMMUNICATOR.MODALS.SEND_NOTIFICATION")

