header
  &.entry-title
    +header
    padding: 0 0 16px
    display: flex
    align-items: center

    +xsm
      padding: 0 0 32px

    .icon
      margin: 0 16px 0 0

.sub-header
  +subHeader
  padding: 0 0 24px
