.pro-lightbox-nav
  .lightbox-title
    span.file-name {{$ctrl.navSettings.name}}

  .lightbox-menu
    // a.icon.icon-printer-24(data-ng-click="$ctrl.navSettings.printFile()")
    .menu-item
      a.icon.icon-download-24-1(data-ng-click="$ctrl.navSettings.downloadFile()")
    .menu-item
      a.icon.icon-close-16(data-ng-click="$ctrl.navSettings.closeLightbox()")
