.step(data-ng-show="queue.completedSteps >= order - 1"
data-ng-class="{'step-done': queue.completedSteps >= order - 1 && queue.currentStep !== order, 'step-active': queue.currentStep === order}"
id="{{order}}")
  .div(data-ng-class="{'focus-layer': queue.completedSteps >= order - 1 && queue.currentStep !== order}" data-ng-click="hideDiv=true; onClick()")

  .title-step
    .title-order
      h3(data-translate="{{trTitle}}") *:
      p(data-translate="{{trDesc}}")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP" data-translate-values="{step: order, steps: queue.amountOfSteps}" data-ng-class="{'icon-warning': queue.skippedSteps.indexOf(order) != -1}")
        i.icon(data-ng-class="{'icon-edit-24 current-step-edit-icon': queue.currentStep === order, 'icon-success-24': queue.completedSteps >= order - 1 && queue.currentStep !== order, 'icon-warning-24 icon-warning': queue.skippedSteps.indexOf(order) != -1}")
  block content
  .step-control(data-ng-show="queue.currentStep === order")
    a.pro-btn.btn-round.btn-medium.btn-light(data-translate="INTERFACE.SKIP" data-ng-click="skip()" data-ng-show="!required")
    a.pro-btn.btn-round.btn-medium.btn-main(data-translate="INTERFACE.SAVE" data-ng-click="saveSection(); removeSkipped()")
