div(data-ng-show="config.toggles.show || config.toggles.past" data-ng-class="{'is-past': config.toggles.past, 'being-edited': config.toggles.beingEdited}")
  block edit-section
  div(data-ng-hide="!config.toggles.past || config.toggles.beingEdited")
    block done-section




