@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/mixins/mixins"
@import "../../../../../../../../shared/components/modals/modal/modal.component"

.change-password
  text-align: center

  .modal-component
    &__content
      &__header
        justify-content: center
        margin: 0 0 32px

        &::ng-deep
          br
            display: block

  .modal-form
    &__input-container
      margin: 0 0 8px

  am-core-submit-button
    margin: 24px 0 24px

  .forgot-password
    p
      +button-small
      font-weight: 400
      color: $c-text-secondary

    &__link
      +button-small
      color: $c-primary
