.client-favourite-expert,
client-favourite-expert
  padding: 0 0 16px
  display: block

  +xsm
    padding: 0 16px 32px
    flex: 0 0 50%
    max-width: 50%

  +mdm
    flex: 0 0 25%
    max-width: 25%

  .favourite-experts-content
    border: 1px solid $c-lines
    text-align: center
    padding: 16px 32px
    border-radius: 3px

  .profile-preview
    display: block

    .thumb
      margin: 0 0 16px

  .profile-name
    display: block
    height: 48px
    overflow: hidden