.profile-loader
  plat-content-loader
    svg:circle.profile-loader__avatar/
    svg:rect.profile-loader__title/
    svg:rect(rx='4', ry='4').profile-loader__subtitle_1/
    svg:rect(rx='4', ry='4').profile-loader__subtitle_2/
    svg:rect(rx='4', ry='4').profile-loader__subtitle_3/
    svg:rect(rx='4', ry='4').profile-loader__subtitle_4/
