.expert-dashboard-consultation-row
  a.expert-dashboard-consultation-row__add-consultation(*ngIf='isOwnProfile', (click)='add()')
    span(plat-flat-fab color='primary')
      span(plat-icon iconClass='add')
    span.expert-dashboard-consultation-row__text {{'EXPERT_DASHBOARD.ADD_CONSULTATION' | translate}}
  plat-consultation-row.expert-dashboard-consultation-row__row(*ngFor='let consultation of consultations', [consultation]='consultation')
