.expert-layout
  plat-user-avatar.expert-layout-avatar(
    [avatarToken]="avatarToken"
  )
  .expert-layout-content
    .expert-details
      div.expert-details-name-wrapper
        span.expert-details-name {{name}}
      div.expert-details-available
        span.icon.icon-available
        span Dostepny
      plat-social-links([links]='links')
    plat-expandable-panel
      span {{description}}
    button(plat-stroked-button) Zobacz załączniki (6)
  div.options
    button.options-button(plat-icon-button)
      span(plat-icon iconClass='share-24')
    button(*ngIf='isOwnProfile; else likeButton').options-button(plat-stroked-button) Edytuj
ng-template(#likeButton)
  button.options-button(plat-icon-button)
    span(plat-icon iconClass='heart')
