@import "../../../../../template/core/mixins/mixins"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/rwd"

=size($width-height)
  img
    width: $width-height
    height: $width-height
  width: $width-height
  height: $width-height


div.user-avatar
  +size(96px)
  +mdm
    +size(128px)
  +lgm
    +size(156px)

.expert-layout
  margin-top: 24px
  margin-bottom: 8px
  display: flex
  flex-direction: column
  position: relative
  +mdm
    margin-top: 32px
    flex-direction: row
  +lgm
    margin-top: 48px
  &-avatar
    display: block
    padding-right: 16px
    padding-bottom: 16px
    +mdm
      padding-right: 32px
      padding-bottom: 32px
    +lgm
      padding-right: 48px
      padding-bottom: 48px
  &-content
    padding-bottom: 24px
    +mdm
      padding-bottom: 32px
    +lgm
      padding-bottom: 48px
.expert-details
  margin-bottom: 16px
  &-name-wrapper
    position: relative
    height: 24px
    margin-bottom: 4px
    +mdm
      height: 36px
    +lgm
      heighty: 36px
  &-name
    width: 100%
    overflow: hidden
    text-overflow: ellipsis
    font-size: 18px
    font-weight: bold
    line-height: 24px
    display: inline-block
    position: absolute
    +mdm
      width: 85%
      font-size: 30px
      line-height: 36px
  &-available
    display: flex
    align-items: center
    font-size: 12px
    line-height: 1.33
    margin-bottom: 12px
.icon-available
  font-size: 24px
  margin-left: -4px
  margin-right: 4px
.options
  position: absolute
  right: 0px
  display: flex
  align-items: flex-start
  &-button + &-button
    margin-left: 8px

plat-expandable-panel
  display: block
  margin-bottom: 8px
  font-size: 14px
  line-height: 20px
  +mdm
    font-size: 16px
    line-height: 22px
