.page-preloader.animation(data-ng-if="$ctrl.isLoading || $ctrl.isError")
  .overlay
  .loader(data-ng-show="$ctrl.isLoading")
    span

  .error-wrapper(data-ng-show="$ctrl.isError")
    a.btn.btn-primary(data-ng-click="$ctrl.onStateReload()" data-translate="APP.RESOLVER_ERROR")


