.call-activity, .money-activity
  padding: 32px 16px
  border-bottom: 1px solid $c-lines
  display: block

  +mdm
    display: flex
    align-items: center

  .last-activity-details
    display: flex
    align-items: center
    flex-wrap: wrap
    flex: 1 0 50%
    margin: 0 0 32px

    +mdm
      margin: 0

    h3
      +default-font-regular
      flex: 1 0 100%
      color: $c-primary-txt
      font-size: $f-h5-size
      margin: 24px 0 0 0

      +mdm
        margin: 12px 0 0 0

    .last-activity-icon
      display: none

      +mdm
        margin: 0 16px 0 0
        color: $c-secondary-txt
        display: flex

      span
        margin: 0 16px 0 0
        color: $c-secondary-txt

    > div
      display: flex
      flex-wrap: wrap
      align-items: center

      +mdm
        display: block

      .last-activity-icon
        display: flex

        +mdm
          display: none

  .last-activity-profile
    +xsm
      align-items: center
      display: flex
      justify-content: space-between
      flex: 1 0 50%

    +mdm
      padding: 0 0 0 32px

    .profile-preview
      margin: 0 0 16px

      +xsm
        margin: 0

  .price-small
    min-width: 100px
    text-align: left

    +xsm
      text-align: right

    span
      +default-font-bold
      color: $c-primary-txt

      &.sign
        padding: 0 4px 0 0

.last-activity-about
  display: flex

  .component-complain-status
    margin: 0 0 0 16px

  .last-activity-date
    font-size: $f-h5-size
    color: $c-secondary-txt
    display: flex
    align-items: center
