.pro-calendar
  .calendar-container
    .input-group
      input(type='text' uib-datepicker-popup='{{format}}'
      data-ng-model='dt' is-open='popup1.opened' datepicker-options='dateOptions'
      data-ng-required='true' close-text='Close' alt-input-formats='altInputFormats'
      popup-placement="" datepicker-popup-template-url="templates/calendar/popup.tpl.html"
      datepicker-template-url="templates/calendar/datepicker.tpl.html" class="calendar-input")
      label {{label}}
      span.input-group-addon(data-ng-click="focusInput()" )
        i.icon-tiny-arrow-down(type='button', data-ng-click='open1()')
