.invoice-form
  padding: 48px 0 0

  .invoice-form-company-info
    margin: 0 0 48px

  .dropdown-input
    margin: 0 0 16px

  .vat-input-handler
    margin: 0 0 16px

    > div
      display: flex

      .pro-input
        margin: 0 24px 0 0

    p
      padding: 8px 0
      font-size: $f-h5-size

  .pro-input
    margin: 0 0 16px

  .invoice-address-nr
    display: flex
    margin: 0 0 16px

    .pro-input
      margin: 0 24px 0 0
      max-width: 128px

  .invoice-tax
    margin: 0 0 16px
    text-align: right

    p
      +default-font-medium
      color: $c-primary-txt
      font-size: $f-paragraph
