section.unsupported
  .container
    header
      h4 Niestety, Twoja przeglądarka i/lub system operacyjny nie jest wspierany przez AnyMind
      p Aby móc używać AnyMind, skorzystaj z komputera z systemem Windows, Linux lub OSX, albo z urządzenia mobilnego z systemem Android <strong>oraz</strong> przeglądarki Chrome

    .browser-info-container
      .single-browser
        a(href='https://www.google.com/chrome/' target='_blank')
          img.browsers-icons.chrome(src="/assets/images/browsers/chrome.png")
          span Chrome
