@import "../../../angularjs/template/profitelo_theme/stylesheets/variables/variables"
@import "../../../angularjs/template/profitelo_theme/stylesheets/core/helpers/helpers"

.unsupported
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  padding: 32px
  background: $c-white

  .container
    max-width: 100%
    text-align: center

  .anymind-logo
    margin: 0 0 32px

  .widget-header
    justify-content: center

  .header
    margin: 0 0 16px

    span
      +header
      +default-font-regular

  p
    +subHeader
