block content
  .step.summary-step
    .summary-edit-icon
      a
        i.icon.icon-edit-16  
    .summary-step-title
      h4 {{ name }}
      h3 {{ cost }} PLN/MIN
    .summary-tag
      h6(data-translate="DASHBOARD.CREATE_PROFILE.SUMMARY.CONSULTATION_TAGS")
      .tags
        p(ng-repeat="item in tags") {{ tags[$index] }}
