block content
  .consultations-container.pro-service-provider-summary-step(data-ng-repeat="consultation in consultations")
    .step.summary-step
      div.summary-step-edit(data-ng-if="vm.currentEditConsultationId != consultation.id")
        .container-medium
          .header-handler.flex-row
            .summary-step-title
              h3 {{ consultation.details.name}}
              p.consultation-price(data-ng-bind-html="consultation.details.price | money")
                span(data-translate="DASHBOARD.CREATE_PROFILE.SUMMARY.CURRENCY")
            .btn-handler
              a.btn.btn-noborder(data-ng-click="vm.deleteConsultation(consultation.id, $index)")
                  span(data-translate='DASHBOARD.SERVICE_PROVIDER.NAME.DELETE')
              a.btn.btn-noborder(data-ng-click="vm.editConsultation(consultation.id, consultation.details.name, consultation.details.price.amount, consultation.details.tags, consultation.invitations, consultation.ownerEmployee)")
                  span(data-translate='DASHBOARD.SERVICE_PROVIDER.NAME.EDIT')
                  
          tags-list(
          data-title="DASHBOARD.CREATE_PROFILE.SUMMARY.CONSULTATION_TAGS"
          data-tags="consultation.details.tags")

          tags-list(
          data-title="DASHBOARD.CREATE_PROFILE.SUMMARY.CONSULTATION_EMPLOYEE"
          data-tags="consultation.invitationTags" data-ng-if="consultation.invitationTags")

      .edit-consultation-form(data-ng-if="vm.currentEditConsultationId == consultation.id")
