block content
  .consultations-container(data-ng-repeat="consultation in consultations")
    .step.summary-step
      .btn-handler
        .summary-icon
          a(data-ng-click="vm.deleteConsultation(consultation.id, $index)")
            i.icon.icon-trash-24
        .summary-icon
          a(data-ng-click="vm.editConsultation(consultation.id, consultation.details.name, consultation.details.price, consultation.details.tags)")
            i.icon.icon-edit-16
      .summary-step-title
        h4 {{ consultation.details.name}}
        h3 {{ consultation.details.price }}
          span(data-translate="DASHBOARD.CREATE_PROFILE.SUMMARY.CURRENCY")
      .summary-tag
        h6(data-translate="DASHBOARD.CREATE_PROFILE.SUMMARY.CONSULTATION_TAGS")
        .tags
          p(ng-repeat="tag in consultation.details.tags") {{ tag }}
      .edit-consultation-form(ng-transclude ng-if="vm.currentEditConsultationId == consultation.id")

