block content
  .consultations-container.pro-service-provider-summary-step(data-ng-repeat="consultation in consultations")
    .step.summary-step
      div(data-ng-if="vm.currentEditConsultationId != consultation.id")
        .header-handler.flex-row
          .summary-step-title
            p {{ consultation.details.name}}
            p.consultation-price {{ consultation.details.price/100 | number:2 }}&nbsp
              span(data-translate="DASHBOARD.CREATE_PROFILE.SUMMARY.CURRENCY")
          .btn-handler
            a.pro-button.round.icon.primary(data-ng-click="vm.deleteConsultation(consultation.id, $index)")
                span.icon.icon-trash-24
            a.pro-button.round.icon.primary(data-ng-click="vm.editConsultation(consultation.id, consultation.details.name, consultation.details.price, consultation.details.tags, consultation.invitations, consultation.ownerEmployee)")
                span.icon.icon-edit-16
        pro-summary-tag(
        data-title="DASHBOARD.CREATE_PROFILE.SUMMARY.CONSULTATION_TAGS"
        data-tags="consultation.details.tags")

        pro-summary-tag(
        data-title="DASHBOARD.CREATE_PROFILE.SUMMARY.CONSULTATION_EMPLOYEE"
        data-tags="consultation.invitationTags" data-ng-if="consultation.invitationTags")

      .edit-consultation-form(data-ng-transclude data-ng-if="vm.currentEditConsultationId == consultation.id")
