block content
  .consultations-container.pro-service-provider-summary-step(data-ng-repeat="consultation in consultations")
    .step.summary-step
      div.summary-step-edit(data-ng-if="vm.currentEditConsultationId != consultation.id")
        .default-container-small
          .header-handler.flex-row
            .summary-step-title
              h3 {{ consultation.details.name}}
              p.consultation-price {{ consultation.details.price/100 | number:2 }}&nbsp
                span(data-translate="DASHBOARD.CREATE_PROFILE.SUMMARY.CURRENCY")
            .btn-handler
              a.pro-button.noborder(data-ng-click="vm.deleteConsultation(consultation.id, $index)")
                  span(data-translate='DASHBOARD.SERVICE_PROVIDER.NAME.DELETE')
              a.pro-button.noborder(data-ng-click="vm.editConsultation(consultation.id, consultation.details.name, consultation.details.price, consultation.details.tags, consultation.invitations, consultation.ownerEmployee)")
                  span(data-translate='DASHBOARD.SERVICE_PROVIDER.NAME.EDIT')
                  
          pro-summary-tag(
          data-title="DASHBOARD.CREATE_PROFILE.SUMMARY.CONSULTATION_TAGS"
          data-tags="consultation.details.tagNames")

          pro-summary-tag(
          data-title="DASHBOARD.CREATE_PROFILE.SUMMARY.CONSULTATION_EMPLOYEE"
          data-tags="consultation.invitationTags" data-ng-if="consultation.invitationTags")

      .edit-consultation-form(data-ng-transclude data-ng-if="vm.currentEditConsultationId == consultation.id")
