@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

.expert-availbility-notification
  text-align: center
  padding: 0 0 48px
  
  p
    +h6
    max-width: 70%
    margin: 0 auto 48px
    font-weight: 500
