.phone-settings
  .default-container-small
    +xsm
      max-width: 484px
      min-width: 484px

  form.pro-input-form
    padding: 0 16px
    margin: 0 0 32px

    +smm
      padding: 0
      margin: 0 0 64px

  .inputs-handler
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

  .input-handler
    margin: 0 0 32px

    +smm
      margin: 0 0 64px