.phone-settings
  .container-medium
    +xsm
      max-width: 484px
      min-width: 484px

  form.pro-input-form
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

      dropdown-primary
        min-width: 120px

  .inputs-handler
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

  .input-content
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

    .prefix-phone
      display: block
      margin: 0 0 16px

      +xsm
        margin: 0

    .input-group
      +xsm
        margin: 0 0 0 16px
