.label-files
  display: flex
  justify-content: space-between
  margin: 0 0 16px
  padding: 0 16px

  .urllink
    flex: 1

  .icon
    display: inline-flex
    justify-content: center
    align-items: center

    &.pro-social-icon-getter
      margin: 0 16px 0 0

    &.trash
      color: $c-primary

    &::before
      font-size: $f-subheader
