form(novalidate="" role="form" name="createNewServiceForm" data-ng-submit="vm.save()")
  h2.text-center.margin-top-100 KATEGORIA
  div.category-box-container
    div.category-box(ng-repeat="singleCategory in vm.categories")
      span {{ singleCategory }}




  div.margin-bottom-100


