form.category-wizard(novalidate="" role="form" name="createNewServiceForm" data-ng-submit="vm.save()")
  h2.text-center.margin-top-100 KATEGORIA
  div.category-box-container
    div.category-box(data-ng-repeat="singleCategory in vm.categories")
      span
      span {{ singleCategory }}
      i.icon.icon-yes




  div.margin-bottom-100


