@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.client-invoices
  header
    span
      margin: 0 32px 0 0

  .company-details
    display: block
    margin: 0 0 48px
    border-bottom: 1px solid $c-lines

    p
      +paragraph
      +default-font-regular

  //TODO
  .no-data
    margin: 0 0 16px

  .info-tab
    padding-top: 0

    .info-tab-row
      margin: 0

    .address
      margin: 4px 0 0

      ul
        display: flex

        li
          padding: 0 8px 0 0

.load-more-results-container
  display: flex
  justify-content: space-between
  padding: 24px 0

  +lgm
    padding: 24px 16px

  span
    +inputLabel
    color: $c-tertiary-txt

  a
    text-align: right
