@keyframes animation-opacity
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes animation-enter-bottom
  0%
    opacity: 0
    transform: translateY(100%)

  50%
    opacity: 1

  100%
    transform: translateY(0)

/* communicator */
@keyframes connecting-dot
  0%
    width: 4px
    height: 4px

  6%
    opacity: 1

  12%
    width: 8px
    height: 8px

  18%
    width: 4px
    height: 4px

  24%
    width: 4px
    height: 4px
    opacity: 0.5

  100%
    width: 4px
    height: 4px

@keyframes communicator-bounce
  0%
    transform: scale(1.0)

  50%
    transform: scale(0.7)

  100%
    transform: scale(1.0)

@keyframes communicator-disconnect
  0%
    transform: scale(1)

  66%
    transform: scale(1.1)

  100%
    transform: scale(0)

@keyframes communicator-dialog
  0%
    transform: scaleY(0)
  100%
    transform: scaleY(1)

@keyframes communicator-dialog-fade
  0%
    top: 40px

  100%
    top: 0

@keyframes video-player-display
  0%
  100%
    width: 0
    height: 0

@keyframes bounce
  0%
    transform: scale(1)
  20%
    transform: scale(1.2)
  40%
    transform: scale(0.9)
  60%
    transform: scale(1.05)
  80%
  100%
    transform: scale(1)

@keyframes messenger-collapsing
  0%
    height: 55%
    bottom: 108px

  100%
    height: 65%
    bottom: 120px

@keyframes messenger-collapsed
  0%
    bottom: 120px

  100%
    bottom: 108px

@keyframes messenger-btn-animation
  0%
    width: 120%
    height: 120%

  50%
    width: 80%
    height: 80%

  100%
    width: 120%
    height: 120%

@keyframes messenger-btn-animation-inactive
  0%
    width: 120%
    height: 120%

  50%
    width: 80%
    height: 80%

  100%
    width: 120%
    height: 120%

@keyframes messenger-btn-animation-seconds-active
  0%
    box-shadow: 0 0 0 0 rgba($c-white, 0.1)

  50%
    box-shadow: 0 0 0 12px rgba($c-white, 0.1)

  100%
    box-shadow: 0 0 0px 24px transparent

@keyframes messenger-btn-animation-seconds-inactive
  0%
    box-shadow: 0 0 0 0 rgba($c-white, 0.1)

  50%
    box-shadow: 0 0 0 12px rgba($c-white, 0.1)

  100%
    box-shadow: 0 0 0px 24px transparent

/* communicator end*/

/* modal*/
@keyframes modal-opacity
  0%
    opacity: 0
  100%
    opacity: 0.5

/* modal end */

/* go to top button */
@keyframes go-to-top-entry
  0%
    opacity: 0
    transform: translate(0, 15px)

  100%
    opacity: 1
    transform: translate(0, 0)

/* go to top button end */

@keyframes rotate
  100%
    transform: rotate(270deg)


@keyframes status-blank
  0%
    opacity: 0.7
  50%
    opacity: 1
  100%
    opacity: 0.7


/* btn's animations */
@keyframes circle-btn-animation
  0%
    position: relative
    transform: translate(0, 0)
  50%
    transform: translate(0, -56px)
  51%
    transform: translate(0, 56px)
  100%
    transform: translate(0, 0)

/* btn's animation end */




