$c-primary:         #6E74EB
$c-primary-dark:    #9398EA
$c-secondary:       #F35752
$c-accent:          #6F1349
$c-primary-txt:     #2C2F34
$c-secondary-txt:   #808080
$c-tertiary-txt:    #BFBFBF
$c-lines:           #E6E6E6
$c-background:      #F2F2F2
$c-background-2:    #FAFAFA
$c-error:           #F6564D
$c-success:         #1DCE6C
$c-warning:         #F9D147
$c-info:            $c-primary
$c-white:           #FFF
$c-black:           #000
