$f-h1-size: 129px
$f-h2-size: 40px
$f-h3-size: 22px
$f-h4-size: 20px
$f-h5-size: 14px
$f-h6-size: 12px
$f-btn-size: 14px
$f-nav-size: 14px

$f-price-size: 44px

$f-regular: 20px
$f-counter: 129px
$f-main-header: 73px
$f-main-subheader: 24px
$f-paragraph: 16px
$f-base: 13px
$f-small: 12px
$f-vsmall: 11px

$f-icon-size: 8px
$f-icon-16:   16px