$f-h1-size: 129px
$f-h2-size: 22px
$f-h3-size: 20px
$f-h4-size: 18px
$f-h5-size: 14px
$f-h6-size: 11px

$f-btn-size: 12px
$f-btn-icon: 15px
$f-nav-size: 16px
$f-label-size: 12px

$f-price-size: 44px

$f-regular: 20px
$f-counter: 129px
$f-main-header: 73px
$f-main-subheader: 24px
$f-paragraph: 16px
$f-base: 12px
$f-small: 11px
$f-vsmall: 10px

$f-icon-size: 9px
$f-icon-12:   13px
$f-icon-16:   17px
$f-icon-22:   25px
$f-icon-32:   33px

$f-commmunicator-header: 26px
$dashboard-width-nav:   300px
$f-navbar-height: 80px
$f-line-height: 1.71
