$f-h1-size: 128px
$f-h2-size: 25px
$f-h3-size: 19px
$f-h4-size: 17px
$f-h5-size: 13px
$f-h6-size: 11px

$f-btn-size: 11px
$f-btn-icon: 15px
$f-nav-size: 13px
$f-label-size: 11px

$f-price-size: 43px

$f-regular: 19px
$f-counter: 128px
$f-main-header: 72px
$f-main-subheader: 23px
$f-paragraph: 15px
$f-base: 12px
$f-small: 11px
$f-vsmall: 10px

$f-icon-size: 8px
$f-icon-16:   16px
$f-icon-22:   24px

$f-commmunicator-header: 25px