$s-input-margin:                    24px
$s-input-section-margin:            48px
$s-border-radius:                   3px

$f-input-height:          					56px
$s-input-height:          					36px
$s-footer-height:										341px
$s-navbar-height:										64px
