.default-container-small
  max-width: 640px
  margin: 0 auto
  padding: 0 16px

  +mdm
    padding: 0 48px

  +lgm
    padding: 0

.default-container
  max-width: 1200px
  width: 100%
  padding: 0 16px
  margin: 0 auto
  position: relative

  &.expert-slider
    transform: translateY(200px)

  +smm
    padding: 0 32px

  +xlgm
    padding: 0

.flex-col
  display: flex
  flex-flow: column

.flex-row
  display: flex
  flex-flow: row

  &.wrap
    flex-flow: row wrap

html
  font-smoothing: antialiased
  osx-font-smoothing: grayscale
  +default-font-regular
  line-height: 1.2

.circle
  border-radius: 50%

.thumb
  max-width: 56px
  max-height: 56px

.empty-avatar-placeholder
  background: url('/assets/images/no-avatar.jpg') 50% 50% / cover
  text-indent: -9999px

.hidden
  display: none
