.container
  max-width: 1280px
  min-width: 320px
  width: 100%
  padding: 0 16px
  margin: 0 auto
  position: relative

  +smm
    min-width: 640px
    padding: 0 32px

  +mdm
    width: 1024px

  +lgm
    width: 1180px

  +xlgm
    width: 1280px
    padding: 0

  &.expert-slider
    transform: translateY(200px)

  &.no-padding
    padding: 0

    +smm
      padding: 0 32px

    +xlgm
      padding: 0

.container-medium
  min-width: 320px
  margin: 0 auto
  padding: 0 16px

  +smm
    min-width: 640px
    max-width: 640px

  +mdm
    padding: 0 48px

  +lgm
    padding: 0

  &.no-padding
    padding: 0

    +smm
      padding: 0 32px

    +xlgm
      padding: 0

.container-big
  min-width: 320px
  margin: 0 auto
  padding: 0 16px

  +smm
    padding: 0
    min-width: 850px
    max-width: 850px

  &.no-padding
    padding: 0

    +smm
      padding: 0 32px

    +xlgm
      padding: 0

.choose-options
  +xsm
    display: flex
    flex-wrap: wrap
    margin: 0 -8px

  .choose-options-item
    +xsm
      padding: 0 8px

    .pro-input
      border: 0
      border-bottom: 1px solid $c-lines

    p
      +default-font-light
      display: block
      width: 100%
      font-size: $f-base
      color: $c-secondary-txt
      text-align: center

    .option-thumb
      display: block
      text-align: center
      width: 100%
      height: 24px

      img
        max-height: 24px

    .option
      background: $c-white
      border-radius: 3px
      margin: 0 0 16px
      border: 1px solid $c-lines
      display: flex
      align-content: space-between
      justify-content: center
      flex-wrap: wrap
      padding: 16px 12px
      cursor: pointer
      position: relative
      height: 112px

      &:hover
        border-color: $c-primary
        box-shadow: inset 0 0 0 1px $c-primary

      &.option-own-amount
        input
          text-align: center

        .input-group-addon
          .icon
            padding: 0

      .charge-price
        +default-font-medium
        font-size: $f-h4-size
        flex: 1 0 100%
        text-align: center

    .icon.icon-dot
      border: 1px solid $c-lines
      background: $c-white
      border-radius: 50%
      width: 16px
      height: 16px
      color: $c-primary
      font-size: $f-small
      padding: 0
      margin: 0
      display: flex
      align-items: center
      justify-content: center

      &.is-active
        border: 1px solid $c-primary
        box-shadow: inset 0 0 0 1px $c-primary

        &::after
          content: ""
          width: 8px
          height: 8px
          background: $c-primary
          border-radius: 50%




.flex-col
  display: flex
  flex-flow: column

.flex-row
  display: flex
  flex-flow: row

  &.wrap
    flex-flow: row wrap

html
  font-smoothing: antialiased
  osx-font-smoothing: grayscale
  +default-font-regular
  line-height: 1.2

.thumb
  display: inline-flex
  overflow: hidden
  position: relative

  &.x24
    width: 32px
    height: 32px
    min-width: 32px
    min-height: 32px

  &.x32
    width: 32px
    height: 32px
    min-width: 32px
    min-height: 32px

  &.x48
    width: 48px
    height: 48px
    min-width: 48px
    min-height: 48px

  &.x56
    width: 56px
    height: 56px
    min-width: 56px
    min-height: 56px

  &.x64
    width: 64px
    height: 64px
    min-width: 64px
    min-height: 64px

  &.x96
    width: 96px
    height: 96px
    min-width: 96px
    min-height: 96px

  &.x128
    width: 128px
    height: 128px
    min-width: 128px
    min-height: 128px

  &.x192
    width: 192px
    height: 192px
    min-width: 192px
    min-height: 192px

  &.x256
    width: 256px
    height: 256px
    min-width: 256px
    min-height: 256px

  .thumb-options
    position: absolute
    right: 0
    bottom: 0
    background: $c-error
    width: 48px
    height: 48px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    border: 4px solid $c-white
    z-index: $z-index-100

    .icon
      color: $c-white

  .status-list
    position: absolute
    right: 0
    bottom: 0
    z-index: 100

    .status
      &::before
        margin: 0
        border: 2px solid $c-white
        width: 12px
        height: 12px

.hidden
  display: none


::selection
  color: $c-white
  background: $c-primary

.show-more-results
  padding: 32px 16px
  text-align: center

  +smm
    padding: 48px 0

  +lgm
    padding: 64px 0

img
  max-width: 100%
  position: relative

  &:after
    content: "\73"
    font-family: "profitelo-icons"
    color: rgb(100, 100, 100)
    position: absolute
    z-index: 2
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $c-white
    display: flex
    align-items: center
    justify-content: center

  &.user-avatar
    display: block
    overflow: hidden
    text-indent: 200%
    min-width: inherit
    min-height: inherit
    border-radius: 50%

    &.is-not-uploaded
      background: url('/assets/images/no-avatar.jpg') 50% 50% / cover $c-background
      position: relative
      overflow: hidden
      width: 100%
      height: 100%

    &:after
      content: ""
      position: absolute
      border-radius: 50%
      z-index: 2
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      background: url('/assets/images/no-avatar.jpg') 50% 50% / cover $c-white

.icon
  display: inline-flex
  align-items: center
  justify-content: center
