.default-container
  max-width: 1200px
  width: 100%
  padding: 0 20px
  margin: 0 auto
  position: relative
  +lgm
    padding: 0

.flex-col
  display: flex
  flex-flow: column

.flex-row
  display: flex
  flex-flow: row

  &.wrap
    flex-flow: row wrap

html
  font-smoothing: antialiased
  osx-font-smoothing: grayscale
  +default-font-regular
  line-height: 1.2

.circle
  border-radius: 50%