.main-container
  background: $c-white

.read-more
  padding: 32px 0 64px 0
  text-align: center

.box-list
  background: $c-white
  box-shadow: 0 2px 2px 1px $c-lines
  margin: 0 0 32px
  padding: 16px

  +xsm
    padding: 32px

  .box-header
    border-bottom: 1px solid $c-lines
    padding: 0 0 16px
    justify-content: space-between
    align-items: center
    margin-bottom: 32px

    +smm
      padding: 0 0 32px

    .box-status
      .pro-button
        margin-right: 16px

        &:last-child
          margin: 0
