$grid-breakpoints: (xsm: 0, smm: 480px, mdm: 768px, lgm: 960px, xlm: 1280px)
$container-max-widths: (mdm: 100%, lgm: 100%, xlm: 1280px)
$grid-padding-sizes: (xsm: 8px, smm: 16px, mdm: 24px, lgm: 32px, xlm: 40px)

=make-container
  +make-container-padding
  +make-container-max-widths
  width: 100%
  margin-right: auto
  margin-left: auto
  position: relative

=media-breakpoint-up($name, $breakpoints: $grid-breakpoints)
  $min: breakpoint-min($name, $breakpoints)
  @if $min
    @media (min-width: $min)
      @content
  @else
    @content

=make-container-padding($padding-sizes: $grid-padding-sizes, $breakpoints: $grid-breakpoints)
  @each $breakpoint, $padding-size in $padding-sizes
    +media-breakpoint-up($breakpoint, $breakpoints)
      padding-right: $padding-size
      padding-left: $padding-size

=make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints)
  @each $breakpoint, $container-max-width in $max-widths
    +media-breakpoint-up($breakpoint, $breakpoints)
      max-width: $container-max-width

@function breakpoint-min($name, $breakpoints: $grid-breakpoints)
  $min: map-get($breakpoints, $name)
  @return if($min!=0, $min, null)
