@import "./projects/anymind-ng-core/src/template/stylesheets/interface/input/input-containers"
@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

.register-view
  .input-icon-container
    margin: 0 0 8px

  &__links
    margin: 24px 0 0

    .login
      +subtitle-small

    .rodo-policy
      margin: 24px 0 0
      text-align: left
      font-size: 10px
      color: $c-text-secondary
      line-height: 14px
