am-core-messenger-minimized(*ngIf="!isMessenger", [onMessageClick]="toggleMessenger", [newCallEvent]="newCallEvent")

am-core-messenger-maximized([ngClass]="{'is-active': isMessenger}",
[minimizeMessenger]="toggleMessenger", [isMessenger]="isMessenger", [newCallEvent]="newCallEvent")
