.details-tab
  .details-tab-row
    margin: 0 0 8px
    padding: 0 16px
    text-align: left

    +xsm
      margin: 0
      display: flex
      justify-content: space-between

    &.header-row
      border-bottom: 1px solid $c-lines
      padding: 0 16px 8px

      +xsm
        padding: 0 16px
        margin: 0 0 16px

      .client-price
        display: flex

        span
          padding: 0 0 0 8px

      span
        +default-font-heavy

  span
    font-size: $f-paragraph
    color: $c-primary-txt
    padding: 0
    display: block

    +xsm
      padding: 8px 0

  .details-tab-label
    span
      color: $c-secondary-txt


.grey-tab
  background: $c-background
  border: 1px solid $c-lines
  padding: 32px

.settings-row-double
  border-bottom: 1px solid $c-lines
  padding: 20px 0

  .settings-row
    border: 0
    padding: 0 16px
    min-height: 48px

    +smm
      padding: 0 24px

.settings-row
  border-bottom: 1px solid $c-lines
  padding: 20px 16px
  display: flex
  align-items: center
  justify-content: space-between
  min-height:  80px

  +smm
    padding: 20px 24px

  &.is-active
    span
      &.icon
        color: $c-success

  &.is-inactive
    span
      color: $c-label

  .settings-icon
    display: inline-flex
    padding: 0 16px 0 0

    +smm
      padding: 0 24px 0 0

  .settings-data
    flex: 1

    .label
      +default-font-heavy
      color: $c-label
      font-size: $f-label-size
      text-transform: uppercase
      display: block

    .name
      color: $c-primary-txt
      font-size: $f-h5-size

      +smm
        font-size: $f-h4-size
