.details-tab
  .details-tab-row
    display: flex
    justify-content: space-between
    margin: 0 0
    padding: 0 16px

    &.header-row
      border-bottom: 1px solid $c-lines
      margin: 0 0 16px

      span
        +default-font-heavy

  span
    font-size: $f-paragraph
    color: $c-primary-txt
    padding: 8px 0
    display: block

  .details-tab-label
    span
      color: $c-secondary-txt



.grey-tab
  background: $c-background
  border: 1px solid $c-lines
  padding: 32px