.details-tab
  .details-tab-row
    margin: 0 0 8px
    padding: 0 16px
    text-align: left

    +xsm
      margin: 0
      display: flex
      justify-content: space-between

    &.header-row
      border-bottom: 1px solid $c-lines
      padding: 0 16px 8px

      +xsm
        padding: 0 16px
        margin: 0 0 16px

      span
        +default-font-heavy

  span
    font-size: $f-paragraph
    color: $c-primary-txt
    padding: 0
    display: block

    +xsm
      padding: 8px 0

  .details-tab-label
    span
      color: $c-secondary-txt



.grey-tab
  background: $c-background
  border: 1px solid $c-lines
  padding: 32px