.pro-bottom-communicator-component

  $base-height: 8px * 14

  +transition(height 0.3s ease-in-out, background-color 0.3s ease-in-out, margin 0.3s ease-in-out)

  &.is-hidden
    margin-bottom: -$base-height


  display: flex
  background-color: #fff
  width: 100%
  height: $base-height
  position: fixed
  bottom: 0
  z-index: 999
  border-top: 2px solid #000

  &.full-screen
    height: 100vh
    border: none
    background-color: #efefef


  .expert-camera-preview
    flex: 0 0 5%
    border-right: 1px solid $c-lines

  .controls
    display: flex
    flex-direction: column
    flex: 0 0 95%

    .meta
      display: flex
      justify-content: space-around
      height: $base-height / 2

    .buttons
      height: $base-height / 2
      border-top: 1px solid $c-lines
      display: flex
      justify-content: space-around
      .pro-video-controls
        width: 80%
        ul
          display: flex
          align-items: center
          justify-content: space-around
