$communicator-base-height: 208px
$communicator-text-input-height: 80px
.pro-bottom-communicator





  +transition(bottom 0.3s 0s)
  display: flex
  align-content: space-between
  background: $c-white
  width: 100%
  position: fixed
  bottom: -$communicator-base-height
  z-index: 999
  height: $communicator-base-height
  border-top: 1px solid $c-lines
  box-shadow: 0 0 5px $c-lines

  &.is-visible
    +transition(bottom 0.3s 0s)
    bottom: 0

  &::before
    content: " "
    position: fixed
    left: 0
    top: 0
    height: 96px
    width: 100%
    z-index: 0
    +background-gradient(#000, rgba(#000, 0))

  &::after
    content: " "
    position: fixed
    left: 0
    bottom: 0
    height: 96px
    width: 100%
    z-index: 0
    +background-gradient(rgba(#000, 0), #000)

  +lgm
    height: 208px

    &::after
      content: none

    &::before
      content: none

  .pro-video-chat-top-navbar
    padding: 16px
    flex: 1 0 100%

  .videochat-details
    +default-font-heavy
    +transition(all 0.3s)
    color: $c-white
    flex: 1
    z-index: 1
    align-self: flex-end
    height: $communicator-base-height

    +lgm
      color: inherit
      padding: 0 0 0 20vw
      background: $c-white

  .pro-video-chat
    pro-video-player
      position: absolute
      bottom: 0
      left: 0
      width: 100vw
      height: 100vh
      z-index: -1

      +lgm
        +transition(width 0.3s, height 0.3s, bottom 0.3s)
        width: 20vw
        height: 208px
        z-index: 11

      .pro-video-player
        height: 100%

  pro-video-controls
    flex: 1 0 100%

    .pro-video-controls
      padding: 0

      +lgm
        padding: 16px
        border-top: 1px solid $c-lines



    .expert-camera-preview
      pro-video-player
        display: none

        +lgm
          display: block
          bottom: -208px
          overflow: hidden

    .videochat-details
      display: none

  &.full-screen
    +transition(height 0.3s)
    height: 100vh
    border: none

    .pro-video-chat-top-navbar
      +lgm
        color: $c-white

    .videochat-details
      display: flex
      align-content: space-between
      flex-wrap: wrap
      z-index: 1

    &::before
      content: " "
      position: absolute
      left: 0
      top: 0
      height: 96px
      width: 100%
      +background-gradient(#000, rgba(#000, 0))

    &::after
      content: " "
      position: absolute
      left: 0
      bottom: 0
      height: 96px
      width: 100%
      +background-gradient(rgba(#000, 0), #000)

    .pro-video-controls
      border: 0

    .videochat-details
      background: none
      padding: 0
      height: 100vh
      color: $c-white

    pro-video-player
      height: 100vh
      width: 100vw
      z-index: -1

      .pro-video-player
        height: 100%

  .pro-text-chat-container
    width: 300px
    margin-right: -300px
    height: calc(100vh - #{$communicator-base-height + $communicator-text-input-height})
    position: fixed
    top: 0
    right: 0
    +transition(margin-right, 0.3s)

    &.is-open
      margin-right: 0px

    .pro-text-chat
      height: 100%
      position: relative
    .chat-conversation

      pro-text-chat-message
        &:last-of-type
          padding-bottom: 40px



    .chat-input
      position: fixed
      height: $communicator-text-input-height
      bottom: $communicator-base-height
      width: 100%
      z-index: 100

  &:not(.full-screen)

    +lgm
      .btn-player
        background: none
        color: $c-black
        border: 1px solid $c-lines

        &:hover
          background: $c-white
          color: $c-primary-txt

        &.active
          background: $c-white
          color: $c-primary-txt

        &.disconnect
          background: $c-secondary



