.no-consultation
  text-align: center

  .no-consultation-content
    padding: 100px 0
    display: inline-block

    .entry-title
      +default-font-regular
      font-size: $f-h4-size
      margin: 0 0 24px

      .search-query
        +default-font-regular
        padding: 0 4px
        color: $c-primary

    img
      margin: 0 auto 64px
      display: block

    ul
      margin: 0 0 0 16px

      li
        +default-font-regular
        color: $c-secondary-txt
        font-size: $f-paragraph
        margin: 0 0 8px
        text-align: left
        list-style: disc