.pro-chat-message-modal.client-advice.modal-checkbox
	.modal-header
		h4(data-translate="DASHBOARD.INVITATION.MODAL.CLIENT_ADVICE")

	.modal-contents
		.modal-description
			p Jakaś nazwa konsultacji...

		.modal-buttons
			button.pro-button.rectangle.error.icon(data-ng-click="vm.rejectCall()" data-translate="DASHBOARD.INVITATION.REJECT")
			button.pro-button.rectangle.success.icon(data-ng-click="vm.pickUpCall()" data-translate="DASHBOARD.INVITATION.MODAL.PICK_UP_CALL")

