.main-container.invitation
  pro-expert-header(data-profile="vm.profile")

  .default-container
    pro-invitation-acceptance-box(data-ng-repeat="invitation in vm.invitations.services track by $index" data-invitation="invitation")
