.pro-footer
  .default-container
    .footer-container
      .footer-applications
        h5(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.TALKS_MORE_COMFORTABLE")
        ul
        a
          img(src="assets/images/app_store.png")
        a
          img(src="assets/images/google_play.png")
    
      .footer-links
        ul
          li.head 
            h5(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_PARTNER_SPACE")
          li 
            a(data-translate="HOME.FOOTER.ADVANTAGE_TO_PARTNERS")
          li 
            a(data-translate="HOME.FOOTER.ABOUT_US")
          li 
            a(data-translate="HOME.FOOTER.INTEGRATION")
            
        ul
          li.head 
            h5(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_COMPLAINTS")
          li 
            a(data-translate="HOME.FOOTER.REFUND")
          li 
            a(data-translate="HOME.FOOTER.RECORD_CALLS")
            
        ul
          li.head 
            h5(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_OTHER")
          li 
            a(data-translate="HOME.FOOTER.BLOG")
          li 
            a(data-translate="HOME.FOOTER.FAQ")
          li 
            a(data-translate="HOME.FOOTER.RULE")
          li 
            a(data-translate="HOME.FOOTER.PRIVACY_POLICY")

  .bottom-footer
    .default-container
      .bottom-footer-about
        p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.FOOTER_COPYRIGHT")

      .bottom-footer-fast-contact
        ul
          li
            p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.FOOTER_CALL_TEXT")
          li
            a(href="mailto:{{'HOME.TOP_CONTAINER.EXPERT_PROFILE.MAIL_FOOTER' | translate}}")
              span(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.MAIL_FOOTER")

