.search-filter
  background: $c-white

  h5
    text-transform: uppercase

  .advanced-search-bar-wrap
    +smm
      display: flex
      justify-content: space-around

    .input-group
      margin: 0 0 30px

//Tagi
.search-tags
  display: flex
  justify-content: space-around

  .slider-tag
    overflow: hidden
    flex: 1 0

    ul
      margin: 0
      padding: 0
      list-style: none
      display: flex
      flex: 1 0
      justify-content: space-around

    a
      flex: 0


