.search-filter
  padding: $s-navbar-height 0 0 0
  background: $c-white

  .search-filter-slider
    padding: 24px 0 24px 16px
    background: $c-background
    margin: 0 0 0

    +smm
      padding: 32px 0 32px 32px

    +mdm
      padding: 32px 0 32px 24px

    +lgm
      padding: 32px
      display: flex
      align-items: center
      justify-content: center

    .container
      padding: 0
      margin: 0

      +lgm
        max-width: calc(100% - 190px)

  h4
    color: $c-label
    font-size: $f-paragraph
    white-space: nowrap
    margin: 0
    display: none
    width: 190px

    +lgm
      display: block

  .mobile-filter-button
    +default-font-regular
    padding: 32px 32px 32px
    display: flex
    justify-content: center
    border-bottom: 1px solid $c-lines
    margin: 0 16px
    outline: 0
    cursor: pointer
    color: $c-secondary-txt
    text-transform: uppercase
    font-size: $f-paragraph

    .icon
      margin: 0 16px 0 0

  .container
    max-height: 500px
    transition: max-height 1s ease-out
    overflow: hidden

    +smm
      overflow: visible

    &.hide-filters
      max-height: 0


  .advanced-search-bar-wrap
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 32px 0 32px
    border-bottom: 1px solid $c-lines

    +smm
      padding: 64px 0 32px
      margin: 0 0 48px

    +smm
      padding: 64px 0 48px
      margin: 0

    > div
      margin: 0 0 16px

    .pro-range-slider
      margin: 0 0 32px

      +smm
        margin: 0

    .pro-range-slider,
    .pro-dropdown
      flex: 1 0 100%

      +smm
        flex: 1 0 50%
        padding: 0 16px 0 0
        max-width: 50%

        &:nth-child(2n)
          padding: 0

      +mdm
        flex: 1 0 25%
        max-width: 25%

        &:nth-child(2n)
          padding: 0 16px 0 0

        &:nth-child(4n)
          padding: 0

    .input-group
      margin: 0

      +smm
        flex: 1 0 50%

      +mdm
        flex: 1 0 25%

  .pro-switcher
    +smm
      padding: 29px 0 0
