.search-filter
  background: $c-white

  h5
    text-transform: uppercase

  .advanced-search-bar-wrap
    display: flex
    flex-wrap: wrap

    +smm

    .pro-slider,
    .pro-dropdown
      flex: 1 0 100%

      +smm
        flex: 1 0 50%
        padding: 0 16px 0 0

        &:nth-child(2n)
          padding: 0

      +mdm
        flex: 1 0 25%

        &:nth-child(2n)
          padding: 0 16px 0 0

        &:nth-child(4n)
          padding: 0


    .input-group
      margin: 0 0 32px

      +smm
        flex: 1 0 50%
      +mdm
        flex: 1 0 25%



