.create-profile
  .step-active
    background-color: $c-background
    h3
      color: $c-primary
    .title-step
      p
        color: $c-secondary-txt
    .step-description
      p
        color: $c-primary
        margin-top: 30px
      i
        color: $c-secondary-txt
        font-size: 24px
        margin-left: 16px
        margin-top: 8px
      h5
        color: $c-secondary-txt
        font-weight: bold
        text-transform: uppercase
    .step-content
      .option
        h5
          color: $c-primary
        i
          color: $c-primary
        &:hover
          background-color: $c-background
          h5, i
            color: $c-primary

      .selected
        background-color: $c-primary
        border: 1px solid $c-primary
        h5, i
          color: $c-white
        &:hover
          background-color: $c-primary
          h5, i
            color: $c-white
