.create-profile
  .step-done
    h3
      color: $c-primary-txt

    .step-content-column
      margin-top: 30px

    .title-step
      p
        color: $c-secondary-txt

    .step-description
      p, i
        color: $c-success



    .step-content
      .option
        cursor: pointer
        +transition
        i
          color: $c-secondary-txt
        &:hover
          background-color: $c-background
          h5, i
            color: $c-primary
      .selected
        background-color: $c-primary-hover
        border: 1px solid $c-primary-hover
        h5, i
          color: $c-white
        &:hover
          background-color: $c-primary-hover
          h5, i
            color: $c-white
