.create-profile
  .step-done
    h3
      color: $c-primary-txt

    .step-content-column
      margin-top: 30px

    .title-step
      p
        color: $c-secondary-txt

    .step-description
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: space-between
      align-content: center
      align-items: center
      text-transform: uppercase
      p
        color: $c-primary-txt
        margin-top: 30px
        white-space: nowrap
      i
        color: $c-secondary-txt
        font-size: 24px
        margin-left: 16px
        margin-top: 8px
      h5
        color: $c-secondary-txt
        font-weight: bold

    .step-content
      .option
        cursor: pointer
        +transition
        i
          color: $c-secondary-txt
      .selected
        cursor: pointer
        +transition
        background-color: $c-primary
        h5, i
          color: $c-white
