.create-profile
  .step-done
    h3
      color: $c-primary-txt

    .step-content-column
      margin-top: 30px

    .title-step
      p
        color: $c-secondary-txt

    .step-description
      p, i
        color: $c-success



    .step-content
      .option
        h5
          color: $c-lines
        i
          color: $c-lines
        &:hover
          h5, i
            color: $c-primary

      .selected
        h5, i
          color: $c-primary-txt
        &:hover
          h5, i
            color: $c-primary
