.create-profile
  .step
    .step-control
      padding: 32px 0
      +css3-prefix(display, flex)
      +css3-prefix(flex-direction, column)
      +css3-prefix(justify-content, flex-end)
      +smm
        +css3-prefix(flex-direction, row)
      .pro-btn
        width: 100%
        +smm
          width: 10em
          &:last-of-type
            margin-left: 10px
            padding-top: 16px
