.no-activity.no-results-page.no-results-expert
  .container
    .dashboard-content.no-results-page-content
      .no-activity-message-container
        p(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.DSC")
      no-content-message(data-icon-src="assets/images/profitelo_icons/icon_expert_no_activities.png"
        data-message-title="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.TITLE")
      .blog-news-container.tiles-row
        .post-container.tiles-item
          .post-thumb-container
            .post-thumb
          .post-description-container
            h2(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT_ONE.TITLE")
            p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
            a(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT.LINK").btn.btn-link
        .post-container.tiles-item
          .post-thumb-container
            .post-thumb
          .post-description-container
            h2(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT_TWO.TITLE")
            p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
            a(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT.LINK").btn.btn-link
        .post-container.tiles-item
          .post-thumb-container
            .post-thumb
          .post-description-container
            h2(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT_THREE.TITLE")
            p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
            a(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT.LINK").btn.btn-link
