.no-activity.no-results-page.no-results-expert
  .container
    .dashboard-content.no-results-page-content
      .no-payout-message-container(data-ng-hide="$ctrl.isPayoutMethod")
        p(data-translate="{{ $ctrl.activeAccountTranslation | translate: $ctrl.translationPayoutsHref }}")
      no-results-information(data-icon-src="assets/images/profitelo_icons/icon_expert_no_activities.png"
        data-information-title="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.TITLE")
      .blog-news-container.tiles-row(data-ng-if="!$ctrl.isPlatformForExpert")
        .post-container.tiles-item
          .post-thumb-container
            .post-thumb
          .post-description-container
            h2(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT_ONE.TITLE")
            p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
            a(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT.LINK").btn.btn-link
        .post-container.tiles-item
          .post-thumb-container
            .post-thumb
          .post-description-container
            h2(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT_TWO.TITLE")
            p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
            a(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT.LINK").btn.btn-link
        .post-container.tiles-item
          .post-thumb-container
            .post-thumb
          .post-description-container
            h2(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT_THREE.TITLE")
            p Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
            a(data-translate="DASHBOARD.EXPERT_ACCOUNT.NO_ACTIVITIES.HINT.LINK").btn.btn-link
