div.col-lg-3.box
  div.round
    p.center-in-circle(data-ng-hide='container.status != 100')
      i.icon-3x.icon-yes
    p.center-in-circle(data-ng-show='container.status != 100') {{ container.number }}
  div
    i.icon-3x.margin-top-20(ng-class='container.class')
  h3.box-title {{ container.title | translate }}
  p(data-ng-show='container.status == 0') {{ container.description | translate }}
  p.text-progress(data-ng-hide='container.status == 0') UKOŃCZONE: {{ container.status }}%
  .progress(data-ng-hide='container.status == 0')
    .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='{{container.status}}', aria-valuemin='0', aria-valuemax='100', style='width: {{container.status}}%')
  a.pro-button.center-flex(data-ng-show='container.status != 100' data-ui-sref='{{container.uiSref}}')
    span {{ container.uiTitle | translate }}
  a(data-ng-show='container.status == 100 && !container.verify' data-ui-sref='{{container.uiSref}}') {{ container.uiTitleDone | translate }}

