div.col-lg-3.box
  div.round
    p.center-in-circle(data-ng-hide='container.status != 100')
      i.fa.fa-check
    p.center-in-circle(data-ng-show='container.status != 100') {{ container.number }}
  h3.box-title {{ container.title | translate }}
  p(data-ng-show='container.status == 0') {{ container.description | translate }}
  p.text-green(data-ng-hide='container.status == 0') Ukończone: {{ container.status }}%
  .progress(data-ng-hide='container.status == 0')
    .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='{{container.status}}', aria-valuemin='0', aria-valuemax='100', style='width: {{container.status}}%')
  a(data-ng-show='container.status != 100' data-ui-sref='{{container.uiSref}}') {{ container.uiTitle | translate }}
  a(data-ng-show='container.status == 100 && !container.verify' data-ui-sref='{{container.uiSref}}') {{ container.uiTitleDone | translate }}

