.single-consultation.expert-profile-consultation
  .consultation-wrapper
    .consultation-content(data-ng-class="{'is-company': !!serviceTagsEmployeesTuple.ownerProfile.organizationDetails}")
      .consultation-details
        .consultation-price
          span(data-ng-bind-html="serviceTagsEmployeesTuple.service.details.price | money")
          span.currency(data-translate='HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE')

        div
          .consultation-title
            h3
              span {{ serviceTagsEmployeesTuple.service.details.name }}

          ul.consultation-about
            li.options-item.recomendation
              span  {{ serviceTagsEmployeesTuple.service.rating || '0' }} %
            li.options-item.conversation-count
              span {{ serviceTagsEmployeesTuple.service.usageCounter || '0' }}
            li.options-item.balance
              span Stan Twojego konta pozwala na ok. {{ consultation.timeAverage }} min rozmowy

      .consultation-actions
        a.profile-preview(data-ng-if="!!serviceTagsEmployeesTuple.ownerProfile.organizationDetails"
                          data-ui-sref="app.company-profile({contactId: serviceTagsEmployeesTuple.ownerProfile.id})")
          .thumb.x48
            img.user-avatar(data-ng-src="{{ companyImage }}"  data-ng-class="{'is-not-uploaded': !companyImage}")

          .profile-name
            span {{ serviceTagsEmployeesTuple.ownerProfile.organizationDetails.name }}

        a.btn.btn-success.icon-left(data-ng-click="startCall()")
          span.icon.icon-call-16
          | {{ ::'HOME.TOP_CONTAINER.EXPERT_PROFILE.CALL' | translate }}

    pro-summary-tag(data-title="DASHBOARD.EXPERT_ACCOUNT.CONSULTATION_RANGE"
    data-tags="tags" data-hide-more-tags="$ctrl.hideMoreTags" data-ng-hide="!tags || tags.length < 1")