.single-consultation
  .title-row-consultation
    .company-logo
      img(src="http://www.alluserpics.com/data/media/29/00857.jpg")
    .details-consultations
      h3 Układanie planów żywieniowych dla osób na diecie wegetariańskiej.
      .options-consultation
        span 100% zadowolenia
        span 194 rozmów
        span średni czas konsultacji: 15 min.
    .cost-consultations
      h3 19 zł/min
      i.icon.icon-success-24
  .title-row-consultation
    .tags-consultation
      p gorgeous
      p night
      p orange
      p pink
      p instasky
      p pretty
      p gorgeous
      p night
      p orange
      p pink
      p instasky

    .more-consultation
      span pokaż wszystkie (+10)
  .title-row-consultation.footer-consultation
    div
      p Pomógł (200)
      p Nie Pomógł (0)
    div
      p Zobacz wszystkie komentarze (200)
