.single-container
  .title-row-consultation
    .company-logo
      img(src="/assets/images/John_Doe.jpg")
    .details-consultations
      h3 {{ name }}
      .options-consultation
        span {{ satisfaction }}{{'HOME.TOP_CONTAINER.EXPERT_PROFILE.SATISFACTION_PERCENT' | translate}}
        span {{ talks }} {{'HOME.EXPERT_CONVERSATIONS' | translate}}
        span {{'HOME.TOP_CONTAINER.EXPERT_PROFILE.AVERANGE_CONSULTATION_TIME' | translate}} {{ timeAverage }} min.
    .cost-consultations
      h3 {{ minuteCost }} zł/min
      i.icon.icon-headphone-16
  .title-row-consultation
    .tags-consultation
      p(ng-repeat="tag in tags") {{tag}}

    .more-consultation
      span {{'HOME.TOP_CONTAINER.MAIN_HEADER.SHOW_ALL' | translate}} (+10)
  .title-row-consultation.footer-consultation
    div
      p {{'HOME.TOP_CONTAINER.EXPERT_PROFILE.EXPERT_HELPS' | translate}} ({{positiveMark}})
      p {{'HOME.TOP_CONTAINER.EXPERT_PROFILE.EXPERT_NOT_HELPS' | translate}} ({{negativeMark}})
    div
      p {{'HOME.TOP_CONTAINER.MAIN_HEADER.SHOW_ALL_COMMENTS' | translate}} ()
