.input-group.input-group-addon
  input(placeholder="" data-ng-model="vm.password" type='password' ng-change="vm.passwordChange()")
  label Podaj hasło do usługi
  span.cross-addon.icon.icon-tiny-close.icon-tiny(data-ng-show="password" data-ng-click="password=''")
  span.input-group-addon
    i.icon.icon-password-show.icon-big