.input-group(data-ng-click="focusInput()" data-ng-class="{onFocus: focus, onFocusOut: onOut}")
  input(placeholder="{{placeholder}}" data-ng-model="proModel" type='password' data-ng-focus="onFocus()" data-ng-blur="onFocusOut()")
  label {{label}}
  span.input-group-addon.active-addon(data-ng-click="passwordHandler()")
    i.icon.icon-big(data-ng-class="{'icon-password-hide': !showPassword, 'icon-password-show': showPassword}")
  span.cross-addon.icon.icon-tiny-close.icon-tiny(data-ng-show="proModel" data-ng-click="proModel=''")
