.forgot-password-view
  plat-login-background
    plat-login-content(
      contentHeightAnimation,
      titleText="FORGOT_PASSWORD.LOGIN_TITLE",
    )
      form(
        [id]="forgotPasswordFormId",
        [formGroup]="forgotPasswordForm",
        novalidate,
        (ngSubmit)="onFormSubmit(forgotPasswordForm)"
      )
        .input-icon-container
          span(plat-icon, iconClass='avatar')
          am-core-input-phone-email(
            label="LOGIN.PASSWORD.ENTER_LOGIN.LABEL",
            placeholder="LOGIN.PASSWORD.ENTER_LOGIN.PLACEHOLDER",
            [inputFormControl]="loginControl",
            [isInitiallyFocused]="true",
            [isRequired]="true",
            [isDisabled]="isRequestPending",
            (inputValueChange)="onLoginValueChange($event)"
          )

        am-core-submit-button(
          titleText="FORGOT_PASSWORD.SUBMIT_BUTTON",
          [isLoading]="isRequestPending"
        )
