.pro-search-dropdown
  .search-bar-container
    position: relative

    .icon
      position: absolute
      top: 0
      bottom: 0
      margin: auto
      padding: 0 16px
      height: 16px
      z-index: $z-index-100

      &.icon-search-24
        display: flex
        justify-content: center
        align-items: center
        left: 0
        width: 64px
        font-size: 24px

      &.icon-close-16
        display: none

        +mdm
          display: block
          right: 200px
          font-size: $f-icon-size


        &::before
          +default-font-heavy
          display: flex
          align-items: center
          justify-content: center
          background: $c-primary
          border-radius: 50%
          color: $c-white
          width: 16px
          height: 16px

        &:hover
          color: $c-primary

    .results-input
      position: absolute
      right: 232px
      top: 0
      z-index: 5
      display: flex
      padding: 32px
      span
        font-size: $f-h6-size
        color: $c-label

      +mdm
        cursor: inherit
        display: flex


  .search-bar-shadow,
  .search-bar
    font-size: $f-paragraph
    width: 100%
    z-index: 1
    position: relative
    border-bottom: 1px solid $c-lines
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1)
    text-transform: lowercase

  .search-bar-shadow
    position: absolute
    color: $c-input
    background: $c-white  url('/assets/images/search.svg') no-repeat left 20px top 50% / 22px 22px

  .search-bar
    background: transparent

  .dropdown-container
    background: $c-white
    z-index: $z-index-800
    position: fixed
    top: $dashboard-navbar-width
    -webkit-overflow-scrolling: touch
    overflow-y: scroll
    max-height: calc(100vh - #{$dashboard-navbar-width})
    width: 100vw
    left: 0

    .title-row
      +default-font-regular
      text-transform: none
      padding: 24px 16px 0
      color: $c-label

    .dropdown-category-list
      +default-font-regular
      border-bottom: 1px solid $c-lines
      display: flex
      flex-wrap: wrap
      padding: 24px 0
      text-transform: lowercase

      +smm
        padding: 24px 16px

      .dropdown-list-item
        +animation(pro-search-dropdown-search-result-show 0.3s)
        flex: 1 0 100%
        padding: 16px
        display: flex
        align-items: center
        position: relative

        &:hover
          background: $c-background

        > span
          color: $c-primary-txt
          line-height: 1
          font-size: $f-nav-size

    .term-suggestions
      span
        &.search-hint
          color: $c-label
          padding: 0 0 0 4px

    .experts-box
      .expert-name
        margin: 0 0 8px

    .organization-suggestions,
    .expert-suggestions
      .dropdown-category-list
        padding: 16px 0

        +smm
          padding: 24px 16px

        .dropdown-list-item
          padding: 16px

          +xsm
            flex: 0 0 50%

          +smm
            flex: 0 0 33.3333%
            align-items: center

          +mdm
            flex: 0 0 25%

          +lgm
            flex: 0 0 16.6667%

          .expert-data
            flex: 1
            font-size: $f-base
            margin: 0 0 0 16px

            > span
              font-size: $f-base
              display: block

              &.expert-name
                +default-font-regular
                color: $c-secondary-txt

              &.expert-category
                +default-font-heavy
                display: block
                text-transform: uppercase
                color: $c-secondary-txt

    .service-suggestions
      .dropdown-category-list
        .dropdown-list-item
          display: block

          +xsm
            flex: 1 0 100%

          +smm
            display: flex
            flex: 1 0 100%
            align-items: flex-start

          > .service-description
            +smm
              margin: 0 0 0 16px
              flex: 1

            +mdm


          .expert-profile
            display: flex
            align-items: center
            margin: 0 0 16px

            +smm
              flex: 1
              max-width: 30%
              margin: 0

            .expert-data
              margin: 0 0 0 16px

              .expert-name
                margin: 0 8px 0 0

                +mdm
                  margin: 0
