@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"
@import "../../../../template/core/helpers/grid"

.consultation-stat-row
  +subtitle-small
  display: flex
  flex-direction: row
  align-items: center
  color: $c-label

.container-stat
  display: flex
  align-items: center
  margin-left: 8px

  &:nth-child(1)
    margin-left: 0px

  .stat-item
    &-icon
      font-size: 18px

    &-number
      margin-left: 2px

      +smm
        display: none

    &-desc
      display: none

      +smm
        margin-left: 4px
        display: inline
