.stat-row
  span(plat-icon iconClass='headphone').stat-item-icon
  span.stat-item-number {{usageCounter || '-'}}
  span.stat-item-desc połączen
  span(plat-icon iconClass='comments').stat-item-icon
  span.stat-item-number {{commentCounter || '-'}}
  span.stat-item-desc ocen
  span(plat-icon iconClass='satisfaction').stat-item-icon
  span.stat-item-number {{rating || '-'}}
  span.stat-item-desc pozytywnych
