@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.input-consultation-employee
  position: relative

  .input-handler
    margin: 0 0 16px

    input
      width: 100%

  .checked-list
    margin: 0 0 32px

  p
    &.label
      +inputLabel
      margin: 0 0 8px

  .tag-list
    li
      a
        +default-font-medium
        height: 32px

    .icon
      font-size: $f-icon-16
      margin: 0 0 0 8px

  .recomended-tags
    li
      a
        span
          color: $c-primary

  .options-container
    width: 100%
    display: flex
    flex-wrap: wrap

    +smm
      flex-wrap: nowrap
      justify-content: space-between

    checkbox
      width: 100%

      +smm
        width: auto

  .invited-list
    margin: 16px 0
