@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.input-consultation-employee
  position: relative

  .input-handler
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 0 16px

    .input
      height: $s-input-height

    input
      margin: 0 8px 0 0
      flex: 1
      width: 100%
      height: $s-input-height

    .add-link
      width: 48px
      padding: 0

      +smm
        display: none

      span
        margin: 0
        color: $c-primary

    .btn-default
      display: none

      +smm
        display: inline-flex

  .checked-list
    margin: 0 0 32px

  p
    &.label
      +inputLabel
      margin: 0 0 8px

  .tag-list
    li
      a
        +default-font-medium
        height: 32px

    .icon
      font-size: $f-icon-16
      margin: 0 0 0 8px

  .recomended-tags
    li
      a
        span
          color: $c-primary

  .options-container
    width: 100%
    display: flex
    flex-wrap: wrap

    +smm
      flex-wrap: nowrap
      justify-content: space-between

    checkbox
      width: 100%

      +smm
        width: auto

  .invited-list
    margin: 16px 0
