.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.EXPERT_ACCOUNT.NAME_EXPERT") *:
      p(data-translate="DASHBOARD.EXPERT_ACCOUNT.NAME_EXPERT_DESCRIPTION")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-success-24
  .step-content-column
    pro-input(placeholder="np: Jan Kowalski")
