.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.EXPERT_ACCOUNT.EXPERT_DESCRIPTION")
      p(data-translate="DASHBOARD.EXPERT_ACCOUNT.EXPERT_TITLE_DESCRIPTION")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-success-24
  .step-content
    .input-group
      textarea()
