.main-container.pro-summary-expert
  .header-container
    .entry-header          
      h2(data-translate="DASHBOARD.EXPERT_ACCOUNT.MEASURES_TO_PAY	")
      em.price 1254,90 zł
      
      p
        strong {{ 'DASHBOARD.EXPERT_ACCOUNT.PAYMENT_BALANCE_BEFORE_COMMISSION' | translate }} 
          em 1680,70 zł
        
      a.btn.btn-default(data-translate="DASHBOARD.EXPERT_ACCOUNT.GET_PAYMENT")

  .default-container
  
