.category-wizard
  .category-box-container
    @include css3-prefix(display, flex)
    @include css3-prefix(justify-content, center)
    @include css3-prefix(flex-wrap, wrap)

  .category-box
    @include box(200px, 50px)
    @include css3-prefix(display, inline-flex)
  i
    display: none

  .category-box:hover
    border-color: $c-primary
    color: $c-primary



  .category-box-selected
    @extend .category-box
    position: relative
    background-color: $c-primary
    color:  #ffffff
    i
      position: absolute
      right: 10px
      top: 15px
      display: inline
      color: #ffffff
  .category-box-selected:hover
    border-color: transparent
    color: #ffffff







