.category-wizard
  .category-box-container
    display: flex
    justify-content: center
    flex-wrap: wrap

  .category-box
    @extend .center-flex
    @extend .default-border
    margin: 25px 25px 0px 0px
    display: inline-flex
    width: 200px
    height: 50px
    cursor: pointer
  i
    display: none

  .category-box:hover
    border-color: $c-primary
    color: $c-primary



  .category-box-selected
    position: relative
    @extend .category-box
    background-color: $c-primary
    color:  #ffffff
    i
      position: absolute
      right: 10px
      top: 15px
      display: inline
      color: #ffffff
  .category-box-selected:hover
    border-color: transparent
    color: #ffffff







