.client-activities-page
  .client-credits
    &.container
      padding: 0 16px

      +smm
        padding: 0 32px

      +xlgm
        padding: 0

  .dashboard-content
    padding: 0

    h2
      margin: 0 0 16px

    img
      margin: 0 0 64px
