.bottom-row
  .title-row-column
    .title
      h5(data-translate="DASHBOARD.EXPERT_ACCOUNT.STEP1_PROGRESS_BAR_TITLE")
      h5 33%
    .loader-container
      .password-verify
        .loader
          .progress-bar(style="width: 33%;")
      .next-step
        .button-next-step
          a.pro-btn.btn-main.btn-medium(data-ui-sref="app.dashboard.cost-data" data-translate="DASHBOARD.CREATE_PROFILE.NEXT_STEP")
