@import "../../../../template/stylesheets/interface/input/input"

.input-recharge-account
  .input__container
    position: relative

  &__hidden-content
    position: absolute
    bottom: 15px
    left: 0

  &__value
    +h2
    opacity: 0

  &__currency
    margin: 0 0 0 8px
    +h2
    color: $c-placeholder
