.dashboard-client-nav
  margin: 0 0 32px

  +smm
    margin: 0

  ul
    border-bottom: 1px solid $c-lines
    display: flex
    margin: 0 0 32px

    li
      text-align: center
      width: 50%

      +smm
        width: auto
        margin: 0 12px

      &:first-child
        +smm
          margin: 0 12px 0 0

      &:hover
        a
          color: $c-primary

      &.is-active
        a
          color: $c-primary

          &::after
            width: 100%

      a
        +default-font-regular
        padding: 16px 0
        display: block
        text-transform: uppercase
        color: $c-secondary-txt
        font-size: $f-btn-size
        position: relative

        &::after
          content: ''
          position: absolute
          width: 0
          height: 1px
          background: $c-primary
          left: 0
          bottom: -1px
          transition: width 0.3s

.client-credits
  min-height: 56px
  text-align: center
  margin: 0 0 32px

  +xsm
    display: flex
    justify-content: flex-end
    align-items: center

  +smm
    margin: 0 auto

  > span
    +default-font-heavy
    color: $c-primary-txt
    font-size: $f-h2-size
    margin: 0 0 24px
    display: flex
    justify-content: center
    align-items: center

    +xsm
      margin: 0 24px 0 0

    span
      margin: 0 8px 0 0
