@import "../../../../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.payout-method
  +smm
    position: relative

  .btn-handler
    padding: 0 16px 40px

    .btn
      min-width: 184px
