@import "../../../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.payout-method
  .btn-handler
    .btn
      min-width: 184px

      +xsm
        margin: 0 16px

  .modal-form
    +smm
      min-width: 480px
      max-width: 480px
      margin: 24px auto 0

    .modal-container
      padding: 24px 16px 0

      +smm
        padding: 24px 16px
