.settings-row
  border-bottom: 1px solid $c-lines
  padding: 20px 0
  display: flex
  align-items: center
  justify-content: space-between
  min-height:  80px

  +xsm
    padding: 20px 12px

  +smm
    padding: 20px 24px

  &.is-active
    span
      &.icon
        color: $c-success

  &.is-inactive
    span
      color: $c-tertiary-txt

  .settings-icon
    display: inline-flex
    padding: 0 16px 0 0

    +smm
      padding: 0 24px 0 0

  .settings-data
    flex: 1

    .label
      +inputLabel
      display: block
      text-transform: none

    .name
      +paragraph
