# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/generated_modules

# dependencies
/node_modules

# To support pug-cli
/src/angularjs/app/**/*.html
/src/angularjs/common/**/*.html
/src/app/**/*.html
/src/environments/version.ts


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Rest
.idea
node_modules
build
.gitcommit
gitcommit.js
/tests
.DS_Store
npm-debug.log
.tmp
.git
.settings
*.log
dist/
coverage/

lintdisable.py
lint.txt

wallaby.conf.js
src/wallabyTest.ts
