.expert-slider
  .pro-expert-slider.single-container.slider-container

    a.btn.btn-arrow.arrow-left
      span.icon.icon-arrow-left-16

    .slider-slides
      slider-list.slider
        .slides
          .slider-item
            .single-consultation
              .consultation-wrapper
                .consultation-content
                  .consultation-actions
                    .consultation-profile
                      a.thumb
                        img.user-avatar

                        .status-list
                          span.status.availability

                      .author
                        h6
                          a Name

                  .consultation-details
                    .consultation-price
                      h5 135231
                        span.currency(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE")

                    .consultation-profile
                      .consultation-info
                        h3
                          a name

                        ul.consultation-options
                          li.options-item
                            span  qwe
                          li.options-item
                            span asd
                          li.options-item
                            span Stan Twojego konta pozwala na ok. 10 min rozmowy
        .slides
          .slider-item
            .single-consultation
              .consultation-wrapper
                .consultation-content
                  .consultation-actions
                    .consultation-profile
                      a.thumb
                        img.user-avatar

                        .status-list
                          span.status.availability

                      .author
                        h6
                          a Name

                  .consultation-details
                    .consultation-price
                      h5 135231
                        span.currency(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE")

                    .consultation-profile
                      .consultation-info
                        h3
                          a name

                        ul.consultation-options
                          li.options-item
                            span  qwe
                          li.options-item
                            span asd
                          li.options-item
                            span Stan Twojego konta pozwala na ok. 10 min rozmowy
        .slides
          .slider-item
            .single-consultation
              .consultation-wrapper
                .consultation-content
                  .consultation-actions
                    .consultation-profile
                      a.thumb
                        img.user-avatar

                        .status-list
                          span.status.availability

                      .author
                        h6
                          a Name

                  .consultation-details
                    .consultation-price
                      h5 135231
                        span.currency(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE")

                    .consultation-profile
                      .consultation-info
                        h3
                          a name

                        ul.consultation-options
                          li.options-item
                            span  qwe
                          li.options-item
                            span asd
                          li.options-item
                            span Stan Twojego konta pozwala na ok. 10 min rozmowy
        .slides
          .slider-item
            .single-consultation
              .consultation-wrapper
                .consultation-content
                  .consultation-actions
                    .consultation-profile
                      a.thumb
                        img.user-avatar

                        .status-list
                          span.status.availability

                      .author
                        h6
                          a Name

                  .consultation-details
                    .consultation-price
                      h5 135231
                        span.currency(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE")

                    .consultation-profile
                      .consultation-info
                        h3
                          a name

                        ul.consultation-options
                          li.options-item
                            span  qwe
                          li.options-item
                            span asd
                          li.options-item
                            span Stan Twojego konta pozwala na ok. 10 min rozmowy
        .slides
          .slider-item
            .single-consultation
              .consultation-wrapper
                .consultation-content
                  .consultation-actions
                    .consultation-profile
                      a.thumb
                        img.user-avatar

                        .status-list
                          span.status.availability

                      .author
                        h6
                          a Name

                  .consultation-details
                    .consultation-price
                      h5 135231
                        span.currency(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE")

                    .consultation-profile
                      .consultation-info
                        h3
                          a name

                        ul.consultation-options
                          li.options-item
                            span  qwe
                          li.options-item
                            span asd
                          li.options-item
                            span Stan Twojego konta pozwala na ok. 10 min rozmowy
        .slides
          .slider-item
            .single-consultation
              .consultation-wrapper
                .consultation-content
                  .consultation-actions
                    .consultation-profile
                      a.thumb
                        img.user-avatar

                        .status-list
                          span.status.availability

                      .author
                        h6
                          a Name

                  .consultation-details
                    .consultation-price
                      h5 135231
                        span.currency(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE")

                    .consultation-profile
                      .consultation-info
                        h3
                          a name

                        ul.consultation-options
                          li.options-item
                            span  qwe
                          li.options-item
                            span asd
                          li.options-item
                            span Stan Twojego konta pozwala na ok. 10 min rozmowy

    a.btn.btn-arrow.arrow-right
      span.icon.icon-arrow-right-16
