.preloader-container
  width: 100%
  height: 300px
  text-align: center
  position: relative
  background: transparent

  .content-loader
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    min-width: 64px
    top: 0
    left: 0
    margin: auto 0
    height: 100%
    content: ""

    span
      width: 64px
      height: 64px
      border: 1px solid $c-lines
      border-top-color: $c-primary
      border-radius: 50%
      animation: loader-rotate 1s linear infinite

  .error-wrapper
    height: 100%
    display: inline-flex
    flex-direction: column
    justify-content: center

    a
      display: inline-flex
