.preloader-container
  width: 100%
  height: 300px
  text-align: center
  background-color: transparent

  .content-loader
    display: block
    position: relative
    top: 0
    width: 100%
    right: 0
    left: 0
    bottom: 0
    margin: auto 0
    height: 100%
    content: ""
    border-radius: 20px
    background: transparent url('../../../../../../../assets/gifs/preloader.gif') no-repeat center center

  .error-wrapper
    height: 100%
    display: inline-flex
    flex-direction: column
    justify-content: center

    a
      display: inline-flex
