@import "../../../../../../../shared/components/modals/modal/modal.component"
@import "./projects/anymind-ng-core/src/template/stylesheets/core/variables/variables"
@import "./projects/anymind-ng-core/src/template/stylesheets/core/helpers/mixins/mixins"

\:host
  display: block
  width: 100%

.change-language
  .modal-component__action
    justify-content: center
    margin: 48px 0 0

  .input-handler
    display: flex

    &__language
      flex: 0 0 80%
      height: 100%
      margin: 0 24px 0 0

    &__currency
      flex: 0 0 20%
      height: 100%
