span.consultation-footer__text
  span(plat-icon iconClass='information')
  p
    | {{"INVITE_ACCEPT_REJECT.ORGANIZATION" | translate}}
    a {{"INVITE_ACCEPT_REJECT.ORGANIZATION.FIND_MORE" | translate }}
