.input-group
  border-radius: $border-radius-default
  transition: border .2s, color .2s, background .2s
  background-color: $c-white
  border: 1px solid $c-lines
  height: 64px
  padding: 8px
  position: relative

  textarea
    border: 0
    resize: none
    width: 100%
    outline: none
    position: relative
    background-color: transparent
    color: $c-secondary-txt
    height: 180px
    font-size: $f-h4-size
    color: $c-primary-txt
    min-height: 180px

  label
    +default-font-heavy
    position: absolute
    top: 8px
    color: $c-secondary-txt
    font-size: $f-base
    text-transform: uppercase
    line-height: 1

  input
    position: absolute
    bottom: 0
    left: 0
    background-color: $c-white
    border: none
    font-size: $f-paragraph
    width: 100%
    padding: 16px 48px 16px 8px
    outline: none
    height: 100%

    &.label
      padding: 36px 10px 10px

    &:focus
      background-color: $c-background
      color: $c-primary-txt

    &.calendar-input
      &:focus
        background-color: $c-white

    &:required + label
      &:after
        content: "*"
        color: $c-error
        padding-left: 5px
        font-size: 18px

  span
    &.cross-addon
      position: absolute
      color: $c-primary
      top: 50%
      right: 16px
      visibility: hidden
      font-size: $f-base
      transform: translateY(-50%)
      line-height: 16px
      width: 16px
      height: 16px
      cursor: pointer

      +xsm
        visibility: visible

    &.input-group-addon
      transition: border .2s, color .2s, background .2s
      position: relative
      float: right
      z-index: 2
      background-color: $c-white
      border-left: 1px solid $c-lines
      height: 62px
      display: block
      width: 62px
      right: -8px
      margin-top: -8px
      font-size: $f-h5-size
      text-align: center
      color: $c-primary-txt
      border-bottom-right-radius: $border-radius-default
      border-top-right-radius: $border-radius-default
      cursor: pointer

      .icon
        color: $c-primary-txt

      &.active-addon
        &:hover
          background-color: $c-primary-txt

          .icon
            color: $c-white

      span
        line-height: 1
        display: block
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        text-transform: uppercase
        font-size: $f-paragraph
        color: $c-secondary-txt

  &.invalid
    border-color: $c-invalid-border

    label
      color: $c-input-error

    .cross-addon
        color: $c-input-error

  &.valid
    border-color: $c-success

  &.correct
    label
      color: $c-primary-txt
      white-space: nowrap

    .cross-addon
        color: $c-primary-txt

  &.disable
    label
      color: $c-input

    .cross-addon
        color: $c-input

  span.elements-wrapper
    .cross-addon
      right: 60px

  &.onFocus

    input
      background-color: $c-background

    .select
      background-color: $c-background

  &.onFocusOut
    background-color: $c-white

  &.onClick
    label
      color: $c-primary-txt

  >.select
    position: absolute
    cursor: pointer
    bottom: 0
    background-color: $c-white
    width: 100%
    top: 0
    left: 0

  .ui-select-match
    background-color: $c-background
    outline: none

    &:focus
      background-color: $c-background

  .dropdown-icon
    position: absolute
    right: 16px
    padding-top: 25px
    color: $c-primary

  .ui-select-bootstrap
    .ui-select-choices-row.active
      >a
        background-color: $c-white
        color: $c-primary-txt
        outline: none

    .ui-select-choices
      min-width: 101px
      margin-left: -1px
      overflow-x: hidden !important
      width: 125px
      margin-top: 0
      opacity: 100 !important
      .gm-scrollbar.-vertical
        background-color: transparent
        width: 0.1em

      /* scrollbar thumb */
      .gm-scrollbar .thumb
        background-color: $c-secondary-txt
        width: 0.1em

      .gm-scrollbar .thumb:hover
        background-color: $c-primary

    .ui-select-choices-row
      outline: none

    .ui-select-choices-row
      a
        text-align: left
        border: none
        padding: 10px 0 10px 0
        outline: none
        text-transform: capitalize

        span
          padding-left: 16px

        &:hover
          background: $c-background

  .btn-default
    outline: none
    text-transform: capitalize
    background-color: transparent
    z-index: 100

    .ui-select-match-text
      padding-left: 10px
      position: relative
      top: 23px

  .btn-default-focus
    box-shadow: none
    background-color: $c-background

  .ui-select-placeholder
    padding-left: 10px
    color: $c-secondary-txt
    top: 26px
    position: relative

.input-group .form-control
  float: left
  position: relative
  width: 100%
  margin-bottom: 0
  height: 64px

.form-control
  display: block
  width: 100%
  height: 30px
  padding-top: 6px
  font-size: 14px
  min-width: 98px

.ps-scrollbar-y-rail
  max-width: 0.2em

  .ps-scrollbar-y
    max-width: 0.2em
    background-color: $c-lines
