.input-error-messages
  +default-font-heavy
  width: 100%
  min-height: 32px
  padding: 16px 8px
  color: $c-error
  font-size: $f-h6-size

  .errors
    color: $c-input-error

    &.right
      text-align: right

    &.left
      text-align: left
