.input-error-messages
  width: 100%
  float: left
  min-height: 25px
  min-width: 2px
  padding-top: 8px

  .error
    color: $c-input-error
    &.right
      text-align: right
    &.left
      text-align: left
      padding-left: 12px
