.input-error-messages
  width: 100%
  float: left
  min-height: 32px
  min-width: 2px
  padding: 16px 8px

  .error
    color: $c-input-error

    &.right
      text-align: right

    &.left
      text-align: left
