@import "../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.pending-invitation
  .list-row
    padding: 16px 0

    +lgm
      padding: 16px

    &:hover
      background: $c-background

      .invitations-button-container
        +lgm
          display: flex

    .invitations-informations
      display: flex
      align-items: center
      width: 100%

    .invitations-name-container
      min-width: 256px
      margin: 0 24px 0 0

      span
        +paragraphTitle

    .invitations-count-container
      span
        +paragraphSmall
        color: $c-primary-txt

      .invitations-slug
        margin: 0 0 0 8px

    .invitations-details
      display: flex
      flex-wrap: wrap

    .invitations-button-container
      +lgm
        display: none

      a:first-child
        margin: 0 24px 0 0

    .invitation-container
      +smm
        display: flex
        justify-content: space-between
        width: 100%
