.expert-cards-section.pro-expert-card
  .expert-card
    .top-content-wrap
      img.expert-avatar(ng-src="{{ items.avatar }}")
      p.expert-name {{ items.name }}
      p.expert-availability(class='{{ items.status }}')
        span(data-translate='{{ vm.translations[items.status] }}')
      p.expert-service {{ items.description }}
    .expert-data.flex-row
      .service-satisfaction
        span.icon.icon-satisfaction-16
        p(data-translate="HOME.EXPERT_SERVICE_SATISFACTION")
      .conversations-amount
        span.icon.icon-conversations-16
        p(data-translate="HOME.EXPERT_CONVERSATIONS")
