.expert-cards-section.pro-expert-card.flex-col
  .expert-card.flex-col
    .top-content-wrap.flex-col
      img.expert-avatar(src="https://placekitten.com/50/50")
      p.expert-name='{{ngModel.name}}'
      p.expert-availability(class='{{ngModel.status}}', data-translate='{{translations[ngModel.status]}}')
      p.expert-service(data-translate="HOME.SERVICE_DESCRIPTION")
    .expert-data.flex-row
      .service-satisfaction
        i.icon.icon-zadowolenie-16
        p(data-translate="HOME.EXPERT_SERVICE_SATISFACTION")
      .conversations-amount
        i.icon.icon-rozmowy-16
        p(data-translate="HOME.EXPERT_CONVERSATIONS")
