@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

%transition
  transition: background 0.3s ease, color 0.3s ease

=greySection
  background: $c-base-background
  padding: 0 8px 40px

  +smm
    padding: 0 24px 40px

  &__actions
    padding: 40px 8px 0
    text-align: center

  h4
    +subtitle-small
    color: $c-label
    text-transform: uppercase
    padding: 16px 0

    +smm
      padding: 24px

.company-consultation-details
  background: $c-white

  &__employees
    ul
      li
        cursor: pointer

    &__description
      > *
        +paragraph-small

      +smm
        > *
          +paragraph

  &__invites-employee
    position: relative

.container-grey
  +greySection

.button-row
  background: $c-white
  padding: 24px
  display: flex
  justify-content: center
  align-items: center
  height: 88px
  margin: 0 0 4px

  &:hover
    span
      color: $c-primary
      background-color: transparent

      span
        @extend %transition
        color: $c-primary


  &__text
    +subtitle-small
    font-weight: 500
    margin: 0 0 0 16px
