.modal-backdrop
  animation: modal-opacity 0.3s
  animation-fill-mode: forwards
  background: $c-primary-txt

.modal-open
  padding: 0 !important
  overflow: hidden

  .modal-dialog
    transform: none !important
    display: flex
    align-items: center
    width: 100%
    justify-content: center
    margin: 0
    min-height: 100vh

    +mdm
      min-height: 100vh

    .modal-content
      background: none
      min-width: 100%
      min-height: 100vh
      box-shadow: none
      border: 0
      display: flex
      justify-content: center
      align-items: center

.modal-action
  a
    margin: 0 0 16px

    +xsm
      margin: 0 16px

  +xsm
    display: flex
    justify-content: center


.report-modal
  text-align: center

  > div
    padding: 32px 0

  img
    margin: 0 0 64px

  .modal-title
    +default-font-regular
    margin: 0 0 32px


  .modal-description
    margin: 0 0 64px
    color: $c-secondary-txt

    p
      margin: 0 0 16px

  .modal-action
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    .btn
      flex: 1 0 100%

      +xsm
        flex: 1

.modal-settings
  text-align: center

  h2
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

.modal-form
  +smm
    border: 1px solid $c-lines

  &.container-medium
    padding: 0

  .entry-title
    text-align: left
    padding: 0 16px

    +smm
      padding: 0 104px
      margin: 32px 0

    +smm
      margin: 64px 0

  .form
    > *:not(.summary-charge-account)
      padding: 0 16px

      +smm
        padding: 64px 104px
