plat-consultation-footer
  //left part of the screen
  .consultation-footer__left-price
    plat-consultation-footer-price([grossPrice]='grossPrice')
  //middle part of the screen
  .consultation-footer__left-text([ngSwitch]='middlePanel')
    plat-consultation-footer-organization-edit-freelance(
      *ngSwitchCase='middlePanelStatusTypes.organizationFreelance',
      [expertPrice]='expertPrice',
      [grossPrice]='grossPrice',
      [organizationPrice]='organizationPrice')
    ng-container(*ngSwitchCase='middlePanelStatusTypes.organization')
      span.consultation-footer__text
        span(plat-icon iconClass='information')
        p
          span([innerHTML]="'CONSULTATION_MODAL.ORGANIZATION_EDIT' | translate: {price: expertPrice, grossPrice: grossPrice}")
    plat-consultation-footer-freelance(
      *ngSwitchCase='middlePanelStatusTypes.expert',
      [price]='expertPrice',
      [grossPrice]='grossPrice',
    )
  //right part of the screen
  .consultation-footer__right
    a.consultation-footer__right-button((click)='onEdit()', plat-stroked-button color='secondary') {{"CONSULTATION_DETAILS.FOOTER.EDIT" | translate}}
    a.consultation-footer__right-button((click)='onShare()', plat-button color='primary') {{"CONSULTATION_DETAILS.FOOTER.SHARE" | translate}}
  //right panel on the screen on mobile
  .consultation-footer__right--mobile
    a.consultation-footer__right-button((click)='onEdit()', plat-icon-button color='secondary')
      span(plat-icon iconClass='stroke-edit')
    a.consultation-footer__right-button((click)='onShare()', plat-flat-fab color='primary')
      span(plat-icon iconClass='share')
