.pro-service-provider-who-provides
  .who-provides-checkbox
    margin-bottom: 48px

  .who-provides-inputs
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-content: center
    align-items: center

  .who-provides-csv
    padding: 21px 20px 41px 25px
    height: 48px
    margin-left: -5px
    color: $c-primary
    
    &:hover
      border: 1px solid $c-lines
