.single-consultation.consultation-list
  .consultation-section
    .consultation-details
      .consultation-price.price-section
        span 10,00 PLN
        span.currency(data-translate='HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE')

      ul.consultation-details-info
        li.options-item.recomendation
          span.icon.icon-satisfaction-16
          span  {{ $ctrl.serviceTagsEmployeesTuple.service.rating || '0' }}%
        li.options-item.conversation-count
          span.icon.icon-call-16
          span {{ $ctrl.serviceTagsEmployeesTuple.service.usageCounter || '0' }}

    .consultation-as-employee
      span Tekst
        a.link HP Consulting

    .consultation-title
      h3
        span {{ $ctrl.serviceTagsEmployeesTuple.service.details.name }} TITLE KONSULTEJSZYN

    tags-list()

  .consultation-actions
    a.btn.btn-success(data-ng-click="$ctrl.startCall()" data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CALL")
