@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import '../../../../../../template/core/helpers/grid'

.consultation-footer
  display: flex
  align-items: center
  position: relative
  color: $c-white
  background: $c-text-primary
  padding: 24px 16px

  +smm
    height: 104px
    padding: 32px

  +xsm
    border-radius: 0 0 8px 8px

  +mdm
    padding: 32px 48px


  &__left
    flex-grow: 1
    display: flex
    flex-direction: column

    +smm
      flex-direction: row
      align-items: center

    &-price-wrapper
      min-height: 64px
      margin: 0 0 16px 0
      display: inline-block
      flex-shrink: 0
      display: inline-block
      color: $c-white
      border-bottom: 1px solid rgba($c-white, 0.15)

      +smm
        min-height: auto
        margin: 0
        border-bottom-width: 0px

    &-text-wrapper
      color: $c-half-white

  &__right-wrapper
    display: none

    +xsm
      flex-shrink: 0
      display: flex
      flex-direction: row
      position: absolute
      top: 24px
      right: 16px

    +smm
      position: static

    &--mobile
      flex-shrink: 0
      display: flex
      flex-direction: row
      position: absolute
      top: 24px
      right: 16px

      +xsm
        display: none
