.consultation-footer
  .consultation-footer__left
    span.consultation-footer__left-price-wrapper
      ng-content(select='.consultation-footer__left-price')
    span.consultation-footer__left-text-wrapper
      ng-content(select='.consultation-footer__left-text')
  .consultation-footer__right-wrapper--mobile
    ng-content(select='.consultation-footer__right--mobile')
  .consultation-footer__right-wrapper
    ng-content(select='.consultation-footer__right')
