div.col-lg-3.col-centered.box
  div.round
    p.center-in-circle 1
  h3.box-title Profil experta
  p(data-ng-show="true") Stwórz swoją wizytówkę! Opisz firmę, dodaj referencje...
  p.progress(data-ng-show="false") Ukończone {{ vm.model.expert }}
  a(data-ui-sref="app.expert-profile") Uzupelnil Profil
