.activity-row([ngClass]="{'--important':isImportant}", [ngSwitch]="activityType")
  .activity-row__icon
    span.activity-row__icon.icon.icon-phone(*ngSwitchCase="activityTypes.SERVICEUSAGEEVENT")
    span.activity-row__icon.icon.icon-account-payments(*ngSwitchCase="activityTypes.FINANCIALTRANSACTION")
    span.activity-row__icon.icon.icon-account-payments(*ngSwitchCase="activityTypes.REFUND")

  .activity-row__container
    .activity-row__type([ngSwitch]="activityType")
      span.type-text(
      *ngSwitchCase="activityTypes.SERVICEUSAGEEVENT",
      [translate]="'DASHBOARD_ACTIVITY.CONSULTATION_TYPE'")
      span.type-text(*ngSwitchDefault, [translate]="'DASHBOARD_ACTIVITY.CONSULTATION_FINANCE'")
      span.date {{ date | decorateDate | translate }}

    .activity-row__title-container
      span.activity-row__title(
      *ngSwitchCase="activityTypes.SERVICEUSAGEEVENT",
      [translate]="'DASHBOARD_ACTIVITY.ANONYMOUS_CONSULTANT'")
      span.activity-row__title(*ngSwitchCase="activityTypes.FINANCIALTRANSACTION")
        | {{ payoutTitle | translate: {year: payoutTitleYear} }}
      span.activity-row__title(*ngSwitchCase="activityTypes.REFUND",
      [translate]="'DASHBOARD_ACTIVITY.REFUND_TITLE'")

    .activity-row__description(*ngSwitchCase="activityTypes.SERVICEUSAGEEVENT")
      span {{ activityDescription }}

    .activity-row__money([ngSwitch]="activityType")
      span.date {{ date | decorateDate | translate }}
      span.money(*ngSwitchCase="activityTypes.SERVICEUSAGEEVENT")
        | + {{ operationAmount.amount | currency: operationAmount.currency:'symbol-narrow' }}
      span.money(*ngSwitchDefault) {{ operationAmount.amount | currency: operationAmount.currency:'symbol-narrow' }}
