@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/mixins"

input-price
  display: block

.input-price
  display: flex
  align-content: space-between
  flex-wrap: wrap
  background: $c-white
  position: relative
  padding: 0
  width: 100%
  height: $s-input-height-container

  input
    padding: 0
    width: 100%
    height: $s-input-height
    align-self: flex-end

    &::placeholder
      font-size: $f-input-txt
      line-height: normal

    &::-moz-placeholder
      line-height: $s-input-height

    &:-ms-input-placeholder
      line-height: $s-input-height

    &:-moz-placeholder
      line-height: $s-input-height

  &.is-disabled
    input
      color: $c-secondary-txt
      cursor: not-allowed

  &.is-invalid
    input
      color: $c-error

  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: auto
    height: 1px
    width: 100%
    background: $c-lines

  &::after
    transition: width 0.3s ease-out
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: auto
    height: 1px
    width: 100%
    animation: inputBorderLineAnimationOut 0.3s

.input-sign-counter
  text-align: left
  margin: 8px 0 0


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
  transition: background-color 5000s ease-in-out 0s

