.top-modal-navbar
  transition: top 0.3s
  position: fixed
  top: 0
  left: 0
  background: $c-white
  width: 100%
  z-index: $z-index-900

  &.isHided
    top: -#{$top-modal-navbar + 1px}

  .top-modal-navbar-wrapper
    +default-font-regular
    padding: 0
    height: $s-navbar-height
    display: flex
    justify-content: flex-end
    align-items: stretch

  .close-modal
    display: flex
    align-items: stretch

    a
      display: flex
      align-items: center
      justify-content: center
      width: $top-modal-navbar

      &:hover
        span
          color: $c-primary-txt

    .icon
      color: $c-secondary-txt
      font-size: $f-icon-16
