.tiles-item
  .consultation-tiles.tiles-content
    .thumb.x48
      img.user-avatar(src="#")

      .status-list
        span.status.availability
          span.icon.icon-success-12

    .profile-name
      span HP Comapny SA

    .consultation-price
      span 50,00
        span.currency PLN {{:: "HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE" | translate}}

    .consultation-title
      h3
        span Consumer psychology in the industrial and manufacturing equipment marketplace.

    .consultation-actions
      a.btn.btn-success(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CALL")

    ul.consultation-details-info
      li.options-item.recomendation
        span.icon.icon-satisfaction-16
        span  {{ $ctrl.serviceTagsEmployeesTuple.service.rating || '0' }}%
      li.options-item.conversation-count
        span.icon.icon-call-16
        span {{ $ctrl.serviceTagsEmployeesTuple.service.usageCounter || '0' }}
