@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/rwd"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/mixins"
@import "../../../../template/profitelo_theme/stylesheets/core/interface/typography/typography"

.tiles-item
  padding: 0 8px 16px

  +xsm
    flex: 0 0 50%
    height: 100%

  +mdm
    flex: 0 0 25%

  .tiles-content
    border: 1px solid $c-lines
    text-align: center
    padding: 24px 16px

    +xsm
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      height: 100%

    .thumb
      margin: 0 0 16px

    .profile-name
      +consultationProfileName
      margin: 0 0 32px

      +xsm
        height: 72px
        overflow: hidden

    .consultation-title
      +tilesConsultationTitle
      margin: 0 0 48px

      +xsm
        height: 72px
        overflow: hidden

    .consultation-price
      +priceSection
      margin: 0 0 8px

    .consultation-actions
      +consultationDetailsInfo
      margin: 0 0 24px

    .consultation-details-info
      +consultationDetailsInfo
      display: flex
      justify-content: space-between

      +xsm
        width: 100%
        align-content: space-between

      li
        display: inline-flex
        align-items: center

      span
        color: $c-icon

        &[class*="icon"]
          margin: 0 8px 0 0

