.complain-status
  h5
    +default-font-regular
    color: $c-primary-txt
    font-size: $f-paragraph-title
    margin: 16px 0

  p
    +default-font-regular
    color: $c-secondary-txt
    font-size: $f-paragraph-title
    margin: 0 0 24px
