@import "../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.file-uploader
	max-width: 440px
	padding: 32px 0 0 0

	.file-loader
		&.ng-hide-add
			animation: fadeIn 1.3s

	.uploader
		margin: 0 0 32px

		.upload-field
			border: 1px dashed $c-lines
			height: 192px
			width: 100%
			display: flex
			align-items: center
			justify-content: center
			flex-wrap: wrap
			cursorr: pointer
			text-align: center

			.icon
				color: $c-primary

			p
				+inputSmall
				color: $c-primary
				font-size: $f-button-small
				text-transform: uppercase
				padding: 2px 0


		.file-drag-and-drop
			cursor: pointer

	.files-uploaded-list
		.file-item
			display: flex
			align-items: center
			justify-content: space-between
			flex: 1 0 50%
			margin: 0 0 16px

			.file-preview
				overflow: hidden
				border-radius: $s-border-radius
				margin: 0 16px 0 0
				width: 64px
				height: 64px

				img
					max-width: 64px
					max-height: 64px

			.file-info
				flex: 1

				.file-name
					+paragraphTitle
					word-break: break-all
					display: block

				.file-size
					+paragraphSmall
					word-break: break-all
					margin: 0 4px 0 0

			.file-action
				padding: 0 0 0 16px

				+mdm
					padding: 0 0 0 32px

				a
					margin: 0 0 0 16px

				span
					cursor: pointer


					&.icon
						color: $c-primary
