.pro-text-chat
  .chat-conversation
    .chat-line.interlocutor
      .interlocutor-chat
        img.thumb.circle(src="/assets/images/John_Doe.jpg")

        .chat-cloud
          p asdas asd asd ad gwrg hwegfd last kasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hart ristmas i gejv ju my hartasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hartasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hart
          p 2nd
          p asdasdasdasd
          p asdasd

      span.chat-date 12:41

    .chat-line.me
      .me-chat
        .chat-cloud
          p asdasdasdasd
          p asdas asd asd ad gwrg hwegfd last kasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hart ristmas i gejv ju my hartasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hartasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hart

          .chat-file-download
            a(href="#") Pobierz plik
              span.icon.icon-settings-24

      span.chat-date 12:41

    //do usuniecia start
    .chat-line.interlocutor
      .interlocutor-chat
        img.thumb.circle(src="/assets/images/John_Doe.jpg")

        .chat-cloud
          p asdas asd asd ad gwrg hwegfd last kasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hart ristmas i gejv ju my hartasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hartasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hart
          p 2nd
          p asdasdasdasd
          p asdasd

      span.chat-date 12:41

    .chat-line.me
      .me-chat
        .chat-cloud
          p asdasdasdasd
          p asdas asd asd ad gwrg hwegfd last kasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hart ristmas i gejv ju my hartasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hartasdas asd asd ad gwrg hwegfd last kristmas i gejv ju my hart

          .chat-file-download
            a(href="#") Pobierz plik
              span.icon.icon-settings-24

      span.chat-date 12:41
    //do usuniecia end

  .chat-input
    .input-group
      a.upload-file(href="#")
        span.icon.icon-settings-24

      input(type="text", placeholder="Wpisz wiadomość tutaj")

      a.send-message(href="#")
        span.icon.icon-settings-24
