.client-favourite-content
  +smm
    padding: 32px 0 0

  .entry-title
    h3
      +default-font-heavy
      font-size: $f-paragraph
      text-transform: uppercase
      margin: 0 0 32px


.favourite-experts-list
  +xsm
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    margin: 0 -16px