plat-navbar([isUserLoggedIn]="isUserLoggedIn")

.search-view
  .search-view__header
    .search-view__tags(*ngIf="suggestedTags")
      .container.container--padding
        plat-tags(
        [tagList]="suggestedTags",
        [isTagSelected]="false",
        (selectTag)="onClickRecentTag($event)")

    .search-view__header(*ngIf="!suggestedTags")
      .container.container--padding
        .header
          h3 {{ 'SEARCH.CONSULTATIONS.RECENT.TITLE' | translate }}
          p {{ 'SEARCH.CONSULTATIONS.RECENT.SUB_TITLE' | translate }}

  .search-view__container
    .search-view__filters
      .container.container--padding
        div
          .search-view-filter.search-view-filter--selected-tags(*ngIf="selectedTagList")
            .header.header--small
              h5 {{ 'SEARCH.TAGS.SELECTED.TITLE' | translate }}

            plat-tags([tagList]="selectedTagList", [isTagSelected]="true", (removeTag)="onDeleteTag($event)")

          .search-view-filter.search-view-filter--visibility
            plat-input-switch(
              [formControl]="visibilityExpertsControl",
              [label]="'SEARCH.SWITCHER.LABEL'")

    .search-view__content
      .container
        ul.search-list
          li(*ngFor="let searchItem of searchList")
            plat-search-consultation-item([item]="searchItem")

