.client-favourites-page
    .client-favourite-content
        .default-container
            //client-no-favourite-experts()

        .default-container
            .entry-title
                h3(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.RECENTLY_CONSULTED.TITLE")
                similar-experts-slider(data-title="title")

        .default-container
            client-favourite-experts()

        .default-container
            .entry-title
                h3(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.RECOMENDED_CONSULTATION.TITLE")
