.preloader-container(data-ng-show="$ctrl.isLoading || $ctrl.isError")
  .content-loader(data-ng-hide="$ctrl.isError")
  .error-wrapper(data-ng-show="$ctrl.isError")
    a.btn.btn-warning.icon-left(data-ng-click="$ctrl.errorFunction()")
      .icon.icon-upload-progress-24
      | {{::$ctrl.errorMessage | translate }}