
<div class="input-pin-code input" [formGroup]="formGroup" [ngClass]="{'input--focused': isFocused, 'input--invalid': isFieldInvalid(), 'input--disabled': isDisabled}">
  <div class="input__container">
    <div class="input__label-container">
      <label class="input__label" *ngIf="labelTrKey">{{ labelTrKey | translate }}</label><span class="input__required-asterix">*</span>
    </div>
    <input mask="{{inputMask}}" [autofocus]="initialFocus" [formControlName]="controlName" (focus)="onFocus()" (blur)="onBlur()" placeholder="{{ placeholderTrKey | translate }}" type="tel" [readonly]="isDisabled">
  </div>
  <div class="input__alert">
    <am-core-validation-alert [isVisible]="isIncorrectPinCode()" [validationTextKey]="'INPUT_PIN_CODE.INCORRECT_PIN_CODE_VALIDATION_ERROR'"></am-core-validation-alert>
    <am-core-validation-alert [isVisible]="isToManyUnsuccessfulAttempts()" [validationTextKey]="'INPUT_PIN_CODE.UNSUCCESSFUL_ATTEMPTS_VALIDATION_ERROR'"></am-core-validation-alert>
    <am-core-validation-alert [isVisible]="isRequiredError()" [validationTextKey]="'INPUT.REQUIRED_VALIDATION_ERROR'"></am-core-validation-alert>
  </div>
</div>