plat-modal-component.invoice-details(
  [modalTrTitleHeader]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.MODAL_HEADER'",
  [modalContainerClass]="modalClass"
)
  plat-company-invoice-details([invoiceDetails]="companyInvoiceDetails")
