.csv-uploader([formGroup]="form")
  input([formControlName]="controlName", hidden)

  .csv-uploader__handler
    .csv-uploader__button
      label
        input(type='file', csvUploader, [onLoadFile]="onLoadFile", [showCSVstatus]="showCSVstatus", #csvUploader, accept="text/csv")
        span([innerHTML]="'CSV_UPLOADER.TITLE' | translate ")

    am-core-tooltip(
    [tooltipText]="'CSV_UPLOADER.TITLE.TOOLTIP'"
    )

  .csv-uploader__alert
    .csv-uploader__alert--success(*ngIf="uploadedFilesLength > 0 && !hasRecords && !isError")
      p(*ngIf="incorrectInvitations !== 0", [translate]="'CSV_UPLOADER.ALERT.SUCCESS'",[translateParams]="{uploadedFilesLength: uploadedFilesLength, incorrectInvitations: incorrectInvitations}")
      p(*ngIf="incorrectInvitations === 0", [translate]="'CSV_UPLOADER.ALERT.NO_ANY_INCORRECT.SUCCESS'",[translateParams]="{uploadedFilesLength: uploadedFilesLength}")

    .csv-uploader__alert--info(*ngIf="hasRecords && !isError")
      p {{ 'CSV_UPLOADER.ALERT.NO_RECORDS' | translate }}

    .csv-uploader__alert--error
      am-core-validation-alert(
      [isVisible]="!form.valid",
      [validationTextKey]="showValidationAlert()"
      )