.messenger-maximized(data-ng-class="{'messenger-maximized-on': $ctrl.isMessenger}")
  .messenger-header(data-ng-if="$ctrl.expertName")
    span {{:: 'COMMUNICATOR.MESSENGER.HEADER.TITLE' | translate }}
      span.expert-name {{ $ctrl.expertName }}
    span.icon.icon-close-12(data-ng-click="$ctrl.minimizeMessenger()")

  .messenger-header(data-ng-if="!$ctrl.expertName")
    span {{:: 'COMMUNICATOR.MESSENGER.HEADER.EXPERT.TITLE' | translate }}
      | {{ $ctrl.expertName }}
    span.icon.icon-close-12(data-ng-click="$ctrl.minimizeMessenger()")

  .messenger-messages(ngf-drop="$ctrl.onUploadFiles($files)"
  ngf-drag-over-class="'dragover'" ngf-multiple="false")
    .messenger-scroll
      grouped-messages(data-ng-repeat="messages in $ctrl.groupedMessages track by $index" data-messages="messages"
        data-participant-avatar="{{ :: $ctrl.participantAvatar }}")
      .file-loader(data-ng-show="!!$ctrl.uploadedFile.progress")
      .file-upload-error(data-ng-show="!!$ctrl.isFileUploadError")
        a(data-ng-click="$ctrl.uploadAgain()") {{ 'COMMUNICATOR.TEXT_CHAT.UPLOAD_ERROR' | translate }}

      .messenger-message-incoming(data-ng-class="{'is-active': $ctrl.isTyping}" data-ng-show="$ctrl.isTyping")
        user-avatar.thumb.x48(data-image-token="$ctrl.participantAvatar")

        .connection-dots
          span
          span
          span

  messenger-input(data-on-send-message="$ctrl.onSendMessage" data-on-typing="$ctrl.indicateTypingDebounce"
    data-on-upload-files="$ctrl.onUploadFiles" data-is-file-uploading="$ctrl.uploadedFile.progress")
