@import "../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.messenger-maximized
  transition: opacity 0.3s, z-index 0s 0.3s
  background: $c-background-2
  position: absolute
  z-index: -$z-index-900
  right: 0
  bottom: 0
  width: 100%
  height: 100vh
  opacity: 0
  padding: $s-messenger-input-height 0 0 0

  +mdm
    right: 32px
    bottom: 120px
    height: 65%
    width: 320px
    border-radius: $s-border-radius
    animation: messenger-collapsed 0.3s
    animation-fill-mode: forwards
    padding: 0

  &.messenger-maximized-on
    transition: z-index 0s
    z-index: $z-index-900
    opacity: 1

    +mdm
      animation: messenger-collapsing 0.3s
      animation-fill-mode: forwards
      overflow: hidden

  .thumb
    width: 32px
    min-width: 32px
    min-height: 32px
    height: 32px

  .messenger-header
    background: $c-primary
    padding: 12px 8px 12px 16px
    display: flex
    justify-content: flex-start
    align-items: center
    max-height: $s-messenger-input-height
    height: $s-messenger-input-height
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: $z-index-100

    +mdm
      justify-content: space-between
      top: 0
      position: static
      width: inherit

    span
      +paragraphTitle
      color: $c-white
      position: relative
      z-index: $z-index-100

      &.expert-name
        padding: 0 0 0 4px

      &.icon
        transition: opacity 0.3s
        opacity: 0.3
        font-size: $f-icon-22
        cursor: pointer

        &:hover
          opacity: 1

    .mobile-only
      +mdm
        display: none

      &.icon
        opacity: 1
        order: -1
        margin: 0 8px 0 0

    .desktop-only
      display: none

      +mdm
        display: inline


.messenger-message-incoming
  display: flex
  align-items: center

  .thumb
    margin: 0 16px 0 0

.messenger-messages
  display: flex
  align-items: flex-end
  width: 100%
  padding: 4px 0
  position: fixed
  left: 0
  top: $s-messenger-input-height
  height: calc(100% - (#{$s-messenger-input-height} * 2))

  +mdm
    position: relative
    top: inherit

  &.dragover
    opacity: 0.2
    background: $c-background

  > .messenger-scroll
    padding: 0 16px
    position: relative
    max-height: 100%
    flex: 1 0 100%
    overflow-y: scroll
    -webkit-overflow-scrolling: touch

    .file-loader
      .preloader-container
        width: 100%
        height: 64px
        text-align: center
        position: relative
        background: transparent

        .content-loader
          position: absolute
          display: flex
          align-items: center
          justify-content: flex-end
          width: 100%
          min-width: 64px
          top: 0
          left: 0
          margin: auto 0
          height: 100%
          content: ""

          span
            width: 32px
            height: 32px
            border: 1px solid $c-lines
            border-top-color: $c-primary
            border-radius: 50%
            animation: loader-rotate 1s linear infinite

    .file-upload-error
      +default-font-regular
      font-size: 12px
      color: $c-secondary-txt
      text-align: center
      width: 100%
      &:hover
        color: $c-primary-dark

.connection-dots
  display: flex

  span
    display: flex
    align-items: center
    justify-content: center
    width: 8px
    height: 8px
    margin: 0 2px
    position: relative

    &::after
      content: ""
      display: block
      background: $c-primary-txt
      border-radius: 8px
      overflow: hidden
      width: 4px
      height: 4px
      animation: connecting-dot 1.4s infinite
      animation-timing-function: ease-in-out
      opacity: 0.5

    @for $i from 1 through 3
      &:nth-child(#{$i})
        &::after
          animation-delay: $i * 0.2s
