.step-active
  background-color: $c-background-2
  border: 1px solid $c-lines

  .upload-field
    img
      margin-top: 30px
      max-height: 150px

  h3
    color: $c-primary-txt
    margin-bottom: 24px

  .title-step
    p
      color: $c-secondary-txt

  .step-description
    .icon,
    .step-counter
      color: $c-secondary-txt
