.step
  +transition(background 0.3s)
  padding: 48px 0 98px
  margin: 0
  background: none

  +lgm
    padding: 128px 0 178px

  &.step-active
    background: $c-background
    padding: 48px 0

    +lgm
      padding: 128px 0

    .step-description
      color: $c-complete

    h3
      color: $c-primary-txt

    .upload-field
      background: $c-white

  &.last-step
    padding: 32px 0

    +smm
      padding: 64px 0
