.step-active
  background-color: $c-background-2
  border: 1px solid $c-lines

  .upload-field
    img
      margin-top: 30px
      max-height: 150px

  h3
    color: $c-primary-txt
    margin-bottom: 24px

  .title-step
    p
      color: $c-secondary-txt

  .step-description
    .icon,
    .step-counter
      color: $c-secondary-txt

  .step-content

    .option

      h5
        color: $c-primary

      span
        color: $c-primary

      &:hover
        +transition('all 0.1s ease-in-out 0s')
        background-color: $c-background

        h5, span
          color: $c-primary

    .selected
      box-shadow: 0 0 0 2px $c-primary-txt

      h5, span
        color: $c-primary-txt

      &:hover
        background-color: $c-primary

        h5, span
          color: $c-white
