.step-description
  +default-font-bold
  color: $c-success
  margin: 0 0 16px


  .step-counter,
  .icon
    font-size: $f-paragraph-title

  .step-counter
    text-transform: uppercase
    margin: 0 16px 0 0

.create-profile
  padding: 0 0 48px

  .step
    color: $c-lines
    position: relative

    .focus-layer
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

    .title-step
      text-align: center

      h3
        color: $c-primary-txt

        &.choose-path-title
          margin-bottom: 0

      .title-order
        margin: 0 0 64px

        p
          color: $c-secondary-txt

    .step-content-column
      .upload-trash
        padding: 16px 8px

        span
          font-size: $f-subheader

          .ui-select-match
            position: absolute

          .ui-select-match-item
            +border-radius($-radius-4)
            background-color: $c-primary-txt
            padding: 3px 5px
            margin-left: 6px
            position: relative

            span
              +default-font-bold
              text-transform: uppercase
              color: $c-white
              padding-left: 6px
              font-size: $f-input-small

            .ui-select-match-close
              padding: 5px 3px 5px 0
              position: absolute
              left: 0
              font-size: $f-paragraph-title

        input
          font-size: $f-subheader

      .upload-field-description

        p
          text-transform: uppercase
          margin: 20px 0 0 25px
          position: absolute

      .button-next-step
        margin: 35px 0 25px
        text-align: right

        .btn-secondary
          margin-right: 10px

        h3
          margin: 43px 0

        .icon
          font-size: $f-input-small

        .link-add-icon
          color: $c-primary
          font-size: $f-header
          text-transform: none
          font-style: normal
          border-left: 1px solid $c-lines

      .document
        margin-top: $f-input-small

        a
          width: auto
          text-align: left

      .document-container
        margin-bottom: 24px

        .summary-list
          font-size: $f-paragraph
          color: $c-primary-txt
          margin-bottom: 24px

        .links-submit
          .label-files
            color: $c-secondary-txt
            font-size: $f-subheader
            background: none
            margin: 0 0 16px

    .step-content
      display: flex

      .service-option
        border-radius: $border-radius-default
        border: 1px solid $c-lines
        cursor: pointer
        text-align: center
        flex: 1
        padding: 48px 0
        position: relative

        .icon-success-12
          position: absolute
          font-size: 12px !important
          left: 0
          right: 0
          margin: auto
          bottom: -10px
          width: 20px
          height: 20px
          border-radius: 50%
          background: $c-primary
          color: $c-white !important
          display: flex
          align-items: center
          justify-content: center
          display: none

        &:hover
          +transition('background-color .1s ease-in-out 0s')
          border-color: $c-primary
          box-shadow: inset 0 0 0 1px $c-primary

          .icon-success-12
            display: flex

        &.selected
          border-color: $c-primary
          box-shadow: inset 0 0 0 1px $c-primary

          .icon-success-12
            display: flex

        &:first-child
          margin: 0 8px 0 0

        &:last-child
          margin: 0 0 0 8px


        p
          +default-font-bold
          color: $c-primary-txt

        .icon
          font-size: $f-header
          color: $c-primary-txt

          +smm
            font-size: $f-header-big

    .step-control
      display: flex
      justify-content: flex-end

      +smm
        justify-content: flex-end

      button
        width: 50%
        margin: 0

        +smm
          width: auto

        &:first-child
          margin: 0 8px 0 0


.header-handler
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 0 32px
  border-bottom: 1px solid $c-lines
  margin: 0 0 32px

  .summary-step-title
    flex: 4

    h3
      font-size: $f-subheader
      color: $c-primary-txt

    .consultation-price
      +default-font-bold
      color: $c-success
      font-size: $f-paragraph-title

  .btn-handler
    flex: 1
    text-align: right

    span
      text-transform: uppercase
