.step-done
  border: 0
  
  h3
    color: $c-primary-txt
    margin-bottom: 24px

  .title-step

    p
      color: $c-secondary-txt

  .step-description
    .step-counter,
    .icon
      color: $c-success
