.step-done
  h3
    color: $c-primary-txt
    margin-bottom: 24px

  .step-content-column
    margin-top: 30px

  .title-step

    p
      color: $c-secondary-txt

  .step-description
    .step-counter,
    .icon
      color: $c-success
