.profile-gallery.photo-gallery
  ul
    li(data-ng-repeat="document in $ctrl.documents | limitTo: $ctrl.documentsLimit ")
      a(data-ng-click="$ctrl.createGalleryPreviewControllerModal(document.token)")
        img(data-ng-src="{{ $ctrl.createUrl(document.token) }}")

    li.show-more(data-ng-if="$ctrl.idDocumentsContainerCollapsed"
    data-ng-click="$ctrl.createGalleryPreviewControllerModal($ctrl.lastDocument.token)")
      a
        img(data-ng-src="{{ $ctrl.createUrl($ctrl.lastDocument.token) }}")
        span {{ $ctrl.documentsCollapsedLength }}
