.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_CHOOSE_PROFILE_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_CHOOSE_PROFILE_DESCRIPTION")
    
  .step-content
    a.option(data-ui-sref="app.dashboard.service-provider.individual-path")
      span.icon.icon-person-128
      h5(data-translate="DASHBOARD.MENU.STEP1_ONE_PERSON")
    a.option(data-ui-sref="app.dashboard.service-provider.company-path")
      span.icon.icon-multiperson-128
      h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_MORE_PERSON")
