.chat-history
  .chat
    .messenger-scroll
      preloader(data-is-loading="$ctrl.isLoading")
        a.btn.btn-primary(data-ng-if="$ctrl.isError" data-ng-click="$ctrl.getRoomHistory()"
          data-translate="CHAT_HISTORY.ERROR_BUTTON")

        .messenger-messages
          grouped-messages(data-messages="$ctrl.chatMessages" data-ng-if="$ctrl.isChatHistory")
          h5.no-chat-history(data-ng-if="!$ctrl.isChatHistory" data-translate="CHAT_HISTORY.NO_CHAT")
