slider
  position: relative
  left: 0
  +transition(left .5s)

/* new slider component */
.slider-slides
  transition: left 0.5s ease-in-out
  width: 100%
  position: relative
  background: #fff
  overflow: hidden

.slider
  transition: left 0.5s
  display: flex
  margin: 0 -32px
  position: relative
  left: 0

  .slides
    text-align: center
    flex: 0 0 100%
    display: flex
    align-items: stretch
    padding: 0 32px 0 0
    height: 192px

    +smm
      flex: 0 0 40%
      width: 40%
      border-top: 0
      height: 288px

    +lgm
      flex: 0 0 25%
      width: 25%

  .slider-item
    border: 1px solid $c-lines