scrollable(data-is-fullscreen="isFullscreen" data-is-navbar="isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="onModalClose")

  .settings-modal.general-modal.phone-settings
    .default-container-small
      p.title Password
