@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import "../../../../../../template/core/helpers/grid"

%transition
  transition: background 0.3s ease, color 0.3s ease

.company-profile-consultation-row
  &__add-consultation
    margin: 0 0 4px
    padding: 20px 12px
    display: flex
    justify-content: center
    align-items: center
    height: 88px
    border-radius: 4px
    background-color: $c-white

    +smm
      padding: 20px 24px

    &:hover
      span
        color: $c-primary
        background-color: transparent

      span
        @extend %transition
        color: $c-primary

  &__text
    +button-small
    margin: 0 0 0 16px

  &__row
    display: block
    border-radius: 4px
    background-color: $c-white
    margin: 0 0 4px

    &:last-child
      margin: 0
