div
  .footer-container
    .header-content
      .top-footer
        .left
          p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.TALKS_MORE_COMFORTABLE")
          img(src="assets/images/app_store.png")
          img(src="assets/images/google_play.png") 
        .right
          div
            p.parent(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_PARTNER_SPACE")
            p(data-translate="HOME.FOOTER.ADVANTAGE_TO_PARTNERS")
            p(data-translate="HOME.FOOTER.ABOUT_US")
            p(data-translate="HOME.FOOTER.INTEGRATION")
          div
            p.parent(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_COMPLAINTS")
            p(data-translate="HOME.FOOTER.REFUND")
            p(data-translate="HOME.FOOTER.RECORD_CALLS")
          div
            p.parent(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_OTHER")
            p(data-translate="HOME.FOOTER.BLOG")
            p(data-translate="HOME.FOOTER.FAQ")
            p(data-translate="HOME.FOOTER.RULE")
            p(data-translate="HOME.FOOTER.privacy_policy")
      .bottom-footer
        .left
          p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.FOOTER_COPYRIGHT")
        .right
          p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.FOOTER_CALL_TEXT")
          p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.MAIL_FOOTER")
