@keyframes rotate360Deg
	0%
		transform: rotate(0)

	100%
		transform: rotate(360deg)

@keyframes input-border-line-animation
	0%
		width: 0

	100%
		width: 100%
		background: $c-text-primary

@keyframes input-border-line-animation-out
	0%
		width: 100%

	100%
		width: 0

@keyframes input-border-line-animation-error
	0%
		width: 0

	100%
		width: 100%
		background: $c-error-primary

@keyframes loader-rotate
	0%
		transform: rotate(0)

	100%
		transform: rotate(360deg)

@keyframes input-border-line-animation
	0%
		width: 0

	100%
		width: 100%
		background: $c-text-primary

@keyframes input-border-line-animation-out
	0%
		width: 100%

	100%
		width: 0

@keyframes input-border-line-animation-error
	0%
		width: 0

	100%
		width: 100%
		background: $c-error-primary
