@import "../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../template/profitelo_theme/stylesheets/core/core"

.consultation
	min-height: 100vh
	padding: calc(50vh - 148px) 0 50vh 0
	text-align: left

	.hint
		display: flex
		align-items: center

		p
			+paragraphTitle

	.price-mock
		display: flex
		align-items: flex-end
		height: $f-input-height
		position: absolute
		left: 0
		top: 0

	.input-price
		position: relative

		.input
			background: none

			input
				background: none

		p
			line-height: 48px
			color: $c-white

			&.price-placeholder
				font-size: $f-input-big

				span
					line-height: 48px

					&.currency
						margin: 0 0 0 4px
						color: $c-secondary-txt

