ul.nologin-state
  li.navbar-nav
    ul
      li
        a
          span.mobile-only.icon.icon-suitcase-24
          span(data-translate="NAVIGATION.MENU_ITEMS.ABOUT_US")
      li
        a
          span.mobile-only.icon.icon-login-24
          span(data-translate="NAVIGATION.MENU_ITEMS.HOW_IT_WORKS")
      li
        a
          span.mobile-only.icon.icon-login-24
          span(data-translate="NAVIGATION.MENU_ITEMS.FOR_EXPERTS")
      li
        a.btn.btn-primary.btn-small(data-translate="NAVIGATION.MENU_ITEMS.JOIN_OR_LOGIN"
        data-ui-sref="app.login.account")

  li.navbar-notifications
    ul
      li.navbar-parent
        a
          span.navbar-item-handler
            span.icon.icon-questionmark-24
            span.mobile-title(data-translate="NAVIGATION.MENU_ITEMS.HELP")
          span.mobile-only.icon.icon-next-24
