ul.nologin-state.navbar-list
  li.navbar-nav
    ul.menu-list.navbar-list
      li(data-ui-sref-active="is-active")
        a
          span.mobile-only.icon.icon-info-24
          span(data-translate="NAVIGATION.MENU_ITEMS.ABOUT_US")
      li(data-ui-sref-active="is-active")
        a
          span.mobile-only.icon.icon-how-it-works-24
          span(data-translate="NAVIGATION.MENU_ITEMS.HOW_IT_WORKS")
      li(data-ui-sref-active="is-active")
        a
          span.mobile-only.icon.icon-for-experts-24
          span(data-translate="NAVIGATION.MENU_ITEMS.FOR_EXPERTS")
      li
        a.btn.btn-primary.btn-small.sign-in(data-ui-sref="app.login.account")
          span.mobile-only.icon.icon-sign-in-24
          span(data-translate="NAVIGATION.MENU_ITEMS.JOIN_OR_LOGIN")

  li.navbar-notifications
    ul.menu-list.navbar-list
      li.navbar-parent
        a
          span.navbar-item-handler
            span.icon.icon-questionmark-24
            span.mobile-title(data-translate="NAVIGATION.MENU_ITEMS.HELP")
          span.mobile-only.icon.icon-next-24
