ul.ui-select-choices.ui-select-choices-content.select2-results
    li.ui-select-choices-group(ng-class="{'select2-result-with-children': $select.choiceGrouped($group) }")
        .ui-select-choices-group-label.select2-result-label(ng-show='$select.choiceGrouped($group)', ng-bind='$group.name')
        ul(role='listbox', id='ui-select-choices-{{ $select.generatedId }}', ng-class="{'select2-result-sub': $select.choiceGrouped($group), 'select2-result-single': !$select.choiceGrouped($group) }")
            li.ui-select-choices-row(role='option', id='ui-select-choices-row-{{ $select.generatedId }}-{{$index}}', ng-class="{'select2-highlighted': $select.isActive(this), 'select2-disabled': $select.isDisabled(this)}")
                .select2-result-label.ui-select-choices-row-inner