.profile-header
  .container
    .profile-header-container
      .profile-header-logo
        user-avatar.thumb.x128(data-image-token="$ctrl.profileDetails.avatar || $ctrl.profileDetails.logo")

      .profile-content
        .profile-content-header
          header.entry-title
            .profile-name
              h3 {{ $ctrl.profileDetails.name }}

              .status-list(data-ng-if="$ctrl.checkType()")
                span.status.availability
                  span.icon.icon-success-12
                  span.status-title {{"STATUS.AVAILABLE.TITLE" | translate }}

          ul.social-links(data-ng-if="$ctrl.profileDetails.links")
            li(data-ng-repeat="link in $ctrl.profileDetails.links")
              a.btn.btn-circle(href="{{link}}" target="_blank")
                span.icon(pro-social-icon-getter data-url="link")

          .edit-profile
            a(data-ng-click="$ctrl.deleteProfile()")
              span.icon.icon-trash-24

            a(data-ng-click="$ctrl.editProfile()")
              span.icon.icon-edit-24

        .profile-content-description
          p(data-ng-bind-html="$ctrl.profileDetails.description | newLineFilter")

        profile-gallery(data-documents="$ctrl.documents")



