.pro-top-title-row.title-row
  h3(data-translate="DASHBOARD.CREATE_PROFILE.CREATE_PROFILE_TITLE")
  a(data-ui-sref="app.dashboard.start").pro-button.round.icon.primary.small
    span.icon.icon-close-16
