.container
  width: 100%
  padding: 0
  position: relative
  &.main-container
    margin: 0
    +smm
      margin: 0 0 0 96px
    .menu-toogle
      z-index: 20
      position: fixed
      margin-top: 24px
      margin-left: 12px
      padding: 12px 9px 3px
      width: 48px
      height: 48px
      +border-radius(50px)
      outline: none
      border: none
      box-shadow: none
      +smm
        z-index: 0
        margin-left: 24px
    .slide-out
      margin-left: 100px
      +transition
      z-index: 11
      +smm
        margin-left: 0
    .right-container
      position: absolute
      min-height: 100vh
      +transition
      background-color: $c-white
      z-index: 10
      width: 100%
      overflow-y: hidden
      -webkit-overflow-scrolling: touch
      padding-bottom: 130px
      +smm
        width: calc(100% - 95px)
      h2
        margin: 0
