.pro-expert-slider.experts-consultation-slider
  margin: 0
  background: $c-background
  padding: 0 0 32px

  .slider-header
    padding: 0 16px

    +lgm
      padding: 0 32px

  .slider-container
    padding: 0 16px
    position: relative

    +lgm
      padding: 0 64px

  .slider-slides
    background: none

    .slides
      height: 48px

  .slider-item
    justify-content: flex-start
    border: 0

    +lgm
      padding: 0 32px

  .arrow-slider
    position: absolute
    top: 0
    bottom: 0
    margin: auto

    &.arrow-left
      left: 16px

      +smm
        left: 32px

    &.arrow-right
      right: 16px

      +smm
        right: 32px
