.pro-chat-message-modal.client-advice-options.modal-checkbox
	.modal-header
		h4(data-translate="DASHBOARD.INVITATION.MODAL.CLIENT_ADVICE")

	.modal-contents
		.modal-description
			p(data-translate="DASHBOARD.INVITATION.MODAL.SEND_NOTIFICATION_WHEN_AVAILABLE")

		.modal-buttons
			button.pro-button.rectangle.error.icon(data-ng-click="vm.dismissWindow()" data-translate="DASHBOARD.INVITATION.REJECT")
			button.pro-button.rectangle.succes.icon(data-ng-click="vm.pickUpCall()" data-translate="DASHBOARD.INVITATION.MODAL.PICK_UP_CALL")

		.additional-options
			button.pro-button.rectangle.primary(data-ng-click="vm.moreOptions(0)" data-translate="DASHBOARD.INVITATION.MODAL.REJECT_ONLY_THIS_CONVERSATION")
			button.pro-button.rectangle.primary(data-ng-click="vm.moreOptions(1)" data-translate="DASHBOARD.INVITATION.MODAL.REJECT_MAJORITY")
			button.pro-button.rectangle.primary(data-ng-click="vm.moreOptions(2)" data-translate="DASHBOARD.INVITATION.MODAL.REJECT_GO_TO_SETTINGS")

