@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import "~@anymind-ng/core/src/template/stylesheets/interface/input/input-containers"

.pin-code-view
  .send-again
    margin: 16px 0 0

    p
      +button-small
      font-weight: 400
      color: $c-text-secondary

    &__link
      +button-small
      font-weight: 500
      color: $c-primary

  am-core-submit-button
    margin: 48px 0 0

  .rodo-policy
    margin: 40px 0 0
    text-align: left
    font-size: 10px
    color: $c-text-secondary
    line-height: 14px
