@import "../../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/variables/colors"
@import "../../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/helpers/mixins"

.pin-code-view
  input-checkbox
    &::ng-deep
      a
        margin: 0 0 0 4px
        color: $c-primary

  .send-again
    margin: 16px 0 0

    p
      +buttonTextSmall
      font-weight: 400
      color: $c-text-secondary

    &__link
      +buttonTextSmall
      font-weight: 500
      color: $c-primary

  submit-button
    margin: 48px 0 0
