@import "../../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/variables/variables"
@import "../../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/helpers/helpers"

.pin-code-view
  input-checkbox
    &::ng-deep
      a
        margin: 0 0 0 4px
        color: $c-secondary

  .send-again
    margin: 16px 0 0

    p
      +paragraphSmall

    &__link
      +paragraphSmall
      font-weight: 500
      color: $c-secondary

  submit-button
    margin: 48px 0 0
