@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

span + span
  margin: 0 0 0 5px

.consultation-experts-layout
  +subtitle-small
  color: $c-label
  display: flex
  align-items: center
