a.last-activities(href="#")
  .last-activity-details
    .last-activity-icon
      span.icon.icon-outgoing-call-24

    div
      .last-activity-icon
        span.icon.icon-outgoing-call-24

      .last-activity-about
        .last-activity-date
          span  Wt. 16.06.2017
        status()

      h3 Wegetarianizm - jak zupelnic braki w diecie

  .last-activity-profile
    .profile-preview
      .thumb.x32
        img.user-avatar(src="/asd")

      .profile-name
        span Jan Kowalski Zbiniew-ziobro-cebula

    .price-small
      span.sign +
      span 0 PLN

.show-more-results
  a.btn.btn-primary(data-translate="DASHBOARD.CLIENT.ACTIVITIES.SHOW_MORE_RESULTS")