@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.input-dropdown-tag
	position: relative

	.input-group
		z-index: $z-index-100

	.dropdown-input
		position: absolute
		top: 0

	.hint
		margin: 0 0 16px

	.tag-list
		li
			a
				+default-font-medium
				height: 32px

		.icon
			font-size: $f-icon-16
			margin: 0 0 0 8px
