.input-group.correct
  input(placeholder="{{placeholder}}" data-ng-model="proModel")
  label {{label}}
  span.cross-addon.icon.icon-tiny-close.icon-tiny(data-ng-show="proModel" data-ng-click="proModel = ''")
