.login-mobile-footer
  p(translate="LOGIN.DOWNLOAD_MOBILE_APP")
  .logos-container
    image-display(
      imgName="google_play",
      altDescription="google_play",
      (click)="openGooglePlayStoreInNewTab()"
    )
