@import "~@anymind-ng/components/src/template/stylesheets/core/helpers/helpers"
@import "~@anymind-ng/components/src/template/stylesheets/core/variables/variables"

.login-mobile-footer
  +xsm
    display: none

  p
    margin: 0 0 16px

  .logos-container
    display: flex
    justify-content: center

    image-display
      &:first-of-type
        margin: 0 16px 0 0
