@import "~@anymind-ng/core/src/template/stylesheets/core/core"

.login-mobile-footer
  margin: 48px 0 0

  +xsm
    display: none

  p
    margin: 0 0 16px

  .logos-container
    display: flex
    justify-content: center
    max-width: 160px

    image-display
      cursor: pointer
