@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"

.navbar-help
  .icon
    font-size: 32px
    color: $c-text-primary

    &:hover
      color: $c-primary
