.default-container
  .expert-profile
    .expert-profile-details
      .expert-profile-content
        ul.share-links
          li
            a.btn.btn-circle
              span.icon.icon-voice-24
          li
            a.btn.btn-circle
              span.icon.icon-heart-24
          li
            a.btn.btn-circle
              span.icon.icon-share-24

        .thumb.thumb-medium
          img.circle.user-avatar(data-ng-src='{{avatar}}' alt='{{profile.name}}' data-ng-class='{"is-not-uploaded": !avatar}')
        h3 {{ profile.name }}
        .status-list(data-ng-hide="profile.type == 'company'")
          span.status.availability {{ 'HOME.EXPERT_CARD_AVAILABLE' | translate }}

        .languages-section
          span(data-translate="DASHBOARD.EXPERT_ACCOUNT.LANGUAGES")

          ul.languages-list(data-ng-hide="profile.type == 'company'")
            li(data-ng-repeat="lang in profile.languages")
              span {{" " + lang + " "}}

        .expert-collaborators(data-ng-hide="profile.type == 'company'")
          p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.COOPERATE_WITH")

          ul.collaborators-list(data-ng-if="profile.type !== 'company'")
            li.collaborators-item.thumb(data-ng-repeat = "organization in profile.colaboratedOrganizations")
              img.user-avatar(data-ng-class="{'is-not-uploaded': collaboratorImage(organization.organizationDetails.logo)}"
              data-ng-src=" {{ collaboratorImage(organization.organizationDetails.logo) }}")

    .expert-profile-description
      show-more-text(data-text="profile.description")
