div
  .header-container
    .header-content
      .company-list
        p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.COOPERATE_WITH")
        .company-logo
          img(src="/assets/images/John_Doe.jpg")
          img(src="/assets/images/John_Doe.jpg")
          img(src="/assets/images/John_Doe.jpg")
      .personal-info
        img(ng-src='{{profile.avatar}}' alt='user-avatar')
        h3 {{ profile.name }}  
        .status
          span Dostępny
        .languages
          span(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.PROVIDER_LAGUAGES")
          span(ng-repeat="lang in profile.languages") {{ lang + ", "}} 
      .statistic
        .social-icon
          i.icon.icon-tumblr-24
          p 235
        .social-icon
          i.icon.icon-facebook-24
          p 76
        
  .header-container
    .header-content
      .quote-icon
        i.icon.icon-quote-24
        .description
          p {{ profile.description }}
        .more-icon
          p ...
