.expert-profile-header
  .expert-profile-details
    .expert-profile-content
      ul.share-links
        li
          a.btn.btn-circle
            span.icon.icon-voice-24
        li(data-ng-class="{'selected': profile.isFavourite}" data-ng-click="handleLike()")
          a.btn.btn-circle
            span.icon.icon-heart-24
        li
          a.btn.btn-circle
            span.icon.icon-share-24

      .thumb.x128
        img.circle.user-avatar(data-ng-src='{{handleUserImage(profile.avatar || profile.logo)}}'
        alt='{{profile.name}}' data-ng-class='{"is-not-uploaded": !profile.avatar && !profile.logo}')
      h3 {{ profile.name }}
      .status-list(data-ng-hide="profile.type == 'company'")
        span.status.availability {{ 'HOME.EXPERT_CARD_AVAILABLE' | translate }}

      .languages-section(data-ng-hide="!profile.languages || profile.languages.length < 1 || profile.type === 'company'")
        span(data-translate="DASHBOARD.EXPERT_ACCOUNT.LANGUAGES")
        ul.languages-list
          li(data-ng-repeat="lang in profile.languages")
            span {{" " + lang + " "}}
      .expert-collaborators(data-ng-hide="checkCollaboratedExperts()")
        p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.COOPERATE_WITH")

        ul.collaborators-list
          li.collaborators-item(data-ng-repeat = "organization in profile.colaboratedOrganizations")
            a.thumb.x48(data-ui-sref="app.company-profile({contactId: organization.id})")
              img.user-avatar(data-ng-class="{'is-not-uploaded': handleUserImage(organization.img)}"
              data-ng-src=" {{ handleUserImage(organization.img) }}")

  .expert-profile-description
    show-more-text(data-text="{{::profile.description}}")
