div
  .header-container
    .header-content
      .company-list
        p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.COOPERATE_WITH")
        .company-logo
          img(src="http://www.alluserpics.com/data/media/29/00857.jpg")
          img(src="http://bridgingapps.org/wp-content/uploads/2011/02/mzi.uyuawjzh.100x100-751.jpg")
          img(src="http://koolmobile.net/wp-content/uploads/2011/12/AngryBirds-Logo-100x100.jpg")
      .personal-info
        img(ng-src='{{avatar}}' alt='user-avatar')
        h3 {{ name }}  
        .status
          span Dostępny
        .languages
          span(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.PROVIDER_LAGUAGES")
          span(ng-repeat="lang in languages") {{ lang + ", "}} 
      .statistic
        .social-icon
          i.icon.icon-tumblr-24
          p 235
        .social-icon
          i.icon.icon-facebook-24
          p 76
        
  .header-container
    .header-content
      .quote-icon
        i.icon.icon-quote-24
        .description
          p {{ description }}
        .more-icon
          p ...
