div
  .header-container
    .header-content
      .company-list
        p Współpracuje z
        .company-logo
          img(src="http://www.alluserpics.com/data/media/29/00857.jpg")
          img(src="http://bridgingapps.org/wp-content/uploads/2011/02/mzi.uyuawjzh.100x100-751.jpg")
          img(src="http://koolmobile.net/wp-content/uploads/2011/12/AngryBirds-Logo-100x100.jpg")
      .personal-info
        img(src='assets/images/John_Doe.jpg' alt='user-avatar')
        h3 Mitchell Freeman
        .status
          span Dostępny
        .languages
          span Świadczy usługę w językach: Polski, Angielski, Niemiecki
      .statistic
        .social-icon
          i.icon.icon-tumblr-24
          p 235
        .social-icon
          i.icon.icon-facebook-24
          p 76
        
  .header-container
    .header-content
      .quote-icon
        i.icon.icon-quote-24
        .description
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .more-icon
          p ...
