.pro-expert-header
  .header-container
    .default-container
      .header-content
        .statistic
          .social-icon
            span.pro-btn.btn-icon.icon.icon-heart-16
            p 235
          .social-icon
            span.pro-btn.btn-icon.icon.icon-share-16
            p 76
        .personal-info
          img.circle.empty-avatar-placeholder(data-ng-src='{{avatar}}' alt='{{profile.name}}')
          h3 {{ profile.name }}
          .status(data-ng-hide="profile.type == 'company'")
            span Dostępny
          .languages(data-ng-hide="profile.type == 'company'")
            span(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.PROVIDER_LAGUAGES")
            span(data-ng-repeat="lang in profile.languages") {{" " + lang + " "}} 
        .company-list(data-ng-hide="profile.type == 'company'")
          p(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.COOPERATE_WITH")
          .company-logo
            img.circle.thumb.empty-avatar-placeholder(data-ng-src="{{ company-logo }}")

  .header-container
    .default-container
      .header-content
        .description
          p {{ profile.description }}          
          .quote-icon
            span.pro-btn.btn-icon.icon.icon-quote-24      
          .more-icon
            span.pro-btn.btn-light.icon.icon-arrow-down-12
