extends ../../../templates/wizard/section-controlls.partial.jade

block content
    .step-content-column
        pro-tags-dropdown(data-pro-items="languages"
        data-placeholder="{{'DASHBOARD.CREATE_PROFILE.STEP5_PLACEHOLDER' | translate}}"
        data-pro-model="model.languages" data-ng-click="onClick()" disable-tagging)
    .input-error-messages
      .error(data-translate="DASHBOARD.CREATE_PROFILE.LANGUAGES_ERROR" data-ng-show="badLanguages")
