extends ../../../templates/wizard/section-controlls.partial.jade

block content
    .step-content-column
        pro-tags-dropdown(data-pro-items="languages" data-placeholder="np.Język Angielski" data-pro-model='langModel' data-ng-click="onClick()" data-ng-enter="onEnter()")
