.payment-method
  margin: 0 0 64px

  .choose-options
    .choose-options-item
      +smm
        flex: 1 0 33.33333%

      .option
        height: 160px
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center

        +mdm
          margin: 0

        img
          +mdm
            max-width: 80%

        .option-thumb
          max-height: 48px

          img
            max-height: 48px

        p
          +default-font-heavy
          text-transform: uppercase
          font-size: $f-base
          padding: 16px 0 0
