.navbar
  .navbar__left-container
    .navbar__logo
  .navbar__right-container
    .navbar__navigation-menu

      plat-user-navigation(
        [navigationItems]="navigationItems",
        [userAvatarToken]="userAvatarToken",
        [userName]="userName",
        [userType]="userType",
        [accountId]="accountId",
        [switchAccountAvatarToken]="switchAccountAvatarToken",
        [switchAccountType]="switchAccountType",
        [isMenuVisible]="isMenuVisible$ | async",
        (switchAccount)="onSwitchAccount($event)",
        [isUserVisible]="isUserVisible$ | async",
        (changeVisibility)="onSwitchVisibility($event)"
      )


