.pro-search-dropdown
  .search-bar-container
    span.icon.icon-search-24
    input.search-bar-shadow(type="text" disabled data-ng-model="vm.suggestions.primary")
    input.search-bar(type="text" placeholder="{{::'HOME.SEARCH_PLACEHOLDER' | translate}}"
    data-ng-model="vm.ngModel" data-ng-enter="vm.search()" data-ng-trim="false"
    data-ng-focus="vm.onFocus()" data-ng-blur="vm.onFocusOut()")
    a.icon.icon-close-16(data-ng-click="vm.clearModel()" data-ng-show="!!vm.ngModel && vm.ngModel.length > 0")
    .results-input(data-ng-if="vm.showResultsCounter()")
      span {{ vm.searchCount }} {{ "SEARCH.RESULTS" | translate }}
    .dropdown-container(data-ng-show="!vm.isCollapsed && vm.suggestionsLength > 0",
      data-ng-mouseleave="vm.onDropdownMouseLeave()" data-ng-mouseenter="vm.onDropdownMouseEnter()")
      preloader(data-wait-for-response="vm.loadingSuggestion" data-min-timeout="0")
        term-suggestions(data-terms="vm.suggestions.terms" data-category-slugs="vm.categorySlugs" data-search-model="vm.ngModel")
        tag-suggestions(data-tags="vm.suggestions.tags" data-search-model="vm.ngModel")
        service-suggestions(data-services="vm.suggestions.services" data-search-model="vm.ngModel")
        expert-suggestions(data-experts="vm.suggestions.experts" data-search-model="vm.ngModel")
        organization-suggestions(data-organizations="vm.suggestions.organizations" data-search-model="vm.ngModel")

