.pro-range-slider
  .rzslider
    .rz-bar
      background: $c-lines

      &.rz-selection
        background: $c-primary-txt

    .rz-pointer
      background: $c-white
      border: 3px solid $c-primary-txt
      width: 15px
      height: 15px
      top: -6px
      border-radius: 50%