.pro-range-slider
  position: relative

  > span
    +default-font-heavy
    color: $c-label
    text-transform: uppercase
    position: absolute
    top: 12px
    left: 0
    font-size: $f-h6-size

  .rzslider
    margin: 40px 0 15px 0

    > :nth-last-child(2)
      background: red
      display: none

    .rz-bar
      background: $c-background-5

      &.rz-selection
        background: $c-primary

    .rz-pointer
      background: $c-primary
      border: 2px solid $c-white
      width: 16px
      height: 16px
      top: -6px
      border-radius: 50%
      outline: 0

      &::after
        content: none !important

    .rz-bubble
      +default-font-heavy

      &.rz-from
        +default-font-regular
        font-size: $f-paragraph
        left: auto !important
        right: 25px !important
        visibility: visible !important

        &::after
          content: "-"
          margin: 0 8px

      &.rz-to
        +default-font-regular
        font-size: $f-paragraph
        left: auto !important
        right: 0 !important
        opacity: 1 !important
        visibility: visible !important

      &.rz-limit
        &.rz-floor
          display: none
        &.rz-ceil
          display: none
