.pro-range-slider
  position: relative

  > span
    +default-font-bold
    color: $c-tertiary-txt
    text-transform: uppercase
    position: absolute
    top: 12px
    left: 0
    font-size: $f-input-small

  .rzslider
    margin: 40px 0 15px 0

    > :nth-last-child(2)
      display: none

    .rz-bar
      background: $c-background

      &.rz-selection
        background: $c-primary

    .rz-pointer
      background: $c-primary
      border: 2px solid $c-white
      width: 16px
      height: 16px
      top: -6px
      border-radius: 50%
      outline: 0

      &::after
        content: none !important

    .rz-bubble
      +default-font-bold

      &:last-of-type
        display: none !important

      &.rz-from
        +default-font-regular
        font-size: $f-paragraph
        color: $c-secondary-txt
        left: auto !important
        right: 95px !important
        visibility: visible !important
        bottom: 13px

        &::after
          content: "-"
          margin: 0 4px

      &.rz-to
        +default-font-regular
        font-size: $f-paragraph
        color: $c-secondary-txt
        left: auto !important
        right: 70px !important
        opacity: 1 !important
        visibility: visible !important
        bottom: 13px

      &.rz-limit
        &.rz-floor
          display: none
        &.rz-ceil
          display: none

  .currency
    +default-font-regular
    font-size: $f-paragraph
    visibility: visible !important
    color: $c-secondary-txt
    text-transform: uppercase
    position: absolute
    bottom: 14px
    right: 0
