.pro-chat-message-modal.conversation-helpful.modal-checkbox
	.modal-header
		h4(data-translate="DASHBOARD.INVITATION.MODAL.SUMMARY_CONVERSATION")

	.modal-contents
		.conversation-profile
			img.thumb.circle(data-ng-src="{{ conversation.profile.avatar }}")
			h5 {{ conversation.profile.name }}

		.modal-description
			p(data-translate="DASHBOARD.INVITATION.MODAL.SEND_NOTIFICATION_WHEN_AVAILABLE")

			.conversation-stats
				.conversation-timer
					span.icon.icon.icon-heart-16
					span.value {{ conversation.time }}
				.conversation-counter
					span.icon.icon.icon-heart-16
					span.value {{ conversation.price }} PLN

		strong(data-translate="DASHBOARD.INVITATION.MODAL.CONVERSATION_HELPFUL	")

		.modal-buttons
			button.pro-button.rectangle.error.icon(data-ng-click="vm.dismissWindow()" data-translate="INTERFACE.NO")
			button.pro-button.rectangle.succes.icon(data-ng-click="vm.accept()" data-translate="INTERFACE.YES")
