.settings
  padding: $dashboard-navbar-width + 24px 0

  +smm
    padding: $dashboard-navbar-width * 2 0

  h2
    padding: 0 16px
    margin: 0 0 8px

    +smm
      padding: 0


  .settings-row
    .icon
      color: $c-secondary-txt
