.settings
  h2
    +header
    padding: 0 16px
    margin: 0 0 8px

    +smm
      padding: 0

  .list-row
    .icon
      color: $c-tertiary-txt

    .list-localization
      display: none

      .list-icon
        padding: 0 24px

      +smm
        flex: 2
        display: inline-flex

    span
      &.is-active
        color: $c-success

      &.in-use
        margin: 0 0 0 4px

  .security-options
    &.security
      margin: 0 0 32px
