.pro-alert
    .alert(ng-class="alert.type" data-ng-repeat="alert in alerts track by $index | filter:alert.show")
        .content-wrapper
            div
                i.status-icon.icon(ng-class="alert.icon")
                h5.bold.alert-header(data-ng-bind="alert.header")
                h5.alert-info(data-ng-bind="alert.message")
            i.cross-icon.icon-close-16(ng-click="destroyAlert(alert.id)")