.alert(ng-class="type")
    .content-wrapper
        div
            i.status-icon.icon.icon-success-24
            h5.bold.alert-header {{header}}
            h5.alert-info {{content}}
        i.cross-icon.icon-close-16(ng-click="")