plat-modal-component(
  modalTrTitleHeader='GENERATE_WIDGET_MODAL.HEADER',
  [isBackwardVisible]="stepper.selectedIndex !== 0",
  (backwardClick)='stepper.previous()'
  )
  plat-stepper(contentHeightAnimation, #stepper='platStepper')
    plat-step
      .generate-widget-step-content
        .generate-widget-step-content-panel
          .generate-widget-step-content-section
            p(innerHtml= "{{'GENERATE_WIDGET_MODAL.CONTENT.TEXT1' | translate}}")
            .generate-widget-copy([plat-copy-to-clipboard]="widgetLink") {{widgetLink}}
            .generate-widget-social-share
              .generate-widget-social-link(*ngFor='let icon of socialMediaLinks')
                button(plat-icon-button)
                  span(plat-icon, [iconClass]='icon.iconName')
          .generate-widget-step-content-section
            p(innerHtml="{{'GENERATE_WIDGET_MODAL.CONTENT.TEXT2' | translate}}")
            .generate-widget-copy([plat-copy-to-clipboard]="widgetId") {{ widgetId }}
          .generate-widget-step-content-section
            p(innerHtml="{{'GENERATE_WIDGET_MODAL.CONTENT.TEXT3' | translate}}")
            button(plat-stroked-button, (click)='stepper.next()') {{ 'GENERATE_WIDGET_MODAL.CONTENT.INSTALL' | translate}}
        .generate-widget-step-content-panel-separator
        .generate-widget-step-content-panel
          .preview-wrapper
            iframe.widget-preview(
              [src]="iframeSrc",
              (load)="iframeLoaded()"
              )
            .widget-preview__loader(*ngIf="isIframeLoading")
              span(plat-icon, iconClass='loading')
    plat-step
      .generate-widget-step-content
        .generate-widget-step-content-panel
          .generate-widget-step-content-section
            p {{"GENERATE_WIDGET_MODAL.CONTENT.ADD_STEP1" | translate}}
            plat-generate-widget-button-type([formControl]='buttonType')
          .generate-widget-step-content-section(
            *ngIf="selectedButtonType !== undefinedSelectedButtonType",
            [@fadeInOut],
            (@fadeInOut.done)="animationDone($event)"
            )
            p {{"GENERATE_WIDGET_MODAL.CONTENT.ADD_STEP2" | translate}}
            .generate-widget-copy([plat-copy-to-clipboard]="headScript") {{headScript}}
          .generate-widget-step-content-section(*ngIf="displayButtonCode", [@fadeInOut])
            p {{"GENERATE_WIDGET_MODAL.CONTENT.ADD_STEP3" | translate}}
            .generate-widget-copy([plat-copy-to-clipboard]="buttonCode") {{buttonCode}}


