@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import "../../../../../../template/core/core"

.generate-widget
  &-step-content
    display: flex
    flex-direction: column

    +smm
      flex-direction: row
      min-height: 687px

    &-panel
      flex: 1 0 0

      &-separator
        height: 40px

        +smm
          flex-basis: 40px

    &-section
      margin: 0 0 48px 0

    &-section:nth-last-child(1)
      margin: 0

  &-social-share
    display: flex

  &-social-link
    margin: 0 0 0 20px

  &-social-link:nth-child(1)
    margin: 0

  &-copy
    +subtitle-small
    cursor: pointer
    color: $c-text-secondary
    background: $c-base-background
    border-radius: 4px
    border: 1px dashed $c-lines
    padding: 16px
    margin: 0 0 24px 0

    &:only-of-type
      margin: 0


.preview-wrapper
  position: relative
  border-radius: 12px
  background: $c-base-background
  padding: 4px
  width: 100%
  height: 100%

.widget-preview
  width: 100%
  height: 100%

  &__loader
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

    span
      display: block
      width: 40px
      height: 40px
      font-size: 40px
      color: $c-primary
      animation: rotate360Deg 0.6s linear infinite

p
  +button
  color: $c-text-primary
  margin: 0 0 24px 0
