@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.single-consultation
  &:not(.expert-profile-consultation)
    +mdm
      .consultation-wrapper
        &:hover
          background: $c-background-2

  .consultation-wrapper
    transition: background 0.2s
    border-bottom: 1px solid $c-lines
    padding: 32px 0
    cursor: pointer

    +smm
      padding: 32px 16px

    .consultation-details
      margin: 0 0 32px

      +mdm
        margin: 0 0 24px

    .consultation-price
      +priceSection

    .consultation-about
      display: flex

      li
        margin: 0 8px 0 0

      span
        +consultationDetailsInfo
        color: $c-secondary-txt

    .consultation-title
      margin: 0 0 24px

      +smm
        margin: 0 0 16px

    .consultation-actions
      +xsm
        display: flex
        justify-content: space-between
