.default-container
  .single-consultation
    .consultation-wrapper(data-ng-click="vm.goToProfile()")
      .consultation-details
        .consultation-price
          span {{ ::vm.consultation.price / 100 | number: 2 }}
            span.currency PLN {{ "HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE" | translate}}

        div
          .consultation-title
            h3
              span {{ ::vm.consultation.name }}

          ul.consultation-about
            li.options-item.recomendation
              span  {{ ::vm.consultation.satisfaction }}% {{"SEARCH.RECOMMENDATION" | translate }}
            li.options-item.conversation-count
              span {{ ::vm.consultation.talks }}
            li.options-item.balance
              span {{ ::vm.consultation.timeAverage }} min.

      .consultation-actions
        .profile-preview
          .thumb.x48
            img.user-avatar(data-ng-src="{{ ::vm.profileImage }}" alt="{{ ::vm.consultation.owner.name }}")

            .status-list
              span.status.availability

          .profile-name
            span {{ ::vm.consultation.owner.name }}

        a.btn.btn-success.icon-left(data-ng-click="vm.startCall()" data-ng-mouseover="vm.onMouseOver()" data-ng-mouseleave="vm.onMouseLeave()")
          span.icon.icon-call-16
          | {{ ::'HOME.TOP_CONTAINER.EXPERT_PROFILE.CALL' | translate }}

