.container
  .single-consultation
    .consultation-wrapper(data-ng-click="$ctrl.goToProfile()")
      .consultation-details
        .consultation-price
          span(data-ng-bind-html="::$ctrl.price | money")
          span.currency(data-translate='HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE')

        div
          .consultation-title
            h3
              span {{ ::$ctrl.service.name }}

          ul.consultation-about
            li.options-item.recomendation
              span  {{ ::$ctrl.rating || '0' }}% {{"SEARCH.RECOMMENDATION" | translate }}
            li.options-item.conversation-count
              span {{ ::$ctrl.usageCounter || '0' }} {{"SEARCH.CALLS_NUMBER" | translate }}

      .consultation-actions
        .profile-preview
          user-avatar.thumb.x48(data-image-token="$ctrl.imageToken")

          .profile-name
            span {{ ::$ctrl.ownerName }}

        a.btn.btn-success.icon-left(
        data-ng-click="$ctrl.startCall()"
        data-ng-mouseover="$ctrl.onMouseOver()"
        data-ng-mouseleave="$ctrl.onMouseLeave()"
        )
          span.icon.icon-call-16
          | {{ ::'HOME.TOP_CONTAINER.EXPERT_PROFILE.CALL' | translate }}

