.expert-card
  .top-content-wrap
    .expert-top
      +colfax-bold
      text-transform: uppercase
      margin: 30px 0 15px
    .expert-counter
      +colfax-light
      font-size: $f-counter
      margin: 0 0 8px
      line-height: 128px
    .experts-popular
      +colfax-light
      font-size: $f-main-subheader
      text-align: center
      margin: 0 0 32px
