.pro-expert-see-more
  &.expert-card
    .top-content-wrap
      .expert-top
        +default-font-heavy
        text-transform: uppercase
        margin: 30px 0 15px
      .expert-counter
        +default-font-light
        font-size: $f-counter
        margin: 0 0 8px
        line-height: 128px
      .experts-popular
        +default-font-light
        font-size: $f-main-subheader
        text-align: center
        margin: 0 0 32px
