.pro-expert-see-more
  &.expert-cards-section
   background: $c-white
   width: 288px
   padding: 16px
   height: 400px
   align-items: center
   margin-right: 16px
   justify-content: space-between
  .top-content-wrap
    .expert-top
      +default-font-heavy
      text-transform: uppercase
      margin: 30px 0 15px
      text-align: center
    .expert-counter
      +default-font-light
      font-size: $f-counter
      margin: 0 0 8px
      line-height: 128px
    .experts-popular
      +default-font-light
      font-size: $f-main-subheader
      text-align: center
      margin: 0 0 32px
