.pro-switcher
    .checkbox-switcher(data-ng-click="onClickCallback()")
        input(type="checkbox" id='{{id}}'
        value="true"
        data-ng-model="ngModel" readonly="true")
        label(for="{{id}}")
        span(data-translate="{{label}}")
