extends ../../../templates/wizard/section-controlls.partial.jade

block content
  .pro-service-provider-cost
    .step-content-column(data-ng-click="onClick()")
      .inputs-row
        .currency-input-box
          pro-input(data-placeholder="{{placeholder | translate}}" data-ng-model="model.cost"
          data-ng-class="{invalid: badName}" data-type='text' data-id="serviceProviderCost" currency)
        .currency-dropdown-box
          pro-dropdown(data-pro-model='model.costname'
          data-label="{{'DASHBOARD.CONSULTATION_RANGE.CONSULTATION_CURRENCY_LABEL' | translate}}"
          data-placeholder="{{'DASHBOARD.CONSULTATION_RANGE.CURRENCY_PLACEHOLDER' | translate}}"
          data-pro-items="list" data-no-search disable)
      .count-price(data-ng-if="model.cost >= 1")
        span.summary-text {{ ((model.cost / 1.25) | number: 2) }}
        span.summary-text(data-translate="{{ costSummary | translate: translationUrl }}")
        span.summary-text {{ ((model.cost * 1.23) | number: 2) }}
        span.summary-text(data-translate="DASHBOARD.CONSULTATION_RANGE.COST_VAT_SUMMARY")
      .cost-details(data-ng-if="model.cost < 1 && model.cost !== null && model.cost !== ''")
        span.summary-text(data-translate="DASHBOARD.CONSULTATION_RANGE.CURRENCY_DETAILS")
    .input-error-messages
      .error(data-translate="{{errorMessage}}" data-ng-show="noCost")
