extends ../../../templates/wizard/section-controlls.partial.jade

block content
  .step-content-column(data-ng-click="onClick()")
    .inputs-row
      .currency-input-box
        pro-input(data-placeholder="{{placeholder | translate}}" data-pro-model="model.name" data-ng-class="{invalid: badName}")
      .currency-dropdown-box
        pro-dropdown(data-pro-model='cost' data-label='Waluta' data-placeholder='PLN'
        data-pro-items="list" data-no-search)
    p(data-translate="{{ (proModel / 1.25) | number}} {{summaryText}}")
  .input-error-messages
    .error(data-translate="{{errorMessage}}" data-ng-show="badName")
