.input-tag-group( class="{{focus ? 'onFocus' : ''}} {{onClick ? 'onClick' : ''}}"  data-ng-mouseover="onMouseover()"
data-ng-mouseleave="onMouseout()" data-ng-blur="focusout()")
    ui-select(data-ng-model="proModel" data-ng-if="!disableTagging" tagging tagging-label="{{tagLabel}}" multiple
    data-theme="bootstrap" data-on-select="select($item, $model, $select)" data-ng-click="openBar()" data-on-remove="remove($item, $model)" ng-keydown="onKeypress($event)"  )
        ui-select-match(placeholder="{{placeholder}}") {{$item}}
        ui-select-choices(data-group-by="groupFind()" data-repeat='item in proItems | filter: $select.search')
            span(ng-bind='item')
    ui-select(data-ng-model="proModel" data-ng-if="!!disableTagging" tagging-label="{{tagLabel}}" multiple
    data-theme="bootstrap" data-on-select="select($item, $model, $select)" data-ng-click="openBar()" data-on-remove="remove($item, $model)" ng-keydown="onKeypress($event)"  )
        ui-select-match(placeholder="{{placeholder}}") {{$item}}
        ui-select-choices(data-group-by="groupFind()" data-repeat='item in proItems | filter: $select.search')
            span(ng-bind='item')


