.pro-tags-dropdown
  .input-tag-group(data-ng-class="{'valid': valid}" data-ng-mouseover="onMouseover()"
  data-ng-mouseleave="onMouseout()" data-ng-blur="focusout()")



      ui-select(data-ng-model="proModel" data-ng-if="!disableTagging" tagging="tagTransform" tagging-label="{{tagLabel}}" multiple tagging-tokens=",|;|SPACE"
      data-theme="bootstrap" data-on-select="select($item, $model, $select)" data-ng-click="openBar()" data-on-remove="remove($item, $model)" ng-keydown="onKeypress($event, $select)"  )
          ui-select-match(placeholder="{{placeholder}}") {{$item[tagNameParam]}}
          ui-select-choices(data-group-by="groupFind()" data-repeat='item in proItems | filter: $select.search')
              span(ng-bind='item[tagNameParam]')




      ui-select(data-ng-model="proModel" data-ng-if="!!disableTagging" tagging-label="{{tagLabel}}" multiple
      data-theme="bootstrap" data-on-select="select($item, $model, $select)" data-ng-click="openBar()" data-on-remove="remove($item, $model)" ng-keydown="onKeypress($event, $select)"  )
          ui-select-match(placeholder="{{placeholder}}") {{$item}}
          ui-select-choices(data-group-by="groupFind()" data-repeat='item in proItems | filter: $select.search')
              span(ng-bind='item')
