.create-profile
  .title-row
    .title
      h2(data-translate="DASHBOARD.CREATE_PROFILE.CREATE_PROFILE_TITLE")
    .close-button
      .btn-handler
        a(data-ui-sref="app.dashboard.start").pro-btn.btn-light.btn-icon
          i.icon.icon-close-16
          
  include partials/summary
  include partials/step1
  include partials/step2 
  include partials/step3


  .next-consultation
    a.pro-btn.btn-main.btn-large WERYFIKUJ
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh lacus, sollicitudin ut pretium id, placerat sit amet turpis. Nam eu arcu at nisl gravida tincidunt. Nam fermentum turpis felis, bibendum convallis mi viverra volutpat.

  
  .bottom-row.bottom-consultation
    .title-row-column
      .title
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_PROGRESS_BAR_TITLE")
        h5 100%
      .loader-container
        .password-verify
          .loader
            .progress-bar(style="width: 100%;")
        .next-step
          .button-next-step
            a.pro-btn.btn-main.btn-medium(data-translate="DASHBOARD.CREATE_PROFILE.NEXT_STEP") 
