@import "~@anymind-ng/core/src/template/stylesheets/core/core"

.activities-counter
  +caption
  font-weight: 500
  width: 100%
  color: $c-white
  border-radius: 4px
  padding: 2px 6px
  background: $c-dark-grey
  justify-content: center
  display: flex
  align-items: center
