@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

\:host
  display: flex
  align-items: center

.activities-counter
  +caption
  font-weight: 500
  color: $c-white
  border-radius: 4px
  padding: 2px 6px
  background: $c-dark-grey
  justify-content: center
  display: flex
  align-items: center
  min-height: 20px
  min-width: 26px
