.expert-suggestions
  .dropdown-default(data-ng-if="vm.experts.count")
    h5.title-row  {{'SEARCH.EXPERTS' | translate}}
      span ({{vm.experts.count}})

    .experts-box.dropdown-category-list
      a.expert-profile.dropdown-list-item(data-ng-repeat="expert in vm.experts.results track by $index"
      data-ui-sref="app.expert-profile({ contactId: expert.id })")
        img.expert-avatar.user-avatar.circle(src='http://placekitten.com/48/48')

        span.expert-data
          span.expert-name {{expert.name}}
          span.expert-category(data-ng-repeat="category in vm.expert.categories track by $index") {{category}}