.expert-suggestions
  .dropdown-default(data-ng-if="vm.experts.count")
    h5.title-row  {{'SEARCH.EXPERTS' | translate}}

    .experts-box.dropdown-category-list
      a.profile-preview.dropdown-list-item(data-ng-repeat="expert in vm.experts.results track by $index"
      data-ui-sref="app.expert-profile({ profileId: expert.id })")
        .thumb.x48
          user-avatar(data-image-token="expert.img")

        span.expert-data
          span.expert-name(ng-bind-html="expert.name | searchBoldFilter:vm.searchModel") {{expert.name}}
          span.expert-category(data-ng-repeat="category in vm.expert.categories track by $index") {{category}}
