.paypal
  .charge-container
    margin: 0 0 64px

    .list-row
      flex-wrap: wrap

      +smm
        flex-wrap: nowrap
        justify-content: flex-start

      .list-col
        display: flex
        align-items: center
        flex: 1 0 100%
        margin: 0 0 16px

        +xsm
          margin: 0
          flex: 1

      .btn
        flex: inherit
