@import "../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.invite-employees
  .invite-employees-action
    text-align: right
    margin: 48px 0 0 0

  .add-employee-label
    +inputSmall

  .modal-primary
    padding: 80px 24px
