@import "../../../../template/stylesheets/interface/input/textarea"

\:host
	display: flex

.textarea
	textarea
		margin: 14px 0 0
		height: $s-textarea-max-height
		min-height: $s-textarea-max-height
		resize: none

	&__label
		display: block
