
<div class="textarea-primary textarea" [formGroup]="formGroup" [ngClass]="{'textarea--focused': isFocused, 'textarea--invalid': isFieldInvalid(), 'textarea--disabled': isDisabled}">
  <div class="textarea__container">
    <div class="textarea__label-container">
      <label class="textarea__label" *ngIf="labelTrKey">{{ labelTrKey | translate }}</label><span class="textarea__required-asterix" *ngIf="isRequired">*</span>
    </div>
    <textarea autoheight maxlength="{{maxLength}}" [formControlName]="controlName" (focus)="onFocus()" (blur)="onBlur()" placeholder="{{ placeholderTrKey | translate }}" [(ngModel)]="inputValue" [autofocus]="initialFocus" [readonly]="isDisabled"></textarea>
  </div>
  <div class="textarea__counter" *ngIf="minLength || maxLength"><span>{{ inputValue.length || 0 }}</span><span>/ {{ maxLength }} {{ 'INPUT.CHARACTERS.TITLE'	 | translate }}</span></div>
  <div class="textarea__alert">
    <am-core-validation-alert [isVisible]="isFieldValueInvalid()" [validationTextKey]="errorTrKey"></am-core-validation-alert>
    <am-core-validation-alert [isVisible]="isRequiredError()" [validationTextKey]="'INPUT.REQUIRED_VALIDATION_ERROR'"></am-core-validation-alert>
  </div>
</div>