.container.expert-progress.text-center
  i.icon-4x.icon-add-user
  h1.text-center.margin-bottom-100
    | Tworzenie profilu eksperta
  .row
  .center-flex
    div(pro-progress-box container="vm.box.expert")
    div(pro-progress-box container="vm.box.services")





    // unique box
    div.col-lg-3.box
      div.round(data-ng-class='{rejectedCircle: vm.verifyBox.rejected}')
        p.center-in-circle(data-ng-show='vm.verifyBox.rejected')
          i.icon-3x.icon-close
        p.center-in-circle(data-ng-hide='vm.verifyBox.rejected') {{ vm.verifyBox.number }}
      div
        i.icon-3x.icon-repeat-2.margin-top-20
      h3.box-title(data-ng-class='{rejected: vm.verifyBox.rejected}') {{ vm.verifyBox.title | translate }}
      p(data-ng-show='vm.verifyBox.displayDefault') {{ vm.verifyBox.description | translate }}
      p(data-ng-show='vm.verifyBox.inProgress') PROFIL W TRAKCIE WERYFIKACJI
      p.text-left(data-ng-show='vm.verifyBox.rejected' data-ng-repeat="singleError in vm.verifyBox.feedback")  {{ ($index+1)+' '+singleError }}
      a(data-ng-show='vm.verifyBox.ableToSend && vm.verifyBox.displayDefault' data-ui-sref='{{vm.verifyBox.uiSref}}') {{ vm.verifyBox.uiTitleDone | translate }}



