.icon
  display: inline-flex
  align-items: center
  justify-content: center
  font-size: $f-icon-22

  &[class*="12"]
    font-size: $f-icon-12

  &[class*="16"]
    font-size: $f-icon-16

  &[class*="22"]
    font-size: $f-icon-22

  &[class*="48"]
    font-size: $f-icon-48

  &[class*="128"]
    font-size: $f-icon-128
