.icon
  font-size: $f-icon-22

  &.icon-tiny
    font-size: $f-h6-size

  &.icon-standard
    font-size: $f-h3-size

  &.icon-middle
    font-size: $f-h2-size

  &.icon-big
    font-size: $f-h1-size

  &.icon-12
    height: 12px
    font-size: 12px

  &.icon-16
    height: 16px
    font-size: 16px

  &.icon-24
    height: 24px
    font-size: 24px

.circle
  border-radius: 50%
