@charset "UTF-8"

@font-face
  font-family: "profitelo-icons"
  src: url("#{$profitelo-font-path}/profitelo-icons.eot")
  src: url("#{$profitelo-font-path}/profitelo-icons.eot?#iefix") format("embedded-opentype"), url("#{$profitelo-font-path}/profitelo-icons.woff") format("woff"), url("#{$profitelo-font-path}/profitelo-icons.ttf") format("truetype"), url("#{$profitelo-font-path}/profitelo-icons.svg#profitelo-icons") format("svg")
  font-weight: normal
  font-style: normal

[data-icon]:before
  font-family: "profitelo-icons" !important
  content: attr(data-icon)
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class^="icon-"]:before, [class*=" icon-"]:before
  font-family: "profitelo-icons" !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-arrow-down-12:before
  content: "\62"

.icon-multiperson-128:before
  content: "\64"

.icon-person-128:before
  content: "\65"

.icon-arrow-right-24:before
  content: "\66"

.icon-password-hide-24:before
  content: "\68"

.icon-password-show:before
  content: "\69"

.icon-question-24:before
  content: "\6a"

.icon-success-24:before
  content: "\6b"

.icon-upload-progress-24:before
  content: "\6d"

.icon-warning-24:before
  content: "\6e"

.icon-arrow-left-12:before
  content: "\6f"

.icon-arrow-right-12:before
  content: "\70"

.icon-arrow-up-12:before
  content: "\71"

.icon-close-12:before
  content: "\72"

.icon-success-12:before
  content: "\73"

.icon-close-16:before
  content: "\74"

.icon-danger-24:before
  content: "\75"

.icon-menu-16:before
  content: "\76"

.icon-upload-cloud-64:before
  content: "\79"

.icon-info-24:before
  content: "\67"

.icon-add-24:before
  content: "\6c"

.icon-logout-24:before
  content: "\7a"

.icon-search-24:before
  content: "\41"

.icon-settings-24:before
  content: "\42"

.icon-arrow-left-24:before
  content: "\61"

.icon-edit-24:before
  content: "\63"

.icon-file-24:before
  content: "\44"

.icon-graphic-file-24:before
  content: "\45"

.icon-upload-arrow-24:before
  content: "\77"

.icon-trash-24:before
  content: "\78"

.icon-tumblr-24:before
  content: "\43"

.icon-behance-24:before
  content: "\46"

.icon-bitbucket-24:before
  content: "\47"

.icon-twitter-24:before
  content: "\48"

.icon-vimeo-24:before
  content: "\49"

.icon-blogspot-24:before
  content: "\4a"

.icon-dribbble-24:before
  content: "\4b"

.icon-wordpress-24:before
  content: "\4c"

.icon-www-24:before
  content: "\4d"

.icon-facebook-24:before
  content: "\4e"

.icon-flickr-24:before
  content: "\4f"

.icon-youtube-24:before
  content: "\50"

.icon-github-24:before
  content: "\51"

.icon-goldenline-24:before
  content: "\52"

.icon-google-plus-24:before
  content: "\53"

.icon-instagram-24:before
  content: "\54"

.icon-linkedin-24:before
  content: "\55"

.icon-pinterest-24:before
  content: "\56"

.icon-stackoverflow-24:before
  content: "\57"

.icon-edit-16:before
  content: "\59"

.icon-hands-32:before
  content: "\5a"

.icon-newspaper-32:before
  content: "\30"

.icon-comments-16:before
  content: "\31"

.icon-headphone-16:before
  content: "\32"

.icon-mail-16:before
  content: "\34"

.icon-time-16:before
  content: "\36"

.icon-satisfaction-16:before
  content: "\37"

.icon-quote-24:before
  content: "\58"

.icon-share-16:before
  content: "\38"

.icon-heart-16:before
  content: "\33"

.icon-calls-16:before
  content: "\35"

.icon-language-16:before
  content: "\39"

.icon-price-32:before
  content: "\21"

.icon-bad-32:before
  content: "\22"

.icon-good-32:before
  content: "\23"

.icon-documents-32:before
  content: "\24"

.icon-calendar-16:before
  content: "\25"

.icon-play-64:before
  content: "\26"

.icon-business-32:before
  content: "\27"

.icon-home-32:before
  content: "\28"

.icon-education-32:before
  content: "\29"

.icon-technology-32:before
  content: "\2a"

.icon-fasion-32:before
  content: "\2b"

.icon-health-32:before
  content: "\2c"

.icon-law-32:before
  content: "\2d"

.icon-recreation-32:before
  content: "\2e"

.icon-login-32:before
  content: "\2f"

.icon-edit-16:before
  content: "\59"

.icon-hands-32:before
  content: "\5a"

.icon-newspaper-32:before
  content: "\30"

.icon-comments-16:before
  content: "\31"

.icon-headphone-16:before
  content: "\32"

.icon-heart-16:before
  content: "\33"

.icon-mail-16:before
  content: "\34"

.icon-rozmowy-16:before
  content: "\35"

.icon-time-16:before
  content: "\36"

.icon-zadowolenie-16:before
  content: "\37"
