@charset "UTF-8"

@font-face
  font-family: "profitelo-icons"
  src: url("#{$profitelo-font-path}/profitelo-icons.eot")
  src: url("#{$profitelo-font-path}/profitelo-icons.eot?#iefix") format("embedded-opentype"), url("#{$profitelo-font-path}/profitelo-icons.woff") format("woff"), url("#{$profitelo-font-path}/profitelo-icons.ttf") format("truetype"), url("#{$profitelo-font-path}/profitelo-icons.svg#profitelo-icons") format("svg")
  font-weight: normal
  font-style: normal


[data-icon]:before
  font-family: "profitelo-icons" !important
  content: attr(data-icon)
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class^="icon-"]:before, [class*=" icon-"]:before
  font-family: "profitelo-icons" !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-trash:before 
  content: "\65"

.icon-arrow-left:before 
  content: "\66"

.icon-arrow-right:before 
  content: "\67"

.icon-business-person:before 
  content: "\68"

.icon-fill-success:before 
  content: "\69"

.icon-menu:before 
  content: "\6a"

.icon-password-hide:before 
  content: "\6b"

.icon-password-show:before 
  content: "\6c"

.icon-private-person:before 
  content: "\6d"

.icon-tiny-arrow-down:before 
  content: "\6e"

.icon-tiny-arrow-left:before 
  content: "\6f"

.icon-tiny-arrow-right:before 
  content: "\70"

.icon-tiny-arrow-up:before 
  content: "\71"

.icon-tiny-close:before 
  content: "\72"

.icon-upload-arrow-24:before 
  content: "\62"

.icon-upload-cloud-64:before 
  content: "\63"

.icon-upload-progress-24:before 
  content: "\61"
  line-height: 2

.icon-warning:before 
  content: "\64"

