[data-icon]:before
  font-family: "profitelo-icons" !important
  content: attr(data-icon)
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class^="icon-"]:before, [class*=" icon-"]:before
  font-family: "profitelo-icons" !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-arrow-down-12:before
  content: "\61"

.icon-multiperson-128:before
  content: "\62"

.icon-person-128:before
  content: "\63"

.icon-question-24:before
  content: "\66"

.icon-upload-progress-24:before
  content: "\68"

.icon-arrow-up-12:before
  content: "\6a"

.icon-close-12:before
  content: "\6b"

.icon-success-12:before
  content: "\6c"

.icon-danger-24:before
  content: "\6d"

.icon-logout-24:before
  content: "\70"

.icon-file-24:before
  content: "\72"

.icon-graphic-file-24:before
  content: "\73"

.icon-tumblr-24:before
  content: "\74"

.icon-behance-24:before
  content: "\75"

.icon-bitbucket-24:before
  content: "\76"

.icon-twitter-24:before
  content: "\77"

.icon-vimeo-24:before
  content: "\78"

.icon-blogspot-24:before
  content: "\79"

.icon-dribbble-24:before
  content: "\7a"

.icon-wordpress-24:before
  content: "\41"

.icon-www-24:before
  content: "\42"

.icon-facebook-24:before
  content: "\43"

.icon-flickr-24:before
  content: "\44"

.icon-youtube-24:before
  content: "\45"

.icon-github-24:before
  content: "\46"

.icon-goldenline-24:before
  content: "\47"

.icon-google-plus-24:before
  content: "\48"

.icon-instagram-24:before
  content: "\49"

.icon-linkedin-24:before
  content: "\4a"

.icon-pinterest-24:before
  content: "\4b"

.icon-stackoverflow-24:before
  content: "\4c"

.icon-newspaper-32:before
  content: "\4e"

.icon-mail-16:before
  content: "\50"

.icon-time-16:before
  content: "\51"

.icon-quote-24:before
  content: "\53"

.icon-language-16:before
  content: "\57"

.icon-price-32:before
  content: "\58"

.icon-bad-32:before
  content: "\59"

.icon-good-32:before
  content: "\5a"

.icon-calendar-16:before
  content: "\31"

.icon-play-64:before
  content: "\32"

.icon-business-32:before
  content: "\33"

.icon-home-32:before
  content: "\34"

.icon-education-32:before
  content: "\35"

.icon-technology-32:before
  content: "\36"

.icon-fasion-32:before
  content: "\37"

.icon-health-32:before
  content: "\38"

.icon-law-32:before
  content: "\39"

.icon-recreation-32:before
  content: "\21"

.icon-android-16:before
  content: "\23"

.icon-apple-16:before
  content: "\24"

.icon-options-32:before
  content: "\26"

.icon-price-16:before
  content: "\27"

.icon-send-32:before
  content: "\2c"

.icon-download-24:before
  content: "\2d"

.icon-windows-16:before
  content: "\3a"

.icon-attachment-32:before
  content: "\3b"

.icon-expert-profile-32:before
  content: "\3f"

.icon-statistics-32:before
  content: "\5b"

.icon-consultants-32:before
  content: "\60"

.icon-upload-cloud-64:before
  content: "\7b"

.icon-upload-arrow-24:before
  content: "\7c"

.icon-arrow-left-24:before
  content: "\7e"

.icon-arrow-right-24:before
  content: "\5c"

.icon-download-24-1:before
  content: "\e001"

.icon-edit-16:before
  content: "\e002"

.icon-person-64:before
  content: "\e004"

.icon-upload-24:before
  content: "\e005"

.icon-printer-24:before
  content: "\e007"

.icon-question-16:before
  content: "\e008"

.icon-warning-16:before
  content: "\e009"

.icon-zoom-out-24:before
  content: "\e00a"

.icon-plus-12:before
  content: "\e00d"

.icon-minus-12:before
  content: "\e00e"

.icon-arrow-right-12:before
  content: "\e00f"

.icon-arrow-left-12:before
  content: "\e010"

.icon-upload-32:before
  content: "\e011"

.icon-user-profile-24:before
  content: "\40"

.icon-call-16:before
  content: "\e012"

.icon-filter-24:before
  content: "\e014"

.icon-arrow-right-16:before
  content: "\e015"

.icon-arrow-left-16:before
  content: "\e016"

.icon-reject-24:before
  content: "\4f"

.icon-dots-menu-24:before
  content: "\25"

.icon-shrink-24:before
  content: "\29"

.icon-call-24:before
  content: "\2a"

.icon-camera-off-24:before
  content: "\2b"

.icon-camera-on-24:before
  content: "\2f"

.icon-chat-24:before
  content: "\3c"

.icon-multiperson-64:before
  content: "\3d"

.icon-info-24:before
  content: "\6f"

.icon-hands-32:before
  content: "\4d"

.icon-heart-24:before
  content: "\52"

.icon-documents-32:before
  content: "\54"

.icon-satisfaction-16:before
  content: "\55"

.icon-share-24:before
  content: "\56"

.icon-voice-24:before
  content: "\30"

.icon-calls-16:before
  content: "\2e"

.icon-attachment-24:before
  content: "\3e"

.icon-send-24:before
  content: "\e003"

.icon-login-24:before
  content: "\5d"

.icon-outgoing-call-24:before
  content: "\e017"

.icon-money:before
  content: "\e018"

.icon-complaint-24:before
  content: "\e01a"

.icon-history-24:before
  content: "\e01b"

.icon-add-24:before
  content: "\7d"

.icon-close-16:before
  content: "\e000"

.icon-computer-24:before
  content: "\e01c"

.icon-dropdown-24:before
  content: "\e01d"

.icon-exclude-24:before
  content: "\e01e"

.icon-failure-24:before
  content: "\e01f"

.icon-invite-24:before
  content: "\e020"

.icon-lock-24:before
  content: "\e021"

.icon-picture-16:before
  content: "\65"

.icon-picture-24:before
  content: "\e023"

.icon-pin-24:before
  content: "\e024"

.icon-pin-number-24:before
  content: "\e025"

.icon-planet-24:before
  content: "\e026"

.icon-smartphone-24:before
  content: "\e027"

.icon-tablet-24:before
  content: "\e028"

.icon-warning-24-1:before
  content: "\e029"

.icon-trash-24-1:before
  content: "\e02a"

.icon-password-hide-24:before
  content: "\64"

.icon-password-show-24:before
  content: "\67"

.icon-download-report-24:before
  content: "\69"

.icon-warning-24:before
  content: "\6e"

.icon-client-24:before
  content: "\71"

.icon-clock-24:before
  content: "\22"

.icon-bell-24:before
  content: "\28"

.icon-back-24:before
  content: "\5e"

.icon-denied-24:before
  content: "\5f"

.icon-next-24:before
  content: "\e006"

.icon-mic-on-24:before
  content: "\e00b"

.icon-mic-off-24:before
  content: "\e00c"

.icon-logout-24-1:before
  content: "\e013"

.icon-questionmark-24:before
  content: "\e019"

.icon-suitcase-24:before
  content: "\e022"

.icon-search-24:before
  content: "\e02b"

.icon-settings-24:before
  content: "\e02c"

.icon-user-available-24:before
  content: "\e02d"

.icon-small-close-16:before
  content: "\e02e"

.icon-user-unavailable-24:before
  content: "\e02f"

.icon-success-24:before
  content: "\e030"
