
<div class="input-text input" [formGroup]="formGroup" [class]="inputSize" [ngClass]="{'input--focused': isFocused, 'input--invalid': isFieldInvalid(), 'input--disabled': isDisabled}">
  <div class="input__container">
    <div class="input__label-container">
      <label class="input__label" *ngIf="labelTrKey">{{ labelTrKey | translate }}</label><span class="input__required-asterix" *ngIf="isRequired">*</span>
    </div>
    <input mask="{{inputMask}}" [formControlName]="controlName" (focus)="onFocus()" (blur)="onBlur()" placeholder="{{ placeholderTrKey | translate }}" type="text" [readonly]="isDisabled" [(ngModel)]="inputValue" maxlength="{{maxLength}}" [autofocus]="initialFocus">
  </div>
  <div class="input__alert">
    <am-core-validation-alert [isVisible]="isFieldValueInvalid()" [validationTextKey]="errorTrKey"></am-core-validation-alert>
    <am-core-validation-alert [isVisible]="isRequiredError()" [validationTextKey]="'INPUT.REQUIRED_VALIDATION_ERROR'"></am-core-validation-alert>
  </div>
  <div class="input__counter" *ngIf="minLength || maxLength"><span class="input__counter__length" *ngIf="inputValue">{{ inputValue.length }}</span><span class="input__counter__length" *ngIf="!inputValue">0</span><span class="input__counter__limit">/ {{ maxLength }} {{ 'INPUT.CHARACTERS.TITLE' | translate }}</span></div>
</div>