.single-consultation
  +lgm
    padding: 0

.consultation-wrapper
  border-bottom: 1px solid $c-lines
  padding: 32px 0

  +smm
    padding: 32px 16px

.consultation-details
  margin: 0 0 32px

  +mdm
    margin: 0 0 24px

.consultation-price
  margin: 0 0 16px

  h5
    +default-font-heavy
    text-transform: uppercase
    display: inline-block
    color: $c-primary-txt
    font-size: $f-h4-size

    span
      &.currency
        margin: 0 0 0 4px
        color: $c-label

.consultation-range
  h3
    margin: 0 0 24px
    font-size: $f-h3-size

    +smm
      margin: 0 0 16px

    a
      +default-font-regular
      text-align: right
      color: $c-primary-txt
      transition: color 0.2s

      &:hover
        color: $c-secondary-txt

.consultation-options
  display: flex
  align-items: center

  .options-item
    +default-font-regular
    display: flex
    align-items: center
    color: $c-secondary-txt
    font-size: $f-h5-size
    margin: 0

    &:last-child
      &::after
        content: none

    &::after
      content: '/'
      margin: 0 4px

.consultation-actions
  +xsm
    display: flex
    justify-content: space-between

.consultation-profile
  display: flex
  align-items: center
  margin: 0 0 32px

  +xsm
    margin: 0

  .author
    flex: 1

    +xsm
      padding: 0 16px 0 0

    +mdm
      max-width: 75%

    .status-list
      .status
        +mdm
          justify-content: flex-end

    h6
      +default-font-regular
      color: $c-secondary-txt
      font-size: $f-h5-size

      a
        @extend h6
        transition: color 0.2s

        &:hover
          color: $c-primary-txt

    h3
      +default-font-regular
      font-size: $f-h3-size

  .thumb
    margin: 0 16px 0 0
