.single-consultation
  background: $c-white
  padding: 0 16px

  +smm
    padding: 0 32px
    margin: 0 auto 32px

  h3
    margin: 0 0 24px
    font-size: $f-h4-size
    
    +smm
      margin: 0 0 16px

    a
      +default-font-regular
      text-align: right
      color: $c-primary-txt

  h5
    +default-font-heavy
    text-transform: uppercase
    display: inline-block
    color: $c-primary-txt
    font-size: $f-paragraph

    .currency
      margin: 0 0 0 4px

  .consultation-wrapper
    border-bottom: 1px solid $c-lines
    padding: 32px 0

    +smm
      padding: 32px 16px

    .consultation-details
      margin: 0 0 32px

      +mdm
        margin: 0 0 24px

      .consultation-price
        margin: 0 0 16px

        h5
          font-size: $f-h4-size

          span
            color: $c-label

      .consultation-options
        display: flex
        align-items: center

        .options-item
          +default-font-regular
          display: flex
          align-items: center
          color: $c-secondary-txt
          font-size: $f-h5-size
          margin: 0

          &:last-child
            &::after
              content: none

          &::after
            content: '/'
            margin: 0 4px

    .consultation-actions
      +xsm
        display: flex
        justify-content: space-between

      .consultation-profile
        display: flex
        align-items: center
        margin: 0 0 24px

        +smm
          margin: 0

        .author
          flex: 1

          +xsm
            padding: 0 16px 0 0

          +mdm
            max-width: 75%

          .status-list
            .status
              +mdm
                justify-content: flex-end

          h6
            +default-font-regular
            color: $c-secondary-txt
            font-size: $f-h5-size

            a
              @extend h6

        .thumb
          min-width: 48px;
          margin: 0 16px 0 0
