.single-consultation
  margin: 0 auto 16px
  background: $c-background
  padding: 32px 16px

  +smm
    padding: 32px
    margin: 0 auto 32px

  h3
    margin: 0 0 24px
    
    +smm
      margin: 0 0 12px

    a
      +default-font-light
      text-align: right
      color: $c-primary-txt

  h5
    +default-font-heavy
    text-transform: uppercase
    display: inline-block
    color: $c-primary-txt
    font-size: $f-paragraph

    .currency
      margin: 0 0 0 4px

  .consultation-wrapper
    display: flex
    flex-wrap: wrap
    width: 100%

    +mdm
      align-items: flex-start

    .consultation-details
      margin: 0 0 32px

      +mdm
        margin: 0
        width: 75%

      .consultation-price
        margin: 0 0 24px

        +mdm
          margin: 8px 0 24px

      .consultation-options
        display: flex
        align-items: center

        .options-item
          display: flex
          align-items: center
          color: $c-secondary-txt
          font-size: $f-small
          margin: 0 16px 0 0

          .icon
            margin: 0 8px 0 0
      
    .consultation-actions
      display: flex
      flex-wrap: wrap
      flex: 1 0 100%

      +smm
        justify-content: space-between

      +mdm
        flex: 1
        width: 25%
        justify-content: flex-end

      .consultation-profile
        display: flex
        align-items: center
        margin: 0 0 32px
        flex: 1 0 100%

        +smm
          margin: 0
          flex: 1

        +mdm
          margin: 0 0 32px
          flex: 1 0 100%
          justify-content: flex-end
          align-items: flex-start

        .author
          order: 2
          flex: 1 0

          +mdm
            order: 1

          .status-list
            order: 1

            +mdm
              order: 2

            .status
              +mdm
                justify-content: flex-end

          h6
            order: 1
            color: $c-secondary-txt
            font-size: $f-paragraph

            +smm
              padding: 0 16px 0 0

            +mdm
              padding: 0
              text-align: right

            a
              @extend h6

        .thumb
          order: 1
          margin: 0 16px 0 0
          
          +mdm
            margin: 0 0 0 16px
