@import "../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.expert-filters
  margin: 0 0 30px

  .employees-options-container
    display: flex
    align-items: center
    flex-wrap: wrap

    +lgm
      flex-wrap: nowrap
      padding: 0 0 0 16px
      margin: 0 0 32px 0

    .employees-checkbox-container
      width: 50%
      order: 2

      +lgm
        order: 1
        width: initial
        margin: 0 24px 0 0

    .employees-filters-container
      display: flex
      align-items: center
      flex-wrap: wrap
      order: 1
      width: 100%

      +lgm
        width: 70%

      .pro-dropdown
        width: 100%
        margin: 0 0 24px

        +lgm
          max-width: 200px
          margin: 0 24px 0 0

    .employees-icons-container
      display: flex
      justify-content: flex-end
      order: 2
      width: 50%

      a
        &:first-child
          margin: 0 16px 0 0

      span
        color: $c-primary
