.btn-dropdown(data-ng-class="{'is-open': $ctrl.isOpen}")
  a.btn(data-ng-class="{'{{$ctrl.buttonClass}}': $ctrl.buttonClass}")
    span(data-ng-click="$ctrl.callback()")
      span.icon.icon-reject-24
      | {{ $ctrl.buttonText | translate}}

    span.toggle-btn(
    data-ng-if="!$ctrl.isPlatformForExpert"
    data-ng-click="$ctrl.toggleButton()")
      span.icon-down-12

  ul.btn-dropdown-list.collapse-height.animation(data-ng-if="$ctrl.isOpen")
    li(data-ng-click="$ctrl.onSelectItem()")
      a(data-translate="COMMUNICATOR.MODALS.CLIENT_CALL.REJECT.SET_UNAVAILABLE")
    li(data-ng-click="$ctrl.onSelectItem()")
      a(data-translate="COMMUNICATOR.MODALS.CLIENT_CALL.REJECT.SET_UNAVAILABLE_NEXT_CHANGE")
    li(data-ng-click="$ctrl.onSelectItem()")
      a(data-translate="COMMUNICATOR.MODALS.CLIENT_CALL.REJECT.MORE_UNAVAILABLE_OPTIONS")

