.round
  left: 0
  right: 0
  top: -25px
  margin-left: auto
  margin-right: auto
  border-radius: 50%
  height: 50px
  width: 50px
  margin-bottom: -5px
  background-color: $c-primary

.center-in-circle
  margin-top: 10px !important
  font-size: 20px