.registration
  display: flex
  justify-content: center

  div.input-container
    position: relative
    
    i
      color: $c-lines
      line-height: 1px




    span
      color: $c-lines
      font-size: $input-container-font-size
      margin-left: 5px
      margin-bottom: 0px
      padding-bottom: 5px
      text-transform: uppercase
    input
      margin-top: $input-container-margin-top
      background-color: $c-white
      padding-left: $input-container-left-right-padding
      padding-right: 50px
      width: $input-container-width
      height: $input-container-height


    .icon-container
      position: absolute
      display: flex
      align-items: center
      padding-left: 15px
      padding-right: 15px
      left: 15px
      top: 22px
      background-color: $c-white

    .mark-position
      position: absolute
      top: 59px
      right: 10px

  .selected
    .icon-container
      span, i
        color: $c-primary !important
      border-color: $c-primary !important


  .ok
    color: green !important

  .reject
    color: red !important



  .test
    background-color: black
  button
    margin-top: 20px
    width: $button-width


