.round
  left: 0
  right: 0
  top: -25px
  margin-left: auto
  margin-right: auto
  border-radius: 50%
  height: 50px
  width: 50px
  background-color: $c-primary-text
  text-align: center

.center-in-circle
  line-height: 50px
  background-color: $c-primary


