/*--- CORE ---*/

/*- Primary -*/
$c-primary:                       #8A3DFF
$c-secondary:                     #6E31CC

/*- Color -*/
$c-success-primary:               #3CC154
$c-success-secondary:             #2CA842
$c-error-primary:                 #F5534E
$c-error-secondary:               #D73A35
$c-warning-primary:               #FFC40C
$c-warning-secondary:             #FFA600
$c-dark-grey:                     #606266

/*- Greyscale -*/
$c-text-primary:                  #2C2F34
$c-text-secondary:                rgba($c-text-primary, 0.75)
$c-label:                         rgba($c-text-primary, 0.5)
$c-placeholder:                   rgba($c-text-primary, 0.35)
$c-lines:                         rgba($c-text-primary, 0.15)

/*- Background -*/
$c-primary-background:            rgba($c-primary, 0.1)
$c-success-background:            rgba($c-success-primary, 0.1)
$c-error-background:              rgba($c-error-primary, 0.1)
$c-warning-background:            rgba($c-warning-primary, 0.1)
$c-element-background:            rgba($c-text-primary, 0.03)
$c-base-background:               #f5f5f5

/*- Mono -*/
$c-black:                         #000
$c-white:                         #FFF

/*--- CORE end ---*/


/*--- Custom ---*/
$c-half-white:                    rgba($c-white, 0.5)
$c-shadow:						            rgba($c-text-primary, 0.10)
/*--- Custom end ---*/
