@import 'sizes'
@import "icons-size"
@import "file-paths"

/*--- CORE ---*/
$f-h1:                  64px
$f-56:                  56px
$f-h2:                  46px
$f-h3:                  38px
$f-h4:                  30px
$f-h5:                  24px
$f-h6:                  18px
$f-subtitle:            16px
$f-subtitle-small:      14px
$f-paragraph:           16px
$f-paragraph-small:     14px
$f-button:              16px
$f-button-small:        14px
$f-caption:             12px
$f-label:               11px
/*--- CORE end ---*/

