$s-button:                                56px
$s-button-small:                          40px

$s-input-container-height:                64px

$s-input-height:                          48px
$s-input-medium-height:                  64px
$s-input-big-height:                      80px
$s-textarea-max-height:                  150px

$f-input-line-height:                     $s-input-height
$f-input-medium-line-height:              $s-input-medium-height
$f-input-big-line-height:                 $s-input-big-height

$s-border-radius:                         2px

$top-modal-navbar: 80px
$dashboard-width-nav:   300px
$dashboard-navigation-height: 80px
$f-commmunicator-header: 26px

