@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"
@import "../../../../../../template/core/core"
@import "../../../../../../shared/components/modals/modal/modal.component"

\:host
  display: block
  width: 100%

.modal-component
  &__handler
    .form
      flex: 1

      +smm
        margin: 32px 0 0 48px
