span.consultation-footer__text
  span(plat-icon iconClass='information-stroke')
  p
    span
      strong {{price}} zł/min
      | {{"INVITE_ACCEPT_REJECT.FREELANCE" | translate}}
      strong {{grossPrice}} zł/min
      | .
