.pro-btn
  +transition(background .3s ease-in-out)
  +text-truncate
  padding: 15px 32px 14px
  border: none
  outline: none
  display: inline-block
  text-align: center
  touch-action: manipulation
  cursor: pointer
  text-transform: uppercase
  white-space: nowrap
  font-size: $f-paragraph

  &.btn-big
    padding: 20px 40px
    width: 100%

  &.btn-medium
    width: 100%

  &.btn-small
    padding: 10px 20px

  &.btn-icon
    display: flex
    align-items: center
    justify-content: center
    position: relative
    padding: 0
    border-radius: 50%
    height: 48px
    width: 48px
    border: 1px solid $c-lines

  &.btn-round
    +border-radius(50px)

  &.btn-main
    color: $c-white
    background-color: $c-primary

    &:hover, &:active, &:focus
      background-color: $c-primary-hover
      cursor: pointer
      border: none

  &.btn-light
    border: 1px solid $c-lines
    color: $c-secondary
    background-color: $c-white

    &:hover, &:active, &:focus
      background-color: $c-white
      cursor: pointer
      color: $c-secondary
      box-shadow: 0 0 0 2px $c-secondary
      border: 1px solid $c-secondary

  &.btn-white
    color: $c-primary-txt
    border: 1px solid $c-lines

    &:hover
      background: $c-primary-txt
      color: $c-white

//nowe style

.default-container
  &.playground
    padding: 32px 0

    .playground-row
      margin-bottom: 64px
      justify-content: space-between
      flex-flow: row-wrap

      &.space-around
        justify-content: space-around

    h3
      +default-font-heavy
      text-transform: uppercase
      margin-bottom: 32px

    .pro-button
      &:not(:last-of-type)
        margin-right: 16px

.pro-button
  +default-font-heavy
  +transition(border-color .2s, background .2s linear, color .1s linear)
  +text-truncate
  border: none
  outline: none
  display: inline-block
  text-align: center
  touch-action: manipulation
  cursor: pointer
  white-space: nowrap
  font-size: $f-btn-size
  border-radius: $border-radius-default
  color: $c-white
  border: 1px solid transparent
  position: relative
  padding: 15px 32px 14px

  .icon
    line-height: 1
    display: flex
    align-items: center
    position: absolute

  &.next-step
    display: flex
    align-items: center
    padding: 15px 0 14px

    .icon
      position: static
      margin: 0 0 0 8px

  &.noborder
    border: 0
    padding: 0
    color: $c-primary

  &.rectangle
    padding: 15px 24px 14px

    &.icon
      padding: 15px 32px 14px 64px

    .icon
      top: 50%
      width: 32px
      left: 24px
      transform: translateY(-50%)

      &::before
        font-size: 13px

    .icon
      top: 50%
      width: 32px
      left: 24px
      transform: translateY(-50%)

      &::before
        font-size: 16px

  &.round
    border-radius: 100%
    height: 64px
    width: 64px

    .icon
      width: 16px
      height: 16px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      line-height: 1px

      &::before
        font-size: 16px

  &.default
    background: $c-primary
    border: 1px solid $c-primary

    &:hover
      background: rgba($c-primary, 0.8)
      border: 1px solid rgba($c-primary, 0.8)

  &.primary
    background: $c-white
    color: $c-primary
    border: 1px solid $c-lines

    &:hover
      border: 1px solid $c-primary

  &.success
    background: $c-success

    &.nobackground
      background: none
      color: $c-success

      &.iconbg
        .icon
          background: $c-success
          color: $c-white

    &.iconbg
      .icon
        color: $c-success

    &:hover
      background: lighten($c-success, 8%)

  &.warning
    background: $c-warning

    &:hover
      background: lighten($c-warning, 8%)

  &.error
    background: $c-error

    &.nobackground
      background: none
      color: $c-error

      &.iconbg
        .icon
          background: $c-error
          color: $c-white

    &.iconbg
      .icon
        color: $c-error

    &:hover
      background: lighten($c-error, 8%)

  &.btn-full
    width: 100%

  &.iconbg
    display: flex
    align-items: center
    padding: 15px 32px 14px

    span
      +default-font-heavy
      font-size: $f-h4-size

    .icon
      position: static
      margin: 0 16px 0 0
      background: $c-white
      border-radius: 50%
      width: 16px
      height: 16px
      display: flex
      align-items: center
      justify-content: center

      &::before
        font-size: $f-icon-size

  &.nobackground
    display: flex
    align-items: center
    background: none
    padding: 15px 0 14px

    &:hover
      background: none

    span
      &.icon
        position: static
        margin: 0 16px 0 0

      &.back
        margin: 0 0 0 8px
        color: $c-secondary-txt
        font-size: $f-h5-size

        &:hover
          color: $c-error

.pro-button-group
  overflow: hidden

  .arrow
    display: flex
    justify-content: center
    align-items: center
    height: 48px
    width: 48px
    float: left
    transition: background .1s linear, color .1s linear, border .1s linear

    &:active
      .icon
        color: $c-white

    .icon
      display: flex
      color: $c-lines

      &:before
        font-size: $f-small

  .arrow-left,
  .arrow-right
    border-top: 1px solid $c-lines
    border-bottom: 1px solid $c-lines

    &:hover
      background-color: $c-primary-txt
      border: 1px solid $c-primary-txt

  .arrow-left
    border-top-left-radius: $border-radius-default
    border-bottom-left-radius: $border-radius-default
    border-right: 1px solid $c-lines
    border-left: 1px solid $c-lines

  .arrow-right
    border-top-right-radius: $border-radius-default
    border-bottom-right-radius: $border-radius-default
    border-right: 1px solid $c-lines

  &.black
    .arrow
      &:active
        .icon
          color: $c-primary-txt

    .arrow-left,
    .arrow-right
      border: 1px solid transparent
      background: $c-primary-txt

      &:hover
        background: $c-white
        border-color: $c-lines

.btn-handler
  .pro-button
    &:not(:last-of-type)
      margin-right: 8px


/*icons*/
.pro-icon
  +transition(border 0.3s)
  width: 48px
  height: 48px
  border: 1px solid $c-lines
  display: flex
  align-items: center
  justify-content: center

  &.default
    border: 1px solid $c-black
    background: $c-black
    color: $c-white

  .icon
    +transition(border 0.3s)
    font-size: $f-h4-size
    display: flex
    align-items: center
    justify-content: center
    position: static

  &.show-more-arrow
    +transition(transform 0.3s)
    margin: 0 auto

    .icon
      +transition(transform 0.3s)
      transform: none
      font-size: $f-h5-size

    &.hide-more
      .icon
        +rotate(180)

/*button icons*/
[href].pro-icon
  &:hover
    border-color: $c-primary-txt

.btn-handler
  .pro-button
    &:last-of-type
      margin-right: 8px



/*icons*/
.pro-icon
  +transition(border 0.3s)
  width: 48px
  height: 48px
  border: 1px solid $c-lines
  display: flex
  align-items: center
  justify-content: center

  &.default
    border: 1px solid $c-black
    background: $c-black
    color: $c-white

  .icon
    +transition(border 0.3s)
    font-size: $f-h4-size
    display: flex
    align-items: center
    justify-content: center

/*button icons*/
[href].pro-icon
  &:hover
    border-color: $c-primary-txt

  &.default
    &:hover
      border: 1px solid $c-lines
      background: $c-white
      color: $c-black
