.pro-btn
  +transition(background .3s ease-in-out)
  +text-truncate
  padding: 15px 32px 14px
  border: none
  outline: none
  display: inline-block
  text-align: center
  touch-action: manipulation
  cursor: pointer
  text-transform: uppercase
  white-space: nowrap
  font-size: $f-paragraph

  &.btn-big
    padding: 20px 40px
    width: 100%

  &.btn-medium
    width: 100%

  &.btn-small
    padding: 10px 20px

  &.btn-icon
    display: flex
    align-items: center
    justify-content: center
    position: relative
    padding: 0
    border-radius: 50%
    height: 48px
    width: 48px
    border: 1px solid $c-lines

  &.btn-round
    +border-radius(50px)

  &.btn-main
    color: $c-white
    background-color: $c-primary

    &:hover, &:active, &:focus
      background-color: $c-primary-hover
      cursor: pointer
      border: none

  &.btn-light
    border: 1px solid $c-lines
    color: $c-secondary
    background-color: $c-white

    &:hover, &:active, &:focus
      background-color: $c-white
      cursor: pointer
      color: $c-secondary
      box-shadow: 0 0 0 2px $c-secondary
      border: 1px solid $c-secondary

  &.btn-white
    color: $c-primary-txt
    border: 1px solid $c-lines

    &:hover
      background: $c-primary-txt
      color: $c-white

//nowe style

.default-container
  &.playground
    padding: 32px 0

    .playground-row
      margin-bottom: 64px
      justify-content: space-between
      flex-flow: row-wrap

      &.space-around
        justify-content: space-around

    h3
      +default-font-heavy
      text-transform: uppercase
      margin-bottom: 32px

    .pro-button
      &:not(:last-of-type)
        margin-right: 16px

.pro-button
  +default-font-heavy
  +transition(border-color .2s, background .2s linear, color .1s linear)
  +text-truncate
  border: none
  outline: none
  display: inline-block
  text-align: center
  touch-action: manipulation
  cursor: pointer
  text-transform: uppercase
  white-space: nowrap
  font-size: $f-base
  border-radius: $border-radius-default
  color: $c-white
  border: 1px solid transparent
  position: relative

  .icon
    line-height: 1
    display: block
    position: absolute

  &.rectangle
    padding: 15px 32px 14px
    min-width: 180px

    &.icon
      padding: 15px 32px 14px 64px

    .icon
      top: 50%
      width: 32px
      left: 24px
      transform: translateY(-50%)

      &::before
        font-size: 16px

    .icon
      top: 50%
      width: 32px
      left: 24px
      transform: translateY(-50%)

      &::before
        font-size: 16px

  &.round
    border-radius: 100%
    height: 64px
    width: 64px

    &.small
      width: 48px
      height: 48px

    .icon
      width: 16px
      height: 16px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      line-height: 1px

      &::before
        font-size: 16px

  &.default
    background: $c-primary-txt
    border: 1px solid $c-lines

    &:hover
      background: $c-white
      color: $c-primary-txt
      border: 1px solid $c-lines

  &.primary
    background: $c-white
    color: $c-primary-txt
    border: 1px solid $c-lines

    &:hover
      background: $c-primary-txt
      border: 1px solid $c-primary-txt
      color: $c-white

  &.succes
    background: $c-success

    &:hover
      background: lighten($c-success, 8%)

  &.warning
    background: $c-warning

    &:hover
      background: lighten($c-warning, 8%)

  &.error
    background: $c-error

    &:hover
      background: lighten($c-error, 8%)

  &.btn-full
    width: 100%

.pro-button-group
  overflow: hidden

  .arrow
    display: inline-block
    position: relative
    height: 48px
    width: 48px
    float: left
    transition: background .1s linear, color .1s linear, border .1s linear

    &:active
      .icon
        color: $c-white

    .icon
      width: 10px
      height: 14px
      color: $c-lines
      display: inline-block
      position: absolute
      top: 4px
      left: 17px

      &:before
        font-size: $f-small

  .arrow-left,
  .arrow-right
    border-top: 1px solid $c-lines
    border-bottom: 1px solid $c-lines

    &:hover
      background-color: $c-primary-txt
      border: 1px solid $c-primary-txt

  .arrow-left
    border-top-left-radius: $border-radius-default
    border-bottom-left-radius: $border-radius-default
    border-right: 1px solid $c-lines
    border-left: 1px solid $c-lines

  .arrow-right
    border-top-right-radius: $border-radius-default
    border-bottom-right-radius: $border-radius-default
    border-right: 1px solid $c-lines

  &.black
    .arrow
      &:active
        .icon
          color: $c-primary-txt

    .arrow-left,
    .arrow-right
      border: 1px solid transparent
      background: $c-primary-txt

      &:hover
        background: $c-white
        border-color: $c-lines

.btn-player
  display: block
  background: rgba($c-black, 0.5)
  width: 64px
  height: 64px
  display: flex
  align-items: center
  justify-content: center
  color: $c-white

  +xsm
    width: 96px
    height: 96px

  +xsm-landscape
    width: 64px
    height: 64px

  +smm
    width: 64px
    height: 64px


  &:hover
    background: $c-white
    color: $c-primary-txt

  &.active
    background: $c-white
    color: $c-primary-txt

  &.disconnect
    background: $c-secondary

.btn-handler
  .pro-button
    &:last-of-type
      margin-right: 8px
