div
  .dropdown-menu
    position: absolute
    top: 100% !important
    left: 0 !important
    z-index: 1000
    padding: 5px 0 0 0
    margin: 2px 0 0
    list-style: none
    text-align: center
    background-color: $c-white
    border: 1px solid $c-lines
    width: 600px
    max-width: 100%
    overflow: hidden
    outline: none
    li
      outline: none
      div
        .grid
          display: flex
          flex-direction: column
          justify-content: space-around
          outline: none
          .top-table-section
            display: flex
            justify-content:  space-around
            flex-direction: column
            .tab-row
              display: flex
              justify-content: space-between
              padding: 10px
              .cell
                .btn
                  background-color:  $c-white
                  color: $c-primary-txt
                  border: none
                  outline: none
                  i
                    color: $c-primary
                    outline: none
            .tab-row-weeks
              display: flex
              justify-content: space-around
              .cell
                width: 200px
                height: 30px
          .main-table-section
            display: flex
            justify-content: space-around
            flex-direction: column
            .tab-row
              display: flex
              justify-content: space-around
              .cell
                border: 1px solid $c-lines
                width: 200px
                height: 45px
                &:first-child
                  border-left: none
                .btn
                  position: relative
                  background-color:  $c-white
                  color: $c-primary-txt
                  border: none
                  height: 100%
                  padding: 0
                  &:hover
                    background-color: $c-primary
                    color: $c-white
                    .text-muted
                      color: $c-white
                  .text-muted
                    color: $c-secondary-txt
