.alert
  .alert-container(data-ng-class="alert.type" data-ng-repeat="alert in alerts | filter:{visible: true} track by $index")
    .alert-content
      span.icon(data-ng-class="alert.icon")
      p.alert-info(data-ng-bind="alert.message")

    .alert-action
      span.icon.icon-close-16.btn-close-icon(ng-click="destroyAlert(alert.id)")
