.pro-range-slider
  span {{ label }}
  rzslider(rz-slider-model="minValue" rz-slider-high="maxValue"
  rz-slider-options="options")
  //rz-slider-tpl-url=require("../../../templates/range-slider/range-slider.tpl.pug"))
