messenger-minimized(data-ng-hide="$ctrl.isMessenger" data-on-new-message="$ctrl.maximizeMessenger"
    data-on-message-click="$ctrl.maximizeMessenger")

messenger-maximized(data-ng-show="$ctrl.isMessenger" data-ng-class="{'is-active': $ctrl.isMessenger}"
    data-call-cost="$ctrl.callCost" data-call-length="$ctrl.callLength"
    data-minimize-messenger="$ctrl.minimizeMessenger" data-is-messenger="$ctrl.isMessenger")
