body
  background-color: $c-background
  overflow-x: hidden
  overflow-y: scroll
*
  +css3-prefix(box-sizing, border-box)

*:before,
*:after
  +css3-prefix(box-sizing, border-box)

input[type="text"]
  color: $c-primary-txt
  border: 0

::-webkit-input-placeholder
  color: $c-secondary-txt
::-moz-placeholder
  color: $c-secondary-txt
:-ms-input-placeholder
  color: $c-secondary-txt
:-moz-placeholder
  color: $c-secondary-txt
