.password-verify
  margin: 0 0 32px
  
  .title-loader
    text-align: left
    padding: 0 16px

    span
      +default-font-bold
      color: $c-label
      text-transform: uppercase
      font-size: $f-label-size
      margin: 0 0 8px
      display: block

  .loader
    width: 100%
    background-color: $c-lines
    height: 4px
    border-radius: $border-radius-default
    margin-top: 5px

    .progress-bar
      height: 8px
      border-radius: 5px

    .done-bar
      animation-duration: 4s
      height: 8px
      border-radius: 5px
      width: 0

    .start
      @extend .done-bar
      width: 0%
      background-color: $c-error

    .very-weak
      @extend .done-bar
      width: 10%
      background-color: $c-error

    .weak
      @extend .done-bar
      width: 30%
      background-color: $c-warning

    .strong
      @extend .done-bar
      width: 70%
      background-color: $c-complete

    .very-strong
      @extend .done-bar
      width: 100%
      background-color: $c-success
