.single-container.slider-container
  div
    i.icon.icon-file-24
    p(data-translate="DASHBOARD.CREATE_PROFILE.FILE_UPLOADER_TITLE")
    p(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.AND_PHOTOS")
    .switcher
      i.icon.icon-arrow-left-12
      i.icon.icon-arrow-right-12
  div
    img(src='http://i.imgur.com/cNN07mR.jpg')
  div
    img(src='http://i.imgur.com/6woY5Kc.jpg')
  div
    img(src='http://www.cristiancisneros.com/wp-content/uploads/2015/04/Certificate-Of-Completion-Ruby-On-Rails-For-Web-Development-Udemy..jpg')
