.pro-expert-slider
  .pro-expert-slider.single-container.slider-container
    .slider-control
      span.icon.icon-file-24
      p(data-translate="DASHBOARD.CREATE_PROFILE.FILE_UPLOADER_TITLE")
      p(data-translate="HOME.TOP_CONTAINER.MAIN_HEADER.AND_PHOTOS")
      .switcher
        span.icon.icon-arrow-left-12(data-ng-click="prevSlide()")
        span.icon.icon-arrow-right-12(data-ng-click="nextSlide()")
    .slider-slides(data-ng-style="leftOffset") 
      slider.flex-row(data-ng-transclude data-controlls="controlls")
        .slides(data-ng-repeat="slide in sliders" data-ng-swipe-left="nextSlide()" data-ng-swipe-right="prevSlide()")
          img(ng-src='{{ imageUrl(slide) }}' data-ng-click="openDialog(slide)")
