.login-page.flex-row
  .left-column
    .top-content
      img.logo(src="/assets/images/logo_profitelo_black.svg" data-ui-sref="app.home")
      
      .top-div
        h3.light(data-translate="LOGIN.TRUST_EXPERTS")
        h4
          span(data-translate="LOGIN.OUR_SERVICES_1")
          span.purple &#32; {{ 16000 + 557 }}	&#32;
          span(data-translate="LOGIN.OUR_SERVICES_2")

      div(data-ui-view="")

    .bottom-content
      .log-bottom
        p(data-translate="LOGIN.DOWNLOAD_FREE_APP")
        .app-buttons
          a
            img(src="/assets/images/google_play.png")
          a
            img(src="/assets/images/app_store.png")
            
  .img-column
