plat-modal-component(
  [modalTrTitleHeader]="'EDIT_PROFILE.TITLE'",
  [isBackwardVisible]="isExpertForm && !isOpenAsExpert",
  [onBackwardClick]="onBackToClientStep"
)
  header.modal-component__content__header
    span([innerHtml]="'EDIT_PROFILE.CONTENT.TITLE' | translate")

    am-core-tooltip(
    [tooltipText]="'EDIT_PROFILE.TOOLTIP.DESCRIPTION'"
    )

  .modal-form
    form.form.form--client(
    *ngIf="!isExpertForm; else expertForm",
    contentHeightAnimation,
    [id]="'clientNameForm'",
    [formGroup]="clientNameForm",
    novalidate,
    id="clientNameForm"
    )

      plat-basic-profile-data(
      [form]="clientNameForm",
      [profileNameControlName]="clientFormControlName",
      [avatarControlName]="clientFormControlAvatar",
      )

    ng-template(#expertForm)
      form.form.form--expert(
      contentHeightAnimation,
      [id]="'expertNameForm'",
      [formGroup]="expertNameForm",
      id="expertNameForm",
      novalidate
      )
        .modal-form__row
          plat-basic-profile-data(
          [form]="expertNameForm",
          [profileNameControlName]="expertFormControlName",
          [avatarControlName]="expertFormControlAvatar",
          [isRequired]="isExpertForm")

        .modal-form__row
          header.modal-component__content__header
            span {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.TITLE' | translate }}

          am-core-textarea-primary(
          [maxLength]="consultationMaxlength",
          [minLength]="consultationMinlength",
          [placeholder]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.PLACEHOLDER'",
          [form]="expertNameForm",
          [controlName]="expertFormControlDescription",
          [errorTextKey]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.ERROR'",
          [label]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.LABEL'",
          [isRequired]="isExpertForm",
          )

        .modal-form__row
          plat-file-uploader(
          *ngIf="!isPending",
          [maxFileSize]="maxValidFileSize",
          [maxFilesCount]="maxValidFilesCount",
          [fileCategory]="fileCategory",
          [profileDocuments]="profileDocumentsList",
          (isUploadingEmitter$)="onUploadingFile($event)",
          (tokensListEmitter$)="onUploadFile($event)",
          )

        .modal-form__row
          plat-profile-links(
          *ngIf="!isPending",
          [form]="expertNameForm",
          [controlName]="expertFormControlLink",
          [itemsList]="profileLinksList",
          (linksListEmitter$)="onAddProfileLink($event)"
          )

    .modal-component__action(*ngIf="!isOpenAsExpert")
      a.button.button--link.button--small((click)="onCreateExpertAccount()", *ngIf="!isExpertForm")
        | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON' | translate }}

      a.button.button--link.button--small((click)="onCreateExpertAccount()", *ngIf="isExpertForm")
        | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.CANCEL' | translate }}

      am-core-submit-button(
      *ngIf="!isExpertForm",
      (click) = "onClientFormSubmit(clientNameForm)",
      [titleText]="'EDIT_PROFILE.CONTENT.CREATE_CLIENT_PROFILE.BUTTON.SAVE_PROFILE'",
      [isDisabled]="isFileUploading || isRequestPending",
      [isLoading]="isFileUploading || isRequestPending"
      )

      am-core-submit-button(
      *ngIf="isExpertForm",
      (click) = "onCreateExpertFormSubmit(expertNameForm)",
      [titleText]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.SAVE_PROFILE'",
      [isDisabled]="isFileUploading || isRequestPending",
      [isLoading]="isFileUploading || isRequestPending"
            )

    .modal-component__action.modal-component__action--expert(*ngIf="isExpertForm && isOpenAsExpert")
      am-core-submit-button(
      (click)="onExpertFormSubmit(expertNameForm)",
      [titleText]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.SAVE_PROFILE'",
      [isDisabled]="isFileUploading || isRequestPending",
      [isLoading]="isFileUploading || isRequestPending"
      )