@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"

.user-navigation
  display: flex
  justify-content: space-between
  position: relative
  height: 100%

  &__underline
    display: none

    &.visible
      +mdm
        position: absolute
        top: 100%
        left: 0
        display: block
        height: 1px
        background: $c-primary

  &__list
    display: flex
    justify-content: space-around
    align-items: center

    span
      color: $c-text-primary

    &--nav
      display: none

      li
        margin: 0 24px 0 0
        display: flex
        justify-items: center

        &:last-child
          margin: 0 16px 0 0

        &::ng-deep
          .activities-counter
            margin: 0 0 0 6px

        a
          span
            +subtitle-small
            color: $c-text-primary

          &:hover + plat-activities-counter
            &::ng-deep
              .activities-counter
                background: $c-primary

          &:hover
            span
              color: $c-primary



        &.active
          a
            span
              color: $c-primary

          &::ng-deep
            .activities-counter
              background: $c-primary

      +lgm
        display: flex

    &--menu
      li
        a
          margin: 0 8px 0 0
          display: flex

        span
          font-size: 32px
          color: $c-text-primary

          &:hover
            color: $c-primary

        &:last-child
          cursor: pointer

          +xsm
            margin: 0 0 0 8px
