.user-navigation
  ul.user-navigation__list.user-navigation__list--nav
    li(
      *ngFor="let navbarOption of navbarItems",
      routerLinkActive="active",
      #listElement
    )
      a([routerLink]="navbarOption.url")
        span([translate]="navbarOption.trKey")
      plat-activities-counter(*ngIf="navbarOption.counter | async as combineCounter", [counter]="combineCounter")
  .user-navigation__underline(userNavigationUnderlineDirective [currentItem$]="currentElement")

  ul.user-navigation__list.user-navigation__list--menu
    li
      a
        span.icon.icon-questionmark
    //- TODO uncomment this after Beta release ends
    //-li
    //-  a
    //-    span.icon.icon-bell
    li
      plat-navbar-user-avatar(
        [avatarToken]="userAvatarToken",
        [userType]="userType",
        [isUserMenuVisible]="isMenuVisible",
        [isUserVisible]="isUserVisible",
      )

        plat-navbar-user-menu(
          [menuItems]="menuItems",
          [userName]="userName",
          [userType]="userType",
          [isMenuVisible]="isMenuVisible",
          [accountId]="accountId",
          [switchAccountAvatarToken]="switchAccountAvatarToken",
          [switchAccountType]="switchAccountType",
          (switchAccount)="emitSwitchAccountUserType($event)",
          [isVisible]="isUserVisible",
          (switchVisibility)="onSwitchVisibility($event)"
        )
