.login-view
  plat-login-background
    plat-login-content(
      contentHeightAnimation,
      titleText="LOGIN.TITLE"
    )
      plat-login-form((onRegistrationLinkClick)="navigateToRegistration()")
