.bottom-row
  color: $c-primary-txt
  background-color: $c-white
  width: 100%
  +smm
    width: calc(100% - 96px)
  bottom: 0
  z-index: 100
  position: fixed
  border-top: 1px solid $c-lines
  .progress-bar
    height: 1px
    background-color: $c-secondary
    float: left
    position: absolute
    top: 0
    margin-top: -1px
    +transition('all 1s ease-in-out 0s')
  .title-row-column
    padding: 0 24px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-between
    align-content: center
    align-items: center
    +smm
      flex-direction: row
  .title
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    align-content: flex-start
    align-items: center
    width: 100%
    color: $c-primary-txt
    h5
      color: $c-primary-txt
      +default-font-heavy
      text-transform: uppercase
      padding: 0px 8px
      +smm
        padding: 9px 4px
    .width
      color: $c-nav-icons
  .next-step
    width: 200px
    .button-next-step
      .btn-main
        background-color: $c-primary
        color: $c-white
        height: 48px
        margin-top: -10px
        +smm
          margin-top: 0
