.title-row
  padding: 24px 12px
  text-transform: uppercase
  border-bottom: 1px solid $c-lines
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-content: center
  align-items: center
  height: 96px
  +mdm
    padding: 24px 24px
  .title
    h2
      text-align: center
      color: $c-primary-txt
      +default-font-heavy
