.pro-chat-message-modal.no-available-expert.modal-checkbox
	.modal-header
		h4(data-translate="DASHBOARD.INVITATION.MODAL.NO_AVAILABLE_EXPERT")

	.modal-contents
		.modal-description
			p(data-translate="DASHBOARD.INVITATION.MODAL.SEND_NOTIFICATION_WHEN_AVAILABLE")

			.modal-buttons
				button.pro-button.rectangle.primary(data-ng-click="vm.dismissWindow()" data-translate="INTERFACE.ABORT")
				button.pro-button.rectangle.default(data-ng-click="vm.sendNotification()" data-translate="DASHBOARD.INVITATION.MODAL.SEND_NOTIFICATION")

