ul.expert-state
  li
    ul
      li(data-ng-hide="$ctrl.isExpertOrOrganization")
        a.btn.btn-primary.btn-small(data-translate="NAVIGATION.MENU_ITEMS.START_EARNING"
        data-ui-sref="app.dashboard.service-provider.choose-path")

      li(data-ng-if="$ctrl.isExpertOrOrganization")
        a(data-ui-sref="app.dashboard.expert.activities")
          span.mobile-only.icon.icon-suitcase-24-1
          span(data-translate="NAVIGATION.MENU_ITEMS.EXPERT")
      li
        a(data-ui-sref="app.dashboard.client.favourites")
          span.mobile-only.icon.icon-client-24
          span(data-translate="NAVIGATION.MENU_ITEMS.CLIENT")
      li
        a(data-ui-sref="app.dashboard.settings.general")
          span.mobile-only.icon.icon-settings-24
          span(data-translate="NAVIGATION.MENU_ITEMS.SETTINGS")
      li
        a(data-ng-click="$ctrl.logout()")
          span.mobile-only.icon.icon-logout-24
          span(data-translate="NAVIGATION.MENU_ITEMS.LOGOUT")

  li.navbar-notifications
    ul
      li.navbar-parent
        a
          span.navbar-item-handler
            span.icon.icon-questionmark-24
            span.mobile-onlys(data-translate="NAVIGATION.MENU_ITEMS.HELP")
          span.mobile-only.icon.icon-next-24

      li.navbar-parent(data-ng-if="$ctrl.isExpert")
        a
          span.navbar-item-handler
            span.icon.icon-user-available-24
            span.mobile-onlys(data-translate="NAVIGATION.MENU_ITEMS.AVAILABILITY")
          span.mobile-only.icon.icon-next-24

      li.navbar-parent
        a
          span.navbar-item-handler
            span.icon.icon-bell-24
            span.mobile-onlys(data-translate="NAVIGATION.MENU_ITEMS.NOTIFICATION")
          span.mobile-only.icon.icon-next-24


