block content
  .step(data-ng-show="queue.amountOfSteps === queue.completedSteps")
    .summary-button
      a.pro-btn.btn-round.btn.small.btn-main(data-translate="DASHBOARD.CREATE_PROFILE.NEXT_CONSULTATION" data-ng-click="onClick()")
    
    
