block content
  .default-container-small
    .step.pro-bottom-consultattion-button(data-ng-show="queue.amountOfSteps === queue.completedSteps")
      .summary-button
        a.pro-button.rectangle.default(data-translate="{{buttonLabel}}" data-ng-click="onClick()")
