block content
  .step.pro-bottom-consultattion-button(data-ng-show="queue.amountOfSteps === queue.completedSteps")
    .summary-button
      a.pro-btn.btn-round.btn.small.btn-main(data-translate="{{buttonLabel}}" data-ng-click="onClick()")
