block content
  .container-medium
    .step.pro-bottom-consultattion-button(data-ng-show="queue.amountOfSteps === queue.completedSteps")
      .summary-button
        a.btn.btn-default(data-translate="{{buttonLabel}}" data-ng-click="onClick()")
