@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.invoices
  header
    span
      margin: 0 32px 0 0

  .company-details
    display: block
    margin: 0 0 48px

    p
      +paragraph
      +default-font-regular

  a
    text-align: right
