@import "~@anymind-ng/core/src/template/stylesheets/core/core"

.settings
	padding: 48px 0 72px
	margin: 0 auto
	max-width: 840px

	plat-setting-option
		margin: 0 0 4px 0

	&__header
		+h5
		display: block
		margin: 0 0 24px 24px

.button-mobile
  +smm
    display: none

.button-tablet
  display: none

  +smm
    display: inline
