.consultations-field
  .consultations-top
    h4
      color: $c-white
      text-transform: uppercase
      +default-font-heavy

    .field-search
      padding: 106px 0 200px 0

      .top-search-items
        margin: 64px 0 88px

        h4
          color: $c-white

        .tags
          margin: 32px 0 0

      .consultations-field-title
        padding: 72px 0 88px
        display: flex
        flex-direction: column
        align-items: center

        span
          font-size: 58px
          color: $c-white

  .card-slider
    position: relative
    margin-top: -200px
    .controlls
      position: absolute
      width: 100%
      height: 400px
      top: 0
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      opacity: 0
      +transition(opacity .2s)

      &:hover
        opacity: 1

      .left-offset
        height: 100%
        background: linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%)
        display: flex
        flex-direction: row
        align-items: center

      .right-offset
        height: 100%
        background: linear-gradient(right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%)
        display: flex
        flex-direction: row
        align-items: center

      span
        padding: 0 32px
        font-size: 32px
        background: transparent
