.consultations-field
  .consultations-top
    h4
      color: $c-white
      text-transform: uppercase
      +default-font-heavy

    .field-search
      padding: 106px 0 200px 0

      .top-search-items
        margin: 64px 0 88px

        h4
          color: $c-white

        .tags
          margin: 32px 0 0

      .consultations-field-title
        padding: 72px 0 88px
        display: flex
        flex-direction: column
        align-items: center

        span
          font-size: 58px
          color: $c-white

  .card-slider
    position: relative
    margin-top: -200px
