.communicator(data-ng-class="{'is-disconnected': $ctrl.isDisconnected, 'is-closed': $ctrl.isClosed, 'is-minimized': $ctrl.isMinimized}" data-ng-hide="$ctrl.isClosed")
  communicator-maximized(data-ng-class="{'conversation-hidden': $ctrl.isMinimized}"
    data-minimize-communicator="$ctrl.minimizeCommunicator")
  communicator-minimized(data-ng-class="{'conversation-hidden': !$ctrl.isMinimized}"
    data-maximize-communicator="$ctrl.maximizeCommunicator")
