.communicator(data-ng-class="{'is-disconnected': $ctrl.isDisconnectedAnimation, 'is-closed': $ctrl.isClosed}" data-ng-hide="$ctrl.isClosed")
  .communicator-maximized
    .communicator-conversation-header-details
      .consultation-actions
        .consultation-profile
          div
            .author
              span {{ $ctrl.expert.expertDetails.name }}
            .communicator-conversation-title
              p {{ $ctrl.service.name }}
            .communicator-counter
              span {{ $ctrl.callLengthInSeconds | secondsToDateTime | date:'HH:mm:ss'}}
              span(data-ng-bind-html="$ctrl.callCost | money")

    .communicator-content
      .current-profile
        .communicator-equalizer(data-ng-class="{'is-active': !$ctrl.isConnecting}")
          span.circle
          span.circle
          span.circle

        .communicator-user
          .user-avatar.communicator-avatar
            user-avatar.thumb.x192(data-image-token="$ctrl.expertAvatar")

      p.call.connecting-with(data-translate="COMMUNICATOR.CONNECTING_WITH" data-ng-show="$ctrl.isConnecting")

    .video-player-local(data-ng-show="$ctrl.isLocalVideo")
      video(autoplay="true" muted="true")

    .video-player-remote(data-ng-show="$ctrl.isRemoteVideo")
      video(autoplay="true")

    communicator-nav(data-is-video="$ctrl.isLocalVideo" data-is-messenger="$ctrl.isMessenger"
    data-current-call="$ctrl.currentCall")

    messenger(data-is-messenger="$ctrl.isMessenger" data-call-cost="$ctrl.callCost"
    data-call-length="$ctrl.callLengthInSeconds" data-message-room="$ctrl.messageRoom")
