.question-mark
  color: #999

.page-header
  display:  block
  overflow: auto
  height: auto

  h1, h2, h3, h4, h5, h6
    float: left
    margin-top: 30px

  .pro-profle-status
    float: left
    margin-top:   38px
    margin-left:  20px

  .progress-container
    margin-top:   38px

    span
      float: left
      padding-right: 10px

    .progress
      width: 120px



$page-body-side-margins: 30px
$page-body-elements-margin-bottom: $page-body-side-margins
$page-content-top: -80px

.page-body
  position: relative

  .page-content
    position: relative
    top: $page-content-top
    margin-left: $page-body-side-margins

    textarea
      max-width:  100%
      min-width:  100%
      width:      100%

    .left-side
      > div
        margin-bottom: $page-body-elements-margin-bottom

    .right-side
       > div
        margin-bottom: $page-body-elements-margin-bottom


  // ===== helper classes =====
  .droppable-container-helper
    @include border-radius(8px)
    position:   relative
    border:     3px dashed #bbb
    background: #DDD

  .flex-center-helper
    display:          flex
    align-items:      center
    justify-content:  center

  .question-mark-absolute-left-top-corner-helper
    position: absolute
    top:    10px
    right:  10px
    z-index: 100

  @mixin background-icon($font-size)
    font-size:  $font-size
    color:      #999
  // ===== end helper classes =====


  .profile-cover
    @extend .droppable-container-helper
    @extend .flex-center-helper
    height: 300px

    .question-mark
      @extend .question-mark-absolute-left-top-corner-helper

    .add-icon
      i
        @include background-icon(800%)

  .profile-cover.active
    border:   none
    overflow: hidden
    img
      width:  100%
      height: auto

  // left side
  $profile-avatar-height: 180px
  .profile-avatar
    @extend .droppable-container-helper
    @extend .flex-center-helper
    height: $profile-avatar-height

    .question-mark
      @extend .question-mark-absolute-left-top-corner-helper

    .user-icon
      i
        @include background-icon(500%)

  .profile-avatar.active
    border:   none
    overflow: hidden
    img
      height: 100%
      width:  auto


  $profile-behance-height: 120px
  .profile-behance
    @extend .droppable-container-helper
    @extend .flex-center-helper
    height: $profile-behance-height

    .question-mark
      @extend .question-mark-absolute-left-top-corner-helper

    .behance-icon
      i
        @include background-icon(500%)

  .profile-video
    @extend .droppable-container-helper
    @extend .flex-center-helper
    height: 120px

    .question-mark
      @extend .question-mark-absolute-left-top-corner-helper

    .video-icon
      i
        @include background-icon(500%)

  .profile-social-media
    @extend .droppable-container-helper
    @extend .flex-center-helper
    height: 120px

    .question-mark
      @extend .question-mark-absolute-left-top-corner-helper

    .share-icon
      i
        @include background-icon(500%)


  // right side
  .profile-fullname
    margin-right: $page-body-side-margins

  .profile-general-info
    padding-top: $page-body-side-margins

    textarea
      height: ($profile-avatar-height - abs($page-content-top)) + $profile-behance-height

  .profile-certificates
    @extend .droppable-container-helper
    @extend .flex-center-helper
    height: 120px

    .question-mark
      @extend .question-mark-absolute-left-top-corner-helper

    .files-icon
      i
        @include background-icon(500%)


