.details-tab
  .details-tab-row
    margin: 0 0 8px
    padding: 8px 0
    text-align: left

    +xsm
      margin: 0
      display: flex
      justify-content: space-between

      +smm
        padding: 16px 8px

    &:not(.header-row)
      &:nth-child(2n)
        +smm
          background: $c-background

  span
    font-size: $f-paragraph
    color: $c-primary-txt

  .details-tab-label
    margin: 0 0 8px

    +smm
      margin: 0

    span
      color: $c-secondary-txt

  .details-header-row
    border-bottom: 1px solid $c-lines
    padding: 0 16px 8px
    margin: 0 0 24px

    +xsm
      padding: 0 0 24px 0

    span
      +modalTitleHeader

    &.details-header-handler
      display: flex
      align-content: center
      justify-content: space-between


.info-tab
  padding: 24px 0

  +smm
    padding: 24px

  .info-tab-row
    margin: 0 0 12px
    text-align: left

    &:last-child
      margin: 0

  span
    font-size: $f-paragraph
    color: $c-primary-txt

  .info-tab-label
    display: block

    span
      +default-font-medium
      font-size: $f-h5-size
      text-transform: uppercase
      color: $c-label


.grey-tab
  background: $c-background
  border: 1px solid $c-lines
  padding: 32px

.settings-row-double
  border-bottom: 1px solid $c-lines
  padding: 20px 0

  .settings-row
    border: 0
    min-height: 48px

    +xsm
      padding: 0 16px

    +smm
      padding: 0 24px

