.details-tab
  .details-tab-row
    margin: 0 0 8px
    padding: 8px 0
    text-align: left

    +xsm
      margin: 0
      display: flex
      justify-content: space-between

      +smm
        padding: 8px 0

    .details-tab-label
      span
        +paragraph
        +default-font-medium

    .details-tab-content
      +xsm
        text-align: right

      &:not(.price-section)
        span
          +paragraph
          +default-font-medium
          color: $c-primary-txt


.info-tab
  padding: 24px 0

  +smm
    padding: 24px 16px

  .info-tab-row
    margin: 0 0 12px
    text-align: left

    &:last-child
      margin: 0

  span
    +paragraph

  .info-tab-label
    display: block

    span
      +paragraphTitle
