.social-links
  background: $c-background
  padding: 32px 16px
  text-align: center

  +smm
    display: flex
    align-items: center
    justify-content: center
    padding: 16px 32px

  +lgm
    padding: 32px

  span
    +default-font-regular
    color: $c-primary-txt
    font-size: $f-h3-size

    +smm
      margin: 0 16px 0 0

