.choose-amount-charge
  margin: 0 0 64px

  .choose-options
    .choose-options-item
      +xsm
        flex: 1 0 50%

      +mdm
        flex: 1 0 25%

      .option
        +mdm
          margin: 0

    .option-own-amount
      .input-group
        width: 100%
