.choose-amount-charge
  margin: 0 0 32px 0

  +xsm
    margin: 0 -8px

  .title
    margin: 0 0 64px

  h3
    text-align: center

    +lgm
      text-align: left

  .choose-options
    margin: 0 0 64px

    +smm
      display: flex
      flex-wrap: wrap

    .choose-options-item
      +smm
        flex: 1 0 50%
        padding: 0 8px
        margin: 0 -8px

      +mdm
        flex: 1 0 25%

      .option
        +border-radius(3px)
        margin: 0 8px 16px
        box-shadow: 0 0 0 1px $c-lines
        align-items: center
        display: flex
        justify-content: center
        padding: 32px
        cursor: pointer
        position: relative
        height: 96px

        h2
          font-size: 42px

        &:hover
          box-shadow: 0 0 0 1px $c-primary

      .selected
        box-shadow: 0 0 0 2px $c-primary

      .top-right
        background: $c-primary
        width: 24px
        height: 24px
        color: $c-white
        font-size: 10px
        padding: 6px 7px
        position: absolute
        bottom: -14px

    .option-own-amount
      .input-group
        width: 100%
