.client-credits
  min-height: 56px
  text-align: center
  margin: 0 0 32px

  +xsm
    display: flex
    justify-content: flex-end
    align-items: center

  +smm
    margin: 0 auto

  > span
    +default-font-bold
    color: $c-primary-txt
    font-size: $f-h2-size
    margin: 0 0 24px
    display: flex
    justify-content: center
    align-items: center

    +xsm
      margin: 0 24px 0 0

    span
      margin: 0 8px 0 0

