.card
  .braintree
    preloader(data-is-loading="!$ctrl.onBraintreeFormLoad")
      braintree-form(data-on-braintree-form-load="$ctrl.onLoad"
      data-submit-button-translate="DASHBOARD.CHARGE_ACCOUNT.CHARGE_ACCOUNT_BUTTON_TEXT"
      data-on-form-succeed="$ctrl.onSucceed" data-transaction="$ctrl.transaction")
