.card
  .charge-container
    .braintree
      .modal-settings
        .container-medium.no-padding.modal-form
          braintree-form(data-on-braintree-form-load="vm.onLoad"
          data-submit-button-translate="BRAINTREE.ADD_BUTTON"
          data-on-form-succeed="vm.onFormSucceed")
