.card
  .braintree
    preloader(data-is-loading="!$ctrl.onBraintreeFormLoad")
      braintree-form(data-on-braintree-form-load="$ctrl.onLoad"
      data-submit-button-translate="BRAINTREE.ADD_BUTTON"
      data-on-form-succeed="$ctrl.onSucceed" data-transaction="$ctrl.transaction")
