@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/rwd"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/mixins"
@import "../../../../template/profitelo_theme/stylesheets/core/interface/typography/typography"
@import "../../../../template/profitelo_theme/stylesheets/core/template-elements/lists/tiles/tiles"

.similar-consultations
  .entry-title
    +entryTitle
    display: flex
    align-items: center
    justify-content: space-between
    padding: 48px 0

  .tiles-component
    display: block
    padding: 0

    +xsm
      flex: 0 0 50%

    +mdm
      flex: 0 0 25%

    .tiles-item
      flex: 1 0 100%
