@import "../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../template/profitelo_theme/stylesheets/variables/variables"

.modal-confirm
  .entry-header
    padding: 0 0 32px
    text-align: center

    > *
      +default-font-regular
      color: $c-black
      line-height: 24px

  .btn-group
    justify-content: center

    a
      flex: 1 0 50%
      margin: 0 4px
