.modal-confirm.modal-alert
  .entry-header
    h3 {{ vm.messageText }}
  .btn-group
    a.btn.btn-primary(
    data-ng-click="vm.onCancel()"
    data-translate="CONFIRM_ALERT.CANCEL_BUTTON")

    a.btn.btn-default(
    data-ng-click="vm.onConfirm()") {{ vm.messageConfirmButton }}
