@import "../../../../../../node_modules/@anymind-ng/core/src/template/stylesheets/core/partials/input/input"
@import "../../../../../../node_modules/@anymind-ng/core/src/template/stylesheets/core/helpers/mixins/mixins"

.input-set-password
  .input
    &__handler
      width: 100%
      position: relative

    &__password-strength
      position: absolute
      right: 0

      span
        +label
        text-transform: none

  .icon-password
    position: absolute
    top: 0
    bottom: 0
    right: 0
    margin: auto
    cursor: pointer
