.email-view
  plat-login-background
    .forgot-password-email
      .forgot-password-email__content
        am-core-content-default(
            imgName="message-send",
            titleText="FORGOT_PASSWORD.MAIL.TITLE",
            descriptionText="FORGOT_PASSWORD.MAIL.DESCRIPTION"
          )
