@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

.email-view
  .forgot-password-email
    &__content
      display: flex
      align-items: center
      height: 100vh
      background: #fff
      padding: 85px
      border-radius: 8px

      +xsm
        height: auto
