@import "../../../../../../node_modules/@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"

.email-view
  .forgot-password-email
    &__content
      display: flex
      align-items: center
      height: 100vh
      background: #fff
      padding: 124px 85px
      border-radius: 8px

      +xsm
        height: auto
