h2.branch-box-title(data-translate="HOME.BRANCH_BOX_TITLE")
.branch-card-box.flex-row
  .branch-card-outer
    a.branch-card.flex-col(data-translate="HOME.CARD_BUSSINES")
  .branch-card-outer
    a.branch-card.flex-col(data-translate="HOME.CARD_HOME")
  .branch-card-outer
    a.branch-card.flex-col(data-translate="HOME.CARD_TECHNOLOGIES")
  .branch-card-outer
    a.branch-card.flex-col(data-translate="HOME.CARD_SCIENCE")
.branch-card-box.flex-row
  .branch-card-outer
    a.branch-card.flex-col(data-translate="HOME.CARD_FASHION")
  .branch-card-outer
    a.branch-card.flex-col(data-translate="HOME.CARD_ENTERTAINMENT")
  .branch-card-outer
    a.branch-card.flex-col(data-translate="HOME.CARD_HEALTH")
  .branch-card-outer
    a.branch-card.flex-col(data-translate="HOME.CARD_LAW")
  
