h2.branch-box-title(data-translate="HOME.BRANCH_BOX_TITLE")
.branch-card-box.flex-row
  .branch-card-outer
    span.icon.icon-business-32
    a.branch-card.flex-col(data-translate="HOME.CARD_BUSSINES")
  .branch-card-outer
    span.icon.icon-home-32
    a.branch-card.flex-col(data-translate="HOME.CARD_HOME")
  .branch-card-outer
    span.icon.icon-technology-32.icon-education-32
    a.branch-card.flex-col(data-translate="HOME.CARD_TECHNOLOGIES")
  .branch-card-outer
    span.icon.icon-education-32
    a.branch-card.flex-col(data-translate="HOME.CARD_SCIENCE")
.branch-card-box.flex-row
  .branch-card-outer
    span.icon.icon-fasion-32
    a.branch-card.flex-col(data-translate="HOME.CARD_FASHION")
  .branch-card-outer
    span.icon.icon-recreation-32
    a.branch-card.flex-col(data-translate="HOME.CARD_ENTERTAINMENT")
  .branch-card-outer
    span.icon.icon-health-32
    a.branch-card.flex-col(data-translate="HOME.CARD_HEALTH")
  .branch-card-outer
    span.icon.icon-law-32
    a.branch-card.flex-col(data-translate="HOME.CARD_LAW")
  
