h2.branch-box-title(data-translate="HOME.BRANCH_BOX_TITLE")
.branch-card-box.flex-row
  .branch-card-outer
    span.icon.icon-business-32
    a.branch-card.flex-col(data-translate="HOME.CARD_BUSINESS" data-ui-sref="app.search-result({categorySlug: 'biznes-i-kariera'})")
  .branch-card-outer
    span.icon.icon-home-32
    a.branch-card.flex-col(data-translate="HOME.CARD_HOME" data-ui-sref="app.search-result({categorySlug: 'dom-i-rodzina'})")
  .branch-card-outer
    span.icon.icon-technology-32.icon-education-32
    a.branch-card.flex-col(data-translate="HOME.CARD_TECHNOLOGIES" data-ui-sref="app.search-result({categorySlug: 'technologie'})")
  .branch-card-outer
    span.icon.icon-education-32
    a.branch-card.flex-col(data-translate="HOME.CARD_SCIENCE" data-ui-sref="app.search-result({categorySlug: 'nauka-edukacja-i-rozwoj'})")
.branch-card-box.flex-row
  .branch-card-outer
    span.icon.icon-fasion-32
    a.branch-card.flex-col(data-translate="HOME.CARD_FASHION" data-ui-sref="app.search-result({categorySlug: 'moda-i-sztuka'})")
  .branch-card-outer
    span.icon.icon-recreation-32
    a.branch-card.flex-col(data-translate="HOME.CARD_ENTERTAINMENT" data-ui-sref="app.search-result({categorySlug: 'rozrywka-rekreacja-i-hobby'})")
  .branch-card-outer
    span.icon.icon-health-32
    a.branch-card.flex-col(data-translate="HOME.CARD_HEALTH" data-ui-sref="app.search-result({categorySlug: 'zdrowie-i-uroda'})")
  .branch-card-outer
    span.icon.icon-law-32
    a.branch-card.flex-col(data-translate="HOME.CARD_LAW" data-ui-sref="app.search-result({categorySlug: 'prawo-polityka-i-spoleczenstwo'})")
