.expert-cards-section
  .expert-card.flex-col
    img.expert-avatar(src="https://placekitten.com/50/50")
    p.expert-name Pan Zenek Żelka
    p.expert-availability Dostępny
    p.expert-service Bla bla bla bla bla bla bla
    .expert-data.flex-row
      .service-satisfaction(data-translate="HOME.EXPERT_CONVERSATIONS")
      .conversations-amount(data-translate="HOME.EXPERT_SERVICE_SATISFACTION")
    
