.client-activities-page
  .default-container
    padding: 0

    +smm
      padding: 0 32px

    +xlgm
      padding: 0

  .client-credits
    &.default-container
      padding: 0 16px

      +smm
        padding: 0 32px

      +xlgm
        padding: 0