@import "./projects/anymind-ng-core/src/template/stylesheets/core/variables/colors"
@import "./projects/anymind-ng-core/src/template/stylesheets/core/helpers/mixins/mixins"

.availability
  +caption
  display: flex
  align-items: center
  color: $c-text-secondary

  .icon
    margin: 0 5px 0 0

    &.icon-available
      color: $c-success-primary

    &.icon-offline
      color: $c-text-secondary

    &.icon-busy
      color: $c-warning-primary
