.login-page
  .left-column
    .top-content
      img.logo(src="/assets/images/logo_profitelo_black.png" data-ui-sref="app.home")
      .top-div
        h5.light(data-translate="LOGIN.TRUST_EXPERTS")
        h4
          span(data-translate="LOGIN.OUR_SERVICES_1")
          span.purple &#32; {{ 16000 + 557 }}	&#32;
          span(data-translate="LOGIN.OUR_SERVICES_2")

      div(data-ui-view="")

    .bottom-content
      .log-bottom
        h5(data-translate="LOGIN.DOWNLOAD_FREE_APP")
        .app-buttons
          img(src="/assets/images/google_play.png")
          img(src="/assets/images/app_store.png")
      .footer
        h6(data-translate="COMMON.COPYRIGHT")
  .img-column
