.login-view
    .info-wrapper
        .top-content
            img.logo(src="/assets/images/logo_profitelo_black.png")
            .top-div
                h6 Zaufaj ekspertom i rozwiąż swoje problemy
                h4 Prowadzimy już
                    span.purple  16 457
                    span  usług!
            div(data-ui-view="")

        .bottom-content
            .log-bottom
                h5 Pobierz bezpłatną aplikację na telefon:
                .app-buttons
                    img(src="/assets/images/google_play.png")
                    img(src="/assets/images/app_store.png")
            .footer
                h6 2016- iTelo sp z.o.o. All rights reserved.
    .img-wrapper
        .main-img
