.expert-employee(data-ng-if="!$ctrl.isEmploeeDeleted")
  .list-row
    .employee-informations
      .profile-preview
        user-avatar.thumb.x48(data-image-token="$ctrl.employeeAvatar")
      .employee-details
        .employee-name-container
          span {{ $ctrl.employeeName }}
        .consultations-count-container
          span {{ $ctrl.employmentsCount | translate}}
          span.consultation-slug {{ $ctrl.consultationText }}

    .employee-button-container
      a.btn.btn-link(
      data-translate="DASHBOARD.EXPERT_ACCOUNT.EMPLOYEES.DELETE_BUTTON"
      data-ng-click="$ctrl.deleteEmployee()"
      )
