.no-favourite-experts.client-no-results-content
  .dashboard-content
    img(data-ng-src="/assets/images/profitelo-icons/icon9.png")

    div
      h3(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.NO_FAVOURITE_EXPERTS.TITLE")
      p(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.NO_FAVOURITE_EXPERTS.DESCRIPTION")

      a.btn.btn-primary(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.SEARCH_EXPERT" data-ui-sref="app.search-result")