.no-favourite-experts.no-results-page
  .dashboard-content.no-results-page-content
    img(data-ng-src="/assets/images/profitelo_icons/icon_favourite.png")

    div
      h2(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.NO_FAVOURITE_EXPERTS.TITLE")
      p(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.NO_FAVOURITE_EXPERTS.DESCRIPTION")

      a.btn.btn-primary(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.SEARCH_EXPERT" data-ui-sref="app.search-result")
