.branch-box-title
  color: $c-white
  font-size: $f-main-subheader
  text-align: center
  +default-font-light
  margin: 40px 0

.branch-card-box
  justify-content: space-between
  margin: 0 -8px

  &:last-of-type
    margin-bottom: 128px

  .branch-card-outer
    padding: 0
    margin: 0 0 16px
    position: relative
    flex: 0 0 100%


    +xsm
      flex: 0 0 50%

    +mdm
      flex: 0 0 25%

    .icon

      &::before
        color: white
        position: absolute
        top: 30px
        left: 40px

  .branch-card
    +default-font-heavy
    color: $c-white
    padding: 26px 32px
    margin: 0 8px 0
    height: 128px
    box-shadow:  0 2px 2px 0 rgba(0, 0, 0, .2)
    font-size: $f-base
    justify-content: flex-end
    background: $c-primary-hover
    text-transform: uppercase
