.branch-box-title
  color: $c-white
  font-size: $f-main-subheader
  text-align: center
.branch-card-box
  justify-content: space-between
  padding: 0 24px
  flex-flow: row wrap
  &:last-of-type
    margin-bottom: 128px
  .branch-card-outer
    width: 288px
    flex: 0 1 100%
    margin-bottom: 16px
    padding: 0 8px
    +smm
      flex: 0 1 50%
    +mdm
      flex: 0 1 25%
  .branch-card
    +colfax-super-bold
    color: $c-white
    padding: 32px
    height: 128px
    box-shadow:  0px 2px 2px 0px rgba(88,61,183,1)
    font-size: $f-base
    justify-content: flex-end
    background: $c-violet url('/assets/images/paper.svg') no-repeat left 30px top 30px / 32px 26px
