.branch-box-title
  color: $c-white
  font-size: $f-main-subheader
  text-align: center
.branch-card-box
  justify-content: space-between
  flex-flow: row wrap
  margin: 0 -8px
  &:last-of-type
    margin-bottom: 128px
  .branch-card-outer
    padding: 0 8px
    margin: 0 0 16px
    flex: 0 0 100%
    +smm
      flex: 0 0 50%
    +mdm
      flex: 0 0 25%
  .branch-card
    +colfax-super-bold
    color: $c-white
    padding: 10px 16px
    height: 128px
    box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, .2)
    font-size: $f-base
    justify-content: flex-end
    background: $c-violet url('/assets/images/paper.svg') no-repeat left 30px top 30px / 32px 26px
    width: 100%
    +smm
      padding: 26px 32px
    +lgm
      max-width: 288px
