.home-search-bar-wrap
  position: relative
  .icon
    position: absolute
    left: 18px
    top: 22px
.home-search-bar
  padding: 22px 20px 21px 60px
  font-size: $f-paragraph
  width: 100%
  background: $c-white
