.top-content-home
  background-image: linear-gradient(to bottom, transparent, $c-primary), url('/assets/images/black_n_white.png')
  position: relative
  width: 100%

  &::before
    display: block
    width: 100%
    height: 100%
    background-color: $c-primary
    opacity: .8
    position: absolute
    top: 0
    content: ''

  .card-slider
    position: relative

    .controlls
      position: absolute
      width: 100%
      height: 400px
      top: 0
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      opacity: 0
      +transition(opacity .2s)

      &:hover
        opacity: 1

      .left-offset
        height: 100%
        background: linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%)
        display: flex
        flex-direction: row
        align-items: center

      .right-offset
        height: 100%
        background: linear-gradient(right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%)
        display: flex
        flex-direction: row
        align-items: center

      span
        padding: 0 32px
        font-size: 32px
        background: transparent

.home-header
  justify-content: center

  h1
    +default-font-thin
    text-align: center
    font-size: $f-main-header
    padding: 100px 0 40px
    color: $c-white
    max-width: 364px
    margin: 0 auto
    display: block

  h2
    +default-font-light
    max-width: 420px
    font-size: $f-main-subheader
    text-align: center
    margin: 0 auto 40px
    color: $c-white

.play-ico
  display: block
  color: $c-white
  text-transform: uppercase
  font-size: $f-paragraph
  padding: 90px 0 0
  position: relative
  margin: 0 0 60px
  font-weight: 300
  text-align: center

  .icon
    &::before
      display: block
      font-size: 66px
      position: absolute
      left: 50%
      top: 0
      margin-left: -33px

  p
    color: $c-white
    text-transform: uppercase
    font-size: $f-paragraph
