.top-content-home
  background-image: linear-gradient(to bottom, transparent, $c-primary), url('/assets/images/black_n_white.png')
  position: relative
  width: 100%
  padding: 0 0 200px 0

  &::before
    display: block
    width: 100%
    height: 100%
    background-color: $c-primary
    opacity: 0.8
    position: absolute
    top: 0
    content: ''

  .pro-search-dropdown
    .dropdown-container
      position: absolute
      width: 100%
      max-height: 75vh
      height: auto
      top: 60px
      box-shadow: 0 12px 24px rgba($c-black, 0.5)


      .organization-suggestions,
      .expert-suggestions
        .dropdown-category-list
          padding: 16px

          .dropdown-list-item
            flex: 0 0 100%

            +smm
              flex: 0 0 50%

            +mdm
              flex: 0 0 33%

            +lgm
              flex: 0 0 25%

      .service-suggestions
        .dropdown-category-list
          padding: 16px

          .dropdown-list-item
            flex: 0 0 100%

    .search-bar-container
      z-index: 800

      .icon
        &.icon-close-16
          right: 8px

      .search-bar,
      .search-bar-shadow
        height: 64px
        padding: 0 64px
        font-size: $f-h4-size

      .search-bar
        color: $c-primary

.pro-expert-slider
  .slider-container
    .slider-slides
      .slides
        .description
          +default-font-regular
          font-size: $f-h4-size
          color: $c-secondary-txt
          text-align: center
          margin: 0 0 32px
          padding: 0 64px
          width: 100%

.home-header
  justify-content: center

  h1
    +default-font-thin
    text-align: center
    font-size: $f-main-header
    padding: 100px 0 40px
    color: $c-white
    max-width: 364px
    margin: 0 auto
    display: block

  h2
    +default-font-light
    max-width: 420px
    font-size: $f-main-subheader
    text-align: center
    margin: 0 auto 40px
    color: $c-white

.play-ico
  display: block
  color: $c-white
  text-transform: uppercase
  font-size: $f-paragraph
  padding: 90px 0 0
  position: relative
  margin: 0 0 60px
  font-weight: 300
  text-align: center

  .icon
    &::before
      display: block
      font-size: 66px
      position: absolute
      left: 50%
      top: 0
      margin-left: -33px

  p
    color: $c-white
    text-transform: uppercase
    font-size: $f-paragraph

    span
      padding: 0 32px
      font-size: 32px
      background: transparent
