.payments
  .payments__header
    span {{ 'DASHBOARD.PAYMENTS.PAYMENTS_METHOD.TITLE' | translate }}

  form.payments__container.payments__container--list([formGroup]="paymentsCardFormGroup")
    ul.payments-method-list
      li.payments-method-list__item(*ngFor="let card of paymentsCardList; let i = index")
        plat-select-payment-method-card-radio(
          [form]="paymentsCardFormGroup",
          [controlName]="paymentsCardControlName",
          [expiryDate]="card.expiryDate",
          [maskedNumber]="card.maskedNumber",
          [id]="card.id",
          [selectedCardId]="currentCreditCardId",
          [cardType]="card.cardType",
          (onSelectCard)="onSelectCard($event)",
          (onDeleteCard)="onDeleteCard($event)",
        )

  .payments__container.payments__container--method
    .payments__methods
      .payments__type.payments__type--card
        div
          a.button.button--add((click)="onAddPaymentCard()")
            span(plat-flat-fab color='primary')
              span(plat-icon iconClass='add')
            span.button__text {{ 'DASHBOARD.PAYMENTS.PAYMENTS_METHOD.ADD_CARD' | translate }}

      .payments__type.payments__type--promo-code
        div
          a.button.button--add
            span(plat-flat-fab color='primary')
              span(plat-icon iconClass='add')
            span.button__text {{ 'DASHBOARD.PAYMENTS.PAYMENTS_METHOD.ADD_PROMO_CODE' | translate }}

  .payments__header
    span {{ 'DASHBOARD.PAYMENTS.TITLE' | translate }}

  .payments__container
    plat-setting-option(
    [title]="'DASHBOARD.PAYMENTS.INVOICE.TITLE'",
    [description]="'DASHBOARD.PAYMENTS.INVOICE.DESCRIPTION'"
    )

      button.button-mobile(plat-stroked-button, (click)="openInvoiceModal()")
        span {{ 'DASHBOARD.PAYMENTS.BUTTON.CHANGE' | translate }}

    plat-setting-option(
    [title]="'DASHBOARD.PAYMENTS.PAYOUTS.TITLE'",
    [description]="'DASHBOARD.PAYMENTS.PAYOUTS.DESCRIPTION'",
    )
      button.button-mobile(plat-stroked-button, (click)="openPayoutMethod()")
        span {{ 'DASHBOARD.PAYMENTS.BUTTON.CHANGE' | translate }}
