.payments
  .payments__header
    span {{ 'DASHBOARD.PAYMENTS.TITLE' | translate }}

  .payments__container
    plat-setting-option(
    [title]="'DASHBOARD.PAYMENTS.INVOICE.TITLE'",
    [description]="'DASHBOARD.PAYMENTS.INVOICE.DESCRIPTION'"
    )

      button.button-mobile(plat-stroked-button, (click)="openInvoiceModal()")
        span {{ 'DASHBOARD.PAYMENTS.BUTTON.CHANGE' | translate }}

    plat-setting-option(
    [title]="'DASHBOARD.PAYMENTS.PAYOUTS.TITLE'",
    [description]="'DASHBOARD.PAYMENTS.PAYOUTS.DESCRIPTION'",
    )
      button.button-mobile(plat-stroked-button, (click)="openPayoutMethod()")
        span {{ 'DASHBOARD.PAYMENTS.BUTTON.CHANGE' | translate }}
