@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.step
	display: block
	padding: 45px 0

	.input
		&::after, &::before
			content: none

		input
			font-size: $f-input-big
			height: 48px
			width: 100%

	input
		font-size: $f-input-big
		height: 48px

	.textarea
		margin: 16px 0 0

		+smm
			margin: 8px 0 0

		&::after, &::before
			content: none

		textarea
			border-left: 	1px dashed #BFBFBF
			padding: 8px 16px
			height: 72px
			font-size: $f-subheader

	.tag-list
		margin: 8px 0 0

	&.last-step
		.alert-cloud
			margin: 16px 0 0

	.invisible-input
		position: absolute
		opacity: 0
		z-index: -$z-index-900
