@import "../../../../template/profitelo_theme/stylesheets/variables/variables"

.step
	display: block
	padding: 45px 0

	.input
		&::after, &::before
			content: none

		input
			font-size: $f-input-big
			height: 48px

	.textarea
		&::after, &::before
			content: none

		textarea
			border-left: 	1px dashed #BFBFBF
			padding: 8px 16px
			height: 72px
			font-size: $f-subheader


