.complain-reason
  h5
    margin: 0 0 32px
    line-height: $f-line-height

  .btn-group
    justify-content: flex-end

  radio-btn-text
    &.is-active
      .radio-description
        display: block