pro-input.prefix-phone.correct(data-label="prefix" data-placeholder="+48" data-pro-model="prefix" no-delete)
pro-input.phone.correct(data-label="wpisz swój numer" data-placeholder="np: 599-546-342" data-pro-model="phoneNumber")
