.pro-tags-slider(data-ng-swipe-left="nextSlide()" data-ng-swipe-right="prevSlide()")
  .search-tags
    a.arrow-left.arrow-slider(data-ng-click="prevSlide()" data-ng-class="{'active-btn': leftArrowActive()}")
      span.icon.icon-arrow-left-16
    .slider-tag
      .slides-container(data-ng-style="leftOffset")
        ul.slide-page
          li(data-ng-repeat="tag in tags track by $index")
            a.slide-btn-tag(data-ng-click="addTagToQueryAndSearch(tag)") {{:: tag}}
    a.arrow-right.arrow-slider(data-ng-click="nextSlide()" data-ng-class="{'active-btn': rightArrowActive()}")
      span.icon.icon-arrow-right-16
