.pro-tags-slider
    .search-tags
        a.pro-btn.btn-white.icon.icon-arrow-left-12(data-ng-click="prevSlide()")
        .slider-tag
            .slides-container
                ul.slide-page
                    li
                        a.pro-btn.btn-white gorgeus
                    li
                        a.pro-btn.btn-white night
                    li
                        a.pro-btn.btn-white gorgeus
                    li
                        a.pro-btn.btn-white night
                    li
                        a.pro-btn.btn-white gorgeus
                    li
                        a.pro-btn.btn-white night
                    li
                        a.pro-btn.btn-white asd
                    li
                        a.pro-btn.btn-white gorgeus
                    li
                        a.pro-btn.btn-white night
                    li
                        a.pro-btn.btn-white gorgeus
                    li
                        a.pro-btn.btn-white night
                    li
                        a.pro-btn.btn-white gorgeus
                    li
                        a.pro-btn.btn-white night
                    li
                        a.pro-btn.btn-white asd
        a.pro-btn.btn-white.icon.icon-arrow-right-12(data-ng-click="nextSlide()")