.pro-top-title-row
  padding: 24px 12px
  text-transform: uppercase
  border-bottom: 1px solid $c-lines
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 32px

  +mdm
    padding: 12px 24px

  .title
    h2
      text-align: center
      color: $c-primary-txt
      +default-font-heavy
