.pro-top-title-row
  +default-font-regular
  padding: 16px 0 64px
  display: flex
  justify-content: space-between
  align-items: center

  +mdm
    padding: 32px 0

  +lgm
    padding: 64px 0

  .title
    h3
      +default-font-heavy
      text-align: center
      color: $c-primary-txt

  .icon
    color: $c-primary-txt
