.avatar-uploader(
  [class.avatar-uploader--disabled]="isDisabled"
)
  plat-user-avatar(
    [avatarSize]="avatarSize",
    [avatarToken]="avatarToken",
    [isOrganizationAvatar]="isOrganizationAvatar"
  )
  .user-avatar__error(*ngIf="tooSmallDimensionsError")
    div
      span.icon.icon-warning
      p {{ 'EDIT_PROFILE.IMAGE_CROP.ERROR.TOO_SMALL_DIMENSIONS' | translate }}

  .user-avatar__error(*ngIf="tooLargeError")
    div
      span.icon.icon-warning
      p {{ 'EDIT_PROFILE.IMAGE_CROP.ERROR.TOO_BIG_SIZE' | translate }}

  .user-avatar__error(*ngIf="requiredError")
    div
      span.icon.icon-warning
      p {{ 'EDIT_PROFILE.IMAGE_CROP.ERROR.REQUIRED' | translate }}

  .avatar-uploader__button.avatar-uploader__button--remove(
    *ngIf="avatarToken || fileUploadError; else add",
    [class.avatar-uploader__button--disabled]="isDisabled",
    (click)="onClickClear()"
  )
    span(plat-icon, iconClass='trash')

ng-template(#add)
  .avatar-uploader__button.avatar-uploader__button--add
    label
      input(
        type='file',
        appAvatarUploader,
        (avatarTokenChange)="onAvatarTokenChange($event)",
        (avatarError)="onAvatarError($event)",
        accept="image/png, image/jpeg"
        )
      span(plat-icon, iconClass='add')
