.avatar-uploader([formGroup]="form")
  input([formControlName]="controlName", hidden)

  plat-user-avatar(
  [avatarSize]="avatarSize",
  [avatarToken]="avatarToken",
  [avatarError]="isError",
  [avatarErrorValidation]="isFieldInvalid()",
  [isOrganizationAvatar]="isOrganizationAvatar"
  )

  .avatar-uploader__button.avatar-uploader__button--add(*ngIf="!avatarToken")
    label
      input(type='file', appAvatarUploader, [onAvatarError]="onError", accept="image/png, image/jpeg")
      span.icon.icon-add

  .avatar-uploader__button.avatar-uploader__button--remove((click)="onClickClear()", *ngIf="avatarToken")
    span.icon.icon-trash
