.employees
  expert-employees-filters()
  expert-employee(data-ng-if="vm.areEmployees")
  .load-more-results-container(data-ng-if="vm.areEmployees")
    span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.COUNTER")
    a.btn.btn-link(data-translate="DASHBOARD.EXPERT.ACTIVITIES.SHOW_MORE_RESULTS")
