@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.load-more-results-container
  display: flex
  justify-content: space-between
  padding: 24px 0

  +lgm
    padding: 24px 16px

  span
    +inputLabel
    color: $c-tertiary-txt

  a
    text-align: right
