.employees
  expert-employees-filters()
  expert-employee(data-ng-if="vm.areEmployees")
  .load-more-results-container(data-ng-if="vm.areEmployees")
    span Pokazuję od 1 do 8 z 28 aktywności
    a.btn.btn-link(data-translate="DASHBOARD.EXPERT.ACTIVITIES.SHOW_MORE_RESULTS")
