@import "../../../../template/profitelo_theme/stylesheets/variables/variables"


page-preloader
  .page-preloader
    .overlay
      position: fixed
      height: 100%
      width: 100%
      z-index: $z-index-900
      background: white

    .loader
      position: fixed
      width: 100%
      display: flex
      justify-content: center
      top: 0
      bottom: 0
      margin: auto 0
      height: 100%
      z-index: $z-index-900

      span
        display: block
        width: 64px
        height: 64px
        text-align: center
        border: 1px solid $c-lines
        border-top-color: $c-primary
        border-radius: 50%
        animation: loader-rotate 1s linear infinite

    .error-wrapper
      position: fixed
      display: inline-flex
      flex-direction: column
      justify-content: center
      align-items: center
      top: 0
      bottom: 0
      margin: auto 0
      height: 100%
      width: 100%
      z-index: $z-index-900

      a
        width: 300px
        display: inline-flex




