.pro-chat-message-modal.complaint.modal-checkbox
	.modal-header
		h4(data-translate="DASHBOARD.INVITATION.MODAL.COMPLAINT")

	.modal-contents
		.modal-description
			p(data-translate="DASHBOARD.INVITATION.MODAL.CHECK_COMPLAINT_REASON")

		.modal-checkbox
			.item-group
				pro-checkbox(data-ng-model="false" label="{{'DASHBOARD.INVITATION.MODAL.EXPERT_NOT_COMPETENT' | translate}} ")
			.item-group
				pro-checkbox(data-ng-model="false" label="{{'DASHBOARD.INVITATION.MODAL.EXPERT_RUDE' | translate}} ")
			.item-group
				pro-checkbox(data-ng-model="false" label="{{'DASHBOARD.INVITATION.MODAL.CONVERSATION_CONNECTION_PROBLEMS' | translate}} ")
			.item-group
				pro-checkbox(data-ng-model="false" label="{{'HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_OTHER' | translate}} ")

			pro-textarea(ng-model="opinion", placeholder="{{'DASHBOARD.INVITATION.MODAL.ENTER_YOUR_REASON' | translate}}")
			span.icon.icon.icon-heart-16

		.modal-buttons
			button.pro-button.rectangle.primary(data-ng-click="vm.dismissWindow()" data-translate="DASHBOARD.INVITATION.MODAL.BACK")
			button.pro-button.rectangle.default(data-ng-click="vm.addComment()" data-translate="DASHBOARD.INVITATION.MODAL.ADD_COMMENT")

