@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

$s-tooltip-width: 24px
$s-tooltip-array-indent: 15px
$s-tooltip-array-width: 8px

\:host
  display: block

.tooltip
  max-height: $s-tooltip-width
  max-width: $s-tooltip-width
  position: relative
  width: $s-tooltip-width
  height: $s-tooltip-width
  
  &__header
    display: inline-flex
    width: auto
    cursor: pointer
  
  .icon
    width: $s-tooltip-width
    min-width: $s-tooltip-width
    height: $s-tooltip-width
    min-height: $s-tooltip-width
    font-size: $s-tooltip-width
    color: $c-label
