.tooltip(tooltipPositionDirective,
  [tooltipHeader]="tooltipHeader",
  [tooltipType]="tooltipType",
  (onClick)="toggleTooltip($event)")

  .tooltip__header(#tooltipHeader)
    span.tooltip__title
      span(plat-icon, iconClass="{{iconClass}}")
