.company-invoice-details.modal-form
  form(
    contentHeightAnimation,
    [formGroup]="companyInvoiceDetailsForm",
    (submit)="onSubmit()",
    novalidate
  )
    .inputs-container
      .modal-form__row--small.inputs-container__row
        am-core-input-prefix.inputs-container__input(
          label="DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.COUNTRY_LABEL",
          [value]="'Polska'"
        )
        am-core-custom-input-numeric.inputs-container__input(
          [inputType]="'tel'",
          [inputMask]="'999-999-99-99'",
          [label]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.VAT_NUMBER_LABEL'",
          [isRequired]="true",
          [controlName]="vatNumberControlName",
          [isDisabled]="isRequestPending",
          [form]="companyInvoiceDetailsForm",
          [initialFocus]="true",
          [errorTextKey]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.VAT_NUMBER_ERROR'",
          [validatorFn]="vatNumberValidatorFn"
        )

      .modal-form__row--small
        am-core-input-text.inputs-container__input(
          [label]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.COMPANY_NAME_LABEL'",
          [isRequired]="true",
          [controlName]="companyNameControlName",
          [isDisabled]="isRequestPending",
          [form]="companyInvoiceDetailsForm",
        )

      .modal-form__row--small
        am-core-input-text.inputs-container__input(
          [label]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.ADDERS_LABEL'",
          [isRequired]="true",
          [controlName]="addressControlName",
          [isDisabled]="isRequestPending",
          [form]="companyInvoiceDetailsForm",
        )

      .modal-form__row--small.inputs-container__row
        am-core-input-text.inputs-container__input(
        [label]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.CITY_LABEL'",
        [isRequired]="true",
        [controlName]="cityControlName",
        [isDisabled]="isRequestPending",
        [form]="companyInvoiceDetailsForm",
        )
        am-core-custom-input-numeric.inputs-container__input(
        [inputType]="'tel'",
        [inputMask]="'99-999'",
        [label]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.POSTAL_CODE_LABEL'",
        [isRequired]="true",
        [controlName]="postalCodeControlName",
        [isDisabled]="isRequestPending",
        [form]="companyInvoiceDetailsForm",
        [errorTextKey]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.POSTAL_CODE_ERROR'",
        [pattern]="postalCodePattern"
        )

      .modal-form__row--small
        am-core-input-email.inputs-container__input(
        [label]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.EMAIL_ERROR'",
        [isRequired]="true",
        [controlName]="emailControlName",
        [isDisabled]="isRequestPending",
        [form]="companyInvoiceDetailsForm",
        )

    .company-invoice-details__submit-btn-container
      am-core-submit-button(
        titleText="DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.SUBMIT_BUTTON",
        [isLoading]="isRequestPending"
      )
