@import "~@anymind-ng/core/src/template/stylesheets/core/core"

.company-invoice-details
  .inputs-container
    max-width: 520px

    &__row
      justify-content: space-between

      am-core-input-text, am-core-input-prefix
        &:first-child
          max-width: 248px
          margin: 0 24px 0 0

    &__input
      width: 100%

    .modal-form__row
      &--small
        display: flex
        width: 100%

  &__submit-btn-container
    width: 100%
    display: flex
    justify-content: center
