@import "../../../../template/profitelo_theme/stylesheets/variables/variables"

.pro-service-external-links
	.input-handler
		display: flex
		justify-content: space-between
		align-items: flex-end

		input-primary
			margin: 0 8px 0 0
			flex: 1

	.add-link
		margin: 0 0 8px

		span
			color: $c-primary
