.communicator-minimized(data-ng-click="vm.maximizeCommunicator()")
  .thumb
    img.circle.user-avatar(src data-ng-src="{{ vm.avatar }}")

    //.message-counter
      span 0

  .communicator-details
    span(data-translate="COMMUNICATOR.CONVERSATION_WITH" data-ng-hide="vm.isConnecting")
    span(data-translate="COMMUNICATOR.CONNECTING_WITH" data-ng-show="vm.isConnecting")
    h4 {{ vm.name }}

    div
      ul.communicator-counter
        li.hours {{ vm.callLengthInSeconds | secondsToDateTime | date:'HH:mm:ss' }}

      ul.communicator-price
        li {{ vm.callCost | money }}
