.communicator-minimized(data-ng-click="vm.maximizeCommunicator()")
  .thumb
    img.circle.user-avatar(data-ng-src="/assets/images/no-avatar.jpg")

    .message-counter
      span 4

  .communicator-details
    span(data-translate="COMMUNICATOR.CONVERSATION_WITH")
    h4 Jan Kowalski

    div
      ul.communicator-counter
        li.hours 0
        li.minutes 18
        li.seconds 59

      ul.communicator-price
        li 49
        li 25

  .connection-dots
    span
    span
    span