.company-profile
  .header-container
    .title-row
      .pro-logo
        img(src="/assets/images/logo_profitelo_black.png")
      .title
        h4 {{ ::"DASHBOARD.INVITATION.TITLE_HEADER" | translate }}
      .close-button
        .btn-handler
          a(data-ui-sref="app.dashboard.start").pro-icon.circle
            span.icon.icon-close-16
            
    .header-content
      .default-container
        .company-info
          img.circle.user-avatar(data-ng-src='{{ ::vm.profile.logoUrl }}' alt='{{ ::vm.profile.name }}' data-ng-class='{"is-not-uploaded": !vm.profile.logoUrl}')
          h3 {{ ::vm.profile.name }}
          
    .company-content
      .default-container      
        span.quote-icon.pro-icon.default.circle.icon-quote-24
          
        .company-description
          p {{ ::vm.profile.description }}
          
        .read-more
          a.pro-icon.show-more-arrow
            span.icon.icon-arrow-down-12
