.company-profile
  .header-container
    .default-container
      .header-content
        .personal-info
          img.circle.empty-avatar-placeholder(data-ng-src='{{ vm.avatar }}' alt='{{ vm.profile.name }}')
          h3 {{ vm.profile.name }}
  .header-container
    .default-container
      .header-content
        .quote-icon
          span.pro-btn.btn-icon.icon.icon-quote-24
          .description
            p {{ vm.profile.description }}
          .more-icon
            span.pro-btn.btn-light.icon.icon-arrow-down-12