@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.payouts.payouts-options
  .list-row
    flex-wrap: wrap

    +smm
      flex-wrap: nowrap
      justify-content: space-between

  .payout-info
    display: flex
    flex-wrap: wrap
    width: 100%

    +smm
      flex-wrap: nowrap

    span
      width: 100%

      +smm
        width: initial
        margin: 0 24px 0 0

    .payout-data
      margin: 16px 0

      +smm
        margin: 0
