.payouts.payouts-options
  .no-results-page(data-ng-hide="vm.isAnyPayoutMethod")
    .container
      .no-results-page-content
        img(data-ng-src="/assets/images/profitelo_icons/icon_payments.png")
        h2(data-translate="SETTINGS.PAYMENTS.NO_RESULTS.TITLE")
        a.btn.btn-default(data-ui-sref="app.dashboard.charge-account")
          | {{:: 'SETTINGS.PAYMENTS.NO_RESULTS.BUTTON' | translate}}
          span.icon.icon-arrow-right-16

  .payments-method(data-ng-show="vm.isAnyPayoutMethod")
    .entry-title
      h2(data-translate="SETTINGS.PAYMENTS.PAYMENTS_METHOD.TITLE")
      a.btn.btn-primary.btn-small(data-translate="SETTINGS.PAYMENTS.BUTTON.ADD")

    .radio-list.payments-method-list
      form
        .radio-list-item.profitelo-account
          .radio-text.radio
            .radio-input
              input(id="profitelo-ayments-method" type="radio" name="payments-method")
              label.label

            label.text(for="profitelo-ayments-method")
              .payment-thumb
                img(data-ng-src="/assets/images/payments/profitelo-account.png")
              span.title {{:: 'SETTINGS.PAYMENTS.PAYMENTS_METHOD.RADIO.PROFITELO_ACCOUNT' | translate }}
              span 24,50 PLN

          .radio-action
            a.btn.btn-default.btn-small.recharge-account(
              data-translate="SETTINGS.PAYMENTS.PAYMENTS_METHOD.RECHARGE_ACCOUNT.BUTTON")

        .radio-list-item
          .radio-text.radio
            .radio-input
              input(id="visa" type="radio" name="payments-method")
              label.label

            label.text(for="visa")
              .payment-thumb
                img(data-ng-src="/assets/images/payments/paypal.png")
              span **** **** **** 5687

          .radio-action
            a.btn.btn-primary.btn-small.recharge-account(
            data-translate="SETTINGS.PAYMENTS.BUTTON.EDIT")

        .radio-list-item
          .radio-text.radio
            .radio-input
              input(id="master-card" type="radio" name="payments-method")
              label.label

            label.text(for="master-card")
              .payment-thumb
                img(data-ng-src="/assets/images/payments/mastercard.png")

              span **** **** ****

          .radio-action
            a.btn.btn-primary.btn-small.recharge-account(
            data-translate="SETTINGS.PAYMENTS.BUTTON.EDIT")

  .invoice-information
    .entry-title
      h2(data-translate="SETTINGS.PAYMENTS.INVOICE.TITLE")
      a.btn.btn-primary.btn-small(data-ng-hide="vm.isPaymentsInvoiceExist" data-translate="SETTINGS.PAYMENTS.BUTTON.EDIT")

    .info-tab
      .info-tab-row
        .info-tab-label
          span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COST")
        .info-tab-content The Great Company

      .info-tab-row
        .info-tab-label
          span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COST")
        .info-tab-content The Great Companymasd a ds asd asd

      .info-tab-row
        .info-tab-label
          span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COST")
        .info-tab-content The Great Companymasd a ds asd asd
