.thank-you-page
  .thank-you-page-wrapper
    span(data-translate="DASHBOARD.CHARGE_ACCOUNT.ACCOUNT_BALANCE")
    h2.price(data-ng-bind="$ctrl.price")
    h2.error-alert(data-ng-show="$ctrl.error" data-translate="DASHBOARD.CHARGE_ACCOUNT.THANK_YOU_PAGE_ERROR")
    h3(data-translate="DASHBOARD.CHARGE_ACCOUNT.YOUR_ACCOUNT_RECHARDED")

    .thank-you-page-description
      p(data-translate="DASHBOARD.CHARGE_ACCOUNT.WAIT_FOR_ACCOUNT_UPDATE")

    button.pro-button.rectangle.default Powrot do poprzedniej strony