.thank-you-page
  .thank-you-page-wrapper
    span(data-translate="DASHBOARD.CHARGE_ACCOUNT.YOUR_CURRENT_BALANCE")
    h2.price(ng-bind="$ctrl.price")
    h2.error-alert(ng-show="$ctrl.error" ng-translate="DASHBOARD.CHARGE_ACCOUNT.THANK_YOU_PAGE_ERROR")
    h3(data-translate="DASHBOARD.CHARGE_ACCOUNT.YOUR_ACCOUNT_RECHARDED")

    .thank-you-page-description
      p(data-translate="DASHBOARD.CHARGE_ACCOUNT.WAIT_FOR_ACCOUNT_UPDATE")

    button.pro-button.rectangle.default Powrot do poprzedniej strony