.slider-container
  margin-top: 60px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  align-content: center
  align-items: center
  padding: 0
  margin: 60px auto
  height: 290px
  position: relative
  overflow: hidden

  .slider-slides
    position: relative
    left: 25%
    padding: 0 20px
    width: 75%
    img
      max-width: 100%

  .slider-control
    width: 25%
    border-right: 1px solid $c-lines
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    justify-content: center
    padding: 15px
    height: 100%
    position: absolute
    z-index: 10
    float: left
    i
      color: $c-secondary-txt
      font-size: 32px
    p
      text-transform: uppercase
      font-weight: bold
      padding: 0
      margin: 0
    .switcher
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: center
      align-content: center
      align-items: center
      width: 100%
      height: auto
      margin-top: 15px
      i
        font-size: 12px
        border: 1px solid $c-lines
        padding: 17px 17px 13px 17px
        &:hover
          color: $c-white
          background-color: $c-primary-txt
          cursor: pointer
        &:last-child
          margin-left: -1px
    img
      width: 100%
