.single-container
  width: 100%
  margin: 16px auto
  background-color: $c-white
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1)
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1)
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1)
  padding: 30px
  +lgm
    width: 1200px

  .title-row-consultation
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-between
    align-content: center
    align-items: center
    +smm
      flex-direction: row

    .company-logo
      width: 5%
      img
        width: 48px
        height: 48px
        +border-radius(50%)
    h3
      margin: 0
      color: $c-primary-txt

    .details-consultations
      width: 100%
      margin: 0
      text-align: center
      margin-top: 16px
      +smm
        margin-top: 0
        margin-left: 16px
        text-align: left
        width: 80%
      .options-consultation
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        align-items: center
        +smm
          justify-content: flex-start
        span
          padding-right: 16px
          color: $c-secondary-txt
          font-size: $f-nav-size
          font-weight: bold

    .cost-consultations
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: center
      align-content: center
      align-items: center
      width: 100%
      white-space: nowrap
      margin-top: 16px
      +smm
        margin-top: 0
        width: 15%
        justify-content: flex-end
      i
        margin-left: 8px
        background-color: $c-success
        +border-radius(50%)
        padding: 10px
        color: $c-white
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        align-items: center

    .tags-consultation
      margin: 32px 0
      width: 85%
      text-align: center
      +smm
        text-align: left
      p
        display: inline-block
        background-color: $c-lines
        padding: 1px 16px 0
        margin: 6px 2px
        font-size: $f-h6-size
        font-weight: bold

    .more-consultation
      font-size: $f-nav-size
      text-transform: uppercase
      font-weight: bold

  .footer-consultation
    border-top: 1px solid $c-lines
    p
      font-size: $f-nav-size
      display: inline-block
      text-transform: uppercase
      font-weight: bold
      padding: 0 8px
