@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../template/profitelo_theme/stylesheets/variables/variables"

.load-more-results-container
  display: flex
  justify-content: space-between

  +smm
    padding: 0 16px

  span
    +default-font-medium
    color: $c-icon
    font-style: $f-label-size
    font-size: $f-base
    text-transform: uppercase
