.activities
  expert-no-activities(data-ng-if="!vm.areActivities")
  expert-filters()
  expert-activity()
  .container
    .load-more-results-container
      span Pokazuję od 1 do 7 z 28 aktywności
      a.btn.btn-link(data-translate="DASHBOARD.EXPERT.ACTIVITIES.SHOW_MORE_RESULTS")
