@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

.cookie
  position: fixed
  bottom: 0
  left: 0
  right: 0
  width: 100%
  max-width: 1200px
  padding: 24px 48px 24px 24px
  margin: 0 auto
  z-index: $z-index-1200
  background: $c-text-primary

  +lgm
    border-radius: 12px
    bottom: 24px
    padding: 24px 64px 24px 24px

  .icon-clear
    position: absolute
    background: $c-dark-grey
    top: 12px
    right: 12px
    border-radius: 50%
    color: $c-white

  .cookie-content
    display: flex
    flex-direction: column

    +smm
      align-items: center
      flex-direction: row

    &__information
      display: flex
      align-items: center
      width: 100%
      margin: 0 0 24px

      +smm
        margin: 0 24px 0 0

      img
        display: none
        max-width: 100px
        margin: 0 16px 0 0

        +mdm
          display: block

      p
        +caption
        color: $c-white

        a
          color: $c-white
          font-weight: 500
          text-decoration: underline

    &__button
      flex: 1 0 auto
      text-align: center
