@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/rwd"
.add-consultation
  display: flex
  justify-content: center
  align-items: center
  height: 88px
  background-color: #fff
  margin: 0 -12px
  margin-bottom: 4px
  +mdm
    margin-left: -24px
    margin-right: -24px
  +lgm
    margin-left: 0px
    margin-right: 0px
  &-text
    font-weight: 500
    margin-left: 16px
    font-size: 14px
    line-height: 24px
