.status-list
  .status
    +default-font-medium
    font-size: $f-label-size
    text-transform: uppercase
    display: inline-flex
    align-items: center

    &::before
      +animation(status-blank 1.5s infinite)
      content: ""
      width: 16px
      height: 16px
      display: block
      border-radius: 50%
      margin: 0 8px 0 0

    &.availability
      color: $c-success

      &::before
        background: $c-success
