@import "../variables/variables"
$padding--48:                                 48px
$padding--32:                                 32px
$padding--16:                                 16px

$s-modal-default-padding:                           $s-modal-header + $padding--48 $padding--32 $padding--48
$s-modal-default-padding--mobile:                   $s-modal-header + $padding--32 $padding--16 $padding--32


/* Names n-n-n-0 are equal to padding property such as in css f.ex. ---10px 10px 10px 0---   */

$s-modal-padding__n-n-n-0:                     $s-modal-header + $padding--48 $padding--32 0
$s-modal-padding__n-n-n-0--mobile:             $s-modal-header + $padding--32 $padding--16 0

$s-modal-padding__n-0-0-0:               $s-modal-header + $padding--48 0 0
$s-modal-padding__n-0-0-0--mobile:       $s-modal-header + $padding--32 0 0
