@import "../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/core"

.modal-backdrop
	background: $c-lines
	opacity: 1 !important
	z-index: $z-index-1000
	
	&--upper
		z-index: $z-index-1000 + 1
		
		+ .modal
			z-index: $z-index-1000 + 1
	
.modal
	z-index: $z-index-1000
	display: block
	
	.modal-dialog
		transform: none !important
		display: block
		width: 100%
		justify-content: center
		margin: 0
		min-height: 100vh
		overflow: hidden
		-ms-overflow-style: none

		+mdm
			min-height: 100vh

		.modal-content
			background: none
			box-shadow: none
			border: 0
			display: flex
			justify-content: center
			align-items: center
			min-height: 100vh
			padding: 0 !important
			border-radius: 0

.modal-form
	animation: none
	border: 0