@import "../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/core"
@import "../../core/variables/variables"

.modal-backdrop
	background: $c-lines
	opacity: 1 !important
	
.modal
	.modal-dialog
		transform: none !important
		display: block
		width: 100%
		justify-content: center
		margin: 0
		min-height: 100vh
		overflow: hidden
		-ms-overflow-style: none
		
		+mdm
			min-height: 100vh
		
		.modal-content
			background: none
			box-shadow: none
			border: 0
			display: flex
			justify-content: center
			align-items: center
			min-height: 100vh
			padding: 0 !important
			border-radius: 0
			
.modal-component
	background: $c-white
	animation: fadeInY 0.2s
	animation-fill-mode: forwards
	height: 100vh
	
	+smm
		height: auto
		background: none
		height: auto
	
	&__scroll
		overflow: scroll
		max-height: 100vh
		
		+smm
			padding: 48px 0
	
	&__header
		height: $s-modal-header
		background: $c-white
		display: flex
		justify-content: space-between
		align-items: center
		box-shadow: 0 1px 2px 0 $c-boxshadow-header-modal
		margin: auto
		position: fixed
		width: inherit
		left:  inherit
		top: 0
		border-radius: 8px 8px 0 0
		z-index: $z-index-1000
		
		+smm
			position: absolute
			left: 0
			top: 0
			width: 100%
			
		&__nav
			position: absolute
			top: 0
			width: 56px
			height: 56px
			display: flex
			align-items: center
			justify-content: center
			z-index: $z-index-100
			
			&:first-of-type
				left: 0
				
			&:last-of-type
				right: 0
			
			a
				height: 24px
				max-height: 24px
				width: 24px
				max-width: 24px
				overflow: hidden
				cursor: pointer
				padding: 0
		
			.icon
				border-radius: 50%
				display: flex
				align-items: center
				justify-content: center
				background: $c-lines
				transition: background-color 0.1s ease-in
				
				&:hover
					background: $c-text-secondary
					
					&::before
						color: $c-white
				
				&::before
					transition: color 0.1s ease-in
					color: $c-text-secondary
		
		&__title
			text-align: center
			flex: 1
			
		&--fixed
			border-radius: 8px 8px 0 0
			position: fixed
			width: inherit
			left:  inherit
			top: 0
		
		&__title
			+subtitle
			
			p
				+subtitle

	&__container
		box-shadow: 0 16px 24px 0 $c-lines
		overflow: hidden
		background: $c-modal-background
		margin: 0 auto
		display: block
		position: relative
		width: 100%
		border-radius: 8px
		
		+smm
			width: $s-modal-container-small
			
		+mdm
			width: $s-modal-container-medium
			
		+lgm
			width: $s-modal-container-big
			
		&--big
			+lgm
				width: $s-modal-container-big
		
		&--medium
			+lgm
				width: $s-modal-container-medium
		
		&--small
			+lgm
				width: $s-modal-container-small
	
	&__content
		padding: 48px + $s-modal-header 48px 48px
		
		&__header
			margin: 0 0 24px
			display: flex
			align-items: center
			
			> span
				+h6
				
				span
					color: $c-label
	
	&__handler
		+smm
			display: flex
			align-items: center
			justify-content: flex-start
		
	&__action
		display: flex
		align-items: center
		justify-content: space-between
		margin: 48px 0 0
		
.modal-form
	animation: none
	
	&__row
		margin: 0 0 52px