.choose-bank
  header.entry-title
    span(data-translate="{{ $ctrl.title }}")
    ng-transclude

  .choose-options.tiles-row
    .choose-options-item.tiles-item(data-ng-repeat="bank in $ctrl.paymentsLinks")
      .option(data-ng-class="{'selected': $ctrl.activeOptionIndex == $index}" data-ng-click="$ctrl.selectBank($index)")
        p {{ bank.name }}
        .option-thumb
          img(data-ng-src="{{ bank.brandImageUrl }}" alt="{{ bank.name }}")
        span.icon.icon-dot(data-ng-class="{'is-active': $ctrl.activeOptionIndex == $index}")
