extends ../../../templates/wizard/section-controlls.partial.jade

block content
  .step-content-column(data-ng-click="onClick()")
    pro-input(placeholder="{{'DASHBOARD.CREATE_PROFILE.NAME_COMPANY_PLACEHOLDER' | translate}}" data-pro-model="model.name")
