.pro-video-chat-top-navbar
  display: flex
  justify-content: space-between
  position: fixed
  top: 0
  left: 0
  width: 100%

  +lgm
    position: static

  .videochat-client-profile
    display: flex
    align-items: center

    +xsm

    h4
      display: none

      +smm
        +default-font-bold
        margin: 0 0 0 16px
        display: block

    .thumb
      width: 48px
      height: 48px

    .disconnect
      display: none

  .videochat-counter
    +default-font-regular
    display: flex
    justify-content: flex-end

    +xsm
      font-size: $f-subheader

    +lgm
      +default-font-bold
      font-size: $f-subheader
      justify-content: center

    .videochat-client-timer
      display: flex
      align-items: center
      margin: 0 8px

      +lgm
        font-size: $f-subheader

      .icon
        margin: 0 8px 0 0
        font-size: $f-subheader

      ul
        display: flex

        li
          &::after
            content: ":"

          &:last-child
            &::after
              content: none

    .videochat-price-counter
      display: flex
      align-items: center
      margin: 0 8px

      +lgm
        font-size: $f-subheader

      .icon
        margin: 0 8px 0 0
        font-size: $f-subheader

  .videochat-fullscreen
    display: flex
    align-items: center
    justify-content: flex-end


    button
      &.full-screen
        display: none

        +lgm
          display: block

      &.minimize
        display: none

    .close-chat
      display: none
