@import "../../../../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.email-settings
  +smm
    position: relative

  form
    .input-content
      margin: 0 0 32px

      +smm
        margin: 0 0 64px
