@import "../../../../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.modal
  .modal-dialog
    .modal-content
      background: $c-white

      +smm
        background: none

.email-settings
  +smm
    position: relative

  form
    .input-content
      margin: 0 0 32px

      +smm
        margin: 0 0 64px
