.card-slider-to-slide
  pro-expert-card.animation(data-ng-repeat="card in vm.cards | orderBy:'id*1'" data-items="card.value" id="{{ card.id }}")

.controlls
  .left-offset(data-ng-click="vm.prevSlide()")
    span.icon.icon-arrow-left-12 

  .right-offset(data-ng-click="vm.nextSlide()")
    span.icon.icon-arrow-right-12
