@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

.promo-code-form
  .form__action
    text-align: center

  .add-payment-card
    text-align: center
    margin: 24px 0 0
    
    +mdm
      margin: 24px 0 0
    
    p
      +subtitle-small
    
