@import "~@anymind-ng/core/src/template/stylesheets/core/core"

.consultation-price
  .input-container
    display: flex
    width: 100%

    +smm
      width: auto

  am-core-input-price
    margin: 0 16px 0 0
    width: 100%

    +xsm
      width: auto
      flex: none

    +smm
      max-width: 180px
      margin: 0 24px 0 0

  .currency
    &__title
      display: flex
      align-items: flex-start
      height: 16px

      span
        +input-label

    &__value
      display: flex
      align-items: center
      height: 64px

      span
        +h5
        font-weight: 300
        color: $c-placeholder

  .calculation-data
    margin: 8px 0 48px

    &__title
      +subtitle
      color: $c-label

    &__value
      +subtitle
      color: $c-text-primary
      font-weight: 500
      margin: 0 0 0 4px

