.consultation-price
  .input-container
    am-core-input-price(
      [label]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.INPUT_PRICE_LABEL'",
      [isRequired]="true",
      [form]="form",
      [controlName]="priceControlName",
      [isDisabled]="isDisabled",
      [isInputMedium]="true",
      [isZeroValueAllowed]="true",
      [onInputChange]="onInputPriceChange",
      [minValidValue]="minValidPrice",
      [maxValidValue]="maxValidPrice",
      [minValueErrorTrKey]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.PRICE_ERROR_TO_LOW'",
      [maxValueErrorTrKey]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.PRICE_ERROR_TO_MUCH'"
    )

    .currency
      .currency__title
        span([translate]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.CURRENCY_LABEL'")
      .currency__value
        span([translate]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.CURRENCY'")

  .calculation-data
    p.calculation-data__title {{ 'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.COMMISSION.TITLE' | translate: {value: anyMindCommissionForUI} }}
      span.calculation-data__value {{ priceAfterAnyMindCommission }}
      span.calculation-data__value {{ 'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.CURRENCY' | translate }}

    div(*ngIf="isCompanyService")
      p.calculation-data__title(*ngIf="isFreelanceService; else employeeService") {{ 'CREATE_COMPANY_CONSULTATION.PRICE_SECTION.YOUR_FREELANCERS.TITLE' | translate }}
        span.calculation-data__value {{ freelancerProfit }}
        span.calculation-data__value {{ 'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.CURRENCY' | translate }}

      ng-template(#employeeService)
        p.calculation-data__title {{ 'CREATE_COMPANY_CONSULTATION.PRICE_SECTION.YOUR_EMPLOYEES.TITLE' | translate }}
          span.calculation-data__value {{ 'CREATE_COMPANY_CONSULTATION.PRICE_SECTION.YOUR_EMPLOYEES.VALUE' | translate }}
