@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import '../../../../../template/core/helpers/grid'

.consultation-leave
  display: flex
  justify-content: center
  margin: -8px 0 0

  &__wrapper
    max-width: 384px

  &__header
    +h5
    font-weight: 500
    text-align: center
    margin: 0 0 16px

  &__text
    +paragraph-small
    color: $c-text-secondary
    text-align: center
    margin: 0 0 48px
    padding: 0 25px

  &__actions
    display: flex
    justify-content: center

  &__action + &__action
    margin: 0 0 0 24px
