.change-password-settings
  .pro-input-password
    margin: 0 0 16px

  form
    margin: 0 0 24px

  .remind-password
    display: flex
    justify-content: center
    align-items: center

    p
      color: $c-secondary-txt
      font-size: $f-paragraph-title

    > *
      margin: 0 16px

  .password-strenght-bar
    margin: 32px 0 64px
