.pro-service-provider-summary-step
  .step
    color: $c-lines
    width: 100%
    position: relative
    +lgm
      width: 1104px
    margin: 0 auto
    padding: 0 16px 0 16px
    +smm
      padding: 0 32px 0 32px
    h3
      color: $c-lines
  .summary-step
    border: 1px solid $c-lines
    margin-top: 30px
    position: relative
    border-radius: 0.4em
    .btn-handler
      float: right
      display: flex
      justify-content: flex-end
      .summary-icon
        border: 1px solid $c-lines
        border-radius: 50px
        width: 48px
        height: 48px
        position: relative
        right: 5px
        margin-left: 10px
        top: 30px
        font-size: 16px
        padding: 13px 0px 0px 12px
        &:hover
          border-color: $c-primary
        a
          border: none
        .icon-edit-24
          display: flex
          position: absolute
          flex-direction: row
          flex-wrap: nowrap
          justify-content: center
          align-content: center
          align-items: center
        i
          color: $c-primary

    .summary-step-title
      border-bottom: 1px solid $c-lines
      h3
        margin-top: -25px
        color: $c-primary-txt
        font-weight: bold
    .edit-consultation-form
      .step
        margin-left: -32px

    .summary-tag
      h6
        text-transform: uppercase
      .tags
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: flex-start
        align-content: center
        align-items: center
        margin-top: -12px
        margin-bottom: 24px
        p
          border: 1px solid $c-lines
          padding: 4px 8px
          margin: 4px
          font-size: $f-h6-size
          font-weight: bold
          text-transform: uppercase
          +border-radius('0.4em')
    .summary-name
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: flex-start
      align-content: center
      align-items: center
      margin-top: 24px
      .summary-avatar
        img
          width: 100px
          height: 100px
          +border-radius(50%)
          padding: 3px
      .summary-firstname
        padding-left: 32px
        .languages
          text-transform: uppercase
          margin-top: -14px

    .summary-descriptions
      p
        color: $c-secondary-txt
        text-align: justify
