.summary-step
  color: $c-secondary-txt

  .summary-name
    align-items: center
    justify-content: space-between
    margin-bottom: 32px

    h2
      font-size: $f-main-header
      line-height: 1

    .pro-button
      align-self: flex-start

  .summary-data
    align-items: center

  .summary-avatar
    width: 120px
    height: 120px
    +border-radius(50%)
    overflow: hidden
    position: relative
    margin-right: 32px

    img
      height: inherit
      width: auto
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .languages
    text-transform: uppercase

  .summary-descriptions
    p
      color: $c-secondary-txt
      text-align: justify
