.no-activity
  display: flex
  justify-content: center
  align-items: center
  padding: 0 0 32px

  +smm
    padding: 0 0 64px

  .dashboard-content
    text-align: center

    img
      margin: 0 0 64px

    h3
      +default-font-regular
      font-size: $f-h2-size
      margin: 0 0 16px

    p
      +default-font-regular
      color: $c-secondary-txt
      font-size: $f-h4-size
      margin: 0 0 32px

      +smm
        margin: 0 0 64px