.input-set-password.input(
  [formGroup]="formGroup",
  [ngClass]="{'input--focused': isFocused, 'input--invalid': isFieldInvalid(), 'input--disabled': isDisabled}")

  .input__container
    .input__label-container
      label.input__label(*ngIf="labelTrKey") {{ labelTrKey | translate }}
      span.input__required-asterix *

    .input__handler
      input(
      [autofocus]="initialFocus",
      [formControlName]="controlName",
      (focus)="onFocus()",
      (blur)="onBlur()",
      placeholder="{{ placeholderTrKey | translate }}",
      type="{{ passwordType }}",
      [attr.type]="currentAttribute",
      [readonly]="isDisabled"
      )

      span.icon.icon-hide-password.icon-password(*ngIf="currentAttribute === passwordType", (click)="displayPassword()")
      span.icon.icon-show-password.icon-password(*ngIf="currentAttribute === textType", (click)="hidePassword()")

  .input__alert
    validation-alert(
    [isVisible]="isIncorrectPassword()",
    [validationTextKey]="'INPUT_SET_PASSWORD.INVALID_PASSWORD_ERROR'"
    )

    validation-alert(
    [isVisible]="isRequiredError()",
    [validationTextKey]="'INPUT.REQUIRED_VALIDATION_ERROR'"
    )

  .input__password-strength(*ngIf="formGroup.value[controlName] !== ''")
    span(*ngIf="!isPasswordPassRegexp()", [translate]="'INPUT_SET_PASSWORD.WEAK_PASSWORD'")
    span(*ngIf="isPasswordPassRegexp()", [translate]="'INPUT_SET_PASSWORD.STRONG_PASSWORD'")
