@import "../../../../../../node_modules/@anymind-ng/core/src/template/stylesheets/core/partials/input/input"
@import "../../../../../../node_modules/@anymind-ng/core/src/template/stylesheets/core/partials/buttons"

.input-tags
  position: relative
  margin: 0 0 32px

  &__handler
    display: flex
    align-items: flex-end

    .button
      margin: 0 0 0 24px

    .input
      margin: 0
