
<div class="input-set-password input" [formGroup]="formGroup" [ngClass]="{'input--focused': isFocused, 'input--invalid': isFieldInvalid(), 'input--disabled': isDisabled}">
  <div class="input__container">
    <div class="input__label-container">
      <label class="input__label" *ngIf="labelTrKey">{{ labelTrKey | translate }}</label><span class="input__required-asterix">*</span>
    </div>
    <div class="input__handler">
      <input [autofocus]="initialFocus" [formControlName]="controlName" (focus)="onFocus()" (blur)="onBlur()" placeholder="{{ placeholderTrKey | translate }}" type="password" [readonly]="isDisabled" autocomplete="new-password">
    </div>
  </div>
  <div class="input__alert">
    <am-core-validation-alert [isVisible]="isIncorrectPasswordError()" [validationTextKey]="'INPUT_SET_PASSWORD.INVALID_PASSWORD_ERROR'"></am-core-validation-alert>
    <am-core-validation-alert [isVisible]="isDuplicatePasswordError()" [validationTextKey]="'INPUT_SET_PASSWORD.DUPLICATED_PASSWORD_ERROR'"></am-core-validation-alert>
    <am-core-validation-alert [isVisible]="isRequiredError()" [validationTextKey]="'INPUT.REQUIRED_VALIDATION_ERROR'"></am-core-validation-alert>
  </div>
</div>