@import "../../../../template/stylesheets/interface/input/input"

.input-set-password
  &.input
    margin: 0 0 48px
    
    &__handler
      width: 100%
      position: relative

    &__password-strength
      position: absolute
      right: 0

      span
        +label
        text-transform: none

  .icon-password
    position: absolute
    top: 0
    bottom: 0
    right: 0
    margin: auto
    cursor: pointer

    &__alert
      p
        font-size: $f-label
      
  .alert--info
    &::ng-deep
      span
        color: $c-label !important
