pro-lightbox-content
  display: none

  &.currentSlide
    display: block

  .pro-lightbox-content
    display: flex
    align-items: center
    justify-content: center


    img
      +transition(width 0.3s, height 0.3s)
      max-width: inherit
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      margin: auto

    &.pdf
      display: block
      height: 100vh
      .content

      img
        position: static
        margin: 32px auto auto
