.communicator-modals.client-call
  img(data-ng-src="/assets/images/search-image.jpg")

  .communicator-modals-content
    h2(data-translate="COMMUNICATOR.MODALS.CUSTOMER_ASK_FOR_ADVICE_ON")
    p {{ ::vm.consultation.name }}

  .modals-action
    a.btn.error.icon-left(data-ng-click="rejectCall()")
      span.icon.icon-reject-24
      | {{"COMMUNICATOR.MODALS.REJECT" | translate}}

    a.btn.success.icon-left
      span.icon.icon-call-24
      | {{"COMMUNICATOR.MODALS.ANSWER" | translate}}

