scrollable(data-is-fullscreen="vm.isFullscreen" data-is-navbar="vm.isNavbar")
  top-modal-navbar(data-on-close="vm.onModalClose")
  .modal-primary.container-big.no-invitations-modal
    preloader(data-is-loading="vm.isLoading")
      no-content-message(data-icon-src="assets/images/profitelo_icons/icon_no_invite.png"
        data-message-title="DASHBOARD.EXPERT_ACCOUNT.INVITATIONS.NO_INVITATIONS.TITLE")
