@import "../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.phone-number
  .inputs-handler
    margin: 0 0 24px

    +xsm
      display: flex
      margin: 0 0 32px 0

  .btn
    width: 100%

  .pro-dropdown
    width: 100%
    margin: 0 0 16px

    +xsm
      margin: 0 16px 0 0
      min-width: 124px

  .input
    +xsm
      min-width: 276px

.password
  input-password
    margin: 0 0 32px

  .hidden-input
    display: none

  .phone-number-container
    margin: 0 0 32px

    span
      +paragraphSmall

      &.number
        +default-font-medium
        margin: 0 0 0 8px
