@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../template/profitelo_theme/stylesheets/variables/variables"

.email-veryfication
  .email-sent
    p
      +header
      margin: 0 0 24px 0

    .btn-default
      margin: 0 0 24px 0
      width: 100%

    .send-sms
      display: block
      text-align: center
      font-size: $f-paragraph-small
      color: $c-secondary-txt
      transition: color .2s
      text-transform: uppercase

      &:hover
        color: $c-primary-txt

.smsVeryfication
  input-primary
    margin: 0 0 32px

.phone-number-container
  margin: 0 0 32px

  span
    +paragraphSmall

    &.number
      +default-font-medium
      margin: 0 0 0 8px


