.phone-number-container
  margin: 0 0 32px

  span
    +paragraphSmall

    &.number
      +default-font-medium
      margin: 0 0 0 8px

.new-password
  .hidden-input
    display: none

  button
    margin: 16px 0 0 0
    width: 100%

.set-email
  button
    margin: 32px 0 0
