.phone-handler
  margin: 32px 0

  h5
    padding: 5px 0 0

  span
    left: 8px
    position: relative
    color: $c-success

.new-password
  .hidden-input
    display: none

  button
    margin: 16px 0 0 0
    width: 100%

.set-email
  button
    margin: 32px 0 0
