.phone-number-container
  margin: 0 0 32px

  span
    +paragraphSmall

    &.number
      +default-font-medium
      margin: 0 0 0 8px

.new-password
  .hidden-input
    display: none


  .password-information
    span
      color: $c-secondary-txt

  button
    margin: 16px 0 0 0
    width: 100%

    &.disabled
      cursor: not-allowed
      background: $c-lines
      border-color: $c-lines

  .click-alert
    color: $c-warning
    display: flex
    justify-content: center
    margin: 24px 0 0

.set-email
  button
    margin: 32px 0 0
