@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.sms-code
	input-primary, checkbox
		margin: 0 0 24px

  .phone-number-container
    margin: 0 0 32px

    span
      +paragraphSmall

      &.number
        +default-font-medium
        margin: 0 0 0 8px
