.modal-header
    h3.modal-title Czy jesteś pewien, że chcesz usunąć konsultację ?
.modal-footer
    button.btn.btn-main.btn-medium(type='button', data-ng-click='ok()') Tak
    button.btn.btn-warning(type='button', data-ng-click='cancel()') Nie