.create-profile
  .title-row
    .title
      h2(data-translate="DASHBOARD.CREATE_PROFILE.CREATE_PROFILE_TITLE")
    .close-button
      .btn-handler
        a(data-ui-sref="app.dashboard.start").pro-btn.btn-light.btn-icon
          i.icon.icon-close-16
          
  include partials/summary
  include partials/step1
  
  
  
