scrollable(data-is-fullscreen="vm.isFullscreen" data-is-navbar="vm.isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
  .modal-form.container-medium.expert-consultation-details-modal
    preloader(data-is-loading="vm.isLoading")
      .modal-header
        .profile-preview
          .thumb.x64
            user-avatar(data-image-token="vm.expertAvatar")

            .status-list
              span.status.availability
                span.icon.icon-success-12

          div
            .profile-name
              a
                span {{ vm.expertName }}

            .profile-consultation-title
              p {{ vm.serviceName }}

      .modal-container
        header.entry-title
          span.icon.icon-consultation-details-24
          span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TITLE")

        .details-tab
          .details-row.details-header-row
            .details-tab-label

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.INCOME")
            .details-tab-content
              .price-section(data-ng-bind-html="vm.callCostPerMinute | money")

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.CONSULTATION_ID")
            .details-tab-content
              span {{ vm.sueId }}

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.DATE")
            .details-tab-content
              span {{ vm.startedAt | date: 'dd-MM-yyyy' }}

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TIME")
            .details-tab-content
              span {{ vm.startedAt | date: 'HH:mm' }}

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TIME_CONVERSATION")
            .details-tab-content
              span {{ vm.callDuration | millisecondsToDatetime | date: 'HH:mm:ss' }}


        tags-list(data-title="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.RECOMMENDED_TAGS.TITLE" data-tags="vm.recommendedTag")

        collapse-btn.chat-history(data-title="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.CHAT.BUTTON"
                data-collapse-icon="icon-chat-24")
                  client-consultation-details-chat()
