@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.expert-consultation-details-modal
  .details-tab
    .details-header-row
      .details-tab-price
        display: flex

        span
          +default-font-bold

  .collapse-btn
    text-align: left

    +smm
      margin: 0

  .tags-list
    margin: 0 0 24px
