.preloader
  > div
    opacity: 1
    transition: opacity 0.3s

    &.loader
      opacity: 0
      transition: none
      min-height: 120px

  .balls-loader
    position: fixed
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    top: 0
    left: 0
    margin: auto 0
    height: 100%
    content: ""

    span
      width: 64px
      height: 64px
      border: 1px solid $c-lines
      border-top-color: $c-primary
      border-radius: 50%
      animation: loader-rotate 1s linear infinite
