.preloader
  div
    opacity: 1
    transition: opacity 0.3s
    &.loader
     opacity: 0
     transition: none

  .balls-loader
    display: block
    position: fixed
    width: 100%
    margin: auto 0
    height: 100%
    content: ""
    border-radius: 20px
    background: transparent url('/assets/gifs/preloader.gif') no-repeat center center