input
	+inputText
	outline: 0
	border: 0

	&:invalid
		box-shadow: none
		outline: 0

	&::-ms-clear
		width: 0
		height: 0

	&::-ms-reveal
		width: 0
		height: 0

	&:focus
		box-shadow: none
		outline: 0
		border-radius: 0
		color: $c-primary

		&[type="number"]
			appearance: textfield
			-moz-appearance: textfield
			-webkit-appearance: textfield

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button
				-webkit-appearance: none
				margin: 0

	&::placeholder
		font-size: $f-header
		line-height: normal

	//Input Types
	&[type="range"]
		background: none
		height: 24px
		margin: 0

		&::-moz-range-progress
			background: $c-primary

		&::-moz-range-track
			background: $c-primary

		&::-ms-fill-upper
			background: $c-primary

		&::-ms-fill-lower
			background: $c-primary

		&::-webkit-slider-runnable-track
			height: 3px
			background: $c-primary
			border: none
			border-radius: 3px

		&::-moz-range-thumb
			background: $c-white
			border: 2px solid $c-primary
			box-shadow: 0 0 0 2px $c-white
			width: 16px
			height: 16px
			border-radius: 50%
			position: relative
			top: -1px

		&::-ms-thumb
			background: $c-white
			border: 2px solid $c-primary
			box-shadow: 0 0 0 2px $c-white
			width: 16px
			height: 16px
			border-radius: 50%
			position: relative
			top: -1px

		&::-webkit-slider-thumb
			background: $c-white
			border: 2px solid $c-primary
			box-shadow: 0 0 0 2px $c-white
			width: 16px
			height: 16px
			border-radius: 50%
			position: relative
			top: -1px

textarea
	+textareaText
	outline: 0
	border: 0

	&:invalid
		box-shadow: none
		outline: 0

	&:focus
		box-shadow: none
		outline: 0

	&::-ms-clear
		width: 0
		height: 0

	&::-ms-reveal
		width: 0
		height: 0

.pin-inputs
	margin: 0 0 16px

	+smm
		margin: 0 0 32px

	input
		+default-font-regular
		border-bottom: 1px solid $c-lines
		width: $f-input-height
		height: $f-input-height
		line-height: normal
		text-align: center
		margin: 0 8px 0
		font-size: $f-header

		+smm
			margin: 0

		&::placeholder
			font-size: $f-header
			line-height: normal

		&:focus
			color: $c-primary
			border-color: $c-primary

label
	+inputLabel

	&.upload-file
		input[type="file"]
			display: none

.input-handler
	+xsm
		display: flex
		justify-content: center

	.pro-dropdown
		width: 100%
		text-align: left
		margin: 0 0 16px

		+xsm
			width: 128px
			margin: 0 16px 0 0

		.input-group
			.ui-select-container
				border-radius: 3px 0 0 3px


//TODO Refactor radio-components
.radio
	display: flex
	align-items: flex-start
	justify-content: flex-start
	position: relative
	cursor: auto

	label
		text-align: left
		cursor: pointer

		&.text
			+inputLabel

	> div
		margin: 2px 16px 0 0
		cursor: auto
		position: relative

		input
			position: absolute
			opacity: 0
			width: 16px
			height: 16px
			cursor: pointer

		input + label
			width: 16px
			height: 16px
			background: $c-white
			border: 1px solid $c-lines
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center

		input:checked + label
			border-color: $c-primary
			box-shadow: inset 0 0 0 1px $c-primary

			&::before
				content: ""
				width: 8px
				height: 8px
				background: $c-primary
				display: block
				border-radius: 50%

radio-btn-text
	display: block
	margin: 0 0 8px

.radio-text
	.radio-description
		padding: 0 0 16px 32px

		textarea
			width: 100%
			border-bottom: 1px solid $c-lines
			padding: 0 0 4px

		.label-description
			text-align: left
			color: $c-secondary-txt
			margin: 12px 0 0
