@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"
@import "../../../../template/core/helpers/grid"

%transition
  transition: background 0.3s ease, color 0.3s ease

.consultation-layout
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  cursor: pointer
  padding: 20px 12px

  &__wrapper
    display: flex
    flex-direction: column-reverse

    +mdm
      flex-direction: column

  +smm
    padding: 20px 24px

  &:hover
    .consultation-layout__amount-button
      @extend %transition
      color: $c-white
      background-color: $c-primary

  &__header
    +paragraph-small

    +mdm
      margin-bottom: 12px

  &__footer
    margin-bottom: 12px

    +smm
      +h6
      font-weight: 500

    +mdm
      margin-bottom: 0px

  &__price
    position: absolute
    right: 12px
    bottom: 20px
    display: flex
    flex-direction: column
    justify-content: flex-end

    +smm
      right: 24px

    +mdm
      position: static
      justify-content: center

    span
      font-weight: 700

  &__price-wrapper
    display: flex
    flex-direction: column
    align-items: flex-end

  &__price-header, &__price-footer
    display: none

    +mdm
      +caption
      color: $c-label
      display: inline

  &__price-content
    +button-small

    +smm
      +h5

  &__price-header
    text-transform: uppercase

  &__amount
    display: flex
    flex-direction: row
    align-items: center

    &--currency
      margin: 0 0 0 4px
      font-weight: 400

    &-button
      display: none

      +mdm
        margin-left: 16px
        display: flex
