.pull-left
  float: left !important
  display: block

.pull-right
  float: right !important
  display: block

.clearfix
  &:after
    content: ""
    display: table
    clear: both

.flex-col
  display: flex
  flex-flow: column

.flex-row
  display: flex
  flex-flow: row

  &.wrap
    flex-flow: row wrap

.hidden
  display: none
