=modalTitle
  text-align: left

  &.title-action
    display: flex
    align-items: center
    margin: 0 0 24px

    h3
      margin: 0

    .btn
      margin: 0 0 0 32px

  h3
    +modalTitleHeader
    margin: 0 0 24px


=modalTitleHeader
  +default-font-light
  font-size: $f-h2-size
  color: $c-secondary-txt

=modalPreviewProfileName
  +default-font-light
  font-size: $f-paragraph
  color: $c-secondary-txt

/* entry-titles */
=entryTitle
  > h2, > h3
    +default-font-light
    color: $c-secondary-txt
    font-size: $f-h2-size

/* entry-titles end */

/* inputs */
=inputLabel
  +default-font-medium
  color: $c-label
  font-size: $f-label-size
  text-transform: uppercase
  line-height: 1
  text-align: left

=inputText
  +default-font-light
  color: $c-primary-txt
  font-size: $f-nav-size
  line-height: 1

/* inputs end */

/* listing */
=consultationProfileName
  > *,
  h3
    +default-font-light
    color: $c-secondary-txt
    font-size: $f-paragraph

=consultationTitle
  > *,
  h3
    +default-font-light
    color: $c-primary-txt
    font-size: $f-h2-size
    line-height: 29px

=priceSection
  span
    +default-font-medium
    color: $c-primary-txt
    font-size: $f-price-list
    text-transform: uppercase

    &.time
      color: $c-label
      margin: 0

    &.currency
      color: $c-label
      margin: 0 0 0 4px

=consultationDetailsInfo
  +default-font-medium
  font-size: $f-medium
  color: $c-secondary-txt


=consultationDescription
  +default-font-regular
  font-size: $f-h5-size
  color: $c-secondary-txt
  line-height: $f-h5-size * 1.5

=singleConsultationAnimation
  display: block
  opacity: 0
  animation: fadeInX 0.3s ease-out
  animation-fill-mode: forwards

  @for $i from 1 to 6
    &:nth-child(#{$i})
      animation-delay: $i * 0.15s

=asd
  display: block
  opacity: 0
  animation: fadeInY 0.3s ease-out
  animation-fill-mode: forwards

  @for $i from 1 to 6
    &:nth-child(#{$i})
      animation-delay: $i * 0.15s

/* listing end */

/* tiles list */
=tilesConsultationTitle
  > *,
  h3
    +default-font-light
    font-size: $f-h4-size
    line-height: 24px

/* tiles end*/


/* label-header */
=labelHeader
  +default-font-medium
  display: block
  text-transform: uppercase
  color: $c-label
  font-size: $f-label-size

/* label-header end */

=default-font-thin()
  font-weight: 100

=default-font-light()
  font-weight: 300

=default-font-regular()
  font-weight: 400

=default-font-medium()
  font-weight: 500

=default-font-bold()
  font-weight: 700

=default-font-heavy()
  font-weight: 900

/* no-content-message */
=noContentMessage
  img
    margin: 0 0 24px

  h2
    margin: 0 0 32px
    line-height: 29px

  p
    margin: 0 0 64px

  .btn [class*="icon"]
    margin: 0 0 0 16px

/* no-content-message end */
