.default-container
    .single-container.pro-expert-single-consultation
        .title-row-consultation.black-row
            .options-details
                .options-consultation
                    .option-item
                        span.icon.icon-satisfaction-16
                        span {{ satisfaction }}% name jakis
                    .option-item
                        span.icon.icon-calls-16
                        span {{ talks }} name jakis
                    .option-item
                        span.icon.icon-time-16
                        span {{ timeAverage }} min.
                .consultation-profile
                    .author
                        h6 Salvador Crawfords
                        span.status.availability Dostępny
                    img.thumb.circle(src="/assets/images/John_Doe.jpg" alt="")

            .entry-title
                h3 {{ name }} name jakis name jakis name jakis name jakis

            .cost-consultations
                .price
                    span.icon.icon-price-32
                    h3 {{ minuteCost / 100 }} name jakis
                        span.currency(data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE") name jakis
                a.pro-btn.success ZADZWOŃ
                    span.icon.icon-headphone-16

        .consultation-tags.title-row-consultation.footer-consultation
            h5.title-row Tagi
                span (18)

            .search-tags
                .slider-tag
                    ul
                        li
                            a.pro-btn.btn-white gorgeus
                        li
                            a.pro-btn.btn-white night
                        li
                            a.pro-btn.btn-white gorgeus
                        li
                            a.pro-btn.btn-white night
                        li
                            a.pro-btn.btn-white gorgeus
                        li
                            a.pro-btn.btn-white night
                        li
                            a.pro-btn.btn-white asd
