@import "../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.rtc-detector
	.rtc-detector-content
		padding: 0 16px

		+smm
			position: fixed
			padding: 0
			left: 360px
			top: 136px
			display: flex
			align-items: flex-end

		&.is-ie
			left: auto
			right: 360px

		.rtc-image
			position: relative
			flex: 1
			margin: 0 16px 0 0
			padding: 40px 0 0 80px

			img
				&.arrow
					position: absolute
					left: 0
					top: 0

		.rtc-header
			max-width: 400px

			h2
				+header
				+default-font-medium
				color: $c-white
				margin: 0 0 8px

			span
				+paragraph
				+default-font-regular
				color: $c-white

	.rtc-unsupported
		text-align: center

		.browser-list
			display: flex
			justify-content: space-around

			.browser-item
				text-align: center

				img
					max-width: 48px
					margin: 0 0 24px

				span
					+paragraphTitle
					color: $c-primary

				> *
					display: block
