@import "../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.rtc-detector
	.rtc-detector-content
		padding: 0 16px

		+smm
			position: fixed
			padding: 0
			left: 360px
			top: 136px
			display: flex
			align-items: flex-end

		&.is-ie
			left: auto
			right: 360px

		.rtc-image
			position: relative
			flex: 1
			margin: 0 16px 0 0
			padding: 40px 0 0 80px

			img
				&.arrow
					position: absolute
					left: 0
					top: 0

		.rtc-header
			max-width: 400px

			h2
				+header
				+default-font-medium
				color: $c-white
				margin: 0 0 8px

			span
				+paragraph
				+default-font-regular
				color: $c-white


	&.is-edge
		.container-small
			.rtc-detector-content
				width: 100%
				margin: auto
				padding: 0
				left: 0
				right: 0
				justify-content: flex-start
				flex-direction: row-reverse

				+smm
					padding: 0 72px 0 0

				+mdm
					width: 960px


				.rtc-image
					margin: 0 0 24px
					display: flex
					flex: inherit
					flex-direction: row-reverse
					justify-content: center
					padding: 0

					+smm
						padding: 40px 0 0 80px
						justify-content: inherit
						margin: 0

					img
						&.arrow
							position: relative
							transform: scale(-1)

	.rtc-unsupported
		text-align: center

		.browser-list
			display: flex
			justify-content: space-around

			.browser-item
				text-align: center

				img
					max-width: 48px
					margin: 0 0 24px

				span
					+paragraphTitle
					color: $c-primary

				> *
					display: block
