.consultation-range-company-consultation
  .pro-service-provider-profile,
  .pro-service-provider-summary-step
    margin-top: 20px

  .edit-consultation-form
    > div
      position: relative
      left: -33px