extends ../../../templates/wizard/section-controlls.partial.jade

block content
  .pro-service-provider-who-provides
    .step-content-column(data-ng-click="onClick()")
      .who-provides-checkbox
        pro-checkbox(data-ng-model="ownerEmployee" label="{{label | translate}}")
      .who-provides-inputs
        pro-tags-dropdown(data-pro-items="emails"
        data-placeholder="{{'DASHBOARD.CONSULTATION.EMPLOYEES_PLACEHOLDER' | translate}}" data-tag-label=""
        data-pro-model="model.invitations" data-ng-click="onClick()" data-tag-name-param="tagParam" data-valid-pattern="emailPattern")
          .input-error-messages
            .error(data-translate="{{errorMessage}}" data-ng-show="noTags")
        button.pro-btn.btn-small.btn-light.who-provides-csv(data-translate="DASHBOARD.CONSULTATION_RANGE.CONSULTANTS_LOAD_CSV" data-ng-click="skip()" data-ng-show="!required")
    .input-error-messages
      .error(data-translate="{{errorMessage}}" data-ng-show="error.badEmployee")
