@import "../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.single-consultation-edit
  .consultation-wrapper
    border-bottom: 1px solid $c-lines
    padding: 48px 0 40px
    display: flex
    align-items: flex-start
    justify-content: space-between

    .consultation-price
      +priceSection

    .consultation-title
      margin: 0 0 8px

    .consultation-actions
      +xsm
        display: flex
        align-items: center
        justify-content: space-between

      span
        color: $c-primary
        margin: 0 0 0 16px

  .consultation-language,
  .consultation-description
    +paragraphTitle
    margin: 0 0 16px

    h5
      margin: 0 0 8px

  .employee-list
    margin: 16px 0 0

    p
      +paragraphTitle
      margin: 0 0 8px

    .tag-list
      li
        &.is-provide-service
          a
            background: $c-primary
            color: $c-white
            border-color: $c-primary

