.single-consultation-edit
  .consultation-wrapper
    .consultation-section
      .consultation-details
        .consultation-price
          span(data-ng-bind-html="::$ctrl.price | money")
          span.currency(data-translate='HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE')

        div
          .consultation-title
            h3
              span {{ ::$ctrl.name }}

      tags-list(data-tags="$ctrl.tagsList")
      .employee-list(data-ng-if="$ctrl.isEmployee")
        p(data-translate="WIZARD.SUMMARY.EMPLOYEES.LABEL")
        .tags-list
          ul.tag-list.slide-page
            li(data-ng-if="$ctrl.isOwnerEmployee")
              a.slide-btn-tag {{ 'WIZARD.SUMMARY.SINGLE_CONSULTATION.OWNER_EMPLOYEE_TAG' | translate }}
            li(data-ng-repeat="employee in $ctrl.employeeList | limitTo: 7")
              a.slide-btn-tag {{ employee }}

    .consultation-actions
      span.icon.icon-trash-24(data-ng-click="$ctrl.removeConsultation()")
      span.icon.icon-edit-16(data-ng-click="$ctrl.editConsultation()")

