.rtc-detector-no-browser-support
  top-modal-navbar(data-on-close="vm.onModalClose")
  .container-small
    .rtc-unsupported
      header.entry-title
        span {{:: 'COMMUNICATOR.MODALS.RTC.NOT_SUPPORTED.TITLE' | translate }}

      p {{:: 'COMMUNICATOR.MODALS.RTC.NOT_SUPPORTED.DESCRIPTION' | translate }}

      .browser-list
        .browser-item
          img(data-ng-src="/assets/images/browsers/firefox.png")
          span(data-translate="COMMUNICATOR.MODALS.RTC.NOT_SUPPORTED.BROWSERS.FIREFOX")

        .browser-item
          img(data-ng-src="/assets/images/browsers/chrome.png")
          span(data-translate="COMMUNICATOR.MODALS.RTC.NOT_SUPPORTED.BROWSERS.CHROME")

        .browser-item
          img(data-ng-src="/assets/images/browsers/opera.png")
          span(data-translate="COMMUNICATOR.MODALS.RTC.NOT_SUPPORTED.BROWSERS.OPERA")
