@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.payouts.payouts-options
  .list-row
    flex-wrap: nowrap
    justify-content: space-between

  .payout-info
    display: flex
    flex-wrap: wrap
    width: 100%

    +smm
      flex-wrap: nowrap

    span
      width: 100%

      +smm
        width: initial
        margin: 0 24px 0 0

    .payout-data
      color: $c-primary-txt
      margin: 16px 0

      +smm
        margin: 0

  .payouts-methods
    margin: 0 0 48px

  .invoice-details-row
    margin: 0 0 24px
    display: flex
    flex-wrap: wrap

    +xsm
      flex-wrap: nowrap

    .detail-name
      +paragraph
      color: $c-tertiary-txt
      display: inline-block
      min-width: 100%
      margin: 0 0 16px

      +xsm
        min-width: 200px
        margin: 0

    .detail-value
      +paragraph
      color: $c-primary-txt
