.change-anonymity
  plat-input-switch(
    turnOnTrKey="DASHBOARD.SETTINGS.ANONYMITY.SWITCHER.ON",
    turnOffTrKey="DASHBOARD.SETTINGS.ANONYMITY.SWITCHER.OFF",
    [formControl]="anonymityControl",
  )
