@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import "../../../../../template/core/core"
@import "../../../../../shared/components/modals/modal/modal.component"

\:host
  display: block
  width: 100%

.modal-component
  &__action
    display: flex
    justify-content: space-between

    &--expert
      justify-content: center

.expert-details
  overflow: hidden
