plat-modal-component(
[modalTrTitleHeader]="'EDIT_PROFILE.TITLE'",
[isBackwardVisible]="isExpertForm && !isExpert && !isOpenAsExpert",
(backwardClick)="onBackToClientStep()"
  )

  .modal-form
    form.form.form--client(
    *ngIf="!isExpertForm",
    contentHeightAnimation,
    [id]="'clientNameForm'",
    [formGroup]="clientNameForm",
    novalidate,
    id="clientNameForm"
    )
      .modal-form__row.modal-form__row--small
        header.modal-component__content__header
          span {{'EDIT_PROFILE.CONTENT.TITLE' | translate }}
            am-core-tooltip(
            [tooltipText]="'EDIT_PROFILE.TOOLTIP.DESCRIPTION'"
            )

        plat-basic-profile-data(
        [form]="clientNameForm",
        [profileNameControlName]="clientFormControlName",
        [avatarControlName]="clientFormControlAvatar",
        [isDisabled]="isInputDisabled",
        [inputTextLabel]="'EDIT_PROFILE.INPUT.INPUT_NAME.LABEL'"
        )

    div
      form.form.form--expert(
      contentHeightAnimation,
      *ngIf="isExpertForm",
      [id]="'expertNameForm'",
      [formGroup]="expertNameForm",
      id="expertNameForm",
      novalidate
      )

        header.modal-component__content__header
          span {{'EDIT_PROFILE.CONTENT.TITLE' | translate }}
            am-core-tooltip(
            [tooltipText]="'EDIT_PROFILE.TOOLTIP.DESCRIPTION'"
            )

        .modal-form__row
          plat-basic-profile-data(
          [form]="expertNameForm",
          [profileNameControlName]="expertFormControlName",
          [avatarControlName]="expertFormControlAvatar",
          [isRequired]="isExpertForm",
          [isDisabled]="isInputDisabled",
          [inputTextLabel]="'EDIT_PROFILE.INPUT.INPUT_NAME.LABEL'"
          )

        .modal-form__row.modal-form__row--small
          header.modal-component__content__header
            span {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.TITLE' | translate }}

          am-core-textarea-primary(
          [maxLength]="profileDescriptionMaxLength",
          [minLength]="profileDescriptionMinLength",
          [placeholder]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.PLACEHOLDER'",
          [form]="expertNameForm",
          [controlName]="expertFormControlDescription",
          [errorTextKey]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.ERROR'",
          [label]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.DESCRIPTION.LABEL'",
          [isRequired]="isExpertForm",
          [isDisabled]="isInputDisabled"
          )

        .modal-form__row.modal-form__row--small
          plat-file-uploader(
          *ngIf="!isPending || isInputDisabled",
          [maxFileSize]="maxValidFileSize",
          [maxFilesCount]="maxValidFilesCount",
          [fileCategory]="fileCategory",
          [profileDocuments]="profileDocumentsList",
          (uploadingFile)="onUploadingFile($event)",
          (fileTokensList)="onUploadFile($event)",
          [isDisabled]="isInputDisabled"
          )

        .modal-form__row.modal-form__row--small
          plat-profile-links(
          *ngIf="!isPending || isInputDisabled",
          [form]="expertNameForm",
          [controlName]="expertFormControlLink",
          [itemsList]="profileLinksList",
          [isDisabled]="isInputDisabled",
          (linksListEmitter$)="onAddProfileLink($event)"
          )

    .modal-component__action([ngClass]="{'modal-component__action--expert': isExpert || isOpenAsExpert}")
      a.button.button--link.button--small((click)="onCreateExpertAccount()", *ngIf="!isExpertForm && !isExpert && !isOpenAsExpert")
        | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON' | translate }}

      a.button.button--link.button--small((click)="onCreateExpertAccount()", *ngIf="isExpertForm && !isExpert && !isOpenAsExpert")
        | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.CANCEL' | translate }}

      am-core-submit-button(
      *ngIf="!isExpertForm",
      (click) = "onClientFormSubmit(clientNameForm)",
      [titleText]="'EDIT_PROFILE.CONTENT.CREATE_CLIENT_PROFILE.BUTTON.SAVE_PROFILE'",
      [isDisabled]="isFileUploading || isPending || isInputDisabled",
      [isLoading]="isFileUploading || isPending || isInputDisabled"
      )

      am-core-submit-button(
      *ngIf="isExpertForm",
      (click)="onCreateExpertFormSubmit(expertNameForm)",
      [titleText]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.SAVE_PROFILE'",
      [isDisabled]="isFileUploading || isPending || isInputDisabled",
      [isLoading]="isFileUploading || isPending || isInputDisabled"
      )
