plat-modal-component(
[modalTrTitleHeader]="'DASHBOARD.CREATE_PROFILE.TITLE'",
[isBackwardVisible]="currentModalStep === modalSteps.INVOICE_DETAILS",
(backwardClick)="onBackwardClick()"
)

  form(
  [formGroup]='profileForm',
  (ngSubmit)="onSaveProfile()"
  )
    plat-stepper(
    #stepper='platStepper'
    )
      plat-step
        plat-expert-client-profile(
        [profileForm]="profileForm",
        [isValidated]="isValidated",
        [isExpertForm]="isExpertForm",
        [isInputDisabled]="isRequestPending",
        [descriptionControlName]="descriptionControlName",
        [basicProfileDataControlName]="basicProfileDataControlName",
        [linksControlName]="linksControlName",
        [profileDocumentsList]="profileDocumentsList",
        (fileUploadingStatusChange)="onFileUploadingStatusChange($event)",
        (fileUploadTokensList)="onFileUploadTokensList($event)"
        )

      plat-step
        plat-payout-invoice-details(
        [isRequestPending]="isRequestPending",
        [form]="invoiceDetailsForm",
        [isCompanyProfile]="false",
        (onSelectInvoiceDetailsType)="onSelectInvoiceDetailsType($event)"
        )

    .modal-component__action
      .client-type-wrapper([ngClass]="{'client-type-wrapper--center': showToggleExpert && !isPayoutModal}")
        a.button.button--link.button--small((click)="toggleIsExpertForm()", *ngIf="isExpertForm && !hasProfile && !isPayoutModal && !showToggleExpert")
          | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.CANCEL' | translate }}

        a.button.button--link.button--small((click)="toggleIsExpertForm()", *ngIf="!isExpertForm")
          | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON' | translate }}

        am-core-submit-button(
        *ngIf="!isExpertForm; else createProfileButton",
        (click)="onVerifyProfile()",
        [isSubmitType]="false",
        [titleText]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.SAVE_PROFILE'",
        [isDisabled]="isRequestPending || isFileUploading",
        [isLoading]="isRequestPending"
        )

      ng-template(#createProfileButton)
        a.button.button--link.button--small((click)="onBackwardClick()", *ngIf="isExpertForm && isPayoutModal")
          | {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.CANCEL' | translate }}

        am-core-submit-button(
        *ngIf="!isPayoutModal",
        [isSubmitType]="false",
        (click)="onVerifyProfile()",
        [titleText]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.NEXT'",
        [isDisabled]="isRequestPending || isFileUploading",
        [isLoading]="isRequestPending"
        )

        am-core-submit-button(
        *ngIf="isPayoutModal",
        [isSubmitType]="true",
        [titleText]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.SAVE_PROFILE'",
        [isDisabled]="isRequestPending",
        [isLoading]="isRequestPending"
        )
