@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "../../../../../template/core/variables/variables"
@import "../../../../../template/core/partials/grid"
@import "../../../../../shared/components/modals/modal/modal.component"

\:host
	display: block
	width: 100%

	.modal-component
		&__handler
			.form
				flex: 1

				+smm
					margin: 32px 0 0 48px

		&__action
			&--expert
				justify-content: center
