plat-modal-component(
  [modalTrTitleHeader]="modalHeaderTr",
  [isBackwardVisible]="isExpertForm && !isExpert && !isOpenedAsExpert",
  (backwardClick)="onBackToClientStep()"
  )
  plat-expert-client-profile(
    [profileForm]="profileForm",
    [isExpertForm]="isExpertForm",
    [isInputDisabled]="isInputDisabled",
    [profileDocumentsList]="profileDocumentsList",
    (fileUploadingStatusChange)="onFileUploadingStatusChange($event)"
  )
  .modal-component__action([ngClass]="{'modal-component__action--expert': isOpenedAsExpert}")
    a.button.button--link.button--small((click)="toggleIsExpert()", *ngIf="!isOpenedAsExpert")
      | {{ (isExpertForm ? 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.CANCEL' : 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON') | translate }}
    am-core-submit-button(
      (click)="onSaveProfile()",
      [titleText]="'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.BUTTON.SAVE_PROFILE'",
      [isDisabled]="isPending || isInputDisabled",
      [isLoading]="isPending || isInputDisabled"
    )
