@import "../../variables/file-paths"

@font-face
	font-family: 'AnyMind'
	src: url('#{$anymind-font-icon-path}/AnyMind.eot')
	src: url('#{$anymind-font-icon-path}/AnyMind.eot') format("embedded-opentype"), url('#{$anymind-font-icon-path}/AnyMind.woff2') format("woff2"), url('#{$anymind-font-icon-path}/AnyMind.woff') format("woff"), url('#{$anymind-font-icon-path}/AnyMind.ttf') format("truetype"), url('#{$anymind-font-icon-path}/AnyMind.svg') format("svg")
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Roboto'
	src: url('#{$anymind-font-path}/roboto-black.eot')
	src: url('#{$anymind-font-path}/roboto-black.eot?#iefix') format("embedded-opentype"), url('#{$anymind-font-path}/roboto-black.woff2') format("woff2"), url('#{$anymind-font-path}/roboto-black.woff') format("woff"), url('#{$anymind-font-path}/roboto-black.ttf') format("truetype")
	font-weight: 900
	font-style: normal

@font-face
	font-family: 'Roboto'
	src: url('#{$anymind-font-path}/roboto-bold.eot')
	src: url('#{$anymind-font-path}/roboto-bold.eot?#iefix') format("embedded-opentype"), url('#{$anymind-font-path}/roboto-bold.woff2') format("woff2"), url('#{$anymind-font-path}/roboto-bold.woff') format("woff"), url('#{$anymind-font-path}/roboto-bold.ttf') format("truetype")
	font-weight: 700
	font-style: normal

@font-face
	font-family: 'Roboto'
	src: url('#{$anymind-font-path}/roboto-light.eot')
	src: url('#{$anymind-font-path}/roboto-light.eot?#iefix') format("embedded-opentype"), url('#{$anymind-font-path}/roboto-light.woff2') format("woff2"), url('#{$anymind-font-path}/roboto-light.woff') format("woff"), url('#{$anymind-font-path}/roboto-light.ttf') format("truetype")
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'Roboto'
	src: url('#{$anymind-font-path}/roboto-medium.eot')
	src: url('#{$anymind-font-path}/roboto-medium.eot?#iefix') format("embedded-opentype"), url('#{$anymind-font-path}/roboto-medium.woff2') format("woff2"), url('#{$anymind-font-path}/roboto-medium.woff') format("woff"), url('#{$anymind-font-path}/roboto-medium.ttf') format("truetype")
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'Roboto'
	src: url('#{$anymind-font-path}/roboto-regular.eot')
	src: url('#{$anymind-font-path}/roboto-regular.eot?#iefix') format("embedded-opentype"), url('#{$anymind-font-path}/roboto-regular.woff2') format("woff2"), url('#{$anymind-font-path}/roboto-regular.woff') format("woff"), url('#{$anymind-font-path}/roboto-regular.ttf') format("truetype")
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'Roboto'
	src: url('#{$anymind-font-path}/roboto-thin.eot')
	src: url('#{$anymind-font-path}/roboto-thin.eot?#iefix') format("embedded-opentype"), url('#{$anymind-font-path}/roboto-thin.woff2') format("woff2"), url('#{$anymind-font-path}/roboto-thin.woff') format("woff"), url('#{$anymind-font-path}/roboto-thin.ttf') format("truetype")
	font-weight: 100
	font-style: normal

