.pro-top-waiting-loader
  .top-waiting-loader
    $loaderHeight: 8px
    +transition()
    animation-duration: 10s
    position: fixed
    top: -$loaderHeight
    left: 0
    height: $loaderHeight
    width: 100%
    background-color: $c-primary-txt
    z-index: 9999

    &.slide-out
      top: 0

    .waiting-loader-progress
      +transition()
      animation-duration: 10s
      height: 100%
      width: 0%
      background-color: $c-primary
