.company-profile
  .title-row
    +animation(show-menu 0.3s 0.3s)
    animation-fill-mode: forwards
    position: relative
    top: -100px
    padding: 16px
    text-transform: uppercase
    border-bottom: 1px solid $c-lines
    box-shadow: 0 0 5px $c-lines
    display: flex
    justify-content: space-between
    align-items: center

    +keyframes(show-menu)
      0%
        top: -100px
      100%
        top: 0

    +smm
      padding: 16px 32px

    .pro-logo
      img
        display: block
        max-width: 96px

        +xsm
          max-width: 120px

    .title
      h4
        text-align: center
        color: $c-primary-txt
        +default-font-heavy

  .header-container
    background-color: $c-white
    border-bottom: 1px solid $c-lines
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

    .company-info
      .empty-avatar-placeholder
        margin: 0 0 32px

    .header-content
      padding: 64px 0

      .company-info
        display: flex
        flex-direction: column
        align-items: center

        img
          width: 130px
          height: 130px
          +border-radius(50%)

        h3
          color: $c-primary-txt
          +default-font-light

    
