.pro-chat-message-modal.thanks-for-comment.modal-checkbox
	.modal-header
		h4(data-translate="DASHBOARD.INVITATION.MODAL.THANKS_FOR_COMMENT")

	.modal-contents
		.modal-buttons
			button.pro-button.rectangle.primary(data-ng-click="vm.dismissWindow()" data-translate="DASHBOARD.INVITATION.MODAL.REPORT_COMPLAINTS")
			button.pro-button.rectangle.default(data-ng-click="vm.goToSearchList()" data-translate="DASHBOARD.INVITATION.MODAL.BACK_TO_SEARCH_LIST")


