.search-consultation-item-component((click)="openConsultationModal()")
  .profile-details
    .profile-details__avatar
      plat-user-avatar(
      [avatarSize]="avatarSize96",
      [avatarToken]="avatar",
      [expertProfileId]="expertId"
      )
    .profile-details__info
      .profile-details__expert-name
        plat-expert-availability(
          [expertId]="expertId",
          [isTextVisible]="false"
        )
        span {{ item.expertProfile.name }}

        span.working-for(*ngIf="!isExpertConsultation")
          span.for &nbsp;{{ "SEARCH_CONSULTATION_ITEM.WORKING_FOR.LABEL" | translate }}&nbsp;
          span.owner {{ item.ownerProfile.name }}

      .consultation
        .consultation__name
          h3.consultation__title {{ item.service.name }}

      .statistics
        plat-consultation-stat(
        [ratingCounter]="item.ratingCounter",
        [usageCounter]="item.usageCounter",
        [rating]="item.rating",
        )

        .consultation-price
          | {{ item.service.price.value | moneyDivider | currency: item.service.price.currency:'symbol-narrow' }}
          | /min


  .consultation-actions
    .consultation-price
      | {{ item.service.price.value | moneyDivider | currency: item.service.price.currency:'symbol-narrow' }}
      |/min

    a.button(plat-icon-button, color='primary')
      span(plat-icon iconClass='arrow-right')
