.pro-service-provider-avatar
  .image-preview
    .upload-field
      background: $c-white

      height: 255px
      margin-bottom: 16px
      img
        max-height: 90%
      .upload-description
        margin-top: -35px
        h3
          color: $c-primary-hover
        p
          color: $c-secondary-txt
          margin-top: -10px
      .icon-overlay
        font-size: 30px
        position: absolute
        margin-top: 31px
        margin-left: -50px