.pro-service-provider-avatar

  .image-preview
    position: relative
    .upload-field
      background: $c-white

      height: 255px
      margin-bottom: 16px
      img
        max-height: 90%
      .upload-description
        margin-top: -35px
        h3
          color: $c-primary-hover
        p
          color: $c-secondary-txt
          margin-top: -10px
    .btn-handler
      position: absolute
      right: 15px
      bottom: 5px



