.password-verify

  .title-loader
    span
      color: $c-secondary-txt
      text-transform: uppercase
      font-weight: bold

  .loader
    width: 100%
    background-color: $c-lines
    height: 8px
    border-radius: 5px
    margin-top: 5px

    .progress-bar
      height: 8px
      border-radius: 5px

    .done-bar
      animation-duration: 4s
      height: 8px
      border-radius: 5px
      width: 0
      +transition()
    .start
      @extend .done-bar
      width: 0%
      background-color: $c-error
    .very-weak
      @extend .done-bar
      width: 10%
      background-color: $c-error
    .weak
      @extend .done-bar
      width: 30%
      background-color: $c-warning
    .strong
      @extend .done-bar
      width: 70%
      background-color: $c-complete
    .very-strong
      @extend .done-bar
      width: 100%
      background-color: $c-success
