.profile-header
  .container
    .profile-header-container
      .profile-header-logo
        user-avatar.thumb.x128(data-image-token="$ctrl.profileDetails.avatar || $ctrl.profileDetails.logo")

      .profile-content
        .profile-content-header
          .entry-title
            .profile-name
              h3 {{ $ctrl.profileDetails.name }}

              .status-list(data-ng-if="$ctrl.checkType()")
                span.status.availability
                  span.icon.icon-success-12
                  span.status-title {{"STATUS.AVAILABLE.TITLE" | translate }}

            ul.language
              li(data-ng-repeat="language in $ctrl.profileDetails.languages")
                a
                  span {{ language }}

          ul.social-links
            li(data-ng-repeat="link in $ctrl.profileDetails.links")
              a.btn.btn-circle(href="{{link}}" target="_blank")
                span.icon(pro-social-icon-getter data-url="link")

          ul.share-links
            li
              a
                span.icon.icon-share-24
                span(data-translate="EXPERT_ACCOUNT.BUTTON.SHARE")
            li(data-ng-class="{'is-selected': $ctrl.isFavourite}")
              a(data-ng-click="$ctrl.onLike()")
                span.icon.icon-heart-24
                span(data-translate="EXPERT_ACCOUNT.BUTTON.FAVOURITE")

        .profile-content-description
          p {{ $ctrl.profileDetails.description }}

        profile-gallery()


