.profile-header
  .container
    .profile-header-container
      .profile-header-logo
        .thumb.x128
          img.user-avatar(src="https://files.dev.profitelo.pl/files/978e0a4dbf464582935ed14fe16f53c3/download")

      .profile-content
        .profile-content-header
          .entry-title
            h3 Name company

          ul.social-links
            li
              a.btn.btn-circle(href="#" target="_blank")
                span.icon(pro-social-icon-getter data-url="link")

          ul.share-links
            li
              a
                span.icon.icon-share-24
                span Share
            li
              a
                span.icon.icon-heart-24
                span addtofav

        .profile-content-description
          p The 2005 Toll-free Numbers in Television Advertising study, commissioned by 800response, concluded that 35 percent of all television commercials feature phone numbers, and 82 percent of those phone numbers are toll-free. Furthermore, 74 percent of the toll-free numbers in television ads use.
