@import "../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.last-activities
  .list-row
    &.call-activity,
    &.money-activity
      display: block
      cursor: pointer

      +lgm
        display: flex
        align-items: center

      .last-activity-details
        display: flex
        align-items: center
        flex-wrap: wrap

        +lgm
          flex: initial
          min-width: 210px

        .last-activity-icon
          min-width: 22px
          margin: 0 24px 0 0

          span
            color: $c-secondary-txt

      .last-activity-description
        flex: 1
        padding: 8px 0

        +lgm
          padding: 0 16px

        span
          +paragraphSmall
          color: $c-primary-txt

      .last-activity-profile
        display: flex
        align-items: center
        justify-content: space-between
        flex: 1 0 50%

        +lgm
          flex: 0 0 30%

      .profile-name
        span
          +paragraphSmall

      .price-small
        min-width: 100px
        text-align: right

        span
          +listRowPrice

          &.sign
            padding: 0 4px 0 0

      .money-activity-informations-container
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%

  .last-activity-about
    display: flex

    .component-complain-status
      margin: 0 0 0 16px

    .last-activity-date
      +paragraphSmall
      display: flex
      align-items: center
