@import "~@anymind-ng/core/src/template/stylesheets/core/core"

.activities-balance
  &__profit-container
    overflow-y: hidden
    overflow-x: scroll
    display: flex
    margin: 0 -8px 0 0

    +smm
      margin: 0 -24px 0 0

    +lgm
      overflow: hidden

  &__wrapper
    margin: 0 8px
    width: 100%

    +smm
      margin: 0 12px

      &:first-child
        margin: 0 12px 0 0

      &:last-child
        margin: 0 0 0 12px

    &:first-child
      p
       color: $c-primary

    &:last-child
      padding: 0 16px 0 0

      +smm
        padding: 0 24px 0 0

  &__profit
    background: $c-white
    height: 88px
    min-width: 272px
    width: 100%
    padding: 16px
    border-radius: 4px

    +smm
      height: 110px
      min-width: 320px
      padding: 24px 16px

    +lgm
      height: 116px
      padding: 24px
      min-width: 384px

    &--split
      display: flex

    &--loader
      padding: 0

  &__split-container
    display: flex
    justify-content: center
    text-align: center
    flex-wrap: wrap
    width: 50%

    &--loader
      padding: 0

    &:first-child
      border-right: 1px solid $c-lines

    > p
      +h6
      font-weight: 500
      color: $c-text-primary
      padding: 2px 0 0

  &__profit-money
    +h4
    font-weight: 500
    color: $c-text-primary

    +smm
      +h3
      font-weight: 500
      color: $c-text-primary

    +lgm
      +h2
      font-weight: 500
      color: $c-text-primary

  &__profit-label
    +label
    font-weight: 500
    text-transform: uppercase
    color: $c-label
    margin: 0 4px 0 0

  &__profit-header
    display: flex
    align-items: center
