extends ../../../templates/wizard/section-controlls.partial.jade

block content
  .step-content-column.pro-service-provider-avatar(data-ng-click="onClick()")
    .upload-field-description
      p(data-translate="DASHBOARD.CREATE_PROFILE.FILE_PREVIEW")
    pro-uploader(type="image/*" files-uploaded="model[imageField]" data-ng-hide="model[imageField].length" data-ngf-pattern=".jpg,.jpeg,.png")
    .image-preview
      .upload-field(data-ng-show="model[imageField].length")
        img(data-ng-src="{{model[imageField][0].response.meta.downloadUrl}}")
        .btn-handler(data-ng-show="queue.currentStep === order")
          a.pro-btn.btn-light.btn-icon.upload-trash(data-ng-click="removeAvatar()")
            i.icon.icon-trash-24.icon-24
    .input-error-messages
      .error(data-translate="DASHBOARD.CREATE_PROFILE.NO_FILE_ERROR" data-ng-show="noFile")
