extends ../../../templates/wizard/section-controlls.partial.pug

block content
  .pro-service-provider-avatar
    .step-content-column(data-ng-click="onClick()")
      pro-uploader(type="image/*" files-uploaded="model[imageField]" data-ng-hide="model[imageField].length"
      data-ngf-validate="imageSizeValidation" data-ngf-pattern=".jpg,.jpeg,.png" data-is-pending="isPending"
      data-error-message='COMMON.DIRECTIVES.INTERFACE.UPLOADER.VALIDATION_ERROR')
      .image-preview
        .upload-field(data-ng-show="model[imageField].length")
          img(data-ng-src="{{model[imageField][0].response.previews[0]}}")
          .btn-handler(data-ng-show="queue.currentStep === order")
            a.btn.btn-primary.icon-left(data-ng-click="removeAvatar()")
              span.icon.icon-trash-24.icon-24
    .input-error-messages
      .error(data-translate="DASHBOARD.CREATE_PROFILE.NO_FILE_ERROR" data-ng-show="error.noFile && !model[imageField].length")
