.set-new-password
  header.modal-component__content__header
    span([innerHTML]="'DASHBOARD.SETTINGS.CHANGE_PASSWORD.DESCRIPTION' | translate")

  .modal-form
    form(
      [id]="setPasswordFormId",
      [formGroup]="setPasswordForm",
      novalidate,
      (ngSubmit)="onFormSubmit(setPasswordForm)"
    )

      input(
        type="text",
        [value]="msisdn",
        hidden
      )

      plat-input-set-password(
        label="DASHBOARD.SETTINGS.SET_PASSWORD.LABEL",
        placeholder="DASHBOARD.SETTINGS.SET_PASSWORD.PLACEHOLDER",
        [form]="setPasswordForm",
        [controlName]="passwordControlName",
        [isDisabled]="isRequestPending",
        [initialFocus]="true"
      )

      am-core-submit-button(
        titleText="DASHBOARD.SETTINGS.SET_PASSWORD.SUBMIT_BUTTON",
        [formName]="setPasswordFormId",
        [isLoading]="isRequestPending"
      )
