.emailVeryfication(data-ng-show="vm.account.recoveryMethod==='EMAIL'")
    include ./parts/mail-send.partial.jade
.smsVeryfication(data-ng-show="vm.account.recoveryMethod==='SMS'")
    include ./parts/sms-verification-code.partial.jade


