.forgot-password
  .email-sent
    .btn-handler
      a.pro-btn.btn-light.btn-icon(data-ui-sref="app.login.account")
        i.icon.icon-arrow-left-24.icon-standard


    h5(data-translate="LOGIN.FORGOT_PASSWORD.EMAIL_HAD_BEEN_SENT")
