.expert-dashboard-consultation-row
  div(*ngIf="isLogged")
    a.expert-dashboard-consultation-row__add-consultation(
      *ngIf="isOwnProfile && !isCompany",
      (click)='add()'
    )
      span(plat-flat-fab color='primary')
        span(plat-icon iconClass='add')
      span.expert-dashboard-consultation-row__text {{'EXPERT_DASHBOARD.ADD_CONSULTATION' | translate}}

    .alert-information-container(*ngIf="isOwnProfile && isCompany")
      plat-warning-information(
        [warningText]="'EXPERT_DASHBOARD.ALERT_INFORMATION'",
      )
        a((click)="onAlertInformationLinkClick()", [translate]="'EXPERT_DASHBOARD.ALERT_INFORMATION.LINK'")

  plat-consultation-row.expert-dashboard-consultation-row__row(
    *ngFor='let consultation of consultations',
    [consultation]='consultation',
    (openConsultationDetails)="onOpenConsultationDetails($event)"
  )
