@import "~@anymind-ng/core/src/template/stylesheets/core/variables/colors"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/mixins/mixins"
@import "../../../../../../template/core/partials/grid"

%transition
  transition: background 0.3s ease, color 0.3s ease

=adjust-container-for-row
  margin: 0 -4px 4px -4px
  padding: 20px 12px

  +xsm
    margin: 0 -12px 4px -12px

  +smm
    margin: 0 -16px 4px -16px
    padding: 20px 24px

  +mdm
    margin: 0 0 4px 0


.expert-dashboard-consultation-row

  &__add-consultation

    +adjust-container-for-row
    display: flex
    justify-content: center
    align-items: center
    height: 88px
    border-radius: 4px
    background-color: $c-white

    &:hover

      span
        @extend %transition
        color: $c-primary
        background-color: transparent

  &__text

    +button-small
    margin: 0 0 0 16px

  &__row

    +adjust-container-for-row
    display: block
    border-radius: 4px
    background-color: $c-white

  &:nth-last-child(1)
    margin-bottom: 0

  .alert-information
    width: 100%
    padding: 8px 12px
    margin: 0 0 4px
    display: flex
    align-items: center
    justify-content: center
    min-height: 40px
    border-radius: 4px
    background-color: $c-error-background

    p
      +caption
      color: $c-error-primary
      margin: 0 0 0 12px

    span
      color: $c-error-primary
