form(novalidate="" role="form" name="createNewServiceForm" data-ng-submit="vm.save()")
  div.text-center
    h2 {{ 'COMMON.DIRECTIVES.PRO_CREATE_NEW_SERVICE_DESCRIPTION.SERVICE_DESCRIPTION' | translate }}
    .panel.panel-default
      .panel-body
       | {{ 'COMMON.DIRECTIVES.PRO_CREATE_NEW_SERVICE_DESCRIPTION.DESCRIPTION_TEXT' | translate }}

  .input-group-lg
    input.form-control(type="text" name="description" placeholder="{{ 'COMMON.DIRECTIVES.PRO_CREATE_NEW_SERVICE_DESCRIPTION.DESCRIPTION_PLACEHOLDER' | translate }}" data-ng-model="vm.formdata.description" data-ng-required="true")
  .text-validation.text-danger(data-ng-show="(createNewServiceForm.fullname.$dirty && createNewServiceForm.fullname.$invalid || vm.submitted) && createNewServiceForm.fullname.$error.required")
    | {{ 'COMMON.DIRECTIVES.PRO_CREATE_NEW_SERVICE_DESCRIPTION.VALIDATION.SERVICE_DESCRIPTION_REQUIRED' | translate }}
