.pro-chat-message-modal.thanks-for-vote.modal-checkbox
	.modal-header
		h4(data-translate="DASHBOARD.INVITATION.MODAL.THANKS_FOR_VOTE")

	.modal-contents
		.modal-buttons.single-button
			button.pro-button.rectangle.default(data-ng-click="vm.goToSearchList()" data-translate="DASHBOARD.INVITATION.MODAL.BACK_TO_SEARCH_LIST")


