.summary-charge-account
  background: $c-background

  .summary-charge-container
    text-align: center
    padding: 56px 16px 104px

    +smm
      display: flex
      align-items: center
      justify-content: space-between
      padding: 48px 104px

    &.no-ammount
      justify-content: center

    .amount-details
      margin: 0 0 64px

      +smm
        margin: 0
        display: flex
        align-items: center
        justify-content: space-between

    .amount-price
      p
        color: $c-secondary-txt
        font-size: $f-header

        span
          +default-font-medium
          margin: 0 0 0 8px
          color: $c-primary-txt
          text-transform: uppercase
