@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import "../../content-loader-default-variables"
@import "../../../../../template/core/helpers/mixins"

$s-title-width:               20%
$s-subtitle-width:            40%
$s-bar-height-subtitle:       16px
.balance-loader
  +balance-cell
  max-width: 840px
  height: 116px
  display: flex
  align-items: center

  .content-loader
    height: 36px

    &__title
      height: $s-bar-height
      width: $s-title-width
      x: 0
      y: 0

    &__subtitle
      display: block
      width: $s-subtitle-width
      height: $s-bar-height-subtitle
      y: calc(#{$s-bar-height} + #{$s-vertical-margin})
      x: 0
