.pro-text-chat-message
  .chat-line(class="{{ ::vm.model.isUserMessage ? 'me' : 'interlocutor' }}")
    .message-content(class="{{ ::vm.model.isUserMessage ? 'me-chat' : 'interlocutor-chat' }}")
      img.thumb.circle(ng-src="{{ ::vm.model.userImage }}")

      .chat-cloud
        p {{ ::vm.model.messageText }}

        .chat-file-download(data-ng-show="vm.model.file")
          a(href="{{ ::vm.model.file }}")
            span.icon.icon-settings-24

    span.chat-date {{ ::vm.model.messageTime }}