.pro-text-chat-message
  .chat-line(class="{{ $ctrl.model.isUserMessage ? 'me' : 'interlocutor' }}")
    .message-content(class="{{ $ctrl.model.isUserMessage ? 'me-chat' : 'interlocutor-chat' }}")
      img.thumb.circle(ng-src="{{ $ctrl.model.userImage }}")

      .chat-cloud
        p {{ $ctrl.model.messageText }}

        .chat-file-download(data-ng-show="$ctrl.model.file")
          a(href="{{ $ctrl.model.file }}")
            span.icon.icon-settings-24

    span.chat-date {{ $ctrl.model.messageTime }}