.pro-footer
  .footer-container
    background-color: $c-white
    border-bottom: 1px solid $c-lines

    .header-content
      display: flex
      flex-direction: column
      align-items: center
      margin: 0 auto
      width: 100%

      .top-footer
        display: flex
        flex-direction: column
        align-content: center
        text-align: center
        border-bottom: 1px solid $c-lines
        padding-bottom: 60px
        width: 100%

        .top-footer-top
          display: flex
          flex-direction: column
          justify-content: center
          align-content: center

          img
            width: 110px
            margin: 8px 0

          div
            img
              margin: 0 8px 16px

        .top-footer-bottom
          display: flex
          flex-direction: column
          align-content: center
          padding: 0 32px

          +smm
            flex-direction: row
            text-align: left
            justify-content: space-between

          p
            font-size: $f-nav-size
            text-transform: uppercase
            font-weight: bold

          div
            p
              color: $c-input
              padding-bottom: 0

              &:first-child
                color: $c-primary-txt

      .bottom-footer
        display: flex
        flex-direction: column
        justify-content: center
        width: 100%
        margin: 40px 0
        text-transform: uppercase

        p
          font-size: $f-nav-size
          font-weight: bold

        .bottom-footer-right
          display: flex
          flex-direction: row
          justify-content: center
          align-content: center
          align-items: center

          p
            margin: 0 8px

          span
            margin: 0 8px

        .bottom-footer-left
          margin: 32px 0 0
          width: 100%
          text-align: center

          p
            width: 60%
            margin: 0 auto
