.pro-footer
  background-color: $c-background
  text-align: center

  +lgm
    text-align: left

  .footer-container
    padding: 64px 0

    +smm
      display: flex
      flex-wrap: wrap

    .footer-applications
      +smm
        flex: 1 0 100%

      +lgm
        flex: 1 0

      h5
        +default-font-bold
        text-transform: uppercase
        font-size: $f-h6-size
        margin: 0 0 32px

        +lgm
          margin: 0 0 24px

      a
        display: inline-block
        margin: 0 16px 0 0

        &:last-child
          margin: 0

      img
        margin: 0 8px 0
        max-width: 128px

        +lgm
          display: block
          margin: 0 0 16px

      div
        img
          margin: 0 8px 16px

    .footer-links
      flex: 1 0
      justify-content: flex-end
      padding: 64px 0 0

      +smm
        flex-direction: row
        text-align: left
        display: flex
        justify-content: space-between
        flex: 1 0 100%

      +lgm
        flex: 1 0
        padding: 0

      ul
        margin: 0 0 64px

        &:last-child
          margin: 0

        +smm
          margin: 0

        li
          text-transform: uppercase
          font-size: $f-nav-size
          margin: 0 0 16px

          &:last-child
            margin: 0

          &.head
            margin: 0 0 24px

          a
            +transition(color 0.2s)
            +default-font-regular
            color: $c-secondary-txt
            font-size: $f-h6-size

            &:hover
              color: $c-primary-txt

          h5
            +default-font-bold
            font-size: $f-h6-size

  .bottom-footer
    background: $c-white

    .default-container
      display: flex
      align-items: center
      flex-wrap: wrap
      padding: 24px 32px

    a, p
      +default-font-regular
      color: $c-primary-txt
      text-transform: uppercase
      font-size: $f-h6-size

    .bottom-footer-about
      flex: 1 0 100%
      order: 2

      +lgm
        flex: 1 0
        order: 1

      p
        padding: 0 48px

        +lgm
          padding: 0

    .bottom-footer-fast-contact
      order: 1
      flex: 1 0 100%
      display: flex
      align-items: center
      justify-content: center
      margin: 0 0 32px

      +lgm
        flex: 1 0
        margin: 0
        justify-content: flex-end

      ul

        +xsm
          display: flex
          align-items: center

        li
          margin: 0 0 16px
          display: flex

          align-items: center
          justify-content: center


          +xsm
            margin: 0 24px 0 0
            justify-content: flex-start

          &:last-child
            margin: 0

          p, a
            color: $c-secondary-txt
