@import "../../../../template/profitelo_theme/stylesheets/core/helpers/rwd"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/mixins.sass"
@import "../../../../template/profitelo_theme/stylesheets/variables/colors"

.no-content-message
  +noContentMessage
  +default-font-light
  text-align: center
  color: $c-secondary-txt
  padding: 32px 0

  +lgm
    padding: 64px 0
