@import "../../../../template/profitelo_theme/stylesheets/core/helpers/rwd"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/mixins.sass"

.no-content-message
  +noContentMessage
  padding: 32px 0 48px

  +smm
    padding: 64px 0

  +lgm
    padding: 96px 0
