
<div class="grouped-messages">
  <div class="grouped-messages__row" [class.grouped-messages__row--interlocutor]="!isMine" *ngFor="let message of messages; let last = last" [ngClass]="{'is-active': message.isNew}">
    <div class="message" (click)="resendMessage(message)" [messageType]="message" [ngClass]="{'message--pending': message.sendState === localMessageStates.PENDING || message.sendState === localMessageStates.FAILED}">
      <div class="message__content">
        <div class="message-files">
          <ng-container *ngIf="isPendingImage(message)">
            <div class="icon icon-loading"></div>
            <div class="message-files__close"><span class="icon icon-clear"></span></div>
          </ng-container>
        </div><span class="message__text" [innerHTML]="message | message"></span>
      </div>
      <div class="avatar avatar--left" *ngIf="last &amp;&amp; !isMine"><img class="icon circle" [src]="participantAvatarUrl" *ngIf="participantAvatarUrl" imageBroken><span class="icon icon-avatar" *ngIf="!participantAvatarUrl"></span></div>
      <div class="avatar avatar--right" *ngIf="last &amp;&amp; isMine"><img class="icon circle" [src]="mineAvatarUrl" *ngIf="mineAvatarUrl" imageBroken><span class="icon icon-avatar" *ngIf="!mineAvatarUrl"></span></div>
    </div><span class="grouped-messages__error-text" *ngIf="message.sendState === localMessageStates.FAILED">{{ 'FEATURE.COMMUNICATOR.MESSENGER.MESSAGE_SEND_FAILED' | translate }}</span>
  </div>
</div>