.local-avatar-upoader.thumb-options
  label.upload-file
    //span.btn.btn-small.btn-default-border(data-translate="{{:: 'SETTINGS.GENERAL.BASIC_ACCOUNT.ADD_PHOTO_BUTTON' | translate }}")
    span.icon.icon-add-16
    input(type="file" accept=".jpg,.png,.jpeg")
