@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../template/profitelo_theme/stylesheets/core/interface/typography/typography"

.company-profile
  .employees
    margin: 24px 0 0

    .employees-list
      display: flex
      justify-content: flex-start
      flex-wrap: wrap
      margin: 0 -12px

      +xsm
        margin: 0
        justify-content: flex-start

      li
        margin: 0 15px 15px

        +xsm
          margin: 0 12px 0 0

    span
      &.label
        margin: 0 0 16px
