.single-consultation.consultation-list
  .consultation-section
    .consultation-details
      .consultation-price.price-section
        span(data-ng-bind-html="::$ctrl.service.price | money")
        span.time(data-translate='HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE')

      ul.consultation-details-info
        li.options-item.recomendation
          span.icon.icon-satisfaction-16
          span  {{ $ctrl.service.rating }}%
        li.options-item.conversation-count
          span.icon.icon-call-16
          span {{ $ctrl.service.usageCounter }}

    .consultation-title
      h3
        span {{ $ctrl.service.name }}

    tags-list(data-tags="$ctrl.tags")

    .employees
      span.label(data-translate="COMPANY_PROFILE.SINGLE_CONSULTATION.EMPLOYEES.TITLE")
      ul.employees-list
        li.employees-item(data-ng-repeat="employee in $ctrl.employees")
          a(data-ui-sref="app.expert-profile({ profileId: employee.id })")
            user-avatar.thumb.x48(data-image-token="employee.img")
              .status-list
                span.status.availability
                  span.icon.icon-success-12

  .consultation-actions
    a.btn.btn-success(data-ng-click="$ctrl.startCall()"
    data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CALL")
