@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../template/profitelo_theme/stylesheets/core/interface/typography/typography"

.company-profile
  .employees
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    +xsm
      justify-content: flex-start

    li
      margin: 0 12px 0 0

  span
    &.label
      margin: 0 0 16px
