.pro-chat-message-modal.no-credits.modal-checkbox
    .modal-header
        h4(data-translate="DASHBOARD.INVITATION.MODAL.NO_CREDITS")

    .modal-contents
        .modal-description
            p(data-translate="DASHBOARD.INVITATION.MODAL.CREDIT_RECHARGE")

        .modal-buttons
            button.pro-button.rectangle.primary(data-ng-click="vm.dismissWindow()" data-translate="INTERFACE.ABORT")
            button.pro-button.rectangle.default(data-ng-click="vm.submitReasonForm()" data-translate="DASHBOARD.INVITATION.MODAL.RECHARGE_YOUR_CREDITS")

