@import "../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.company-invoice-details
  .modal-section
    margin: 0 0 48px

  .dropdown-input, input-primary
    margin: 0 0 24px

  .city-container
    display: flex
    flex-wrap: wrap

    +xsm
      flex-wrap: nowrap

    .postal-code
      flex: 100%

      +xsm
        flex: 30%

    .city-name
      flex: 100%

      +xsm
        flex: 70%

      +xsm
        margin: 0 0 0 24px

  .save-btn-container
    display: flex
    justify-content: flex-end
    width: 100%
