block content
  .bottom-row
    .title-row-column
      .title
        h5(data-translate="DASHBOARD.EXPERT_ACCOUNT.STEP1_PROGRESS_BAR_TITLE")
        h5.width {{ width }}%
      .next-step(data-ng-show="queue.amountOfSteps == queue.completedSteps")
        .button-next-step
          a(data-translate="DASHBOARD.CREATE_PROFILE.NEXT_STEP" data-ng-click="onClick()" class="pro-btn btn-round btn-medium btn-main")
    .progress-bar(style="width: {{ width }}%;")
    
    
