block content
  .pro-bottom-summary-row
    .bottom-row
      .title-row-column
        .title
          h5(data-translate="{{header}}")
          h5.width {{ width }}%
        .next-step(data-ng-show="queue.amountOfSteps === queue.completedSteps || showAllTime")
          .button-next-step
            a(data-translate="DASHBOARD.CREATE_PROFILE.NEXT_STEP" data-ng-click="onClick()" data-ng-if="queue.amountOfSteps !== queue.completedSteps")
            a.btn.next-step(data-ng-if="queue.amountOfSteps === queue.completedSteps" data-ng-click="onClick()") {{'DASHBOARD.EXPERT_ACCOUNT.STEP2_PROGRESS_BAR_TITLE_WITH_SAVE' | translate}}
              span.icon.icon-arrow-right-24
      .progress-bar(style="width: {{ width }}%;")
    
    
