nav.pro-video-controls
  ul
    li
      a.active.circle.btn-player.icon.icon-settings-24(data-ng-click="vm.toggles.chat()")
      span(data-translate="COMMUNICATOR.CONTROLS.CHAT")
    li
      a.circle.btn-player.icon.icon-settings-24
      span(data-translate="COMMUNICATOR.CONTROLS.CAMERA")
    li
      a.circle.btn-player.icon.icon-settings-24
      span(data-translate="COMMUNICATOR.CONTROLS.MUTE")
    li
      a.circle.btn-player.icon.icon-settings-24
      span(data-translate="COMMUNICATOR.CONTROLS.SWIPE")
    li
      a.circle.btn-player.icon.icon-settings-24
      span(data-translate="COMMUNICATOR.CONTROLS.OPTIONS")
    li
      a.disconnect.circle.btn-player.icon.icon-headphone-16
      span(data-translate="COMMUNICATOR.CONTROLS.END_CALL")
