.pro-invitation-acceptance-box
  width: 100%
  border: 1px solid $c-lines
  margin: 30px auto 0 auto
  position: relative
  border-radius: 0.4em
  padding: 10px
  display: flex
  justify-content: space-between

  +lgm
    width: 1104px

  .industry
    margin: 10px
