.pro-footer
  background-color: $c-white
  padding: 32px 0 0

  .container
    text-align: center
    display: flex
    flex-wrap: wrap

    +smm
      justify-content: space-between
      align-items: flex-start
      text-align: left

    &::after,
    &::before
      content: none

    > *
      flex: 1 0 100%

      +smm
        flex: inherit

    .download-app-content
      text-align: center
      margin: 0 0 24px

      +smm
        margin: 0
        text-align: left

    .footer-navigation
      text-align: right
      order: -1
      margin: 0 0 24px

      +smm
        margin: 0
        order: 1

      ul
        display: flex
        justify-content: center

        +smm
          justify-content: flex-end

        li
          margin: 0 8px

          +smm
            margin: 0 0 0 32px

          a
            +default-font-medium
            color: $c-primary

  h5
    +default-font-medium
    font-size: $f-paragraph-title
    color: $c-primary-txt
    line-height: 23px
    margin: 0 0 24px

  .copyrights
    padding: 24px 0
    background: $c-background-2

    +smm
      margin: 48px 0 0

    .container
      text-align: center

      +smm
        display: flex
        justify-content: space-between
        align-items: flex-start
        text-align: left

      > *
        flex: 1 0 100%

        +smm
          flex: inherit

      ul
        display: flex
        align-items: center
        justify-content: center
        flex: 1
        margin: 0 0 24px

        +smm
          justify-content: flex-start
          margin: 0 0 0 32px

        li
          &.separator
            padding: 0 4px

          p
            margin: 0

      p
        order: 1
        margin: 24px auto 0

        +smm
          margin: 0
          order: inherit
    p
      color: $c-secondary-txt
      font-size: $f-paragraph-small

    a
      color: $c-primary
      font-size: $f-paragraph-small
