scrollable(data-is-fullscreen="isFullscreen" data-is-navbar="isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
  .modal-form.payout-comapany
    .container-medium
      .modal-container

        header.entry-title
          span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.TRANSACTION_DETAILS.TITLE")

        .details-tab
          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.TRANSACTION_DETAILS.PAYOUT_FROM_PROFITELO")
            .details-tab-content.price-section(data-ng-bind-html="financeActivityDetails.operation | money")

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.TRANSACTION_DETAILS.TRANSFER_AMOUNT")
            .details-tab-content.price-section
              span 1230zl

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.TRANSACTION_DETAILS.ID")
            .details-tab-content
              span 2PF-575-35W-W88-022-3R

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.TRANSACTION_DETAILS.DATE")
            .details-tab-content
              span 01/29/2017

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.TRANSACTION_DETAILS.TIME")
            .details-tab-content
              span 16:20

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.TRANSACTION_DETAILS.PAYOUT_METHOD")
            .details-tab-content
              span Bank account **** 2456


        header.entry-title
          span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.TAXES_INSURANCE.TITLE")

        .details-tab
          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.TAXES_INSURANCE.AMOUNT_REQUESTED")
            .details-tab-content.price-section
              span 1230,00 PLN

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.TAXES_INSURANCE.TAX")
            .details-tab-content.price-section
              span 220,00 PLN


        header.entry-title
          span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.COMPANY_INVOICES.TITLE")

        .details-tab
          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.COMPANY_INVOICES.NAME")
            .details-tab-content
              span The Great Company

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.COMPANY_INVOICES.TAX")
            .details-tab-content.price-section
              span 123-45-56-566

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.PAYOUTS.COMPANY_INVOICES.ADDRESS")
            .details-tab-content.price-section
              span ul. Kolejowa 10, 60-716 Poznań, Polska
