.modal-summary
  .modal-main.container-medium
    top-modal-navbar(data-on-close="vm.onModalClose")
    preloader(data-is-loading="vm.isLoading")
      .modal-header
        .profile-preview.vertical-preview
          user-avatar(data-image-token="vm.expertAvatar").thumb.x96

          .profile-name
            a
              span {{ vm.expertName }}

          .consultation-title.profile-consultation-title
            h3
              span {{ vm.serviceName }}

      .modal-container
        .details-tab
          .details-row.details-header-row
            .details-tab-label

          .details-tab-row(data-ng-if="vm.financialOperation")
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.INCOME")
            .details-tab-content
              .price-section(data-ng-bind-html="vm.financialOperation | money")

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.CONSULTATION_ID")
            .details-tab-content
              span {{ vm.sueId | uuidTrimmer }}
          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.DATE")
            .details-tab-content
              span {{ vm.startedAt | date: 'dd-MM-yyyy' }}

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TIME")
            .details-tab-content
              span {{ vm.startedAt | date: 'HH:mm' }}

          .details-tab-row
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.TIME_CONVERSATION")
            .details-tab-content
              span {{ vm.callDuration | secondsToDateTime | date: 'HH:mm:ss' }}

          .details-tab-row(data-ng-if="vm.isRecommended")
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.IS_RECOMMENDED.TITLE")
            .details-tab-content
              span(data-ng-if="vm.isRecommended")
                | {{ 'DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.IS_RECOMMENDED.YES' | translate }}
              span(data-ng-if="!vm.isRecommended")
                | {{ 'DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.IS_RECOMMENDED.NO' | translate }}

          .details-tab-row(data-ng-if="vm.consultationComment")
            .details-tab-label
              span(data-translate="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMMENTS.TITLE")

          .details-tab-row.comment(data-ng-if="vm.consultationComment")
            p {{ vm.consultationComment }}

        tags-list(data-title="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.RECOMMENDED_TAGS.TITLE"
        data-tags="vm.recommendedTags" data-ng-if='vm.recommendedTags.length !== 0')


      collapse-btn.chat-history(
      data-title="DASHBOARD.EXPERT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.CHAT.BUTTON"
      data-collapse-icon="icon-chat-24")
        chat-history(data-room-id="vm.roomId")
