.pro-videochat-top-navbar
  .videochat-details        
    .videochat-client-profile
      a.disconnect.circle.icon.icon-headphone-16
      img.thumb.circle(src="/assets/images/John_Doe.jpg")
      h4 Jan Kowalski

    .videochat-counter
      .videochat-client-timer
        span.icon.icon-settings-24
        ul.counter
          li 00
          li 07
          li 29

      .videochat-price-counter
        span.icon.icon-settings-24
        | 5,89zł PLN

    .videochat-fullscreen
      a.full-screen.circle.icon.icon-settings-24
      a.close-chat.circle.icon.icon-close-16(data-ng-click="chatSwitcher()")
