.widget-generator
  .information
    h3 Embed widget on your website
    p Enable your clients talk to you directly from your website or blog using simple call-button, which you can embed
    | wherever you wish. See some examples of widgets and how to embedd a widget.

  section
    h4 1. Enable your clients talk to you directly from your website or blog using simple call-button,
    | which you can embed wherever you wish. See some examples of widgets and how to embedd a widget.
    p If you already have AnyMind widget on your website, you don't have to paste this line again.
    .html-code
      code head-script
      a Copy

  section
    h4 2. Select consultant and topic..
      dropdown-primary()
      dropdown-primary()

  section
    h4 3. ... and choose a button.
    p The button will be visible on your website and it will open AnyMind widget.
    .select-button
      form
        radio-btn
        radio-btn

  section
    h4 4. Paste the widget code between tags.
    p If you've chosen the static button, remember to paste it in place, exactly where it should be.
    .html-code
      code body-script
      a Copy
