@import "../../../../angularjs/template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../angularjs/template/profitelo_theme/stylesheets/core/helpers/helpers"

.widget-generator
  .information
    h3
      font-weight: 500
      color: $c-primary-txt
      font-size: 22px
      line-height: 32px
      padding: 0 0 24px 0

    p
      font-weight: 300
      color: $c-primary-txt
      font-size: 18px
      line-height: 24px

  section
    margin: 48px 0

    h4
      font-weight: 400
      color: $c-primary-txt
      font-size: 20px
      line-height: 24px
      padding: 0 0 16px 0

    p
      font-weight: 300
      color: $c-primary-txt
      font-size: 18px
      line-height: 24px
      padding: 0 0 8px 0

    .html-code
      display: flex
      justify-content: flex-start
      align-items: center

      code
        margin: 12px 0
        background: $c-lines
        padding: 12px
        color: $c-primary-txt
        border: dashed $c-primary 1px
        max-width: 800px

      a
        margin: 0 0 0 24px

    .dropdowns
      +smm
        width: 50%
        padding: 0 24px

      dropdown-primary
        width: 100%
        margin: 0 0 24px
        display: block

    form
      radio-btn
        margin: 0 0 8px
        display: block
        
        &::ng-deep
          .radio
            div
              label
                display: flex
                align-items: center

                span
                  margin: 0 0 0 12px



    .generate-btn
      display: flex
      justify-content: center
      align-items: center
      flex-wrap: wrap

      a
        &.disable
          color: $c-lines
          cursor: not-allowed
          text-decoration: underline
      p
        width: 100%
        color: $c-error
        text-align: center
        margin: 8px 0 0

        &.warning-alert
          color: $c-warning
