plat-consultation-footer
  //left part of the screen
  .consultation-footer__left-price
    plat-consultation-footer-price([grossPrice]='grossPrice')
  //middle part of the screen
  .consultation-footer__left-text([ngSwitch]='middlePanel | async')
    span.consultation-footer__text(*ngSwitchCase='middlePanelStatusTypes.freeMinute')
      span(plat-icon iconClass='information')
      p {{"CONSULTATION_DETAILS.FOOTER.FIRSTMINUTE" | translate}}
    span.consultation-footer__text(*ngSwitchCase='middlePanelStatusTypes.notAvailable')
      span(plat-icon iconClass='information')
      span
        p {{"CONSULTATION_DETAILS.FOOTER.NA_1" | translate}}
        p {{"CONSULTATION_DETAILS.FOOTER.NA_2" | translate}}
    span.consultation-footer__card(*ngSwitchCase='middlePanelStatusTypes.paymentCard')
      div
        span(plat-icon iconClass='payment-card')
        p {{"CONSULTATION_DETAILS.FOOTER.CARD" | translate: {card: card } }}
      div
        span(plat-icon iconClass='information')
        p {{ invoiceTrKey | translate}}
    span.consultation-footer__text(*ngSwitchCase='middlePanelStatusTypes.freeConsultation')
    span.consultation-footer__text(*ngSwitchCase='middlePanelStatusTypes.promoCodes')
    span.consultation-footer__text(*ngSwitchDefault)
      span(plat-icon iconClass='money')
      span
        p {{"CONSULTATION_DETAILS.FOOTER.NO_PAYMENTS_METHOD" | translate}}
        p((click)="redirectToPayments()")
          a {{"CONSULTATION_DETAILS.FOOTER.CHOOSE_PAYMENT_METHOD" | translate}}
  //right part of the screen
  .consultation-footer__right
    a(plat-large-icon-button, color='success', *ngIf="(isExpertAvailable$ | async) else offlineDesktop",
    (click)='onCall()', [class.loading]="isCallButtonLoading")
      span(plat-icon iconClass='headphone')
      span(*ngIf="!isCallButtonLoading") {{ "CONSULTATION_DETAILS.FOOTER.CALL" | translate }}
      .spinner(*ngIf="isCallButtonLoading", @fadeInWithDelay)
        .bounce-1
        .bounce-2
        .bounce-3
    ng-template(#offlineDesktop)
      a(plat-large-icon-button color='primary', (click)='onNotifyUser()')
        span(plat-icon iconClass='bell')
        span {{ "CONSULTATION_DETAILS.FOOTER.NOTIFY" | translate }}
  //right panel on the screen on mobile
  .consultation-footer__right--mobile
    div.button-large
      a(plat-large-icon-button color='success', *ngIf="(isExpertAvailable$ | async) else offlineMobileLarge", (click)='onCall()')
        span(plat-icon iconClass='headphone', *ngIf="!isCallButtonLoading", [class.loading]="isCallButtonLoading")
        span(*ngIf="!isCallButtonLoading") {{ "CONSULTATION_DETAILS.FOOTER.CALL" | translate }}
        .spinner(*ngIf="isCallButtonLoading", @fadeInWithDelay)
          .bounce-1
          .bounce-2
          .bounce-3
    div.button-small
      a(plat-flat-fab color='success', *ngIf="(isExpertAvailable$ | async) else offlineMobile", (click)='onCall()')
        span(plat-icon iconClass='headphone', *ngIf="!isCallButtonLoading")
        .spinner(*ngIf="isCallButtonLoading", @fadeInWithDelay)
          .bounce-1
          .bounce-2
          .bounce-3
    ng-template(#offlineMobileLarge)
      div.button-large
        a(plat-large-icon-button color='primary', (click)='onNotifyUser()')
          span(plat-icon iconClass='bell')
          span {{ "CONSULTATION_DETAILS.FOOTER.NOTIFY" | translate }}
    ng-template(#offlineMobile)
      div.button-small
        a(plat-flat-fab color='primary', (click)='onNotifyUser()')
          span(plat-icon iconClass='bell')
