.pro-upload-progress-bar
  position: relative
  display: block-inline

  .progress
    margin-bottom: 5px
    width: 100px
    float: left

  .caption
    color: #fff
    float: left
    margin-left: 10px


