@import "../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.search-bar-container
  .dropdown-container
    background: $c-white
    position: fixed
    -webkit-overflow-scrolling: touch
    overflow-y: scroll
    border-bottom: 1px solid $c-lines
    top: $s-navbar-height
    left: 0
    height: auto
    width: 100%

    +smm
      left: auto
      width: auto

    .suggestion-list
      padding: 8px 0
      margin: 0

      li
        &.is-focused
          background: $c-primary

          a
            color: $c-white

        &.is-active
          a
            +inputDropDownItem
            color: $c-primary

          &.is-focused
            a
              color: $c-white

        a
          +inputDropDownItem
          display: block
          padding: 8px 16px
