@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"

=avatar-size($val)
	width: $val
	min-width: $val
	height: $val
	min-height: $val

.user-avatar
	display: flex
	align-items: center
	
	&__img
		border-radius: 50%
		width: 100%
		height: 100%
		border: 1px solid $c-lines
	
	&--x156
		img,
		.user-avatar__error
			+avatar-size(156px)

		.icon
			font-size: 156px

			&--profile
				+avatar-size(156px)

				&.icon-organization
					font-size: 116px

	&--x96
		img
			+avatar-size(96px)

		.icon
			font-size: 96px

			&--profile
				width: 96px
				height: 96px

	&--x56
		img
			+avatar-size(56px)

		.icon
			font-size: 56px

			&--profile
				width: 56px
				height: 56px

	&--x48
		img
			+avatar-size(48px)

		.icon
			font-size: 48px

			&--profile
				width: 48px
				height: 48px

	&--x40
		img
			+avatar-size(40px)

		.icon
			font-size: 40px

			&--profile
				width: 40px
				height: 40px

	&--x32
		img
			+avatar-size(32px)

		.icon
			font-size: 32px

			&--profile
				width: 32px
				height: 32px

	&--x24
		img
			+avatar-size(24px)
		.icon
			font-size: 24px
			
			&--profile
				width: 24px
				height: 24px
		
  .icon
    &--profile
      background: $c-text-primary
      color: $c-half-white
      border-radius: 50%

      &_preload
        position: absolute
        top: 0
        left: 0

  &__error
		background: $c-white
		border: 1px solid $c-error-primary
		border-radius: 50%
		height: 100%
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		padding: 0 24px
		
		.icon-warning
			font-size: $f-icon-24
			color: $c-error-primary
			
		p
			+label
			font-weight: 400
			font-size: $f-button-small
			text-transform: none
			color: $c-error-primary
			
