@import "../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../template/profitelo_theme/stylesheets/core/core"

.create-profile
	min-height: 100vh
	padding: calc(50vh - 148px) 0
	text-align: left

	.create-profile-directory
		display: flex

		[class*="directory"]
			border: 1px solid $c-lines
			margin: 0 8px
			width: 200px
			height: 296px
			display: flex
			align-items: center
			justify-content: center
			text-align: center

			p
				+paragraphTitle
				text-transform: uppercase
				text-align: center
				margin: 16px 0 0

			&:hover
				span, p
					color: $c-primary

			&.is-active
				border-color: $c-primary

				span, p
					color: $c-primary

	.create-profile-content
		animation: fadeIn 0.3s

	//TODO delete after added state

	.tooltip
		margin: 4px 0 0 8px

	header.entry-title
		padding: 0
		align-items: flex-start

		span
			margin: 0
			color: $c-primary-txt

	.choose-path
		position: relative

.container-big
  .information-text
    +paragraph
    color: $c-primary-txt
    padding: 0 0 96px
