section.create-profile
  .container-big
    preloader(data-is-loading="vm.isLoading")
      p.information-text(data-ng-if="!vm.isSummary" data-translate="WIZARD.STEP.DIRECTORY.INFORMATION")
      header.entry-title.choose-path(data-ng-if="!vm.isSummary")
        span {{:: 'WIZARD.STEP.TITLE' | translate }}

      .create-profile-directory.step(data-ng-if="!vm.isSummary")
        .expert-directory(data-ui-sref-active="{'is-active': 'app.wizard.create-profile.expert'}"
        data-ng-click="vm.selectExpertPath()")
          a
            span.icon.icon-person
            p(data-translate="WIZARD.STEP.DIRECTORY.EXPERT.TITLE")

        .company-directory(data-ui-sref-active="{'is-active': 'app.wizard.create-profile.company'}"
        data-ng-click="vm.selectCompanyPath()")
          a
            span.icon.icon-multiperson
            p(data-translate="WIZARD.STEP.DIRECTORY.COMPANY.TITLE")

      .create-profile-content(data-ui-view="")
