.basic-account-settings
  h2
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

  .user-avatar
    margin: 0 0 24px

  .local-avatar-uploader
    display: block
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

  .pro-checkbox
    margin: 0 0 32px

    +smm
      margin: 0 0 64px
