@import "../../../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.basic-account-settings
  h2
    margin: 0 0 16px

    +xsm
      margin: 0 0 32px

    +smm
      margin: 0 0 64px

  img
    max-width: none

  .user-avatar, user-avatar
    margin: 0 0 24px

  .local-avatar-uploader
    display: block
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

  .user-name
    margin: 0 0 16px

  .checkbox
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

  .container-medium
    &.is-bigger
      min-width: inherit
      max-width: none

      +smm
        min-width: 640px
        max-width: 640px

  .user-avatar-error
    display: flex
    justify-content: center
    margin: 0 0 24px 0
