.show-more-text
  display: flex
  flex-direction: column
  align-items: center

  .description
    height: 92px
    +transition(height 1s)
    overflow: hidden

    p
      text-align: justify

  .more-icon
    transform: rotate(0deg)
    font-size: $f-h1-size
    padding: 30px 0 60px 0
    margin-top: -92px

    span
      padding: 12px 32px
      font-size: 12px
      background-color: $c-white
      color: $c-primary-txt
      +border-radius(0)
      border: 1px solid $c-lines


  .btn-light
    &:hover
      box-shadow: none
      border: 1px solid $c-lines

  .rotate-icon
    +transition(transform .5s)
    transform: rotate(180deg)
