.show-more-text
  display: flex
  flex-direction: column
  align-items: center

  .description
    transition: height 0.3s
    overflow: hidden
    position: relative
    margin: 0 0 32px

    p
      line-height: 1.38

    .is-showed
      &::after
        content: '...'

    .long-text
      transition: opacity 0.3s
      opacity: 0

      &.visible
        opacity: 1