.modal-component__action--crop
	padding: 16px 0
	justify-content: center
	text-align: center
	
.image-cropper
	position: relative
	
	&.is-loading
		&::after
			content: ""
			position: absolute
			left: 0
			top: 0
			bottom: 0
			right: 0
			background: #5BC793