plat-modal-component(
[modalTrTitleHeader]="'EDIT_PROFILE.IMAGE_CROP.TITLE'",
[modalContainerClass]="modalClass",
[isCloseButtonVisible]="isCloseButtonVisible"
)
  .image-cropper
    plat-preloader-container(
    [contentSizeClass]="preloaderContentSize",
    *ngIf="isPending")

    ngx-img(#cropper, (onSelect)='onImageSelect($event)',
    [config]="cropConfig")

  .modal-component__action.modal-component__action--crop
    a.button.button--tertiary.button--small((click)="onModalClose()")
      | {{ 'EDIT_PROFILE.IMAGE_CROP.BUTTON.CANCEL' | translate }}

    am-core-submit-button(
      (click)="onImgUrlSubmit()",
      [titleText]="'EDIT_PROFILE.IMAGE_CROP.BUTTON.SAVE'",
      [isDisabled]="isPending",
      [isButtonSmall]="true"
      )
