div.input-container.center-block
  .icon-container
    i.icon-2x(class="{{ labelIcon }}")
    span {{ name }}
  input(type="email" name="inputEmail" data-ng-required="true" data-ng-model="inputValue")
  i.icon-2x.icon-yes.mark-position