.btn-handler
  a.pro-btn.btn-light.btn-icon(data-ng-click="vm.backToPhoneNumber()")
    i.icon-arrow-left
pro-input-password(data-label="{{ 'LOGIN.SERVICE_PASSWORD' | translate }}" data-pro-model="password")
a.pro-btn.btn-main.btn-medium(data-ng-click="" data-translate="LOGIN.NEXT")
.forgot-password
  a(data-translate="LOGIN.FORGOT_PASSWORD")