.btn-handler
  a.pro-btn.btn-light.btn-icon(data-ng-click="vm.backToPhoneNumber()")
    i.icon.icon-arrow-left-24.icon-standard

form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.login()" novalidate)

  pro-input-password(data-label="{{ 'LOGIN.SERVICE_PASSWORD' | translate }}"
  data-pro-model="vm.account.password"
  data-name="password"
  data-ng-class="{'invalid': passwordForm.password.$invalid && (passwordForm.password.$dirty || passwordForm.$submitted)}"
  required)

  .input-error-messages
    .error.left(data-ng-show="passwordForm.$submitted && passwordForm.$invalid" data-translate="LOGIN.NO_EMPTY_PASSWORD")

  button.pro-btn.btn-main.btn-medium(type="submit" data-translate="LOGIN.NEXT")

.forgot-password
  a(data-translate="LOGIN.FORGOT_PASSWORD")