.btn-handler
  a.pro-btn.btn-light.btn-icon(data-ng-click="vm.backToPhoneNumber()")
    i.icon-arrow-left

form.pro-input-form(name="passwordForm" data-ng-submit="passwordForm.$valid && vm.login()" novalidate)

  pro-input-password(data-label="{{ 'LOGIN.SERVICE_PASSWORD' | translate }}"
  required
  data-pro-model="password")

  button.pro-btn.btn-main.btn-medium(type="submit" data-translate="LOGIN.NEXT")

.forgot-password
  a(data-translate="LOGIN.FORGOT_PASSWORD")