.consultation-modal
  .modal-summary
    .modal-main.container-big
      top-modal-navbar(data-on-close="vm.onModalClose")
      preloader(data-is-loading="vm.isLoading")
        .modal-header
          .profile-preview.vertical-preview
            user-avatar.thumb.x96(data-image-token="vm.expertAvatar")

            .name-container
              .status-list(data-ng-if="vm.isExpert")
                span.status.availability
                  span.icon.icon-success-24
              a.name
                span {{ vm.consultationOwnerName }}

            .consultation-title
              h3 {{ vm.consultationName }}

            .consultation-cost-container
              span.cost-title(data-translate="SEARCH.CONSULTATION.MODAL.COST_PER_MINUTE")
              span.cost(data-ng-bind-html="::vm.consultationPrice | money")

            a.btn.btn-success.call-button
              span.icon.icon-call-24
              span(data-translate="SEARCH.CONSULTATION.MODAL.CALL_BUTTON")

        .statistics-section
          .conversations
            span.icon.icon-call-24
            .statistic-info-container
              span.value {{ vm.conversationCount }}
              span.title(data-translate="SEARCH.CONSULTATION.MODAL.CONVERSATIONS")
          .rating
            span.icon.icon-smile-24
            .statistic-info-container
              span.value {{ vm.ratingValue }}
              span.title(data-translate="SEARCH.CONSULTATION.MODAL.RATING")
          .comments
            span.icon.icon-chat-24
            .statistic-info-container
              span.value {{ vm.commentCount }}
              span.title(data-translate="SEARCH.CONSULTATION.MODAL.COMMENTS")

        .modal-container
          .section
            .title
              h5(data-translate="SEARCH.CONSULTATION.MODAL.DESCRIPTION")
            .description {{ vm.consultationDescription }}

            tags-list(data-tags="vm.tags")

          .section.experts-section(data-ng-if="!vm.isExpert")
            .title
              h5(data-translate="SEARCH.CONSULTATION.MODAL.EXPERTS")

            ul.employees-list
              li.employees-item(data-ng-repeat="employee in vm.employees")
                a.employee
                  user-avatar.thumb.x48(data-image-token="")
                    .status-list
                      span.status.availability
                        span.icon.icon-success-12
                  span.employee-name {{ employee.name }}
