@import "../../../../../template/core/core"

.register-modal-componenet
  +modal-login-paddings
  
  &--payment-card-step
    +modal-login-padding__vertical--top
    
  &--promo-code-step
    +modal-default-paddings
  
  .promo-code
    margin: 24px 0
  
    p
      text-align: center
      
    a
      font-weight: 500
