@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

=option-row
  padding: 20px 24px
  background: $c-white
  display: flex
  justify-content: space-between
  align-items: center
  border-radius: 4px
  margin: 0 0 4px 0

=list-row
  +option-row
  padding: 32px 24px

=balance-cell
  +option-row
  padding: 0 24px

=price
  +button-small
  display: flex
  align-items: center
  font-weight: 500
  
  +mdm
    +h6

  > *
    font-weight: 400
  
    
/* ----------- MODALS -----------*/

=modal-login-paddings
  padding: $s-login-padding--mobile
  
  +mdm
    padding: $s-login-padding

/* ----------- MODALS end-----------*/
