@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

\:host
  display: block
  width: 100%

.activity-details
  &__header
    +h6
    font-weight: 500

    +xsm
      +h5

  .activity-section
    padding: 24px 0

    +xsm
      padding: 32px 0

    &:first-child
      padding: 0 0 24px

      +xsm
        padding: 0 0 32px

    &:last-child
      padding: 24px 0 0

      +xsm
        padding: 32px 0 0

    .basic-data
      &__item
        display: flex
        justify-content: space-between

        &:not(:last-child)
          margin: 0 0 12px

        +xsm
          justify-content: flex-start

      &__title
        +subtitle-small
        color: $c-label

        +xsm
          flex: 0 0 204px
          +subtitle

      &__value
        +subtitle-small

        +xsm
          +subtitle

      a
        color: $c-primary

    .basic-data-comment,
    .basic-data-tags
      flex-direction: column

      +xsm
        flex-direction: row

      .basic-data__value
        +paragraph-small
        width: 100%

      .basic-data__title
        margin: 0 0 4px 0

        +xsm
          margin: 0

    .basic-data-financial
      .basic-data__value, .basic-data__title
        +h6
        color: $c-text-primary
        font-weight: 500

        +xsm
          +h5
          font-weight: 500

  .activity-section-financial
    padding: 24px 0
    border-top: 1px solid $c-lines
    border-bottom: 1px solid $c-lines

    &:first-child
      padding: 24px 0

    &:last-child
      padding: 24px 0
