extends ../../../templates/wizard/section-controlls.partial.jade

block content
  .pro-service-provider-tags
    .step-content-column
      pro-tags-dropdown(data-pro-items="tags" data-tag-label=""
      data-pro-model="model.tags" data-ng-click="onClick()" data-tag-param="tagParam")
      .input-error-messages
        .error(data-translate="{{errorMessage}}" data-ng-show="noTags")
