extends ../../../templates/wizard/section-controlls.partial.pug

block content
  .pro-service-provider-tags
    .step-content-column
      pro-tags-dropdown(data-pro-items="tags" data-tag-label=""
      data-pro-model="model.tags" data-ng-click="onClick()" data-tag-name-param="tagNameParam" data-on-search="onSearch(search)")
      .input-error-messages
        .error(data-translate="{{errorMessage}}" data-ng-show="error.noTags && model.tags < 1")
