.communicator-modals
  .no-measures
    h3(data-ng-translate="COMMUNICATOR.MODALS.CUSTOMER_ASK_FOR_ADVICE_ON")
    p "witarianizm"

    .modals-action
      a.btn.btn-circle(data-ng-translate="COMMUNICATOR.MODALS.CANCEL")
      a.btn.btn-circle(data-ng-translate="COMMUNICATOR.MODALS.CHARGE")