card-slider
  position: relative

  .card-slider-to-slide
    display: flex
    margin-top: 0px
    position: relative
    left: -304px
    right: 0

    .card-slider
      position: relative
      margin-top: -200px


  .controlls
    .left-offset
      height: 100%
      background: linear-gradient(left, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%)
      display: flex
      flex-direction: row
      align-items: center
      position: absolute
      top: 0
      left: 0
      padding: 20px

      &:hover
        background: linear-gradient(left, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%)

    .right-offset
      height: 100%
      background: linear-gradient(right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%)
      display: flex
      flex-direction: row
      align-items: center
      position: absolute
      top: 0
      right: 0
      padding: 20px

      &:hover
        background: linear-gradient(right, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%)