@import "./projects/anymind-ng-core/src/template/stylesheets/interface/input/input-containers"
@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"
@import "../../../../../template/core/core"

.login-form
  +modal-login-paddings
  
  .input-icon-container
    margin: 0 0 8px
  
  &__links
    text-align: center
    
    .register
      margin: 24px 0 0
    
    .forgot-password
      +subtitle
      color: $c-primary
  
  &__action
    text-align: center

    p, a
      +subtitle-small

  &__forget-password
    padding: 24px 0 20px

  &__register
    padding: 20px 0
    border-top: 1px solid $c-lines
    
  a
    color: $c-primary
    font-weight: 500
