.activity-row-loader
  plat-content-loader.content-loader
    svg:rect(rx='4', ry='4').content-loader__thumb
    svg:rect(rx='4', ry='4').content-loader__title
    svg:rect(rx='4', ry='4').content-loader__subtitle
    svg:rect(rx='4', ry='4').content-loader__description.content-loader__description--short
    svg:rect(rx='4', ry='4').content-loader__description.content-loader__description--long
    svg:rect(rx='4', ry='4').content-loader__button

