@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"
@import "../../content-loader-default-variables"
@import "../../../../../template/core/helpers/mixins"

.activity-row-loader
  +option-row
  height: 124px

  +mdm
    padding: 32px 24px
    height: 88px
