plat-expert-org-loader(*ngIf="isLoading$ | async; else data")

ng-template(#data)
  ng-container(*ngIf="data$ | async as data;")
    .expert-dashboard-layout
      .container
        plat-dashboard-profile-header(
          [avatarToken]='getAvatarToken(data)',
          [name]='getName(data)',
          [description]='getDescription(data)',
          [links]='getLinks(data)',
          [isOwnProfile]='getIsOwnProfile(data)',
          [isLogged]='getIsLogged(data)',
          [expertId]='getExpertId(data)',
          [attachments]='getExpertDocuments(data)',
          [languages]="getLanguages(data)",
          (editProfile)='editProfile(getExpertId(data))',
          (openGallery)='onOpenGallery(getExpertDocuments(data))'
        )
    .container
      h2.header-text {{'EXPERT_DASHBOARD.CONSULTATIONS_CAPTION' | translate}}
      plat-expert-dashboard-consultations(
        [consultations]='getConsultations(data)',
        [isOwnProfile]='getIsOwnProfile(data)',
        [isCompany]="getIsCompany(data)",
        [isLogged]="getIsLogged(data)",
        [companyId]="companyId",
        (addConsultation)='addConsultation(getProfileId(data))',
        (openConsultationDetails) = 'openConsultationDetail($event, getExpertId(data), getExpertAccountId(data))'
      )
