.dashboard-left-menu(data-ng-mouseleave="toogleMenuWhenMouseLeave()" ng-class="{'open-sidebar': animateSidebar}")
  .main-column
    .top-row
      .nav-menu
        .responsive-main-menu(data-ng-show="showNavMenu.value")
          ul
            li
              a(data-translate="NAVIGATION.HOME_PAGE" data-ui-sref="app.home" data-ng-show="windowSize < 480")
            li(data-ng-repeat="item in menuElements")
              a(data-translate="{{ item.label }}" )

      .expert-profile-sidebar
        .profile-thumb.thumb.x48
          img.user-avatar(src='{{ avatar }}' alt='user-avatar' data-ng-class='{"is-not-uploaded": "!!avatar"}')

        .profile-info
          h4(data-translate="DASHBOARD.MENU.EXPERT_ACCOUNT")
          a(data-translate="DASHBOARD.MENU.CHANGE_ACCOUNT")

      ul.nav-sidebar
        li(data-ng-class="{'on': activeMenuSection === 1}")
          a(data-ng-click="toggleActiveMenuSection(1)")
            span.icon.icon-call-24
            span(data-translate="DASHBOARD.MENU.CALLS")
            
          ul.submenu
            li
              a Podmenu edycja konta
            li
              a Podmenu 2
            li
              a Podmenu edycja konta
            li
              a asd
            li 
              a Podmenu edycja konta
        
        li(data-ng-class="{'on': activeMenuSection === 2}")
          a(data-ng-click="toggleActiveMenuSection(2)")
            span.icon.icon-price-32
            span(data-translate="CATEGORY.BIZNES_I_KARIERA.FINANSE")
        li(data-ng-class="{'on': activeMenuSection === 3}")
          a(data-ng-click="toggleActiveMenuSection(3)")
            span.icon.icon-expert-profile-32
            span(data-translate="DASHBOARD.MENU.EXPERT_PROFILE")
        li(data-ng-class="{'on': activeMenuSection === 4}")
          a(data-ng-click="toggleActiveMenuSection(4)")
            span.icon.icon-www-24         
            span(data-translate="DASHBOARD.MENU.STATS")
          
          ul.submenu
            li
              a Podmenu edycja konta
            li
              a Podmenu 2           
        li(data-ng-class="{'on': activeMenuSection === 5}")
          a(data-ng-click="toggleActiveMenuSection(5)")
            span.icon.icon-multiperson-128
            span(data-translate="COMMON.DIRECTIVES.PRO_EXPERT_PROFILE.CONSULTANTS_LIST")
