.dashboard-left-menu
  +transition(width 0.3s)
  +default-font-heavy
  position: fixed
  background: $c-primary
  left: 0
  top: 80px
  min-width: $dashboard-navbar-width
  height: 0
  width: 100%
  overflow-y: hidden !important
  z-index: $z-index-800

  ::-webkit-scrollbar
    width: 0

  &.open-sidebar
    height: 100vh

  +xsm
    width: $dashboard-width-nav

  +mdm
    display: block
    width: $dashboard-navbar-width

  +lgm
    overflow-x: visible !important
    width: $dashboard-navbar-width

  &:hover

    overflow: visible !important

    +xsm
      width: $dashboard-width-nav

    +mdm
      overflow-x: visible !important
      width: $dashboard-width-nav

    +lgm
      overflow-x: visible !important
      width: $dashboard-width-nav

  .main-column
    display: flex
    flex-wrap: wrap
    justify-content: center
    height: 100vh
    overflow-y: scroll
    -webkit-overflow-scrolling: touch

    +lgm
      overflow: visible
      -webkit-overflow-scrolling: auto

    .top-row
      align-self: flex-start
      width: 100%
      padding: 16px 0

      .nav-menu
        .responsive-main-menu
          display: block
          top: 78px
          left: 0
          background-color: $c-primary

          a
            transition: opacity 0.2s
            opacity: 1
            color: $c-white

          ul
            width: 100%
            padding: 16px 32px

            &:hover
              li
                a
                  opacity: 0.3

            li
              padding: 4px 0

              &:hover
                a
                  opacity: 1

              a
                font-size: $f-h5-size

      .expert-profile
        display: flex
        align-items: center
        padding: 0 16px 16px
        overflow: hidden
        border-bottom: 1px solid rgba($c-white, 0.2)

        &:hover
          background: none

        .profile-thumb
          flex: 0
          margin: 0 16px 0 0
          min-width: 48px
          height: 48px
          display: block

        .empty-avatar-placeholder
          width: 48px
          height: 48px
          margin: 0 16px 0 0

        .profile-info
          min-width: 200px

          h4
            +default-font-heavy
            color: $c-white
            text-transform: uppercase
            font-size: $f-h3-size
            line-height: 1

          a
            +default-font-heavy
            color: $c-white


      ul.nav-sidebar
        display: block
        width: 100%

        &:hover
          li
            a, span
              opacity: 0.5

            &:hover
              > a, span
                opacity: 1

        li
          display: block
          text-align: center
          margin: 0
          position: relative
          padding: 0
          border-bottom: 1px solid rgba($c-white, 0.2)
          background: $c-primary

          a
            +default-font-heavy
            +transition(opacity 0.3s)
            color: $c-white
            font-size: $f-nav-size
            text-transform: uppercase
            padding: 0 24px
            display: flex
            align-items: center
            height: $dashboard-navbar-width
            overflow: hidden

            .icon
              +transition(opacity 0.3s)
              color: $c-white
              font-size: 24px
              margin: 0 36px 0 0

            span:not(.icon)
              min-width: 200px
              text-align: left

          &.on
            ul.submenu
              display: block

          ul.submenu
            background: black
            width: auto
            display: none

            &::before
              +transition(left 0.3s 0.3s)
              content: ""
              width: 0
              height: 0
              border-right: 8px solid transparent
              border-left: 8px solid transparent
              border-bottom: 8px solid black
              position: absolute
              z-index: 1
              top: 72px
              left: 32px

            +lgm
              +transition(left 0.3s)
              position: absolute
              top: 0
              left: -$dashboard-width-nav
              right: 0
              background: black
              width: auto
              min-width: $dashboard-width-nav
              z-index: -1
              display: block

              &::before
                +rotate(-90deg)
                left: 0
                top: 35px

            li
              background: none
              border-bottom: 1px solid rgba($c-white, 0.2)
              text-align: left

              a
                color: $c-secondary-txt

                &:hover
                  color: $c-white

          &:hover
            ul
              left: $dashboard-width-nav
              +animation(arrow-delay 0.3s 0.3s)
              animation-fill-mode: forwards

              +keyframes(arrow-delay)
                0%
                  z-index: -1
                100%
                  z-index: 1

              +lgm
                &::before
                  left: -12px
                  top: 35px

      .logo
        background-color: $c-background-3
        padding: 30px 0

        img
          width: 20px
          max-width: 20px


    .bottom-row
      align-self: flex-end

      .logout-icon
        +transition
        text-align: center
        border-top: 1px solid $c-background-4
        padding: 32px 0

        &:hover
          background-color: $c-secondary
          color: $c-white

        a
          padding: 32px
          border: none

        &:hover
          span
            color: $c-white

        span
          color: $c-nav-icons
          font-size: 24px

      .switcher
        span
          padding: 0 16px 0 16px

        p
          color: $c-white
          padding: 0 10px 4px 0
          +default-font-heavy
          font-size: 0.9em

        a
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          justify-content: flex-start
          align-content: flex-start
          align-items: center
          padding: 4px 5px 0 0

      .switcher-tools
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        align-items: center
        margin-bottom: 20px
        text-align: center
        margin-top: 39px

        a
          color: $c-secondary-txt
          border-bottom: none

          &:hover
            text-decoration: none

        .option-left
          +default-font-heavy
          width: 50%
          border: 1px solid $c-lines
          border-top-left-radius: 5px
          border-bottom-left-radius: 5px
          padding: 16px 0 10px
          margin-left: -1px
          text-transform: uppercase
          color: $c-secondary-txt
          font-size: 12px
          cursor: pointer

          &:hover
            background-color: $c-background
            color: $c-primary

        .option-right
          +default-font-heavy
          width: 50%
          border: 1px solid $c-lines
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px
          padding: 16px 0 10px
          margin-left: -1px
          text-transform: uppercase
          color: $c-secondary-txt
          font-size: 12px
          cursor: pointer

          &:hover
            background-color: $c-background
            color: $c-primary
