.dashboard-left-menu
  position: fixed
  overflow-y: auto
  overflow-x: hidden
  background-color: $c-primary-txt
  max-width: 96px
  left: 0
  min-width: 96px
  visibility: visible
  margin-left: 0
  height: 100%
  color: $c-background-2
  border-left: 4px solid $c-primary-hover
  +mdm
    min-width: 96px
    width: 96px
  .main-column
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-between
    align-content: space-between
    align-items: center
    text-align: left
    min-height: 100vh
    .top-row
      text-align: center
      width: 100%
      float: left
      .menu-icon
        border-top: 1px solid $c-background-4
        padding: 16px 0
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: center
        align-content: flex-start
        align-items: center
        a
          padding: 18px 32px
          border: none
          &:hover
            i
              color: $c-primary
        i
          color: $c-nav-icons
          font-size: 24px
      .logo
        background-color: $c-background-3
        padding: 30px 0
        img
          width: 20px
          max-width: 20px
      .user
        margin-left: 0px
        position: relative
        .photo
          margin-top: 30px
          .user-status
            position: absolute
            top: 22px
            right: 3px
            +border-radius(50%)
            span
              width: 28px
              height: 28px
              color: $c-white
              font-size: 12px
              +default-font-heavy
              text-align: center
              background-color: $c-secondary
              +border-radius(50%)
              position: absolute
              top: 3px
              right: 3px
              padding: 6px 0
              border: 2px solid $c-primary-txt
            .user-online
              margin: 4px 4px
              width: 10px
              height: 10px
              padding: 0px
              +border-radius(50%)
          img
            width: 68px
            height: 68px
            +border-radius(50%)
            padding: 3px
        .username
          margin-top: 20px
          span
            color: $c-secondary-txt
            +default-font-heavy
            font-size: 19px
          h5
            font-size: 11px
            text-transform: uppercase
            +default-font-heavy
            margin-bottom: 0
        .notification
          .icon
            color: $c-primary
            padding-left: 0px
      .switcher
        margin-top: 12px
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        align-items: center
        margin-bottom: 20px
        span
          font-size: 13px
          text-transform: uppercase
          font-weight: bold
          padding-top: 12px
        .onoffswitch
          position: relative
          width: 48px
          -webkit-user-select: none
          -moz-user-select: none
          -ms-user-select: none
        .onoffswitch-checkbox
          display: none
        .onoffswitch-label
          display: block
          overflow: hidden
          cursor: pointer
          height: 20px
          padding: 0
          border: 1px solid $c-background-4
          border-radius: 36px
          background-color: $c-background-4
          +transition
          &::before
            content: ""
            display: block
            width: 20px
            margin: 0px
            background: $c-white
            position: absolute
            top: 0
            bottom: 0
            right: 27px
            border: 1px solid $c-background-4
            border-radius: 36px
            +transition
        .onoffswitch-checkbox:checked + .onoffswitch-label:before
          right: 0px
        .option-left

          width: 50%
          border: 1px solid $c-lines
          border-top-left-radius: 5px
          border-bottom-left-radius: 5px
          padding: 16px 0
          margin-left: -1px
          text-transform: uppercase
          color: $c-secondary-txt
          +default-font-heavy
          font-size: 12px
          cursor: pointer
          &:hover
            background-color: $c-background
            color: $c-primary
        .option-right

          width: 50%
          border: 1px solid $c-lines
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px
          padding: 16px 0
          margin-left: -1px
          text-transform: uppercase
          color: $c-secondary-txt
          +default-font-heavy
          font-size: 12px
          cursor: pointer
          &:hover
            background-color: $c-background
            color: $c-primary
        .active
          background-color: $c-primary
          color: $c-white
    .bottom-row
      float: left
      width: 100%
      .logout-icon
        text-align: center
        border-top: 1px solid $c-background-4
        padding: 32px 0
        +transition
        &:hover
          background-color: $c-secondary
          color: $c-white
        a
          padding: 32px
          border: none
        &:hover
          i
            color: $c-white
        i
          color: $c-nav-icons
          font-size: 24px
      .switcher
        i
          padding: 0 16px 0 16px
        p
          color: $c-white
          padding: 0 10px 4px 0
          +default-font-heavy
          font-size: 0.9em
        a
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          justify-content: flex-start
          align-content: flex-start
          align-items: center
          padding: 4px 5px 0 0
      .switcher-tools
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        align-items: center
        margin-bottom: 20px
        text-align: center
        margin-top: 39px
        a
          color: $c-secondary-txt
          border-bottom: none
          &:hover
            text-decoration: none
        .option-left
          width: 50%
          border: 1px solid $c-lines
          border-top-left-radius: 5px
          border-bottom-left-radius: 5px
          padding: 16px 0 10px
          margin-left: -1px
          text-transform: uppercase
          color: $c-secondary-txt
          +default-font-heavy
          font-size: 12px
          cursor: pointer
          &:hover
            background-color: $c-background
            color: $c-primary
        .option-right
          width: 50%
          border: 1px solid $c-lines
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px
          padding: 16px 0 10px
          margin-left: -1px
          text-transform: uppercase
          color: $c-secondary-txt
          +default-font-heavy
          font-size: 12px
          cursor: pointer
          &:hover
            background-color: $c-background
            color: $c-primary
