@import "../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.rtc-detector-blocked
	text-align: center

	.rtc-detector-content
		.rtc-image
			margin: 0 0 32px

		h2
			+header
			+default-font-medium
			color: $c-white
			margin: 0 0 8px

		span
			+paragraph
			+default-font-regular
			color: $c-white

			a
				color: $c-primary

	.btn-close
		border: 1px solid rgba($c-white, 0.1)

		span
			&.icon
				color: $c-white
