@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../template/profitelo_theme/stylesheets/variables/variables"

.no-results-information
  +noResultsInformation
  +default-font-light
  text-align: center
  color: $c-secondary-txt
  padding: 32px 0

  +lgm
    padding: 64px 0
