.top-navbar
  .hamburger-menu
    i.icon.icon-menu-16
  .logo
    img(src="/assets/images/logo_profitelo_black.png")
  .buttons
    a
      i.icon.icon-search-24
    a(data-ng-hide="$root.loggedIn" data-ui-sref='app.login.account')
      i.icon.icon-login-32
    a(data-ng-show="$root.loggedIn" data-ui-sref='app.dashboard.start')
      i.icon.icon-login-32
