.top-navbar
  .logo
    img(src="/assets/images/logo_profitelo_black.png")

  .menu-items
    a Strona Główna
    a O serwisie
    a Dla eksperta
    a Pomoc
  
  .search
    i.icon.icon-search-24
    .search-input
      input(placeholder="Wpisz szukaną frazę np.: planowanie diety")
  .search-options
    span wszędzie
    i.icon.icon-arrow-down-12
    
  .buttons
    a Logowanie
    a Rejestracja
