.top-navbar
  .logo
    img(src="/assets/images/logo_profitelo_black.png")

  .menu-items
    a Strona Główna
    a O serwisie
    a Dla eksperta
    a Pomoc
    
  .buttons
    a(ui-sref='app.login.account' data-translate="PAGE_TITLE.LOGIN.ACCOUNT")
    a(ui-sref='app.login.account' data-translate="PAGE_TITLE.LOGIN.REGISTER")
