.basic-profile-data
  .basic-profile-data__content
    .crop-photo
      app-avatar-uploader(
      [form]="form",
      [controlName]="avatarControlName",
      [isRequired]="isRequired"
      )

    am-core-input-text(
    [label]="'EDIT_PROFILE.INPUT.INPUT_NAME.LABEL'",
    [errorTextKey]="'EDIT_PROFILE.INPUT.INPUT_NAME.VALIDATION.ERROR'",
    [form]="form",
    [minLength]="profileNameMinlength",
    [maxLength]="profileNameMaxlength",
    [controlName]="profileNameControlName",
    [inputValue]="profileNameNgModel",
    [isRequired]="isRequired",
    [isDisabled] = "isDisabled"
    )
