@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "../../../../../template/core/variables/variables"
@import "../../../../../template/core/partials/grid"

\:host
	display: block
	width: 100%

	.default-avatar
		background: $c-text-secondary
		border: 1px solid $c-lines
		width: 152px
		height: 152px
		border-radius: 50%

		span
			color: $c-white
			font-size: 152px

	.basic-profile-data
		&__content
			display: flex
			justify-content: flex-start
			align-items: center

			am-core-input-text
				flex: 1
				margin: 32px 0 0 16px

				+smm
					margin: 32px 0 0 48px
