@import "../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.pin-verification
  background: $c-background
  padding: 32px 0
  margin: 0 auto
  text-align: center

  h2
    margin: 0 0 32px

  .pin-verification-send-again
    +xsm
      display: flex
      align-items: center
      justify-content: center

    button
      margin: 0

      +xsm
        margin: 0 12px

    p
      font-size: $f-paragraph-title
      color: $c-tertiary-txt
      margin: 16px 0

      +xsm
        margin: 0 12px

  .pin-verification-counter
    p
      font-size: $f-paragraph-title
      color: $c-primary-txt
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: rgba($c-black, 0.3)
      display: flex
      align-items: center
      justify-content: center
      z-index: $z-index-100
