@import "../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.pin-verification
  background: $c-background
  padding: 32px 0
  margin: 0 auto
  text-align: center

  .input-content
    display: flex
    justify-content: center

    .pin-inputs
      position: relative

  h2
    margin: 0 0 32px

  .pin-verification-send-again
    +xsm
      display: flex
      align-items: center
      justify-content: center

    button
      margin: 0

      +xsm
        margin: 0 12px

    p
      font-size: $f-paragraph-title
      color: $c-tertiary-txt
      margin: 16px 0

      +xsm
        margin: 0 12px

  .pin-verification-counter
    p
      font-size: $f-paragraph-title

  .collapse-height
    &.pin-verification-counter
      &.animation-in
        animation: fadeInYInverse 0.3s
        animation-fill-mode: forwards
        transition: height 0.3s

      &.animation-out
        animation: fadeOutYInverse 0.3s
        animation-fill-mode: forwards
        transition: height 0.3s
