.pro-invitation-acceptance-box-modal.modal-checkbox
  .modal-header.clearfix
    span.icon.icon.icon-close-12.pull-right(data-ng-click="vm.dismissWindow()")
    h4 {{ "DASHBOARD.INVITATION.MODAL.REJECT_REASON" | translate }} &nbsp;
      span(data-translate="DASHBOARD.INVITATION.MODAL.OPTIONAL")

  .modal-contents
    form(name="invitationAcceptanceBoxModal", novalidate)
      .modal-radio
        .item-group
          pro-checkbox(data-ng-model="vm.genericRejectReason" data-ng-value="true" label="{{'HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_OTHER' | translate}} ")
        .item-group
          pro-checkbox(data-ng-model="vm.genericRejectReason" data-ng-value="false" label="{{'HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_OTHER' | translate}} ")

        pro-input(data-ng-model="vm.otherReasonTextModel" data-no-delete placeholder="{{ 'DASHBOARD.INVITATION.MODAL.ENTER_YOUR_REASON	' | translate }}")

      .modal-buttons
        button.pro-button.rectangle.error(data-ng-click="vm.submitReasonForm()" data-translate="DASHBOARD.INVITATION.REJECT")
