.pro-invitation-acceptance-box-modal.modal-checkbox
  .modal-header
    h4 {{ "DASHBOARD.INVITATION.MODAL.REJECT_REASON" | translate }} &nbsp;
      span(data-translate="DASHBOARD.INVITATION.MODAL.OPTIONAL")

  .modal-contents
    form(name="invitationAcceptanceBoxModal", novalidate)
      .modal-radio
        .item-group
          pro-checkbox(data-ng-model="true" label="{{'HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_OTHER' | translate}} ")        
        .item-group
          pro-checkbox(data-ng-model="false" label="{{'HOME.TOP_CONTAINER.MAIN_HEADER.FOOTER_OTHER' | translate}} ")        

        pro-input(data-ng-model="" data-no-delete placeholder="{{ 'DASHBOARD.INVITATION.MODAL.ENTER_YOUR_REASON	' | translate }}")

      .modal-buttons
        button.pro-button.rectangle.primary(data-ng-click="vm.submitReasonForm()" data-translate="DASHBOARD.INVITATION.REJECT")
        button.pro-button.rectangle.error.icon(data-ng-click="vm.dismissWindow()") {{ "INTERFACE.ABORT" | translate }}
          span.icon.icon.icon-heart-16
