.pro-invitation-acceptance-box.clearfix
  .description.pull-left
    h3(data-ng-bind="$ctrl.invitation.details.name")
    pro-summary-tag(data-tags="$ctrl.invitation.details.tags")
  .buttons.pull-right
    button.pro-btn(data-ng-click="$ctrl.reject($ctrl.invitation.id)" data-translate="DASHBOARD.INVITATION.REJECT")
    button.pro-btn.btn-main(data-ng-click="$ctrl.accept($ctrl.invitation.id)" data-translate="DASHBOARD.INVITATION.ACCEPT")