.pro-invitation-acceptance-box.box-list
  .box-header
    h3(data-ng-bind="vm.invitation.details.name")

    .box-status
      button.pro-button.rectangle.error.icon(data-ng-click="vm.reject(vm.invitation.id)")
        span.icon.icon-heart-16
        | {{ "DASHBOARD.INVITATION.REJECT" | translate }}

      button.pro-button.rectangle.succes.icon(data-ng-click="vm.accept(vm.invitation.id)")
        span.icon.icon-heart-16
        | {{ "DASHBOARD.INVITATION.ACCEPT" | translate }}

  pro-summary-tag(data-tags="vm.invitation.details.tags")

.read-more
  a.pro-button.rectangle.default(src="#") {{ "COMMON.DIRECTIVES.PRO_EXPERT_PROFILE.GO_TO_PROFILE_EXPERT" | translate }}
