.choose-bank

  h3
    text-align: center

    +lgm
      text-align: left

  .title
    margin: 16px 0 0

  .choose-options
    margin-top: 64px
    display: flex
    justify-content: space-around
    flex-wrap: wrap

    .option
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: calc(100%/2.3)
      box-shadow: 0 0 0 1px $c-lines
      padding: 8px
      margin: 8px
      +border-radius(0.2em)
      cursor: pointer
      position: relative
      background: $c-white

      img
        width: 100px

      +smm
        width: calc(100%/3.3)

      +lgm
        width: calc(100%/6.7)

      p
        font-size: $f-base
        +default-font-heavy
        padding: 8px 0
        text-align: center

      &:hover
        box-shadow: 0 0 0 1px $c-primary

    .selected
      box-shadow: 0 0 0 2px $c-primary

    .top-right
      background: $c-primary
      width: 24px
      height: 24px
      color: $c-white
      font-size: 10px
      padding: 6px 7px
      position: absolute
      bottom: -14px
