.choose-bank
  margin: 0 0 32px

  .choose-options
    .option
      height: 128px

    .choose-options-item
      flex: 1 0 50%
      max-width: 50%

      +xsm
        flex: 1 0 33.3333%
        margin: 0
        max-width: 33.3333%
