.step.summary-step
  .summary-edit-icon
    a
      i.icon.icon-edit-16
  .summary-name
    .summary-avatar
      img(src='assets/images/John_Doe.jpg' alt='user-avatar')
    .summary-firstname
      .firstname-lastname
        h2 Jan Kowalski
      .languages
        h6 Języki: Polski, Niemiecki, Angielski
  .summary-descriptions
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
