.person-summary
  padding: 24px 30px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-content: flex-start
  align-items: center
  border-bottom: 1px solid $c-lines
  img
    width: 150px
  .description
    padding: 12px 15px
    .person-description
      p
        color: $c-secondary-txt
        text-align: justify
