@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.dashboard-filters
  display: flex
  flex-wrap: wrap
  padding: 16px 0

  .filter-download
    display: flex
    justify-content: space-between

    +smm
      position: relative

    +lgm
      max-width: 25%

    .calendar
      flex: 1
      display: flex
      justify-content: space-between

      .calendar-container
        flex: 1
        margin: 0 16px 0 0

      .input-group
        label
          padding: 8px 8px 8px 0

        input
          padding: 0

      .input
        position: static

        &::before
          display: none

    .uib-datepicker-popup
      top: 0 !important

      +smm
        top: calc(100% + 16px) !important

    .btn
      width: 56px
      height: 56px

  > div
    margin: 0 0 16px
    flex: 1

  .pro-dropdown
    flex: 1 0 100%

    +smm
      flex: 1 0 50%
      padding: 0 24px 0 0
      max-width: 50%

      &:nth-child(2n)
        padding: 0

    +lgm
      flex: 1 0

      &:nth-child(2n)
        padding: 0 24px 0 0

      &:nth-child(4n)
        padding: 0

    > drop-down
      display: flex

    .dropdown-input
      .dropdown-header
        span
          line-height: $s-input-height

          &::-moz-placeholder
            line-height: $s-input-height

          &:-moz-placeholder
            line-height: $s-input-height

    .dropdown-content
      .dropdown-input
        height: $s-messenger-input-height

        input
          +inputText
          padding: 0
          min-height: $s-messenger-input-height

          &::placeholder
            font-size: $f-input-txt
            line-height: normal

          &::-webkit-input-placeholder
            line-height: normal

          &::-moz-placeholder
            line-height: $s-messenger-input-height

          &:-ms-input-placeholder
            line-height: normal

          &:-moz-placeholder
            line-height: $s-messenger-input-height

.dashboard-filters-collapse
  max-height: 305px
  transition: max-height 0.9s ease-in-out, margin 0.9s ease
  overflow: hidden
  margin: 0 0 32px

  +smm
    overflow: visible
    margin: 0

  &.is-collapsed
    margin: 0
    max-height: 0

    +smm
      max-height: inherit

.collapse-btn-filter
  text-align: center

  +smm
    display: none

  .btn
    +default-font-regular
    cursor: pointer
    color: $c-secondary-txt
    font-size: $f-btn-size
    height: auto

    .icon
      margin: 0 16px 0 0
