import * as api from './api/api';
import * as angular from 'angular';

{{#apiInfo}}
const services = angular.module('api', [])
{{#apis}}
{{#operations}}
.service('{{classname}}', api.{{classname}})
.service('{{classname}}Mock', api.{{classname}}Mock)
{{/operations}}
{{/apis}}

const apiModule = services.name;

export default apiModule;
{{/apiInfo}}
