.general-options
  h2(data-translate="SETTINGS.GENERAL.TITLE")

.settings-row
  .settings-icon
    .thumb.x24
      img.user-avatar(src data-ng-src="{{ vm.avatarImageSource }}")

  .settings-data
    span.label(data-translate="SETTINGS.GENERAL.FULL-NAME.LABEL")
    span.name {{ vm.nickname }}

  a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
  data-ng-click=":: vm.openBasicAccountSettingsModal()")

.settings-row
  .settings-icon
    span.icon.icon-smartphone-24

  .settings-data
    span.label(data-translate="SETTINGS.GENERAL.PHONE_NUMBER.LABEL")
    span.name {{ vm.phoneNumber }}

  a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
  data-ng-click=":: vm.openGeneralPhoneSettingsModal()")

.settings-row
  .settings-icon
    span.icon.icon-success-24-1

  .settings-data
    span.label(data-translate="SETTINGS.GENERAL.EMAIL.LABEL")
    span.name {{ vm.email }}
    p.name {{ vm.unverifiedEmail }}

  a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
  data-ng-click=":: vm.openGeneralEmailSettingsModal()")

.settings-row
  .settings-icon
    span.icon.icon-planet-24

  .settings-data
    span.label(data-translate="SETTINGS.GENERAL.COUNTRY.LABEL")
    span.name {{ vm.country }}

  a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
  data-ng-click=":: vm.openGeneralCountrySettingsModal()")
