.general-options
  h2(data-translate="SETTINGS.GENERAL.TITLE")

.settings-row
  .settings-icon
    .thumb.x24
      img.user-avatar(src data-ng-src="{{ vm.avatarImageSource }}")

  .settings-data
    span.label(data-translate="SETTINGS.GENERAL.FULL-NAME.LABEL")
    span.name {{ vm.nickname }}

  a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
  data-ng-click=":: vm.openBasicAccountSettingsModal()")

.settings-row
  .settings-icon
    span.icon.icon-smartphone-24

  .settings-data
    span.label(data-translate="SETTINGS.GENERAL.PHONE_NUMBER.LABEL")
    span.name {{ vm.phoneNumber }}

  a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
  data-ng-click=":: vm.openGeneralPhoneSettingsModal()")

.settings-row-double
  .settings-row.is-active
    .settings-icon
      span.icon.icon-success-24-1

    .settings-data
      span.label(data-translate="SETTINGS.GENERAL.EMAIL.LABEL")
      span.name {{ vm.email }}

    a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
    data-ng-click=":: vm.openGeneralEmailSettingsModal()")

  .settings-row.is-inactive(data-ng-show="{{typeof(vm.unverifiedEmail) !== 'undefined' }}")
    .settings-icon
      span.icon.icon-failure-24

    .settings-data
      span.label(data-translate="SETTINGS.GENERAL.EMAIL.WAITING_FOR_VERIFICATION.LABEL")
      span.new-mail {{ vm.unverifiedEmail }}

.settings-row
  .settings-icon
    span.icon.icon-planet-24

  .settings-data
    span.label(data-translate="SETTINGS.GENERAL.COUNTRY.LABEL")
    span.name {{ vm.country }}

  a.btn.btn-small.btn-default-border(data-translate="SETTINGS.GENERAL.FULL-NAME.BUTTON.EDIT"
  data-ng-click=":: vm.openGeneralCountrySettingsModal()")
