pro-summary-tag
  width: 100%
  display: block

  .pro-summary-tag
    .tag-list
      margin: 0

      li
        &.showMoreTagsBtn
          a
            padding: 0

            span
              +default-font-regular
              padding: 0 16px
              display: inline-flex
              align-items: center
              flex-direction: row-reverse
              margin: 0
              border-radius: 20px
              position: relative
              font-size: $f-btn-size
              text-transform: uppercase

        &.hidden
          display: none