.pro-summary-tag
  padding: 16px

  +xsm
    padding: 32px 32px 16px

  h4.title-row
    +default-font-heavy
    margin: 0 0 32px 0
    text-transform: uppercase

    span
      margin: 0 0 0 4px
      color: $c-secondary-txt

  .slider-tag
    display: block

    li
      display: inline-block
      margin: 0 16px 16px 0

      a
        border-radius: 0
