scrollable.edit-payment-method(data-is-fullscreen="vm.isFullscreen" data-is-navbar="vm.isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="vm.onModalClose")
  .modal-settings
    preloader()
      .container-medium.no-padding.modal-form
        invoice-company
        .summary-charge-account
          .summary-charge-container.no-ammount
            a.btn.btn-default.icon-right
              | {{:: "SETTINGS.PAYMENTS.INVOICE.EDIT_BUTTON.TITLE" | translate }}
              span.icon.icon-arrow-right-16
