@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../template/profitelo_theme/stylesheets/variables/variables"

.modal-summary
	&.postpaid
		.alert-cloud
			max-width: 200px

		.modal-header
			.consultation-title
				margin: 0 0 16px

			.consultation-price
				+header

				span
					&:first-child
						opacity: 0.5
						margin: 0 8px 0 0

					&:last-child
						+default-font-medium

			.thumb
				.status-list
					span
						&.status
							border-color: $c-primary

		.modal-container
			.precall-input-handler
				align-items: center
				justify-content: flex-start

				.payments-handler
					display: flex
					align-items: flex-start

				> *
					margin: 0 0 24px

					&:nth-child(2)
						padding: 0 24px
						flex: 1

				.icon
					color: $c-tertiary-txt

			.btn-link
				font-size: $f-btn-size

		input-price
			flex: 1 0 100%
			max-width: 160px

		.output
			max-width: 160px
			margin: 0 0 0 32px

		.modal-action
			justify-content: flex-end

			+smm
				margin: 16px 0 0

			.btn
				margin: 0

		.microphone-output
			.progress-bar
				margin: 4px 0 0 0
				border-radius: 8px
				height: 8px
				width: 160px
				display: block
				background: $c-background
