@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../template/profitelo_theme/stylesheets/variables/variables"

.modal-summary
	&.precall
		.alert-cloud
			max-width: 160px

		.modal-header
			.consultation-title
				margin: 0 0 16px

			.consultation-price
				+header

				span
					&:first-child
						opacity: 0.5
						margin: 0 8px 0 0

					&:last-child
						+default-font-medium
						opacity: 1

			.thumb
				.status-list
					span
						&.status
							border-color: $c-primary

		.modal-container
			.precall-input-handler
				align-items: center
				justify-content: flex-start

				.payments-handler
					display: flex
					align-items: flex-start
					width: 160px

				> *
					margin: 0 0 24px

					&:nth-child(2)
						padding: 0 24px
						flex: 1

				.icon
					color: $c-tertiary-txt

			.btn-link
				font-size: $f-btn-size

		input-price
			flex: 1 0 100%
			max-width: 160px
			width: 160px

		.output
			margin: 0 0 0 32px

			+smm
				width: 160px

			output
				height: $s-input-height
				line-height: $s-input-height

		.modal-action
			justify-content: flex-end

			+smm
				margin: 16px 0 0

			.btn
				margin: 0

		.output
			output
				display: block

		.microphone-output
			canvas
				max-width: 160px
				display: block
				margin: 8px 0 0 0

