.messenger-maximized
    .messenger-messages
        .messenger-scroll
            grouped-messages(data-ng-repeat="messages in $ctrl.groupedMessages track by $index" data-messages="messages"
            data-participant-avatar="{{ :: $ctrl.participantAvatar }}")


h1 czat