.consultation-details-chat
  .messenger-maximized
    .messenger-messages
      .messenger-scroll
        //grouped-messages(data-ng-repeat="messages in $ctrl.groupedMessages track by $index" data-messages="messages"
        //data-participant-avatar="{{ :: $ctrl.participantAvatar }}")

        .grouped-messages.interlocutor
          .thumb.x48
            img.user-avatar(src="#asd")

          div
            .message
              .content
                span asd asd asd asd asdasd

        .grouped-messages
          .thumb.x48

          div
            .message
              .content
                span asd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas d
        .grouped-messages.interlocutor
          .thumb.x48
            img.user-avatar(src="#asd")

          div
            .message
              .content
                span asd asd asd asd asdasd

        .grouped-messages
          .thumb.x48

          div
            .message
              .content
                span asd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas dasd asd asd asd asdasd asdas d
