.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP5_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP5_DESCRIPTION")
    div
      .step-description
        p(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-fill-success
  .step-content-column
    .upload-field
      div
        i.icon.icon-upload-cloud
        i.icon.icon-upload-arrow.icon-overlay
      .upload-description
        h3(data-translate="COMMON.DIRECTIVES.INTERFACE.UPLOADER.HEADER")
        p(data-translate="COMMON.DIRECTIVES.INTERFACE.UPLOADER.INFO")

    .document-submit
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP5_UPLOAD_DOCUMENT")
      a.pro-btn.btn-main.btn-medium Referencje.pdf
      a.pro-btn.btn-main.btn-medium Referencje.pdf
      a.pro-btn.btn-main.btn-medium Referencje.pdf
