.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP4_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP4_DESCRIPTION")
    div
      .step-description
        p(data-translate="DASHBOARD.CREATE_PROFILE.STEP4_4OF6")
        i.icon.icon-fill-success
  .step-content
    .input-group
      textarea(data-ng-model="company-description")
