.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP2_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP2_DESCRIPTION")
    div
      .step-description
        p(data-translate="DASHBOARD.CREATE_PROFILE.STEP2_2OF6")
        i.icon.icon-fill-success
  .step-content-column
    .input-group
      input(placeholder="np: Profitelo" data-ng-model="company-name")
