.step.step-done
  .title-step
    .title-order
      h3 Nazwa Firmy*:
      p Podaj swoją nazwę firmy pod którą będziesz prowadził konsultacje.
    div
      .step-description
        p Krok 02/06 
        i.icon.icon-fill-success
  .step-content-column
    .input-group
      input(placeholder="np: Profitelo" data-ng-model="company-name")
