.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_CHOOSE_PROFILE_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_CHOOSE_PROFILE_DESCRIPTION")
    div
      .step-description
        p(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-fill-success
  .step-content
    .option
      i.icon.icon-private-person
      p(data-translate="DASHBOARD.MENU.STEP1_ONE_PERSON")
    .option.selected
      i.icon.icon-person-128
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP1_MORE_PERSON")
