.step.step-active
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP6_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP6_DESCRIPTION")
    div
      .step-description
        p(data-translate="DASHBOARD.CREATE_PROFILE.STEP6_6OF6")
    
  .step-content-column
    .links-submit
      .input-group
        input(placeholder="http://" data-ng-model="company-name")

    .links-submit
      h3 Twoje linki:
      a.pro-btn.btn-main.btn-medium http://www.facebook.com
      a.pro-btn.btn-main.btn-medium http://www.facebook.com
      a.pro-btn.btn-main.btn-medium http://www.facebook.com
      a.pro-btn.btn-main.btn-medium http://www.facebook.com
