.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP2_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP2_DESCRIPTION")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-success-24
  .step-content-column
    .input-group
      input(placeholder="np: Profitelo")
