.step.step-done
  .title-step
    .title-order
      h3 Dokumenty:
      p Wgraj certyfikaty, dokumenty lub wizytówkę firmy.
    div
      .step-description
        p Krok 05/06
        i.icon.icon-fill-success
  .step-content-column
    .upload-field
      div
        i.icon.icon-upload-cloud
        i.icon.icon-upload-arrow.icon-overlay
      .upload-description
        h3 Przeciągnij & Upuść
        p lub kliknij by wgrać pliki

    .document-submit
      h3 Wgrane dokumenty:
      a.pro-btn.btn-main.btn-medium Referencje.pdf
      a.pro-btn.btn-main.btn-medium Referencje.pdf
      a.pro-btn.btn-main.btn-medium Referencje.pdf
