.step.step-active
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP6_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP6_DESCRIPTION")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
    
  .step-content-column
    .links-submit
      pro-input(placeholder="http://")

    .links-submit
      div
        h3 Twoje linki:
        .step-content
          a.pro-btn.btn-main.btn-medium http://www.facebook.com
          a.pro-btn.btn-main.btn-medium http://www.facebook.com
          a.pro-btn.btn-main.btn-medium http://www.facebook.com
          a.pro-btn.btn-main.btn-medium http://www.facebook.com
