.step.step-done
  .title-step
    .title-order
      h3 Logo Firmy*:
      p Logo powinno być w formacie jpg, png i nie przekraczać 2mb.
    div
      .step-description
        p Krok 03/06 
        i.icon.icon-fill-success 
  .step-content-column
    .upload-field-description
      p Podgląd Pliku
    .upload-field
      div
        img(src="assets/logo.png")
    .upload-trash
      .btn-handler
        a(href="").pro-btn.btn-light.btn-icon
          i.icon.icon-trash
