@import "../modal/modal.component"
@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"

\:host
  display: block
  width: 100%

  .create-consultation

    &__remove-consultation
      margin: 0 24px 0 0

    &__submit-button-container
      display: flex
      justify-content: center

    am-core-tooltip
      margin: 0 0 0 4px

    am-core-input-prefix
      &::ng-deep
        .input-prefix
          max-width: 180px

    .consultation-name-container
      margin: 0 0 56px

    .consultation-type-container
      display: flex
      flex-wrap: wrap
      margin: 0 -12px

      +xsm
        flex-wrap: nowrap

    .consultation-type
      flex: 1 auto
      cursor: pointer
      padding: 16px
      border: 1px solid $c-lines
      border-radius: 4px
      margin: 0 12px
      box-sizing: border-box
      transition: background-color 0.3s ease, border 0.3s ease

      +xsm
        flex: 1 0

      +smm
        padding: 24px

      &:first-of-type
        margin: 0 12px 16px

        +xsm
          margin: 0 12px

      &:hover
        border-color: $c-black

      &--selected
        border-color: $c-text-primary
        background: $c-text-primary

        .consultation-type__title
          color: $c-white

        .consultation-type__description
          color: $c-half-white

      &--disabled
        cursor: default

        &:not(.consultation-type--selected)
          .consultation-type__title
            color: $c-placeholder

          .consultation-type__description
            color: $c-placeholder

        &:hover
          border-color: $c-lines

      &__title
        +subtitle
        font-weight: 500
        margin: 0 0 8px

      &__description
        +caption
        font-weight: 500
        color: $c-label
