plat-modal-component(
[modalTrTitleHeader]="modalHeaderTrKey"
)
  .modal-form.create-consultation
    form(
    contentHeightAnimation,
    [id]="formId",
    [formGroup]="createConsultationForm",
    novalidate
    )
      div(*ngIf="!payload.isExpertConsultation")
        header.modal-component__content__header
          span([translate]="'CREATE_COMPANY_CONSULTATION.CONSULTATION_TYPE_SECTION.TITLE'")

        .modal-form__row
          .consultation-type-container
            .consultation-type(
            (click)="onEmployeeConsultation()",
            [ngClass]="{'consultation-type--disabled': isRequestPending || payload.serviceDetails, 'consultation-type--selected': !isFreelance}"
            )
              header.consultation-type__title([translate]="'CREATE_COMPANY_CONSULTATION.CONSULTATION_TYPE_SECTION.EMPLOYEE_TYPE.TITLE'")
              p.consultation-type__description([translate]="'CREATE_COMPANY_CONSULTATION.CONSULTATION_TYPE_SECTION.EMPLOYEE_TYPE.DESCRIPTION'")

            .consultation-type(
            (click)="onFreelanceConsultation()",
            [ngClass]="{'consultation-type--disabled': isRequestPending || payload.serviceDetails, 'consultation-type--selected': isFreelance}"
            )
              header.consultation-type__title([translate]="'CREATE_COMPANY_CONSULTATION.CONSULTATION_TYPE_SECTION.FREELANCE_TYPE.TITLE'")
              p.consultation-type__description([translate]="'CREATE_COMPANY_CONSULTATION.CONSULTATION_TYPE_SECTION.FREELANCE_TYPE.DESCRIPTION'")

      header.modal-component__content__header
        span([translate]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.TITLE'")
        am-core-tooltip(
        [tooltipText]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.TITLE.TOOLTIP'"
        )

      .modal-form__row--small
        am-core-input-prefix(
        label="CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.LANGUAGE_LABEL",
        [value]="'Polski'"
        )

      .modal-form__row--small
        am-core-input-text(
        [label]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.NAME_LABEL'",
        [placeholder]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.NAME_PLACEHOLDER'",
        [isRequired]="true",
        [minLength]="minValidNameLength",
        [maxLength]="maxValidNameLength",
        [controlName]="nameControlName",
        [isDisabled]="isRequestPending",
        [form]="createConsultationForm",
        [initialFocus]="true",
        [errorTextKey]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.NAME_LENGTH_ERROR'"
        )

      .modal-form__row
        am-core-textarea-primary(
        [label]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.DESCRIPTION_LABEL'",
        [placeholder]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.DESCRIPTION_PLACEHOLDER'",
        [isRequired]="true",
        [minLength]="minValidDescriptionLength",
        [maxLength]="maxValidDescriptionLength",
        [controlName]="descriptionControlName",
        [form]="createConsultationForm",
        [isDisabled]="isRequestPending",
        [errorTextKey]="'CREATE_EXPERT_CONSULTATION.MAIN_DATA_SECTION.DESCRIPTION_LENGTH_ERROR'"
        )

      .modal-form__row
        header.modal-component__content__header
          span([translate]="'CREATE_EXPERT_CONSULTATION.CONSULTATION_SECTION.TITLE'")
          am-core-tooltip(
          [tooltipText]="'CREATE_EXPERT_CONSULTATION.CONSULTATION_SECTION.TITLE.TOOLTIP'"
          )

        plat-consultation-tags(
        [label]="'CREATE_EXPERT_CONSULTATION.CONSULTATION_SECTION.TAGS_LABEL'",
        [placeholder]="'CREATE_EXPERT_CONSULTATION.CONSULTATION_SECTION.TAGS_PLACEHOLDER'",
        [isRequired]="true",
        [form]="createConsultationForm",
        [controlName]="tagControlName",
        [descriptionControlName]="descriptionControlName",
        [nameControlName]="nameControlName",
        [isDisabled]="isRequestPending",
        [tagNames]="tagNames",
        (selectedTagsEmitter$)="onSelectedTag($event)",
        contentHeightAnimation
        )

      header.modal-component__content__header
        span([translate]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.TITLE'")
        am-core-tooltip(
        [tooltipText]="'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.TITLE.TOOLTIP'"
        )

      plat-consultation-price(
      [labelWithoutCommission]="labelTrKey",
      [isRequired]="true",
      [form]="createConsultationForm",
      [withoutCommissionControlName]="priceWithoutCommissionControlName",
      [nettControlName]="nettPriceControlName",
      [isDisabled]="isRequestPending",
      [commission]="totalCommission",
      [nettPrice]="nettPrice",
      [isFreelanceService]="isFreelance"
      )

      .modal-form__row.calculation-data
        p.calculation-data__title {{ 'CREATE_EXPERT_CONSULTATION.PRICE_SECTION.COMMISSION.TITLE' | translate }}
          span.calculation-data__value {{ getCommissionValueForUI() }}

        p.calculation-data__title(*ngIf="isFreelance") {{ 'CREATE_COMPANY_CONSULTATION.PRICE_SECTION.YOUR_PROFIT.TITLE' | translate }}
          span.calculation-data__value {{ getCompanyProfitForUI() }}

      .create-consultation__submit-button-container
        a.create-consultation__remove-consultation(
        *ngIf="isEditModal",
        plat-stroked-large-button,
        color='primary',
        (click)="deleteConsultation(payload.serviceDetails.id)") {{ 'CREATE_EXPERT_CONSULTATION.REMOVE_BUTTON' | translate }}

        am-core-submit-button(
        titleText="CREATE_EXPERT_CONSULTATION.SUBMIT_BUTTON",
        [formName]="formId",
        [isLoading]="isRequestPending",
        [isSubmitType]="false",
        (click)="onFormSubmit()"
        )
