@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "../../../../../../template/core/variables/variables"
@import "../../../../../../template/core/partials/grid"

\:host
  display: block
  width: 100%

  .basic-profile-data
    &__content
      +smm
        display: flex
        justify-content: flex-start
        align-items: center

      am-core-input-text
        flex: 1
        margin: 32px 0 0

        +smm
          margin: 32px 0 0 48px
