.basic-profile-data
  .basic-profile-data__content([formGroup]='profileDataForm')
    plat-avatar-uploader(
      [formControl]="avatarFormControl",
      [isDisabled]="isDisabled",
      [isOrganizationAvatar]="isOrganizationAvatar",
    )

    am-core-input-text(
      [label]="inputTextLabel",
      [placeholder]="inputTextPlaceholder",
      [errorTextKey]="'EDIT_PROFILE.INPUT.INPUT_NAME.VALIDATION.ERROR'",
      [form]="profileDataForm",
      [controlName]="profileNameControlName",
      [isRequired]="isRequired",
      [isDisabled] = "isDisabled",
      [minLength]="profileNameMinlength",
      [maxLength]="profileNameMaxlength",
      [initialFocus]="true"
    )
