.basic-profile-data
  .basic-profile-data__content
    .crop-photo
      app-avatar-uploader(
      [form]="form",
      [controlName]="avatarControlName",
      [isRequired]="isRequired",
      [isOrganizationAvatar]="isOrganizationAvatar",
      [avatarToken]="avatarToken"
      )

    am-core-input-text(
    [label]="inputTextLabel",
    [placeholder]="inputTextPlaceholder",
    [errorTextKey]="'EDIT_PROFILE.INPUT.INPUT_NAME.VALIDATION.ERROR'",
    [form]="form",
    [controlName]="profileNameControlName",
    [inputValue]="profileNameNgModel",
    [isRequired]="isRequired",
    [isDisabled] = "isDisabled",
    [minLength]="profileNameMinlength",
    [maxLength]="profileNameMaxlength",
    [initialFocus]="true"
    )
