pro-top-navbar(logout-action="appController.logout"
data-sidebar-handler="dashboardController.showSidebar" data-sidebar-status="dashboardController.isSidebarShown"
data-is-expert="dashboardController.expertProfileExist" data-show-navigation-menu="true")

.client
    .default-container
        client-navigation(data-is-favourite="vm.isFavourite")

    div(data-ui-view="")

pro-footer()
