plat-modal-component(
  [modalTrTitleHeader]="modalHeaderTrKey",
  [modalContainerClass]="modalWidth",
  [isBackwardVisible]="modalStep === modalSteps.PIN_VERIFICATION",
  [onBackwardClick]="onGoBack"
)

  ng-container([ngSwitch]="modalStep")
    plat-change-password(
      *ngSwitchCase="modalSteps.CHANGE_PASSWORD",
      (resetPasswordMethodEmitter$)="onRecoverPassword($event)",
      [msisdn]="msisdn"
    )

    plat-email-confirmation(
      *ngSwitchCase="modalSteps.EMAIL_CONFIRMATION",
    )

    plat-pin-verification(
      *ngSwitchCase="modalSteps.PIN_VERIFICATION",
      (pinVerificationEmitter$)="onPinVerification($event)",
      [msisdn]="msisdn",
      [verificationPurpose]="pinVerificationPurpose"
    )

    plat-set-new-password(
      *ngSwitchCase="modalSteps.SET_NEW_PASSWORD",
      [msisdn]="msisdn",
      [token]="pinToken"
    )
