@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.input-consultation-tag
  position: relative

  .checked-list
    margin: 0 0 32px

  p
    &.label
      +inputLabel
      margin: 0 0 8px

  .tag-list
    li
      a
        +default-font-medium
        height: 32px

    .icon
      font-size: $f-icon-16
      margin: 0 0 0 8px

  .recomended-tags
    li
      a
        span
          color: $c-primary
