.client-invoices
  .container
    header.entry-title
      span(data-translate="DASHBOARD.EXPERT_ACCOUNT.INVOICES.COMPANY_SECTION.HEADER")
      a.btn.btn-primary.btn-small(data-translate="DASHBOARD.EXPERT_ACCOUNT.INVOICES.CHANGE_BUTTON")

    .company-details
      p.no-data(data-ng-show="!vm.isAnyPaymentMethod"
      data-translate="DASHBOARD.EXPERT_ACCOUNT.INVOICES.NO_DATA")

      .info-tab(data-ng-show="vm.isAnyPaymentMethod")
        .info-tab-row
          .info-tab-content
            span {{ vm.invoiceInfo.companyName }}

        .info-tab-row
          .info-tab-content
            span {{ vm.invoiceInfo.vatNumber }}

        .info-tab-row
          .info-tab-content
            .address
              ul
                li {{ vm.invoiceInfo.address.street }}
                li {{ vm.invoiceInfo.address.number }}
                li {{ vm.invoiceInfo.address.zipCode }}
                li {{ vm.invoiceInfo.address.city }}

    header.entry-title(data-ng-if="vm.areInvoices")
      span(data-translate="DASHBOARD.EXPERT_ACCOUNT.INVOICES.INVOICES_SECTION.HEADER")

    expert-invoice(data-ng-if="vm.areInvoices")

    no-results-information(
      data-ng-if="!vm.areInvoices"
      data-icon-src="assets/images/profitelo_icons/icon_expert_no_invoices.png"
      data-information-title="DASHBOARD.EXPERT_ACCOUNT.INVOICES.NO_INVOICES.HEADER")

