@import "~@anymind-ng/core/src/template/stylesheets/core/core"

.preloader
	position: static


	&--full
		&::before
			content: ""
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			z-index: $z-index-1000
			background: $c-text-primary
			display: flex
			align-items: center
			justify-content: center
			
		&::after
			content: "\eabb"
			font-family: 'icons'
			font-size: $f-icon-24
			color: $c-white
			z-index: $z-index-1000
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			margin: auto
			width: 24px
			height: 24px
			animation: 0.6s linear rotate360Deg infinite
	
	&__icon-container
		display: flex
		align-items: center

		.icon
			animation: 0.6s linear rotate360Deg infinite

	&__message
		+preloader-message

	&__icon
		color: $c-white
		display: flex
		align-items: center
		font-size: $f-icon-24
		position: static
		
		&::before
			font-family: 'icons'
