.preloader([ngClass]="setPreloaderSize()", [@animation])
	span.preloader__icon-container
		span.preloader__icon.icon.icon-loading
	span.preloader__message {{ trMessage | translate }}

	ng-content(*ngIf="!isLoading")