@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"
@import "../../../../template/core/core"

.modal-component
  animation: fadeInY 0.3s
  animation-fill-mode: forwards
  height: 100vh

  +xsm
    background: none
    height: auto

  &__scroll
    overflow: auto
    max-height: 100vh
    width: 100vw

    +mdm
      padding: 48px 0

  &__header
    height: $s-modal-header
    background: $c-white
    display: flex
    justify-content: space-between
    align-items: center
    box-shadow: 0 1px 2px 0 $c-boxshadow-header-modal
    margin: auto
    position: fixed
    width: inherit
    left: inherit
    top: 0
    border-radius: 8px 8px 0 0
    z-index: $z-index-1000

    +smm
      position: absolute
      left: 0
      top: 0
      width: 100%

    &__nav
      position: absolute
      top: 0
      width: 56px
      height: 56px
      display: flex
      align-items: center
      justify-content: center
      z-index: $z-index-100

      &:first-of-type
        left: 0

      &:last-of-type
        right: 0

      a
        height: 24px
        max-height: 24px
        width: 24px
        max-width: 24px
        overflow: hidden
        cursor: pointer
        padding: 0

      .icon
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        background: $c-lines
        transition: background-color 0.1s ease-in

        &:hover
          background: $c-text-secondary

          &::before
            color: $c-white

        &::before
          transition: color 0.1s ease-in
          color: $c-text-secondary

    &--fixed
      border-radius: 8px 8px 0 0
      position: fixed
      width: inherit
      left: inherit
      top: 0

    &__title
      +subtitle
      text-align: center
      flex: 1

      p
        +subtitle

  &__container
    box-shadow: 0 16px 24px 0 $c-lines
    background: $c-white
    margin: 0 auto
    display: block
    position: relative
    width: 100%
    border-radius: 8px

    +lgm
      width: $s-modal-container-medium

    &--medium
      +mdm
        width: $s-modal-container-medium

    &--small
      +xsm
        width: $s-modal-container-small

    &--no-padding
      .modal-component__content
        padding: $s-modal-header 0 0

      +mdm
        width: $s-modal-container-medium

    &--cropp
      .modal-component__content
        padding: $s-modal-header 0 0

      +xsm
        width: $s-modal-container-crop

  &__content
    position: relative
    min-height: 128px
    padding: 48px + $s-modal-header 16px 48px

    +smm
      padding: 48px + $s-modal-header 48px 48px

    &--loading
      &::before
        content: ""
        position: absolute
        left: 0
        top: calc(#{$s-modal-header} + 1px)
        right: 0
        bottom: 0
        z-index: $z-index-1000
        background: $c-white
        display: flex
        align-items: center
        justify-content: center
        height: calc(100% - #{$s-modal-header} - 1px)

      &::after
        content: "\eabb"
        font-family: 'icons'
        font-size: $f-icon-24
        color: $c-primary
        z-index: $z-index-1000
        position: absolute
        left: 0
        top: $s-modal-header
        right: 0
        bottom: 0
        margin: auto
        width: 24px
        height: 24px
        animation: 0.6s linear rotate360Deg infinite

    &__header
      margin: 0 0 24px
      display: flex
      align-items: center

      am-core-tooltip
        display: inline-block
        vertical-align: middle

      > span
        +h6

        span
          color: $c-label

  &__handler
    +smm
      display: flex
      align-items: center
      justify-content: flex-start

  &__action
    text-align: center
    margin: 48px 0 0

    > *
      margin: 0 0 24px

    +smm
      display: flex
      align-items: center
      justify-content: space-between

      > *
        margin: initial

  &__footer
    color: $c-white
    background: $c-text-primary
    padding: 24px 16px
    border-radius: 0 0 8px 8px

    +smm
      padding: 32px

    +mdm
      padding: 32px 48px

.modal-form
  animation: none
  border: 0

  &__row
    display: block
    margin: 0 0 48px

    &--small
      margin: 0 0 24px

.create-consultation
  &__submit-button-container
    display: flex
    justify-content: center

  am-core-tooltip
    margin: 0 0 0 4px

  am-core-input-prefix
    &::ng-deep
      .input-prefix
        max-width: 180px

  .consultation-name-container
    margin: 0 0 56px

  .calculation-data
    margin: 8px 0 48px

    &__title
      +subtitle
      color: $c-label

    &__value
      +subtitle
      color: $c-text-primary
      font-weight: 500
      margin: 0 0 0 4px
