.modal-component
  .modal-component__scroll(pinElement="modal-component__header",
    stickyModalFooter, [modalContentElement]="contentModalElement", [footerModalElement]="footerModalElement")
    .modal-component__container([ngClass]="setModalContainerWidth()")
      plat-modal-header(
      [titleTrHeader]="modalTrTitleHeader",
      [isBackwardVisible]="isBackwardVisible",
      [isCloseButtonVisible]="isCloseButtonVisible",
      (backwardClick)="onBackClick()"
      )

      .modal-component__hidden-content
        .modal-component__content(modalAnimationComponent, #contentModalElement)
          .modal-component__content--loading(*ngIf="isLoading")
            span(plat-icon, iconClass='loading')
          div(contentHeightAnimation, *ngIf="!isLoading")
            ng-content

      .modal-component__footer(#footerModalElement)
        ng-content(select=".modal-footer")
