.modal-component
  .modal-component__scroll(pinElement="modal-component__header")
    .modal-component__container([ngClass]="setModalContainerWidth()")
      plat-modal-header(
      [titleTrHeader]="modalTrTitleHeader",
      [isBackwardVisible]="isBackwardVisible",
      [isCloseButtonVisible]="isCloseButtonVisible",
      (backwardClick)="onBackClick()"
      )

      .modal-component__content(modalAnimationComponent)
        .modal-component__content--loading(*ngIf="isLoading")
          span(plat-icon, iconClass='loading')
        div(contentHeightAnimation, *ngIf="!isLoading")
          ng-content

      .modal-component__footer
        ng-content(select=".modal-footer")
