@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import "~@anymind-ng/core/src/template/stylesheets/interface/animations/animations"
@import "../../../../template/core/core"

.modal-component
  background: $c-white
  animation: fadeInY 0.3s
  animation-fill-mode: forwards
  height: 100vh

  +xsm
    background: none
    height: auto

  &__scroll
    overflow: auto
    max-height: 100vh
    width: 100vw

    +smm
      padding: 48px 24px

    +mdm
      padding: 48px 0

  &__header
    height: $s-modal-header
    background: $c-white
    display: flex
    justify-content: space-between
    align-items: center
    box-shadow: 0 1px 2px 0 $c-boxshadow-header-modal
    margin: auto
    position: fixed
    width: inherit
    left: inherit
    top: 0
    border-radius: 8px 8px 0 0
    z-index: $z-index-1000

    +smm
      position: absolute
      left: 0
      top: 0
      width: 100%

    &__nav
      position: absolute
      top: 0
      width: 56px
      height: 56px
      display: flex
      align-items: center
      justify-content: center
      z-index: $z-index-100

      &:first-of-type
        left: 0

      &:last-of-type
        right: 0

      a
        height: 24px
        max-height: 24px
        width: 24px
        max-width: 24px
        overflow: hidden
        cursor: pointer
        padding: 0

      .icon
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        background: $c-lines
        transition: background-color 0.1s ease-in

        &:hover
          background: $c-text-secondary

          &::before
            color: $c-white

        &::before
          transition: color 0.1s ease-in
          color: $c-text-secondary

    &--fixed
      border-radius: 8px 8px 0 0
      position: fixed
      width: inherit
      left: inherit
      top: 0

    &__title
      +subtitle
      text-align: center
      flex: 1

      p
        +subtitle

  &__container
    box-shadow: 0 16px 24px 0 $c-lines
    background: $c-white
    margin: 0 auto
    position: relative
    width: 100%
    border-radius: 8px
    overflow: hidden

    +smm
      display: block
      min-height: 0

    +lgm
      width: $s-modal-container-medium

    &--medium
      +mdm
        width: $s-modal-container-medium

    &--small
      +smm
        width: $s-modal-container-small

    &--no-padding
      .modal-component__content
        padding: $s-modal-header 0 0

      +mdm
        width: $s-modal-container-medium

    &--crop
      .modal-component__content
        padding: $s-modal-header 0 0

      +xsm
        width: $s-modal-container-crop

    &--no-padding-small
      .modal-component__content
        padding: $s-modal-header 0 0

      +xsm
        width: $s-modal-container-small

  &__content
    position: relative
    padding: 24px + $s-modal-header 16px 24px
    min-height: 100vh

    +mdm
      min-height: 256px
      padding: 32px + $s-modal-header 48px 32px

    +lgm
      padding: 48px + $s-modal-header 48px 48px

    &--loading
      display: flex
      justify-content: center
      align-items: center
      height: 100%
      width: 100%
      position: absolute
      left: 0
      top: 0

      span
        margin: $s-modal-header 0 0
        display: block
        width: 24px
        height: 24px
        color: $c-primary
        animation: rotate360Deg 0.6s linear infinite

    &__header
      margin: 0 0 24px
      display: flex
      align-items: center

      am-core-tooltip
        display: inline-block
        vertical-align: middle

      > span
        +h6

        span
          color: $c-label

  &__handler
    +smm
      display: flex
      align-items: center
      justify-content: flex-start

  &__action
    text-align: center
    margin: 48px 0 0

    > *
      margin: 0 0 24px

    +smm
      display: flex
      align-items: center
      justify-content: space-between

      > *
        margin: initial

  &__footer
    position: fixed
    left: inherit
    bottom: 0
    width: inherit
    
    +smm
      width: calc(100% - 48px)

    +mdm
      width: inherit
      position: static

    &--fixed
      position: fixed

      &::ng-deep
        .consultation-footer
          border-radius: 0
