.modal-component
  .modal-component__scroll(pinElement="modal-component__header")
    .modal-component__container([ngClass]="setModalContainerWidth()")
      plat-modal-header(
        [titleTrHeader]="modalTrTitleHeader",
        [onBackwardClick]="onBackClick",
        [isBackwardVisible]="isBackwardVisible"
      )

      .modal-component__content
        ng-content
