.braintree-form
  .charge-container
    display: flex
    flex-wrap: wrap
    margin: 0 0 32px

    +smm
      margin: 0

  .hosted-field
    background: $c-white
    height: 56px
    position: relative
    display: flex
    padding: 0
    width: 100%
    overflow: hidden
    margin: 0 0 $s-input-margin
    flex: 0 0 128px

    &:first-child
      flex: 1 0 100%

    &:nth-child(2)
      padding: 0 8px 0 0

    &:nth-child(3)
      padding: 0 0 0 8px

      label
        left: 8px

    label
      +inputLabel
      position: absolute
      top: 0
      left: 0

    .form-group
      height: $f-input-height
      width: 100%

      .form-control
        position: relative
        transition: border-color 0.2s
        height: $f-input-height
        padding: 22px 0 0

        &::before
          content: ''
          position: absolute
          bottom: 0
          left: 0
          right: 0
          margin: auto
          height: 1px
          width: 100%
          background: $c-lines

        &::after
          transition: width 0.3s ease-out
          content: ''
          position: absolute
          bottom: 0
          left: 0
          right: 0
          margin: auto
          height: 1px
          width: 100%
          animation: inputBorderLineAnimationOut 0.3s

        &.braintree-hosted-fields-focused
          &::after
            animation: inputBorderLineAnimation 0.3s
            animation-fill-mode: forwards


        &.braintree-hosted-fields-invalid
          border-color: $c-error

        &.braintree-hosted-fields-valid
          border-color: $c-success

        &#expiration-date
          margin: 0 8px 0 0

    #card-type
      height: 54px
      border-radius: 0
      display: inline-flex
      align-items: center
      color: $c-secondary-txt
      font-size: $f-btn-small
      width: auto !important
      padding: 0 16px !important
      position: absolute
      right: 0
      top: 0

  .pro-input
    margin: 0 0 16px

  .checkbox
    text-align: left

    p
      font-size: $f-paragraph-title
      padding: 0 0 0 32px

  .card-limit
    max-width: 160px

  .modal-container
    display: block
    text-align: center

    +smm
      display: flex
      flex-wrap: wrap

  .modal-footer
    padding: 0
    background: $c-background
