@import "../../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/variables/variables"
@import "../../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/helpers/helpers"

.user-navigation
  display: flex
  justify-content: space-between

  &__list
    display: flex
    justify-content: space-around
    align-items: center

    span
      color: $c-text-primary

    &--expert, &--company
      display: none

      li
        margin: 0 24px 0 0

        a
          span
            +buttonTextSmall
            color: $c-text-secondary

          &:hover
            span
              color: $c-primary

      +mdm
        display: flex

    &--menu
      li
        a
          margin: 0 8px 0 0
          display: flex

        span
          font-size: 32px
          color: $c-text-secondary

          &:hover
            color: $c-primary

        &:last-child
          cursor: pointer

          +xsm
            margin: 0 0 0 8px
