@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"
@import "../../../../template/core/shared/navbar-user-menu"

.user-navigation
  display: flex
  justify-content: space-between
  position: relative
  height: 100%

  &__underline
    display: none

    +mdm
      position: absolute
      top: 100%
      left: 0
      display: block
      height: 1px
      background: $c-primary

  &__list
    display: flex
    justify-content: space-around
    align-items: center

    span
      color: $c-text-primary

    &--expert, &--company
      display: none

      li
        margin: 0 24px 0 0

        a
          span
            +button-small
            color: $c-text-primary

          &:hover
            span
              color: $c-primary

        &.active
          a
            span
              color: $c-primary

      +lgm
        display: flex

    &--menu
      li
        a
          margin: 0 8px 0 0
          display: flex

        span
          font-size: 32px
          color: $c-text-primary

          &:hover
            color: $c-primary

        &:last-child
          cursor: pointer

          +xsm
            margin: 0 0 0 8px
