.user-navigation

  //ul.expert-navigation
  //  li
  //    a
  //      span {{ "NAVBAR.DISCOVER" | translate }}
  //  li
  //    a
  //      span {{ "NAVBAR.ACTIVITIES" | translate }}
  //  li
  //    a
  //      span {{ "NAVBAR.FAVOURITE" | translate }}

  //ul.organization-navigation()
  //  li
  //    a
  //      span {{ "NAVBAR.DISCOVER" | translate }}
  //  li
  //    a
  //      span {{ "NAVBAR.ACTIVITIES" | translate }}

  ul.menus-navigation
    li
      a
        span.icon.icon-information
    li
      a
        span.icon.icon-bell
    li
      a
        span.icon.icon-avatar
