.user-navigation
  ul.user-navigation__list.user-navigation__list--company(
  *ngIf="isCompany; else userMenu")
    li(routerLinkActive="active", #listElement)
      a(routerLink="/dashboard/company/activities")
        span {{ "NAVBAR.COMPANY_ACTIVITIES" | translate }}
    li(routerLinkActive="active", #listElement)
      a(routerLink="/dashboard/company/employees")
        span {{ "NAVBAR.COMPANY_EMPLOYEES" | translate }}

  ng-template(#userMenu)
    ul.user-navigation__list.user-navigation__list--expert
      li([hidden]="!isUserExpert", routerLinkActive="active", #listElement)
        a(routerLink="/dashboard/user/expert-activities")
          span {{ "NAVBAR.EXPERT_ACTIVITIES" | translate }}
      li(routerLinkActive="active", #listElement)
        a(routerLink="/dashboard/user/discover")
          span {{ "NAVBAR.DISCOVER" | translate }}
      li(routerLinkActive="active", #listElement)
        a(routerLink="/dashboard/user/client-activities")
          span {{ "NAVBAR.ACTIVITIES" | translate }}
      li(routerLinkActive="active", #listElement)
        a(routerLink="/dashboard/user/favourites")
          span {{ "NAVBAR.FAVOURITE" | translate }}

  .user-navigation__underline(userNavigationUnderlineDirective [currentItem$]="currentElement$")

  ul.user-navigation__list.user-navigation__list--menu
    li
      a
        span.icon.icon-questionmark
    li
      a
        span.icon.icon-bell
    li
      plat-navbar-user-avatar()
        plat-navbar-user-menu(*ngIf="!isUserExpert")
        plat-navbar-expert-menu(*ngIf="isUserExpert")
