form.wizard-step(data-ng-class="{'is-active': $ctrl.isActive, 'is-showed': $ctrl.isShowed}" autocomplete="off")
  header.entry-title
    span {{ $ctrl.title | translate }}
    span.is-required(data-ng-if="$ctrl.required") *
    tooltip(data-ng-if="$ctrl.tooltipText" data-tooltip-text="{{$ctrl.tooltipText}}")

  p.additional-text(data-ng-if="$ctrl.additionalText") {{ $ctrl.additionalText | translate }}

  .wizard-content
    ng-transclude

  .wizard-step-action(data-ng-if="!$ctrl.isButtonsHide")
    button.btn.btn-default(
    data-translate="{{$ctrl.buttonTitle}}"
    data-ng-click="$ctrl.onClickNext()"
    data-ng-disabled="!$ctrl.checkIsButtonDisabled()")

    button.btn.btn-primary(data-translate="WIZARD.STEP.BUTTON.BACK" data-ng-click="$ctrl.onClickBack()")
