.invoice-form
  [class*="invoice-form"]
    margin: 0 0 $s-input-section-margin 0

  .dropdown-input
    margin: 0 0 $s-input-margin

  .vat-input-handler
    margin: 0 0 $s-input-margin

    p
      color: $c-secondary-txt
      font-size: $f-paragraph-title

    > div
      margin: 0 0 $s-input-margin
      display: flex

      input-primary
        margin: 0 24px 0 0

    p
      padding: 8px 0
      font-size: $f-paragraph-title

  input-primary
    margin: 0 0 $s-input-margin

  .invoice-address-nr
    display: flex
    margin: 0 0 $s-input-margin

    input-primary
      margin: 0 24px 0 0
      max-width: 128px

  .invoice-tax
    margin: 0 0 $s-input-margin
    text-align: right

    p
      +default-font-medium
      color: $c-primary-txt
      font-size: $f-paragraph
