.payments-options.payments.default-container
   .no-results-page
     .no-results-page-content
      img(data-ng-src="/assets/images/profitelo_icons/icon_payments.png")
      h2(data-translate="{{:: 'SETTINGS.PAYMENTS.NO_RESULTS.TITLE' | translate}}")
      a.btn.btn-default(data-ui-sref="app.dashboard.charge-account")
        | {{:: 'SETTINGS.PAYMENTS.NO_RESULTS.BUTTON' | translate}}
        span.icon.icon-upload-arrow-24

