@import "~@anymind-ng/core/src/template/stylesheets/core/variables/colors"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/mixins/mixins"
@import "../../../../template/core/partials/grid"

%transition
  transition: background 0.3s ease, color 0.3s ease

.consultation-layout
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  cursor: pointer

  &:hover
    .consultation-layout__amount-button
      @extend %transition
      color: $c-white
      background-color: $c-primary

  &__for
    +subtitle-small
    margin-bottom: 12px

    &-caption
      color: $c-label

    &-company
      margin-left: 4px
      font-weight: 500
      color: $c-primary

  &__header
    +paragraph-small
    margin-bottom: 12px

    +smm
      +h6

  &__price
    +button-small
    font-weight: 500
    position: absolute
    right: 0
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: flex-end

    +smm
      +h6
      font-weight: 500

    +mdm
      position: static
      justify-content: center

  &__amount
    display: flex
    flex-direction: row
    align-items: center

    &__currency
      margin: 0 0 0 4px
      font-weight: 400

    &-button
      display: none

      +mdm
        margin-left: 16px
        display: flex
