.top-modal-navbar
  position: absolute
  top: 0
  right: 0
  display: flex
  justify-content: flex-end

  +smm
    z-index: $z-index-700

  .btn-close
    border: 0

    span
      color: $c-tertiary-txt
      font-size: $f-icon-22
