
<div class="messenger-maximized" [hidden]="!isMessengerValue" [ngClass]="{'messenger-maximized-on': isMessengerValue, 'messenger-maximized--before-animation': beforeAnimation}">
  <div class="messenger-maximized__header mobile-visible">
    <div class="messenger-maximized__header__back-button" (click)="minimizeMessenger()"><span class="icon icon-22 icon-backward"></span></div><span>{{ 'FEATURE.COMMUNICATOR.MESSENGER.CHAT_WITH' | translate }} {{ participantName | translate }}</span><span></span>
  </div>
  <div class="messenger-maximized__header desktop-visible"><span>{{ 'FEATURE.COMMUNICATOR.MESSENGER.CHAT_WITH' | translate }} {{ participantName | translate }}</span></div>
  <div class="messenger-maximized__messages" #chat>
    <div class="message-list" [ngClass]="{'message-list--typing': isTyping}">
      <am-core-grouped-messages class="messenger-maximized__grouped-messages" *ngFor="let messages of groupedMessages" [messages]="messages" [participantAvatarUrl]="participantAvatar" [mineAvatarUrl]="mineAvatar"></am-core-grouped-messages>
    </div>
    <am-core-grouped-messages class="dot-message" [hidden]="!isTyping" [messages]="typingMessage" [participantAvatarUrl]="participantAvatar" [mineAvatarUrl]="mineAvatar"></am-core-grouped-messages>
    <div class="messenger-maximized__incoming" [hidden]="!isTyping"><span>{{ 'FEATURE.COMMUNICATOR.MESSENGER.EXPERT_TYPING' | translate }}</span></div>
    <div class="file-upload-error" [hidden]="!isFileUploadError"><a (click)="uploadAgain()"><span>{{ 'FEATURE.COMMUNICATOR.MESSENGER.UPLOAD_ERROR' | translate }}</span></a></div>
    <div class="file-upload-error file-upload-error--status" [hidden]="!isFileStatusError"><span>{{ errorText | translate }}</span></div>
  </div>
  <am-core-messenger-input [toggle]="isMessengerValue" [isFileUploading]="uploadedFile.progress" (typing)="indicateTypingDebounce()" (sendMessage)="onSendMessage($event)" (uploadFiles)="onUploadFiles($event)" (uploadingError)="onUploadFileError($event)"></am-core-messenger-input>
</div>