form.wizard-step(data-ng-class="{'is-active': $ctrl.isActive}")
  h1 {{$ctrl.isActive| json }}
  header.entry-title
    span {{ $ctrl.title }}

  .wizard-content
    ng-transclude

  .wizard-step-action
    a.btn.btn-primary(data-translate="WIZARD.STEP.BUTTON.BACK" data-ng-click="$ctrl.onClickBack()")
    a.btn.btn-default(data-translate="WIZARD.STEP.BUTTON.NEXT" data-ng-click="$ctrl.onClickNext()")
