@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.wizard-step
	position: relative

	&::after
		content: ""
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: rgba($c-white, 0.8)
		z-index: $z-index-900
		transition: opacity 0s, z-index 0.3s
		opacity: 1

	.entry-title
		padding: 0

		span
			color: $c-primary-txt

	.additional-text
		color: $c-tertiary-txt

	.wizard-content
		opacity: 0
		margin: 0 0 32px
		transition: opacity 0.3s

	.wizard-step-action
		opacity: 0

		.btn
			margin: 0 16px 0 0

	.input-group
		&::before, &::after
			content: none

		input
			font-size: $f-input-big
			line-height: 54px

	.tooltip
		margin: 0 0 0 8px

	&.is-showed
		.wizard-content
			opacity: 1
			animation: none

		.wizard-step-action
			opacity: 0

	&.is-active
		&::after
			transition: opacity 0.3s, z-index 0.3s 0.3s
			opacity: 0
			z-index: -$z-index-100

		.wizard-content
			opacity: 1

		.wizard-step-action
			opacity: 1
			animation: fadeInX 0.3s
