@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.wizard-step
  .entry-title
    padding: 0 0 8px

    span
      color: $c-primary-txt

  .wizard-content
    margin: 0 0 32px

  .wizard-step-action
    .btn
      margin: 0 16px 0 0

  .input-group
    &::before, &::after
      content: none

    input
      font-size: $f-input-big
      line-height: 54px
