@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.wizard-step
	position: relative
	margin: 0

	&::after
		content: ""
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: rgba($c-white, 0.8)
		z-index: $z-index-900
		transition: opacity 0s, z-index 0.3s
		opacity: 1

	.entry-title
		padding: 0
		align-items: flex-start

		.tooltip
			margin: 4px 0 0 8px

		span
			color: $c-primary-txt

	.additional-text
		color: $c-tertiary-txt

	.wizard-content
		opacity: 0
		margin: 16px 0 32px
		transition: opacity 0.3s

		.dropdown-input
			&::before, &::after
				content: none

	.wizard-step-action
		display: flex
		flex-wrap: wrap
		opacity: 0

		+xsm
			flex-wrap: nowrap

		.btn
			order: 0
			margin: 0 0 24px 0
			flex: 1 0 100%

			+xsm
				flex: inherit
				margin: 0 16px 0 0

			&.btn.btn-default
				order: 1

	.input-group
		&::before, &::after
			content: none

		input
			font-size: $f-input-big
			line-height: $f-input-line-height
			position: relative
			z-index: $z-index-100

	.tooltip
		margin: 0 0 0 8px

	&.is-showed
		.wizard-content
			opacity: 1
			animation: none

		.wizard-step-action
			opacity: 0

	&.is-active
		&::after
			transition: opacity 0.3s, z-index 0.3s 0.3s
			opacity: 0
			z-index: -$z-index-100

		.wizard-content
			opacity: 1

		.wizard-step-action
			opacity: 1

	\::placeholder
		+default-font-light
		font-size: $f-input-big
		line-height: $f-input-line-height
		color: $c-lines
