.show-more-text
  .description(data-ng-style="vm.textHeight")
    p(ng-bind-html="vm.text | limitTo: vm.textLimit" data-ng-class="{'is-showed': vm.showDotsMore}") {{ ::vm.text }}

  a.btn.btn-show-more(data-ng-show="vm.text.length > vm.textLimit" data-ng-click="vm.showMoreText()" data-ng-class="{'show-less':vm.changeIcon}")
    span(data-translate="DASHBOARD.EXPERT_ACCOUNT.READ_MORE")
