.pro-chat-message-modal.switching-conversation.modal-checkbox
	.modal-header
		h4(data-translate="DASHBOARD.INVITATION.MODAL.SWITCHING_CONVERSATION_FOR")
			a.modal-close.circle
				span.icon.icon.icon-close-16

	.modal-contents
		button.pro-button.rectangle.primary.icon(data-ng-click="vm.switchDevice(0)")
			span.icon.icon.icon-heart-16
			| {{ "DASHBOARD.INVITATION.MODAL.SWITCHER_WIN10" | translate }}
		button.pro-button.rectangle.primary.icon(data-ng-click="vm.switchDevice(1)")
			span.icon.icon.icon-heart-16
			| {{ "DASHBOARD.INVITATION.MODAL.SWITCHER_ANDROID" | translate }}
		button.pro-button.rectangle.primary.icon(data-ng-click="vm.switchDevice(2)")
			span.icon.icon.icon-heart-16
			| {{ "APP.WIZARDS.CREATE_NEW_SERVICE.SWITCHER_IOS" | translate }}

