.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_RANGE_COST_PER_MINUTE")
      p(data-translate="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_COST_DESCRIPTION")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-success-24
  .cost-per-minute
    .left-input
      pro-input.cost-input(placeholder="{{'DASHBOARD.CONSULTATION_RANGE.CONSULTATION_COST_PLACEHOLDER' | translate}}" data-pro-model="cost" value="0")
    .right-choose
      pro-dropdown(data-model="currency" 
        data-placeholder="{{'DASHBOARD.CONSULTATION_RANGE.CURRENCY_PLACEHOLDER' | translate}}" 
        data-pro-items="vm.currency")
      
      
  h4(data-translate="DASHBOARD.CONSULTATION_RANGE.COST_SUMMARY")
