.person-summary
  .photo
    img(src="assets/images/logo_profitelo_black.png")
  .description
    .name
      h3 Profitelo
    .person-description
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nibh lacus, sollicitudin ut pretium id, placerat sit amet turpis. Nam eu arcu at nisl gravida tincidunt. Nam fermentum turpis felis, bibendum convallis mi viverra volutpat.
