.input-switch
  span.input-switch__status-text.input-switch__status-text--on(*ngIf="isInputChecked && turnOnTrKey && turnOffTrKey", [translate]="turnOnTrKey")
  span.input-switch__status-text.input-switch__status-text--off(*ngIf="!isInputChecked && turnOnTrKey && turnOffTrKey", [translate]="turnOffTrKey")
  label.input-switch__label((click)="onSwitcherClick($event)")
    .input-switch__switcher-container
      input(
        type="checkbox",
        [checked]="isInputChecked"
      )
      span.input-switch__switcher
    span.input-switch__label-text(*ngIf="labelTrKey", [translate]="labelTrKey")