@import "../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.single-service
  .service-row
    display: block

    +smm
      display: flex

      .consultation-title
        span
          color: $c-tertiary-txt

    .service-action
      display: flex
      justify-content: space-between

      .profile-preview
        margin: 0

    .consultation-title
      margin: 0 0 16px

      +smm
        margin: 0
        padding: 0 24px 0 0

      span
        +paragraphSmall
        color: $c-primary-txt

  .additional-text
    +paragraphTitle
    color: $c-tertiary-txt
    font-size: $f-paragraph-small

  .service-action
    +xsm
      display: flex
      align-items: center
      flex: 0
      min-width: 400px

    .service-owner
      span
        +paragraphSmall

      .company-link
        +default-font-bold
        color: $c-primary
        display: block

  .btn-handler
    display: flex
    justify-content: space-between
    justify-content: flex-end
    margin: 0

    +smm
      margin: 0 0 0 48px
      min-width: 96px
      
    .btn
      width: auto
      margin: 0

      &:last-child
        margin: 0 0 0 24px
