.single-service(data-ng-if="!$ctrl.isDeleted")
  .list-row.service-row
    .consultation-title
      span {{ $ctrl.serviceName }}

    .service-action
      .service-company-profile(data-ng-show="!$ctrl.isOwnerOfService")
        .profile-preview
          user-avatar.thumb.x48(data-image-token="$ctrl.serviceOwnerLogo")
          .service-owner
            span.works-as-text(data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.PROFILE.FREELANCE_SERVICE"
            data-ng-if="$ctrl.isFreelance")

            span.works-as-text(data-ng-if="!$ctrl.isFreelance" data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.PROFILE.CONSULTING_AS_EMPLOYEE")
            span.company-link {{ $ctrl.serviceOwnerName }}

      .service-company-profile(data-ng-show="$ctrl.isOwnerOfService")
        .profile-preview
          .service-owner
            span.works-as-text(data-ng-if="!$ctrl.isFreelance" data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.PROFILE.OWN_CONSULTATION")

      .btn-handler
        a.btn.btn-link(data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.PROFILE.BUTTON.SUSPEND_ACTIVITY"
        data-ng-click="$ctrl.suspendProvideService()")
        a.btn.btn-link(data-translate="DASHBOARD.EXPERT_ACCOUNT.MANAGE_PROFILE.PROFILE.BUTTON.EDIT"
        data-ng-show="$ctrl.isOwnerOfService"
        data-ng-click="$ctrl.openServiceFormModal()")
