.collapse-tab(id="collapseWrap")
  .collapse-wrapper(data-ng-style="$ctrl.objectHeight")
    .collapse-content
      ng-transclude


  .default-container.show-more(data-ng-show="!$ctrl.checkedHeight()")
    a.btn.btn-show-more(data-ng-click="$ctrl.collapsing()" data-ng-class="{'show-less': $ctrl.isCollapse}")
      span(data-translate="DASHBOARD.EXPERT_ACCOUNT.SHOW_OTHER_CONSULTATIONS")
