.collapse-tab(data-ng-class="{'is-collapse': $ctrl.isCollapse}")
  .single-consultation
    h1 ramka
  .single-consultation
    h1 ramka
  .single-consultation
    h1 ramka
  .single-consultation
    h1 ramka


a(data-ng-click="$ctrl.collapsing()") show more
