@mixin box($width, $height) {
  @extend .default-border;
  @extend .center-flex;
  @include css3-prefix(display, flex);
  @include css3-prefix(align-items, center);
  @include css3-prefix(flex-direction, column);

  width: $width;
  height: $height;
  cursor: pointer;
  margin: 15px;
  padding: 15px;
  background-color: $c-primary-background;
}