.single-consultation.expert-profile-consultation
  .consultation-wrapper
    .consultation-content(data-ng-class="{'is-company': !!serviceTagsEmployeesTuple.service.organizationDetails}")
      .consultation-details
        .consultation-price
          span {{ $ctrl.serviceTagsEmployeesTuple.service.details.price.amount/100  | number: 2}}
            span.currency {{ $ctrl.serviceTagsEmployeesTuple.service.details.price.currency }}{{ 'HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE' | translate }}

        div
          .consultation-title
            h3
              span {{ $ctrl.serviceTagsEmployeesTuple.service.details.name }}

          ul.consultation-about
            li.options-item.recomendation
              span  {{ $ctrl.serviceTagsEmployeesTuple.service.rating || 0 }}% {{"SEARCH.RECOMMENDATION" | translate }}
            li.options-item.conversation-count
              span {{ $ctrl.serviceTagsEmployeesTuple.service.serviceUsageCounter || 0}} rozmowy
            //li.options-item.balance
              span Stan Twojego konta pozwala na ok. 1 min rozmowy

      .consultation-actions
        a.btn.btn-success.icon-left(data-ng-click="$ctrl.startCall()")
          span.icon.icon-call-16
          | {{ ::'HOME.TOP_CONTAINER.EXPERT_PROFILE.CALL' | translate }}

    pro-summary-tag(data-title="DASHBOARD.EXPERT_ACCOUNT.CONSULTATION_RANGE"
                    data-tags="$ctrl.tags" data-hide-more-tags="$ctrl.hideMoreTags")

    experts-consultation-slider(data-title="COMPANY_PROFILE.CONSULTATION_EMPLOYEES_SLIDER"
                                data-experts="$ctrl.experts" data-ng-show="$ctrl.experts.length > 0")