.single-consultation.expert-profile-consultation
  .consultation-wrapper
    .consultation-content(data-ng-class="{'is-company': !!service.organizationDetails}")
      .consultation-details
        .consultation-price
          span {{ $ctrl.service.details.price.amount/100  | number: 2}}
            span.currency {{ $ctrl.service.details.price.currency }}{{ 'HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE' | translate }}

        div
          .consultation-title
            h3
              span {{ $ctrl.service.details.name }}

          ul.consultation-about
            li.options-item.recomendation
              span  {{ $ctrl.service.recommendationsCounter }}% {{"SEARCH.RECOMMENDATION" | translate }}
            li.options-item.conversation-count
              span {{ $ctrl.service.serviceUsageCounter }} rozmowy
            li.options-item.balance
              span Stan Twojego konta pozwala na ok. {{ $ctrl.consultation.timeAverage }} min rozmowy

      .consultation-actions
        .profile-preview(data-ng-if="!!service.organizationDetails")
          .thumb.x48
            img.user-avatar(data-ng-src="{{ companyImage }}"  data-ng-class="{'is-not-uploaded': !companyImage}")

          .profile-name
            span {{ service.organizationDetails.name }}

        a.btn.success.icon-left(data-ng-click="vm.startCall()")
          span.icon.icon-call-16
          | {{ ::'HOME.TOP_CONTAINER.EXPERT_PROFILE.CALL' | translate }}

    pro-summary-tag(data-title="DASHBOARD.EXPERT_ACCOUNT.CONSULTATION_RANGE"
                    data-tags="$ctrl.tags" data-hide-more-tags="$ctrl.hideMoreTags")

    experts-consultation-slider(data-title="DASHBOARD.EXPERT_ACCOUNT.CONSULTATION_RANGE"
                                data-experts="$ctrl.experts" data-ng-hide="!$ctrl.experts")