@import "~@anymind-ng/core/src/template/stylesheets/core/variables/colors"

%display
  display: inline-block

@mixin outline-button($radius)
  @extend %display
  color: $c-text-primary
  border: solid 1px $c-placeholder
  border-radius: $radius
  background-color: transparent

%button-padding
  padding: 8px 24px

%button-padding-large
  padding: 16px 40px

%font-size-14
  font-size: 14px
  line-height: 24px
  font-weight: 500

%font-size-16
  font-size: 16px
  line-height: 24px

%icon-button
  width: 40px
  height: 40px
  padding: 0px
  border-radius: 50%
  display: inline-flex
  justify-content: center
  align-items: center

%transition
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease

.plat-icon-button
  @extend %icon-button
  @extend %transition
  +outline-button(20px)

  &:hover
    border-color: $c-text-primary

  &.plat-primary
    color: $c-primary
    border-color: $c-primary
    @extend %transition

    &:hover
      background-color: $c-primary
      color: $c-white

  &.plat-secondary
    color: $c-white
    border-color: rgba($c-white, 0.15)

    &:hover
      border-color: $c-white

.plat-stroked-button
  @extend %button-padding
  @extend %font-size-14
  @extend %transition
  +outline-button(20px)

  &:hover
    border-color: $c-text-primary

  &.plat-primary
    color: $c-primary
    border-color: $c-primary

  &.plat-secondary
    color: $c-white
    border-color: rgba($c-white, 0.15)

    &:hover
      border-color: $c-white

.plat-large-button
  @extend %button-padding-large
  @extend %font-size-16
  @extend %transition
  +outline-button(28px)
  color: $c-white

  &.plat-primary
    background-color: $c-primary

    &:hover
      background-color: $c-secondary

  &.plat-success
    background-color: $c-success-primary

    &:hover
      background-color: $c-success-secondary

.plat-large-icon-button
  @extend %button-padding-large
  @extend %font-size-16
  @extend %transition
  display: inline-flex
  justify-content: center
  padding: 16px 40px 16px 32px
  border-radius: 28px
  color: $c-white

  &.plat-primary
    background-color: $c-primary

    &:hover
      background-color: $c-secondary

  &.plat-success
    background-color: $c-success-primary

    &:hover
      background-color: $c-success-secondary

  span.icon
    display: inline-flex
    width: 24px
    height: 24px
    margin-right: 8px

.plat-stroked-large-button
  @extend %button-padding
  @extend %font-size-16
  @extend %transition
  +outline-button(20px)

  color: $c-primary
  background-color: $c-primary

  &:hover
    color: $c-secondary
    background-color: $c-secondary

.plat-mini-flat-fab
  @extend %display
  display: inline-block
  background-color: transparent
  width: 24px
  height: 24px
  padding: 0

.plat-flat-fab
  @extend %icon-button
  @extend %transition
  +outline-button(20px)

  &.plat-primary
    color: $c-white
    border-color: $c-primary
    background-color: $c-primary

    &:hover
      color: $c-primary
      border-color: $c-primary
      background-color: $c-white

.plat-button
  @extend %button-padding
  @extend %font-size-14
  @extend %transition
  +outline-button(20px)

  &.plat-primary
    color: $c-white
    background-color: $c-primary

    &:hover
      background-color: $c-secondary

.plat-button-link
  @extend %transition
  @extend %font-size-14
  color: $c-primary
