@import "~@anymind-ng/core/src/template/stylesheets/core/variables/colors"

%display
  display: inline-block

%outline-button
  @extend %display
  color: $c-text-primary
  border: solid 1px $c-placeholder
  border-radius: 20px
  background-color: transparent

%button-padding
  padding-top: 8px
  padding-bottom: 8px
  padding-left: 24px
  padding-right: 24px

%font-size-14
  font-size: 14px
  line-height: 24px
  font-weight: 500

%icon-button
  width: 40px
  height: 40px
  padding: 0px
  border-radius: 50%
  display: inline-flex
  justify-content: center
  align-items: center

%transition
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease

.plat-icon-button
  @extend %outline-button
  @extend %icon-button
  @extend %transition

  &:hover
    border-color: $c-text-primary

  &.plat-primary
    color: $c-primary
    border-color: $c-primary
    @extend %transition

    &:hover
      background-color: $c-primary
      color: $c-white

  &.plat-secondary
    color: $c-white
    border-color: rgba($c-white, 0.15)

    &:hover
      border-color: $c-white

.plat-stroked-button
  @extend %outline-button
  @extend %button-padding
  @extend %font-size-14
  @extend %transition

  &:hover
    border-color: $c-text-primary

  &.plat-primary
    color: $c-primary
    border-color: $c-primary

  &.plat-secondary
    color: $c-white
    border-color: rgba($c-white, 0.15)

    &:hover
      border-color: $c-white

.plat-button
  @extend %outline-button
  @extend %button-padding
  @extend %font-size-14
  border-color: transparent

.plat-mini-flat-fab
  @extend %display
  display: inline-block
  background-color: transparent
  width: 24px
  height: 24px
  padding: 0

.plat-flat-fab
  @extend %outline-button
  @extend %icon-button
  @extend %transition

  &.plat-primary
    color: $c-white
    border-color: $c-primary
    background-color: $c-primary

    &:hover
      color: $c-primary
      border-color: $c-primary
      background-color: $c-white

.plat-flat
  @extend %outline-button
  @extend %button-padding
  @extend %font-size-14
  @extend %transition

  &.plat-primary
    color: $c-white
    background-color: $c-primary

    &:hover
      background-color: $c-secondary

.plat-button-link
  @extend %transition
  @extend %font-size-14
  color: $c-primary
