@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.communicator-nav
  width: 100%
  height: 100%
  position: absolute
  z-index: $z-index-900
  left: 0
  top: 0
  display: flex
  align-items: flex-end
  justify-content: space-between
  flex-wrap: wrap
  align-content: space-between
  padding: 32px 0

  .communicator-upper-nav
    padding: 0 16px
    justify-content: flex-end

    +xsm-portrait
      flex: 1 0 100%
      display: flex

    +smm
      flex: 1 0 100%
      display: flex
      padding: 0 16px

    .communicator-window-nav
      display: none

      +smm
        display: flex

      &.hideable
        a
          bottom: 110px

      a
        bottom: 0px
        transition: bottom 1s ease

      .icon
        transform: rotate(90deg)

    a:first-child
      &.is-active
        span
          color: $c-white

        &:hover
          &::before
            background: $c-white

        &::before
          background: rgba($c-primary-txt, 0.8)

  .communicator-lower-nav
    flex: 1 0 100%
    display: flex
    justify-content: center
    margin: 0 0 24px

    +smm
      position: relative

    a
      transition: top 1s ease
      top: 0

    .hideable
      top: 150px

  .btn-circle
    margin: 0 6px
    overflow: visible

    +mdm
      margin: 0 16px

    span
      align-self: stretch
      margin: 0
      width: 100%

    &.black
      span
        &.icon-title
          +paragraphSmall
          font-size: $f-button-small
          color: $c-white
          position: absolute
          left: 0
          right: 0
          bottom: -24px
          margin: auto
          text-transform: none

      &:hover
        &::before
          +mdm
            width: 100%
            height: 100%

    &.cancel-conversation
      border: 0
      background: rgba($c-error, 0.8)
      box-shadow: 0 1px 4px 0 rgba($c-primary-txt, 0.15)

      &::before
        content: " "
        display: block
        width: 0
        height: 0
        background: $c-error
        position: absolute
        transition: all 0.2s
        border-radius: 50%
        z-index: -1

      span
        font-size: $f-icon-22
        color: $c-white

        &.icon-title
          +paragraphSmall
          font-size: $f-button-small
          color: $c-white
          position: absolute
          left: 0
          right: 0
          bottom: -24px
          margin: auto
          text-transform: none

      &.is-active
        &::before
          background: rgba($c-error, 1)
          animation: messenger-btn-animation 0.18s linear
          animation-fill-mode: forwards

        span
          color: $c-white

    &.is-active
      animation: messenger-btn-animation-seconds-active 0.3s 0.15s linear

      &::before
        animation: messenger-btn-animation 0.18s linear
        animation-fill-mode: forwards

      span
        color: $c-primary

    &.is-inactive
      animation: messenger-btn-animation-seconds-inactive 0.3s 0.15s linear

      &::before
        animation: messenger-btn-animation-inactive 0.18s linear

    &:hover:not(.cancel-conversation):not(.connect-conversation)
      span
        &:not(.icon-title)
          +mdm
            color: $c-primary

    &.chat-switcher
      align-self: flex-end

      +smm
        position: absolute
        margin: 0
        right: 32px
        top: 0
