body
  font-family: 'Open Sans', sans-serif
  color: $c-primary-text
  background-color: #ffffff

.main-container
  max-width: $max-width
  width: 100%
  margin: 0 auto


a
  cursor: pointer
  &:hover
    text-decoration: none