.round
  @include border-radius(50%)
  height: $icon-container-height
  width: $icon-container-width
  background-color: $c-primary-text

.center-in-circle
  line-height: $icon-container-height


.small-round
  @extend .default-border
  @include border-radius(50%)
  display: inherit
  height: $sm-round-size
  width: $sm-round-size
  background-color: #ffffff

.center-in-sm-circle
  line-height: $sm-round-size !important
  font-size: 10px

.filled-round
  @extend .small-round
  display: inherit
  border-color: $c-primary
  background-color: $c-primary

.pro-tooltip
  @extend .small-round
  @include css3-prefix(display, inline-flex)
  @include css3-prefix(justify-content, center)
  @include css3-prefix(align-items, center)
  @include css3-prefix(align-content, center)
  margin-left: 10px
  // TODO fix question mark color
  span
    color: blue !important
    font-weight: bold