.default-border
  border-style: solid
  border-width: 1px
  border-color: $c-lines

.center-flex
  display: flex
  justify-content: center
  align-items: center
  flex-flow: row

.inline-block
  display: inline-block
// circle

.round
  @include border-radius(50%)
  height: $icon-container-height
  width: $icon-container-width
  background-color: $c-primary-text

.center-in-circle
  line-height: $icon-container-height - 5


.small-round
  @extend .default-border
  @include border-radius(50%)
  display: inherit
  height: $sm-round-size
  width: $sm-round-size
  background-color: #ffffff

.center-in-sm-circle
  line-height: $sm-round-size !important
  font-size: 10px

.filled-round
  @extend .small-round
  display: inherit
  border-color: $c-primary
  background-color: $c-primary

.pro-tooltip
  @extend .small-round
  display: inline-flex
  justify-content: center
  align-content: center
  align-items: center
  margin-left: 10px
  // TODO fix question mark color
  span
    color: blue !important
    font-weight: bold

// icons

i
  color: $c-secondary-text
div.round
  i
    color: #ffffff

.link
  cursor: pointer
  &:hover
    color: $c-primary

// font-weight

.text-light
  font-weight: 300
.text-normal
  font-weight: 400
.text-semi-bold
  font-weight: 600
.text-bold
  font-weight: 700


// font-color

.color-primary
  color: $c-primary-text
.color-secondary
  color: $c-secondary-text

.uppercase
  text-transform: uppercase

// font-size

.font-size-header
  font-size: $font-size-header

.font-size-subheader
  font-size: $font-size-subheader

.font-size-primary
  font-size: $font-size-primary

//  buttons

.pro-button
  @include border-radius($button-radius)
  @extend .text-bold
  margin-top: $button-margin-top
  padding: $button-padding
  height: $button-height
  background-color: $c-primary
  color: $button-text-color
  font-size: $button-text-size
  text-transform: uppercase
  border-style: solid
  border-width: 1px
  border-color: $c-primary

.pro-button-light
  @extend .pro-button
  background-color: $c-white
  color: $c-primary

.pro-button-light:hover
  background-color: $c-primary
  color: $button-text-color

// headers

.pro-header
  @extend h1, .font-size-header, .text-light

input
  outline-color: white
  @extend .default-border

input:focus
  border-color: $c-primary