.default-border
  border-style: solid
  border-width: 1px
  border-color: $c-lines

.center-flex
  @include css3-prefix(display, flex)
  @include css3-prefix(justify-content, center)
  @include css3-prefix(align-items, center)
  @include css3-prefix(flex-flow, row)


.inline-block
  display: inline-block


