nav
  &.navbar
    .container
      .top-navbar
        .user-panel
          .user-details
            span
              &:first-of-type
                color: $c-primary-text
              &:last-of-type
                color: $c-secondary-text
    .bottom-navbar
      .nav, .database
        text-transform: uppercase
        *
          color: $c-secondary-text
          &:hover
            color: $c-primary
