nav
  &.navbar
    margin-top: 50px
    .container
      .navbar-brand
        height: 40px
        display: inline-block
        padding: 0px
        img
          width: 150px
      .top-navbar
        .user-panel
          .user-details
            margin-left: 15px
            span
              &:first-of-type
                color: $c-primary-text
              &:last-of-type
                color: $c-secondary-text
          .avatar
            color: $c-primary
            margin-left: 30px
            margin-right: 10px
          .caret
            color: $c-primary
            margin-top: 20px
            display: inline-block
    .bottom-navbar
      margin-top: 15px
      .section
        height: 50px
        padding: 0 30px
        &:first-of-type
          padding-left: 0px
        &.nav, &.database
          text-transform: uppercase
          a
            line-height: 20px
            padding: 15px
            display: block
            &:hover
              background: none
          *
            color: $c-secondary-text
            font-size: 13px
            &:hover
              color: $c-primary
        &.nav, &.search
          border-right: 1px solid $c-secondary-text

        &.search
          form
            height: 30px
            padding: 10px 0px
            .fa
              display: inline-block
              margin: 0px 20px
            input
              border: none
              outline: none
              width: 320px

