$c-primary:           #2681F0
$c-light-background:  #FCFDFF
$c-primary-text:      #565b64
$c-secondary-text:    #CCD4DD
$c-white:             #ffffff

$c-success:           #46C19B
$c-error:             #FC3968

$c-law:               #ECCEB1
$c-business:          #A3DBE4
$c-medicine:          #E5AFB0
$c-motor:             #D5BFD9
$c-construction:      #94BCCD
$c-education:         #8FC892
$c-electrical:        #F2B4C5
$c-it:                #ABC7E0