$c-primary:          	 #45a9ef
$c-primary-background:   #f4f7fb
$c-secondary-background: #f9fbfd
$c-primary-text:     	 #4d5b78
$c-secondary-text:   	 #8fa0b9
$c-lines:		         #d6e0ef
$c-white:           	 #ffffff

$c-success:           #78d4b7
$c-error:             #ff5e85

$c-law:               #ECCEB1
$c-business:          #A3DBE4
$c-medicine:          #E5AFB0
$c-motor:             #D5BFD9
$c-construction:      #94BCCD
$c-education:         #8FC892
$c-electrical:        #F2B4C5
$c-it:                #ABC7E0

$max-width:           1140px

$input-container-margin-top:            15px
$input-container-height:                60px
$input-container-width:                 300px
$input-container-left-right-padding:    5px
$input-container-text-margin:           0px 15px 0px 15px

$button-radius:             4px
$button-padding:            0px 15px 0px 15px
$button-height:             45px
$button-text-size:          14px
$button-text-color:         #ffffff
$button-margin-top:         20px

$icon-container-width:  50px
$icon-container-height: 50px


$sm-filled-round-border: 5px
$sm-round-size: 18px