$c-primary:          	 #45a9ef
$c-primary-background:   #f4f7fb
$c-secondary-background: #f9fbfd
$c-primary-text:     	 #4d5b78
$c-secondary-text:   	 #8fa0b9
$c-lines:		         #d6e0ef
$c-white:           	 #ffffff

$c-success:           #78d4b7
$c-error:             #ff5e85

$c-law:               #ECCEB1
$c-business:          #A3DBE4
$c-medicine:          #E5AFB0
$c-motor:             #D5BFD9
$c-construction:      #94BCCD
$c-education:         #8FC892
$c-electrical:        #F2B4C5
$c-it:                #ABC7E0