.pro-profle-status(data-ng-class="colorClass(status)")
  div(data-ng-show="status === 'off'")
    i.fa.fa-ban.fa-lg
    span  {{ 'COMMON.DIRECTIVES.PRO_PROFILE_STATUS.INACTIVE_PROFILE' | translate | uppercase }}&nbsp;
  div(data-ng-show="status === 'on'")
    i.fa.fa-check.fa-lg
    span  {{ 'COMMON.DIRECTIVES.PRO_PROFILE_STATUS.ACTIVE_PROFILE' | translate | uppercase }}&nbsp;
  pro-question-mark(title="{{ 'COMMON.DIRECTIVES.PRO_PROFILE_STATUS.PROFILE_STATUS_TOOLTIP' | translate }}")
