.expert-cards-section.pro-expert-see-more
  .top-content-wrap.flex-col
    p.expert-top(data-translate="HOME.EXPERT_CARD_TOP")
    p.expert-counter(data-translate="HOME.EXPERT_CARD_COUNTER")
    p.experts-popular(data-translate="HOME.EXPERT_MOST_POPULAR")
    a.btn.btn-primary(data-translate="HOME.EXPERT_SEE_MORE")
