.expert-cards-section.pro-expert-see-more.flex-col
  .expert-card
    .top-content-wrap.flex-col
      p.expert-top(data-translate="HOME.EXPERT_CARD_TOP")
      p.expert-counter(data-translate="HOME.EXPERT_CARD_COUNTER")
      p.experts-popular(data-translate="HOME.EXPERT_MOST_POPULAR")
      a.pro-btn.btn-white(data-translate="HOME.EXPERT_SEE_MORE")