.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME")
      p(data-translate="DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_DESCRIPTION")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-success-24
  .step-content-column
      pro-input(placeholder="{{'DASHBOARD.CONSULTATION_RANGE.CONSULTATION_NAME_PLACEHOLDER' | translate}}" data-pro-model="name")
