.sue-details.activity-details
  header.activity-details__header {{ serviceName }}
  .activity-section
    ul.basic-data
      li.basic-data__item(*ngIf="!isSueExpert")
        span.basic-data__title {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.EXPERT_NAME' | translate }}
        span.basic-data__value {{ expertName }}
      li.basic-data__item
        span.basic-data__title {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.CLIENT_NAME' | translate }}
        span.basic-data__value {{ name | translate}}
      li.basic-data__item
        span.basic-data__title {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.ID_NUMBER' | translate }}
        span.basic-data__value {{ sueId | uuidTrimmer }}
      li.basic-data__item
        span.basic-data__title {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.DATE' | translate }}
        span.basic-data__value {{ answeredAt | date:'d.M.yyyy' }}, {{ answeredAt | date:'H:mm' }}
      li.basic-data__item
        span.basic-data__title {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.DURATION_TIME' | translate }}
        span.basic-data__value {{ callDuration | date:'H:mm:ss':'UTC'}}
      li.basic-data__item
        span.basic-data__title {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.COST_PER_MIN' | translate }}
        span
          plat-money-display.basic-data__value([money]="servicePrice")

  .activity-section.activity-section-financial
    ul.basic-data.basic-data-financial
      li.basic-data__item
        span.basic-data__title {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.FINANCIAL_OPERATION' | translate }}
        span
          plat-money-display.basic-data__value([money]="financialOperation", sign="+")

  .activity-section
    ul.basic-data
      li.basic-data__item(*ngIf="isChatHistoryVisible")
        span.basic-data__title {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.CHAT' | translate }}
        a.basic-data__value((click)="onOpenChatClick()") {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.CHAT_OPEN' | translate }}
      li.basic-data__item
        span.basic-data__title {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.RECOMMENDATION' | translate }}
        span.basic-data__value {{ rate | translate }}
      li.basic-data__item.basic-data-tags
        span.basic-data__title(*ngIf="recommendedTags") {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.RECOMMENDED_TAGS' | translate }}
        span.basic-data__value {{ recommendedTags }}
      li.basic-data__item.basic-data-comment(*ngIf="commentDetails")
        span.basic-data__title {{ 'ACTIVITY_DETAILS.DETAIL_TITLE.COMMENT' | translate }}
        .basic-data__value
          plat-consultation-comments(
            [isCommentOptionVisible]="isSueExpert && !isCompanyActivity",
            [commentDetails]="commentDetails",
            [expertName]="expertName"
          )
