@import "../../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/variables/variables"
@import "../../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/helpers/helpers"

.pin-code-view
  .send-again
    margin: 16px 0 0

    p
      +paragraphSmall

    &__link
      +paragraphSmall
      font-weight: 500
      color: $c-secondary
