@import "../../../../../../node_modules/@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "../../../../../../node_modules/@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"

.pin-code-view
  .send-again
    margin: 16px 0 0

    p
      +buttonTextSmall
      font-weight: 400
      color: $c-text-secondary

    &__link
      +buttonTextSmall
      font-weight: 500
      color: $c-primary
