.dashboard-navigation
  .container
    nav.dashboard-nav
      ul
        //TODO replace with ng-repeat
        li(data-ng-class="{'is-active': $ctrl.stateNames.general}")
          a(data-translate="DASHBOARD.SETTINGS.NAVIGATION.GENERAL" data-ui-sref="app.dashboard.settings.general")
        li(data-ng-class="{'is-active': $ctrl.stateNames.security}")
          a(data-translate="DASHBOARD.SETTINGS.NAVIGATION.SECURITY" data-ui-sref="app.dashboard.settings.security")

        li(
        data-ng-if="!$ctrl.isPlatformForExpert"
        data-ng-class="{'is-active': $ctrl.stateNames.payments}")
          a(data-translate="DASHBOARD.SETTINGS.NAVIGATION.PAYMENTS" data-ui-sref="app.dashboard.settings.payments")
        li(data-ng-class="{'is-active': $ctrl.stateNames.payouts}" data-ng-if="$ctrl.isWizardComplete")
          a(data-translate="DASHBOARD.SETTINGS.NAVIGATION.PAYOUTS" data-ui-sref="app.dashboard.settings.payouts")
        li(
        data-ng-if="!$ctrl.isPlatformForExpert"
        data-ng-class="{'is-active': $ctrl.stateNames.notifications}")
          a(data-translate="DASHBOARD.SETTINGS.NAVIGATION.NOTIFICATIONS" data-ui-sref="app.dashboard.settings.notifications")
