.payment-method.select-choice
  .charge-container
    .title
      h3(data-translate="{{ $ctrl.title }}")

    .choose-options
      .choose-options-item(data-ng-repeat="paymentSystem in $ctrl.paymentSystems")
        .option(data-ng-class="{'selected': $ctrl.activeOption == $index}" data-ng-click="$ctrl.selectPaymentMethod($index)")
          p.payment-title(data-translate="DASHBOARD.CHARGE_ACCOUNT.BANKWIRE")
          .option-thumb
            img(data-ng-src="{{ $ctrl.setImage(paymentSystem.slug) }}")
          span.icon.icon-dot(data-ng-class="{'is-active': $ctrl.activeOption == $index}")


