.payment-method
  .title
    h3(data-translate="{{ vm.title }}")
    
  .choose-options
    .choose-options-item
      .option(data-ng-class="{'selected': vm.activeOption == 1}" data-ng-click="vm.activeOption = 1")
        .option-thumb
          img(ng-src="/assets/images/payU-logo.png")
        p(data-translate="DASHBOARD.CHARGE_ACCOUNT.BANKWIRE")
        span.icon.icon-success-12.top-right.circle(data-ng-show="vm.activeOption == 1")

    .choose-options-item
      .option(data-ng-class="{'selected': vm.activeOption == 2}" data-ng-click="vm.activeOption = 2")
        .option-thumb
          img(ng-src="/assets/images/paypal-logo.png")
        p(data-translate="DASHBOARD.CHARGE_ACCOUNT.FAST_CHARGE")
        span.icon.icon-success-12.top-right.circle(data-ng-show="vm.activeOption == 2")

    .choose-options-item
      .option(data-ng-class="{'selected': vm.activeOption == 3}" data-ng-click="vm.activeOption = 3")
        .bank-icons.option-thumb
          img(ng-src="/assets/images/maestro-logo.png")
          img(ng-src="/assets/images/mastercard-logo.png")
          img(ng-src="/assets/images/visa-logo.png")
        p(data-translate="DASHBOARD.CHARGE_ACCOUNT.CARD_PAYMENT")
        span.icon.icon-success-12.top-right.circle(data-ng-show="vm.activeOption == 3")
  
