@import "./projects/anymind-ng-core/src/template/stylesheets/interface/input/input"

.input-numeric
  max-height: $s-input-container-height
  
  input
    text-transform: uppercase
  
  .input
    &__label-container
      justify-content: flex-start
      position: relative
