.input-numeric.input(
	[formGroup]="formGroup",
	[ngClass]="{'input--focused': isFocused, 'input--invalid': isFieldInvalid(), 'input--disabled': isDisabled}")

	.input__container
		.input__label-container
			.input__handler
				label.input__label(*ngIf="labelTrKey") {{ labelTrKey | translate }}
				span.input__required-asterix(*ngIf="isRequired") *

			plat-tooltip(
				*ngIf="tooltipTranslate",
				[tooltipText]="tooltipTranslate",
				[iconClass]="'information'"
			)

		input(
		mask="{{inputMask}}",
		[autofocus]="initialFocus",
		[formControlName]="controlName",
		(focus)="onFocus()",
		(blur)="onBlur()",
		placeholder="{{ placeholderTrKey | translate }}",
		type="{{inputType}}",
		[readonly]="isDisabled"
		)

	.input__alert
		am-core-validation-alert(
		[isVisible]="isFieldValueInvalid()",
		[validationTextKey]="errorTrKey"
		)

		am-core-validation-alert(
		[isVisible]="isRequiredError()",
		[validationTextKey]="'INPUT.REQUIRED_VALIDATION_ERROR'"
		)
