@import "./projects/anymind-ng-core/src/template/stylesheets/interface/input/input"

.input-numeric
	input
		text-transform: uppercase

	.input
		&__label-container
			justify-content: space-between
			position: relative

			plat-tooltip
				position: absolute
				top: 0
				bottom: 0
				right: 0
				height:
				margin: auto
