.avatar-uploader
  plat-user-avatar(
    [avatarSize]="avatarSize",
    [avatarUrl]="avatarUrl",
    [avatarError]="isError"
  )
  .avatar-uploader__button.avatar-uploader__button--add(*ngIf="!avatarUrl")
    label
      input(type='file', appAvatarUploader, [onAvatarError]="onError", #appAvatarUploader, accept="image/png, image/jpeg")
      span.icon.icon-add

  .avatar-uploader__button.avatar-uploader__button--remove((click)="onClickClear()", *ngIf="avatarUrl")
    span.icon.icon-trash