@import "../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.image-crop
  margin: 0 auto
  width: 288px

  +xsm
    width: 438px

  .croppie-container
    position: relative
    margin: 0

    .cr-boundary
      width: 250px
      height: 250px

      +xsm
        height: 420px
        width: 420px

    .cr-viewport
      border: 0
      box-shadow: 0 0 0 420px rgba($c-white, 0.6)

  .cr-slider-wrap
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 56px
    margin: 0 auto

    .cr-slider
      padding: 0
      width: 316px

  .icon
    display: none

    +xsm
      display: block
      position: absolute
      bottom: 17px
      right: 7px
      color: $c-tertiary-txt

    &.icon-smaller
      left: 7px
      right: auto
