.alert
  position: fixed
  bottom: 16px
  left: 32px
  z-index: $z-index-900 * 2

  .alert-container
    background: $c-lines
    display: flex
    align-items: center
    justify-content: space-between
    height: 48px
    padding: 0 16px
    box-shadow: 0 1px 3px rgba($c-black, 0.15)
    animation: fadeInY 0.6s ease-in-out
    width: 100%
    margin: 0 0 16px

    +smm
      width: auto
      min-width: 360px

    .alert-content
      display: flex
      align-items: center

    a
      +inputLabel
      color: $c-primary
      text-transform: uppercase

    p
      +paragraphSmall
      margin: 0 0 0 16px

    span
      color: $c-secondary-txt

      &:not(.icon)
        margin: 0 0 0 16px
