.pro-textarea
  width: 100%

  .input-group
    position: relative
    height: auto
    min-height: 80px
    overflow: hidden

    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      right: 0
      margin: auto
      height: 1px
      width: 100%
      background: $c-lines

    &::after
      transition: width 0.3s ease-out
      content: ''
      position: absolute
      bottom: 0
      left: 0
      right: 0
      margin: auto
      height: 1px
      width: 100%
      animation: inputBorderLineAnimationOut 0.3s

    &.on-click
      &::after
        animation: inputBorderLineAnimation 0.3s
        animation-fill-mode: forwards

  .input-group
    &.on-click
      textarea
        border-color: $c-primary

    textarea
      overflow: hidden
      min-height: 80px
      margin: 4px 0 0
      padding: 0 0 16px 0
      width: 100%
      max-width: 100%

  .icon
    position: absolute
    right: 16px
    top: 16px
