.pro-uploader
  display: flex
  align-items: center
  flex: 1

  .upload-field
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid $c-lines
    border-radius: $s-border-radius
    cursor: pointer

    span
      color: $c-primary
      font-size: $f-icon-22

  .add-file
    +paragraphTitle
    color: $c-primary
    text-transform: uppercase
