.service-suggestions
  .dropdown-default(data-ng-if="vm.services.count")
    h5.title-row  {{'SEARCH.SERVICES' | translate}}

    .consultations-box.dropdown-category-list
      a.expert-box.dropdown-list-item(data-ng-repeat="service in vm.services.results track by $index"
      data-ng-click="vm.goToProfile($index)")
        .expert-profile
          .thumb.x48
            img.expert-avatar.user-avatar(data-ng-src="{{ vm.profileImage($index) }}" data-ng-class="{'isNotUploaded': !vm.profileImage($index)}")
            //TODO add status

          .expert-data
            span.expert-name {{ service.owner.name }}

        span.service-description
          span(ng-bind-html="service.name | searchBoldFilter:vm.searchModel") {{ service.name }}
