.service-suggestions
  .dropdown-default(data-ng-if="vm.services.count")
    .search-category
      | {{'SEARCH.SERVICES' | translate}}
      span.category-counter ({{ vm.services.count }})
    .consultations-box
      .consultation-item.flex-row(data-ng-repeat="service in vm.services.results track by $index")
        .expert-box.flex-row
          img.expert-avatar(src='http://placekitten.com/48/48')
          .expert-data
            p.expert-name {{ service.owner.name }}
            p.expert-availability.available dostepny
        p.service-description
          | {{ service.name }}
          //- highlight
          span.service-tag {{ service.name }}