@import "../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../template/profitelo_theme/stylesheets/variables/variables"

.notifications
  +lgm
    display: flex

  .email-settings-container, .web-settings-container
    +lgm
      width: 50%

  .settings-section
    margin: 0 0 24px

    +lgm
      margin: 0 0 48px

  .sub-header
    span
      &:first-child
      color: $c-primary-txt
    span
      &:nth-child(2)
        margin: 0 0 0 8px
        color: $c-tertiary-txt

  .options-container
    padding: 0 0 0 16px
