.input-add-item.input(
[formGroup]="formGroup",
[ngClass]="{'input--focused': isFocused, 'input--invalid': isFieldInvalid(), 'input--disabled': isDisabled}")
	.input__handler
		.input__container
			.input__label-container
				label.input__label(*ngIf="labelTrKey") {{ labelTrKey | translate }}
				span.input__required-asterix(*ngIf="isRequired") *

			input(
			platValidation,
			(blur)="onBlur()",
			(keydown.enter)="onEnter()",
			[formControlName]="controlName",
			(focus)="onFocus()",
			placeholder="{{placeholderTrKey | translate}}",
			type="text",
			[(ngModel)]="inputValue",
			(change)="onInputChange",
      [autofocus]="initialFocus"
      )

		a.button.button--secondary.button--small.xsm-hidden((click)="onAddLinkClick()")
			span {{ 'EDIT_PROFILE.CONTENT.CREATE_EXPERT_PROFILE.ADD_LINK.BUTTON' | translate }}

		a.button.button--secondary.button--small.button--circle.xsm-only((click)="onAddLinkClick()")
			span.icon.icon-add

	.input__alert
		am-core-validation-alert(
		[isVisible]="!formGroup.valid",
		[validationTextKey]="showValidationAlert()"
		)
