.container.text-center.margin-top-60.margin-bottom-100.center-flex
  p.text-center(data-ng-show="vm.registrationMetaData.emailSended") Email sended. Click on link my friend
  form(role="form" name="registerForm" data-ng-show="!vm.registrationMetaData.emailSended")
    div.round.center-block
      i.icon-2x.icon-smile.center-in-circle
    h1.margin-top-10
      | Prawie gotowe...
    h3.margin-top-20
      | Numer ID
    h3.margin-top-10.inline-block
      | 254 233
    div.pro-tooltip
      span ?
    div.input-container.center-block.width-350
      i.icon-2x.icon-keypad
      span 4-CYFROWY PIN:
      input.width-100(type="password" required data-ng-model="vm.userData.password" maxlength="4")
      div.pro-tooltip.pull-right
        span ?

    div.row
    p.margin-top-20.margin-bottom-0(style="width: 500px")
      | Założenie konta oznacza akceptację Regulaminu Serwisu oraz wyrażenie
      | zgody na przetwarzanie danych osobowych (spokojnie, nie spamujemy :) ).

    div.row
    button.btn.pro-button.margin-top-20(type="submit")
      | Załóż konto
    div.row.margin-top-20
    div.inline-block
      div.small-round
      div.filled-round

