.container.text-center.margin-top-60.margin-bottom-100.center-flex
  p.text-center(data-ng-show="vm.registrationMetaData.emailSended") Email sended. Click on link my friend
  form(role="form" name="registerForm" data-ng-show="!vm.registrationMetaData.emailSended")
    div.round.center-block
      i.icon-2x.icon-talk-man.center-in-circle
    h1.margin-top-10
      | Rejestracja
    div.input-container.center-block
      i.icon-2x.icon-mail-withatsign
      span E-MAIL:
      input(type="email" required data-ng-model="vm.userData.email" )
    div.input-container.center-block
      i.icon-2x.icon-lock-3
      span HASŁO:
      input(type="password" required data-ng-model="vm.userData.password")
    div.row
    p.margin-top-20.margin-bottom-0
      | LUB
    button.btn.pro-button(type="button")
      | ZALOGUJ SIĘ ZA POMOCĄ FEJSBUKA
    div.row
    button.btn.pro-button.margin-top-20(type="submit" data-ng-disabled="registerForm.$invalid" data-ng-click="vm.sendEmail()")
      | Kontynuuj
    div.row.margin-top-20
      div.inline-block
        div.filled-round
        div.small-round
