@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"
@import "../../../../template/core/core"

.profile-loading-layout
  &__profile
    background-color: $c-white
    padding: 48px 32px

  .consultation-list
    margin: 20px auto

    +smm
      width: 50%
