.thank-you-page
  padding: $top-modal-navbar + 32px 0 64px
  text-align: center
  display: flex
  align-items: center
  justify-content: center

  +xsm-portrait
    padding: $top-modal-navbar + 32px 0 0
    height: calc(100vh - #{$top-modal-navbar} + 32px)

  +smm
    height: calc(100vh - #{$top-modal-navbar} + 32px)

  h2
    +default-font-heavy
    font-size: $f-h2-size
    line-height: 1
    margin: 0 0 32px
    text-transform: uppercase

  h3
    +default-font-light
    font-size: $f-h3-size
    margin: 0 0 32px

  span
    +default-font-heavy
    text-transform: uppercase
    font-size: $f-vsmall
    color: $c-secondary-txt
    margin: 0 0 8px
    display: inline-block

  .thank-you-page-description
    margin: 0 auto 64px

    +xsm
      max-width: 75%

    p
      font-size: $f-h5-size
      color: $f-paragraph