.modal-backdrop
  animation: modal-opacity 0.3s
  animation-fill-mode: forwards

.modal-open
  padding: 0 !important
  overflow: hidden

  .modal-dialog
    transform: none !important
    display: flex
    align-items: center
    width: 100%
    justify-content: center
    margin: 0
    min-height: 100%

    +mdm
      min-height: 100vh

    .modal-content
      background: none
      min-width: 100%
      min-height: 100vh
      display: flex
      justify-content: center
      align-items: center
      box-shadow: none
      border: 0

.modal-action
  a
    margin: 0 0 16px

    +xsm
      margin: 0 16px

  +xsm
    display: flex
    justify-content: center