.modal-open
  padding: 0 !important
  overflow-y: visible

  .modal-dialog
    display: flex
    align-items: center
    width: 100%
    justify-content: center
    margin: 0
    min-height: 100%

    +mdm
      min-height: 100vh

    .modal-content
      background: $c-white
      border: 0
      border-radius: 0
      box-shadow: none

      +mdm
        width: 35%

      .modal-header
        padding: 32px 16px
        text-align: center
        border-bottom: 1px solid $c-lines
        position: relative

        h4
          +default-font-heavy
          text-transform: uppercase

          span
            color: $c-secondary-txt

      .modal-close.circle
        width: 48px
        height: 48px
        line-height: 48px
        border: 1px solid $c-lines
        position: absolute
        right: 16px
        top: 0
        bottom: 0
        left: auto
        margin: auto

      .modal-contents
        padding: 16px

        .modal-description
          margin: 32px 0 48px
          padding: 0 48px

          p
            text-align: center


        strong
          display: block
          text-align: center
          margin: 48px 0 32px 0

        button
          display: block
          width: 100%
          margin: 0 0 16px

          &:last-child
            margin: 0

        .conversation-profile
          text-align: center
          margin: 16px 0 32px

          h5
            +default-font-heavy

        .conversation-video-profile
          text-align: center
          margin: 0 0 16px

          .thumb
            border: 1px solid $c-lines
            max-width: 128px
            max-height: 80px

        .conversation-stats
          display: flex
          justify-content: center
          margin: 8px 0 0

          .conversation-timer
            margin: 0 8px

          .conversation-counter
            margin: 0 8px

          span
            font-size: $f-h4-size

            &.icon
              margin: 0 8px 0 0

            &.value
              +default-font-heavy

        .device-intensity
          display: flex
          margin: 0 0 16px

          .icon
            margin: 0 16px 0 0

        .modal-checkbox
          margin: 48px 0 0

          .item-group
            margin: 0 0 16px

        .modal-buttons
          +smm
            display: flex
            justify-content: space-between

          &.single-button
            button
              &:first-child
                margin: 0

          button
            width: 100%
            margin: 0 0 16px

            +xsm
              flex-grow: 1
              width: auto
              margin: 0


        .additional-options
          margin: 16px 0 0

          button
            display: block
            width: 100%
            margin: 0 0 16px

            &:last-child
              margin: 0
