.modal-component
  .modal-component__scroll(pinElement="modal-component__header")
    .modal-component__container.modal-component__container--medium
      .modal-component__header
        .modal-component__header__back
          a.btn.btn--arrow
            p.icon.icon-back-12

        .modal-component__header__title
          p Title of modal

        .modal-component__header__close
          a.btn.btn--close(type='button', (click)="onModalClose()")
            p.icon.icon-close-12

      .modal-component__content
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
        p Sample text
