navbar()

section.company-profile
  profile-header(data-profile-details="vm.profile" data-is-favourite="vm.isFavourite"
  data-on-like="vm.handleLike" profile-type="vm.profileType")

  .container.no-padding
    profile-company-single-consultation(data-ng-repeat="consultation in vm.consultations"
    data-organization-service-details="consultation"
    data-tags="consultation.tags" data-employments="consultation.employments"
    data-owner-profile="consultation.profile.organizationDetails")

  .container
    similar-consultation()

pro-footer
