.pro-summary-tag
  h4.title-row 
    | {{ "HOME_EXPERT_PROFILE.TAGS" | translate }}
    span (18)
       
  ul.slider-tag
    li(ng-repeat="tag in $ctrl.tags track by $index")
      a.pro-button.primary {{ tag }}
