.pro-summary-tag
  .title-row
    | {{ ::"HOME_EXPERT_PROFILE.TAGS" | translate }}
    span {{ $ctrl.tags.length }}
       
  ul.slider-tag
    li(ng-repeat="tag in $ctrl.tags track by $index")
      span.pro-tag {{ ::tag.name }}
