.pro-summary-tag
  h4.title-row {{ $ctrl.title | translate }}
    span ({{ $ctrl.tags.length }})
       
  ul.tag-list.slide-page
    li(ng-repeat="tag in $ctrl.tags | limitTo: 7")
      a.slide-btn-tag {{ tag.name }}
  
    li.showMoreTagsBtn(data-ng-show="vm.showTags" data-ng-click="vm.showMoreTags()")
      a.slide-btn-tag
        span.pro-tag(data-ng-show="!(vm.showTagClass)") ...
        span.pro-tag.icon.icon-arrow-up-12(data-ng-show="vm.showTagClass")
