.charge-account
  margin: $dashboard-navbar-width + 64px 0 0 0

  .current-balance
    text-align: center
    margin: 0 0 64px

    +smm
      text-align: left

    h4
      +default-font-heavy
      color: $c-primary

  .input-error-messages
    text-align: center

    +smm
      text-align: left
