.charge-account
  background: none
  min-width: 100%
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center

  .title
    h3
      +default-font-thin
      margin: 0 0 24px
      font-size: $f-h2-size
      color: $c-secondary-txt

  .scrollable
    &.fullscreen-modals
      &.fullscreen-navbar
        .scrollable-container
          .scrollable-center
            padding: 0

  .container-big
    padding: 0

    +smm
      padding: 64px 0 0
      border: 1px solid $c-lines

    .charge-container
      padding: 0 16px

      +smm
        padding: 0 104px

  .fullscreen-modals
    animation: none

  .input-error-messages
    text-align: center

    +smm
      text-align: left

  .entry-title
    padding: 0 16px
    text-align: center
    margin: 0 0 32px

    h2
      margin: 0 0 32px
      font-size: $f-h2-size
      color: $c-secondary-txt

    .btn
      margin: 0 0 24px

      +smm
        margin: 0 16px
        min-width: 250px

  .choose-amount-charge
    margin: 0 0 48px

  .payment-method
    margin: 0 0 32px


