.charge-account
  margin: 0 0 64px

  .bottom-charge-account
    padding: 0 0 64px
    background: $c-background-2

    .title-footer
      padding: 0 0 64px 0

  .pro-top-title-row
    .current-balance
      display: block

      h3
        +default-font-heavy
        text-transform: uppercase
        font-size: $f-h4-size

    h4
      &.current-balance-wallet
        +default-font-heavy
        color: $c-primary

  .your-personal-data
    margin: 0 0 64px

    +smm
      display: flex
      flex-wrap: wrap
      margin: 0 -8px 64px

    .personal-data-item
      flex: 1 0 100%
      margin: 0 0 16px

      +smm
        flex: 1 0 50%
        max-width: 50%
        padding: 0 8px

      &:last-child
        margin: 0

  .footer
    margin: 0 0 64px

    p
      font-size: $f-base
      padding: 8px 0 0 40px
      color: $c-secondary-txt

  .charge-button
    text-align: right
    padding: 64px 0

    .pro-button
      display: inline-flex

      .icon
        position: static
        margin: 0 0 0 8px
