plat-modal-component(
  [modalTrTitleHeader]="modalHeaderTrKey",
  [isBackwardVisible]="isBackwardVisible",
  (backwardClick)="onGoBack()"
)

  .activity-details-modal(contentHeightAnimation)
    plat-stepper(
      #stepper='platStepper',
      *ngIf="activityType === activityTypesEnum.SERVICEUSAGEEVENT"
    )
      plat-step
        plat-sue-details(
          [sueDetails]="sueDetails",
          [isChatHistoryVisible]="isChatHistoryVisible",
          [isCompanyActivity]="isCompanyActivity",
          [isClientActivity]="false",
          (openChat)="onOpenChat()"
        )
      plat-step
        plat-chat-history(
            [groupedMessages]="groupedMessages",
            [clientAvatarUrl]="clientAvatarUrl",
            [expertAvatarUrl]="expertAvatarUrl"
         )

    plat-financial-operation-details(
      *ngIf="activityType === activityTypesEnum.PAYOUT",
      [financialOperationDetails]="financialOperationDetails"
    )

    plat-refund-details(
      *ngIf="activityType === activityTypesEnum.REFUND",
      [refundOperationDetails]="refundOperationDetails"
    )
