@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"
@import "../../../../shared/components/modals/modal/modal.component"

\:host
  display: block
  width: 100%

.modal-component
  &__action
    display: flex
    justify-content: flex-end

    &--center
      justify-content: center
