.btn-handler(data-ng-show="vm.current > 1")
  a.pro-btn.btn-light.btn-icon(data-ng-click="vm.prev()")
    i.icon-arrow-left
.phone-number(data-ng-show="vm.current == 1")
  include ./parts/phone-number.partial.jade
.password(data-ng-show="vm.current == 2")
  include ./parts/password.partial.jade

a.pro-btn.btn-main.btn-medium(data-ng-click="vm.next()") Dalej


.forgot-password(data-ng-show="vm.current == 2")
  a(data-translate="LOGIN.FORGOT_PASSWORD")