ul
  li
    a(data-translate="DASHBOARD.MENU.EXPERT_BASE")
  li
    a(data-translate="DASHBOARD.MENU.MY_ACCOUNT")
  li
    a(data-translate="DASHBOARD.MENU.AVAILABILITY")
  li
    a(data-translate="DASHBOARD.MENU.NOTIFICATION")
    p.bandge 174
  li
    a(data-translate="DASHBOARD.MENU.FAVOURITES")
    p.bandge 471
  li
    a(data-ui-sref="app.login.account" data-translate="DASHBOARD.MENU.LOGOUT")
  li
    a(data-ui-sref="app.login.set-new-password({token: '829ubiasbg89293r2hiasggq32g30i9ujoi'})") enter new pass link