.pro-text-chat-input
  .input-group
    a.upload-file(data-ng-click="$ctrl.uploadFileAction()")
      span.icon.icon-attachment-32
    input(type="text", placeholder="{{ $ctrl.placeholder }}", data-ng-model="$ctrl.ngModel" data-ng-enter="$ctrl.sendMessageAction()")
    a.send-message(data-ng-click="$ctrl.sendMessageAction()")
      span.icon.icon-send-32
