@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"
@import '../../../../../template/core/core'

.accept-reject-invitation

  &__billing-detail

    &-price
      display: inline-block
      margin: 0 0 24px 0

      +smm
        padding: 0 24px 0 0
        margin: 0 24px 0 0
        border-right: 1px solid rgba($c-white, 0.15)

      &-money
        +h4
        font-weight: 300

      &-currency
        color: $c-half-white

    &-text
      display: inline-flex
      align-items: center
      padding: 0 10px 0 0

      span
        margin: 0 12px 0 0

      p
        +caption

        strong
          font-weight: 700
        a
          +caption
          color: $c-white
          margin: 0
          font-weight: 700
          display: block

          +mdm
            display: inline

  &__buttons
    +xsm
      display: flex
      flex-direction: row

    &--mobile
      display: flex
      flex-direction: row

    &-button
      margin: 0 0 0 16px

      &:nth-child(1)
        margin: 0
