.step.summary-step
    .btn-handler
        a.summary-icon(data-ng-click="onClick()")
            i.icon.icon-edit-16
    .summary-name
        .summary-avatar
            img(ng-src="{{avatar}}" alt='user-avatar')
        .summary-firstname
            .firstname-lastname
                h2 {{name}}
            .languages(data-ng-show="!!languages && languages.length > 0")
                h6 {{"DASHBOARD.CREATE_PROFILE.PROFILE_LANGUAGE_HEADER" | translate}}
                    span(data-ng-repeat="language in languages") &nbsp {{language}}
    .summary-descriptions
        p {{description}}