.pro-service-provider-profile
  .expert-profile-header
    .expert-profile-details
      .expert-profile-content
        .thumb.x128
          img.user-avatar(ng-src="{{avatar}}" alt='user-avatar' data-ng-class="{'is-not-uploaded': !avatar}")

        h3 {{name}}

        .languages-section(data-ng-show="!!languages && languages.length > 0")
            span(data-translate="DASHBOARD.CREATE_PROFILE.PROFILE_LANGUAGE_HEADER")

            ul.languages-list
              li(data-ng-repeat="language in languages")
                span {{" " + language + " "}}

    show-more-text(data-text="{{::description}}")

    a.btn.btn-noborder(data-ng-click="onClick()" data-ng-show="!!buttonAction")    Edytuj profil