.pro-service-provider-profile
  .summary-name
      .summary-avatar(data-ng-show="!!avatar")
          img.circle(ng-src="{{avatar}}" alt='user-avatar')
          
      .summary-firstname
          .firstname-lastname(data-ng-show="!!name")
              h3 {{name}}
          .languages(data-ng-show="!!languages && languages.length > 0")
              h6 {{"DASHBOARD.CREATE_PROFILE.PROFILE_LANGUAGE_HEADER" | translate}}
                  span(data-ng-repeat="language in languages") &nbsp {{language}}
                  
      a.pro-button.round.icon.default
        span.icon.icon-heart-16
        
  .summary-descriptions.default-container(data-ng-show="!!description")
      p {{description}}
      a.pro-button.rectangle.primary.icon
        span.icon.icon-heart-16
