.braintree-form
  .panel-heading
  form.panel-body
    .row
      label.control-label {{ 'BRAINTREE.LABEL.CARD_NUMBER' | translate }}
      .form-group
        // Hosted Fields div container
        #card-number.form-control
      span.helper-text
      span#card-type
    .row
      label.control-label {{ 'BRAINTREE.LABEL.EXPIRATION_DATE' | translate }}
      .form-group
        // Hosted Fields div container
        #expiration-date.form-control
    .row
      label.control-label {{ 'BRAINTREE.LABEL.SECURITY_CODE' | translate }}
      .form-group
        // Hosted Fields div container
        #cvv.form-control
    button#submit-braintree-form.btn.btn-success.btn-lg.center-block(value='submit'
    data-translate="{{ $ctrl.submitButtonTranslate }} " disabled)
    .isValid(data-ng-show="$ctrl.isInvalid") {{ 'BRAINTREE.INVALID'| translate }}
