.profile-gallery.photo-gallery
  ul
    li(data-ng-repeat="document in $ctrl.uploadedFiles | limitTo: $ctrl.documentsLimit ")
      a(data-ng-click="$ctrl.createGalleryPreviewControllerModal(document.previews[0])")
        img(data-ng-src="{{ document.previews[0] }}")

    li.show-more(data-ng-if="$ctrl.idDocumentsContainerCollapsed")
      a
        img(data-ng-src="{{ $ctrl.lastDocument.previews[0] }}")
        span {{ $ctrl.documentsCollapsedLength }}
