.single-container
  margin: 32px auto
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)
  background: $c-white

  +smm
    margin: 64px auto

  .black-row
    background: $c-primary-txt
    padding: 16px
    color: $c-white

    +smm
      padding: 16px 32px 32px

  .title-row-consultation
    .options-details
      display: flex
      align-items: center
      flex: 1 0 100%
      justify-content: space-between
      flex-wrap: wrap

      +smm
        flex-wrap: nowrap

      .options-consultation
        display: flex
        color: $c-secondary-txt
        order: 2

        +smm
          order: 1

        .option-item
          +default-font-heavy
          padding: 0 0 0 8px

          &:first-child
            padding: 0

          span
            color: $c-secondary-txt
            font-size: $f-nav-size
            vertical-align: middle
            padding: 0 8px 0 0

      .consultation-profile
        display: flex
        align-items: center
        order: 1
        margin-bottom: 16px

        +smm
          order: 2
          margin: 0

        .thumb
          margin: 0 16px 0 0
          order: 1

          +smm
            margin: 0 0 0 16px
            order: 2

        .author
          text-align: left
          order: 2

          +smm
            text-align: right
            order: 1

        h6
          +default-font-heavy
          color: $c-white


    .entry-title
      margin: 32px 0

      h3
        +default-font-regular
        color: $c-white

    .title-row
      margin: 32px 0

      h3
        +default-font-regular
        color: $c-white

    .cost-consultations
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap

      +xsm
        flex-wrap: nowrap

      .price
        display: flex
        align-items: center
        margin: 0 0 16px

        +xsm
          margin: 0

        h3
          +default-font-regular
          color: $c-white
          margin: 0 0 0 16px
          display: flex
          align-items: flex-end
          line-height: 1

          .currency
            +default-font-heavy
            font-size: $f-nav-size
            margin-left: 5px
            text-transform: uppercase

      .pro-btn
        width: 100%

        +xsm
          width: auto


  .consultation-tags
    padding: 0 16px 32px

    +smm
      padding: 0px 32px 32px

    h4
      +default-font-heavy
      text-transform: uppercase

      span
        margin: 0 0 0 8px
        color: $c-secondary-txt

    .slider-tag
      ul
        display: block

        li
          +default-font-regular
          display: inline-block
          margin: 0 16px 16px 0