.communicator-nav
  .communicator-upper-nav
    a.btn.btn-circle(data-ng-click="vm.minimizeChat()")
      span.icon.icon-shrink-24
    a.btn.btn-circle(data-ng-click="vm.optionsToggled()" data-ng-class="{'is-active': vm.isActive.optionsToggled}")
      span.icon.icon-dots-menu-24

  .communicator-lower-nav
    a.btn.btn-circle(data-ng-click="vm.microphoneSwitcher()" data-ng-class="{'is-active': vm.isActive.microphoneDisabled}")
      span.icon.icon-mic-on-24(data-ng-show="!vm.isActive.microphoneDisabled")
      span.icon.icon-mic-off-24(data-ng-show="vm.isActive.microphoneDisabled")

    a.btn.btn-circle.cancel-conversation(data-ng-click="vm.disconnectConversations()")
      span.icon.icon-reject-24

    a.btn.btn-circle(data-ng-click="vm.cameraSwitcher()" data-ng-class="{'is-active': vm.isActive.cameraDisabled}")
      span.icon.icon-camera-on-24(data-ng-show="!vm.isActive.cameraDisabled")
      span.icon.icon-camera-off-24(data-ng-show="vm.isActive.cameraDisabled")

    a.btn.btn-circle.chat-switcher(data-ng-click="vm.chatSwitcher()" data-ng-class="{'is-active': vm.isActive.chatSwitcher}")
      span.icon.icon-chat-24
