.communicator-nav
  .communicator-upper-nav
    a.btn.btn-circle
      span.icon.icon-shrink-24
    a.btn.btn-circle
      span.icon.icon-call-16

  .communicator-lower-nav
    a.btn.btn-circle
      span.icon.icon-mic-on-32
    a.btn.btn-circle.cancel-conversation
      span.icon.icon-call-16
    a.btn.btn-circle
      span.icon.icon-camera-off-32
    a.btn.btn-circle.chat-switcher
      span.icon.icon-chat-32