footer.pro-footer
  .container
    .download-app-content
      h5(data-translate="HOME.FOOTER.DOWNLOAD.LABEL.TITLE")
      a(href="{{googlePlayUrl}}" target="_blank")
        img(src="/assets/images/profitelo_icons/google_play.png" alt="google play")

    .footer-navigation
      ul
        li
          a(href="{{ zendeskUrl }}" target="_blank" data-translate="HOME.FOOTER.NAVIGATION.HELP")
        li
          a(href="{{ anymindBlogUrl }}" target="_blank" data-translate="HOME.FOOTER.NAVIGATION.BLOG")

  .copyrights
    .container
      p(data-translate="HOME.FOOTER.COPYRIGHT.TITLE")

      ul
        li
          a(href="{{privacyPolicyUrl}}" target="_blank" data-translate="HOME.FOOTER.PRIVACY_POLICY")

        li.separator
          p &

        li
          a(href="{{termsOfServiceUrl}}" target="_blank" data-translate="HOME.FOOTER.RULE")

      .contact
        a.mail(href="mailto: {{helpMailUrl}}")
          | {{helpMailUrl}}
