$s-modal-container-medium:            888px
$s-modal-container-small:             480px
$s-modal-container-crop:             480px
$s-modal-header:                      56px
$s-navbar-mobile-height:              56px
$s-navbar-search-mobile-height:       108px
$s-navbar-desktop-height:             80px
