$s-modal-container-big:               1248px
$s-modal-container-medium:            888px
$s-modal-container-small:             534px
$s-modal-container-crop:             480px
$s-modal-header:                      56px
