.client-activities-page
  .default-container
      .client-credits
        span(data-ng-bind-html="vm.balance | money")
        a.btn.btn-primary(data-translate="DASHBOARD.CLIENT.RECHARGE" data-ui-sref="app.dashboard.charge-account")

  .client-last-activities-content
      .default-container(data-ng-if="(!vm.activities ||  vm.activities.length < 1) && !vm.isParamChange")
          client-no-activities()

       .client-activities-page
        preloader(data-is-loading="vm.isSearchLoading")
          .default-container(data-ng-if="vm.activities && vm.activities.length > 0 || vm.isParamChange")
            client-activities-filters(data-filters="vm.filters")

          .default-container.no-padding(data-ng-if="vm.activities && vm.activities.length > 0 || vm.isParamChange")
            client-activity(data-ng-repeat="activity in vm.activities | orderBy: '-' "
          data-activity="activity")

          .show-more-results(data-ng-show="vm.activities > 10 && !vm.noMoreResults")
            a.btn.btn-primary(data-translate="DASHBOARD.CLIENT.ACTIVITIES.SHOW_MORE_RESULTS"
            data-ng-click="vm.loadMoreActivities()")





