.client-activities-page
  preloader-container(data-is-loading="vm.isSearchLoading" data-ng-show="vm.isSearchLoading || vm.isError"
  data-is-error="vm.isError" data-error-message="DASHBOARD_CLIENT.ERROR_MESSAGE"
  data-error-fn="vm.sendRequestAgain")
  .container(data-ng-if="!vm.isActivitiesHistory")
    .client-last-activities-content(data-ng-hide="vm.isSearchLoading")
      .container
        client-no-activities

  .container(data-ng-if="vm.isActivitiesHistory")
    .client-activities-page(data-ng-hide="vm.isSearchLoading")
      dashboard-filters(data-filters="vm.filters" data-on-set-search-params="vm.onSetFiltersParams"
      data-account-type="vm.accountType")
      client-activity(data-ng-repeat="activity in vm.activities" data-activity="activity")
      .show-more-results
        a.btn.btn-primary(data-translate="DASHBOARD.CLIENT.ACTIVITIES.SHOW_MORE_RESULTS"
        data-ng-click="vm.loadMoreActivities()" data-ng-show="vm.isMoreResults")
