.pro-bottom-consultattion-button
  padding: 32px 0
  margin: 0

  +smm
    padding: 32px 0 0

  .summary-next-step-button
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: center
    align-content: center
    align-items: center
    margin-top: 32px
