.pro-bottom-consultattion-button
  .summary-next-step-button
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: center
    align-content: center
    align-items: center
    margin-top: 32px
