.pin-verification
  background: $c-background
  display: flex
  justify-content: center
  padding: 32px 0
  margin: 0 auto

  h2
    margin: 0 0 32px

  .input-number
    margin: 0 8px 16px

    +smm
      margin: 0 8px 32px

    input
      padding: 0

  .pin-verification-send-again
    +xsm
      display: flex
      align-items: center
      justify-content: space-between

    button
      margin: 0

      +xsm
        margin: 0 12px

    p
      font-size: $f-h5-size
      color: $c-label
      margin: 16px 0

      +xsm
        margin: 0 12px