.natural-person-form.invoice-details([formGroup]="form")
  .modal-form([formGroupName]="formGroupName")
    .modal-form__section
      .modal-form__row.input-container
        .input-container__input.dropdown
          am-core-input-text(
          label="DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.COUNTRY_LABEL",
          errorTextKey="DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.INVALID_COUNTRY",
          [controlName]="naturalPersonControlNames.COUNTRY_NAME",
          [isDisabled]="isRequestPending",
          [form]="naturalPersonForm",
          [isRequired]="true",
          (click)="showDropdown()"
          )
          .dropdown-list(*ngIf="isDropdownVisible")
            .dropdown-list__item(
              *ngFor="let item of countryListDisplay",
              (click)="onCountrySelected(item)"
            ) {{item.name}}
        .input-container__input
      .modal-form__row.input-container
        am-core-input-text.input-container__input(
        [label]="'DASHBOARD.PAYMENTS.INVOICE_MODAL.PERSON.NAME.LABEL'",
        [isRequired]="true",
        [controlName]="naturalPersonControlNames.FIRST_NAME",
        [isDisabled]="isRequestPending",
        [form]="naturalPersonForm",
        )
        am-core-input-text.input-container__input(
        [label]="'DASHBOARD.PAYMENTS.INVOICE_MODAL.PERSON.SECOND_NAME.LABEL'",
        [isRequired]="true",
        [controlName]="naturalPersonControlNames.LAST_NAME",
        [isDisabled]="isRequestPending",
        [form]="naturalPersonForm",
        )

      .modal-form__row.input-container
        am-core-input-text.input-container__input(
        [label]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.ADDERS_LABEL'",
        [isRequired]="true",
        [controlName]="naturalPersonControlNames.STREET",
        [isDisabled]="isRequestPending",
        [form]="naturalPersonForm",
        )
        .input-container.input-container-address
          am-core-input-text.input-container__input(
          [label]="'DASHBOARD.PAYMENTS.INVOICE_MODAL.PERSON.STREET_NUMBER.LABEL'",
          [isRequired]="true",
          [controlName]="naturalPersonControlNames.STREET_NUMBER",
          [isDisabled]="isRequestPending",
          [form]="naturalPersonForm",
          )
          am-core-input-text.input-container__input(
          [label]="'DASHBOARD.PAYMENTS.INVOICE_MODAL.PERSON.APARTMENT_NUMBER.LABEL'",
          [controlName]="naturalPersonControlNames.APARTMENT_NUMBER",
          [isDisabled]="isRequestPending",
          [form]="naturalPersonForm",
          )

      .modal-form__row.input-container
        am-core-input-text.input-container__input(
        [label]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.CITY_LABEL'",
        [isRequired]="true",
        [controlName]="naturalPersonControlNames.CITY",
        [isDisabled]="isRequestPending",
        [form]="naturalPersonForm",
        )
        .input-container.input-container-address
          am-core-custom-input-numeric.input-container__input(
          [inputType]="'tel'",
          [inputMask]="'99-999'",
          [label]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.POSTAL_CODE_LABEL'",
          [isRequired]="true",
          [controlName]="naturalPersonControlNames.POSTAL_CODE",
          [isDisabled]="isRequestPending",
          [form]="naturalPersonForm",
          [errorTextKey]="'DASHBOARD.PAYMENTS.INVOICE_DETAILS.COMPANY_INVOICE.POSTAL_CODE_ERROR'",
          [pattern]="postalCodePattern"
          )
          .input-container__input
