span.margin-top-60
  div.registration(data-ng-show="vm.registrationMetaData.step1")
    include step1.partial.jade
  div.registration(data-ng-show="!vm.registrationMetaData.step1")
    include step2.partial.jade
