.text-center.margin-top-60.center-flex

  form(role="form" name="pinForm")
    div.round.center-block
      i.icon-2x.icon-smile.center-in-circle
    .pro-header.margin-top-10
      | Prawie gotowe...
    .margin-top-20.pro-secondary-header
      | Numer ID
    .margin-top-10.inline-block.pro-secondary-header
      | 254 233
    div.pro-tooltip
      span ?

    div(data-pro-registration-input-pass
    data-max-length="4" data-min-length="4" data-form="pinForm" data-name="4-cyfrowy pin:" data-label-icon="icon-keypad" data-input-value="vm.userData.pin")

    div.row
    //p.margin-top-20.margin-bottom-0(style="width: 500px")
    //  | Założenie konta oznacza akceptację Regulaminu Serwisu oraz wyrażenie
    //  | zgody na przetwarzanie danych osobowych (spokojnie, nie spamujemy :) ).

    div.row
    button.btn.pro-button.margin-top-20(data-ng-click="vm.verifyPinAndGo()")
      | Załóż konto

