.container.text-center.margin-top-60.center-flex
  p.text-center(data-ng-show="vm.registrationMetaData.emailSended") Email sended. Click on link my friend
  form(role="form" name="registerForm" data-ng-show="!vm.registrationMetaData.emailSended")
    div.round.center-block
      i.icon-2x.icon-talk-man.center-in-circle
    .pro-header.margin-top-10
      | Rejestracja
    div(data-pro-registration-input-email data-name="email:" data-label-icon="icon-mail-withatsign" data-input-value="vm.userData.email")
    div(data-pro-registration-input-pass data-name="hasło:" data-label-icon="icon-lock-3" data-input-value="vm.userData.password")



    div.row.margin-top-20
    button.btn.pro-button(type="button" data-ng-click="vm.registerSocial()")
      | ZALOGUJ SIĘ ZA POMOCĄ FEJSBUKA
    div.row
    button.btn.pro-button-light.margin-top-20(type="submit" data-ng-click="vm.sendEmail()")
      | Kontynuuj


    div.row.margin-top-20
      div.inline-block
        div.filled-round
        div.small-round
