.text-center.margin-top-60.center-flex

  p.text-center(data-ng-show="vm.registrationMetaData.emailSended") Email sended. Click on link my friend
  form(name="registration" data-ng-show="!vm.registrationMetaData.emailSended" novalidate)
    div.round.center-block
      i.icon-2x.icon-talk-man.center-in-circle
    .pro-header.margin-top-10
      | Rejestracja
    div(data-pro-registration-input-email data-form="registration" data-name="email:" data-label-icon="icon-mail-with-at-sign" data-input-value="vm.userData.email")
    div(data-pro-registration-input-pass data-form="registration" data-name="hasło:" data-label-icon="icon-lock-3" data-input-value="vm.userData.password")

    div.row.margin-top-20
    button.pro-button(type="button")
      span
        i.icon-facebook.inline-block
        | ZALOGUJ SIĘ ZA POMOCĄ FEJSBUKA
    div.row
    button.pro-button-light.margin-top-20(type="submit" data-ng-click="vm.sendAndGoNext()")
      | Kontynuuj


    
