.tags-list
  span.title-row(data-ng-if="$ctrl.title") {{ $ctrl.title | translate }}
    span(data-ng-if="$ctrl.tags.length > 0") ({{ $ctrl.tags.length }})

  ul.tag-list.slide-page
    li(ng-repeat="tag in $ctrl.tags | limitTo: 7")
      a.slide-btn-tag(data-ui-sref="app.search-result({q: tag.name})") {{ tag.name }}
