@import "../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../template/profitelo_theme/stylesheets/core/interface/typography/typography"


.tag-list
  display: flex
  flex-wrap: wrap
  position: relative

  &.disable
    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%

  li
    margin: 0 8px 8px 0
    border-radius: 0
    transition: transform 0.3s

    a
      +default-font-regular
      transition: color 0.3s, border 0.3s
      background: $c-white
      border: 1px solid $c-lines
      color: $c-secondary-txt
      height: 24px
      display: inline-flex
      align-items: center
      padding: 0 16px
      white-space: pre
      font-size: $f-paragraph-small
      border-radius: 5px

    &.is-checked,
    &:hover
      a
        color: $c-primary
        border-color: $c-primary

        span
          color: $c-primary

    &:hover
      transform: translateY(-4px)

  &.dropdown-tag-list
    li
      a
        +inputLabel
        height: 32px
        display: flex
        align-items: center

        span
          &.icon
            font-size: $f-icon-16
