.search-filter
    br
    br
    br
    br
    p TUTAJ
    pro-dropdown(data-pro-model='pro-sort-as' data-label='Sortuj według' data-placeholder='+placeholder'
    data-pro-items="lang" data-no-search)

    pro-dropdown(data-pro-model='pro-language' data-label='Języki' data-placeholder='+placeholder'
    data-pro-items="lang" data-no-search)

    pro-dropdown(data-pro-model='pro-domain' data-label='Dziedziny' data-placeholder='+placeholder'
    data-pro-items="las" data-no-search)
