.search-filter
    .default-container
        br
        br
        br
        br
        br
        br

        h5 Podobne wyszukiwania:
        pro-tags-slider()

        .advanced-search-bar-wrap
            pro-dropdown(data-pro-model='pro-sort-as' data-label='Sortuj według' data-placeholder='+placeholder' data-pro-items="lang" data-no-search)

            pro-dropdown(data-pro-model='pro-language' data-label='Języki' data-placeholder='+placeholder' data-pro-items="lang" data-no-search)

            pro-dropdown(data-pro-model='pro-domain' data-label='Dziedziny' data-placeholder='+placeholder' data-pro-items="las" data-no-search)

            pro-range-slider(data-min-value="0" data-max-value="100")

        pro-switcher(id="switcher" data-ng-model="switcherModel")