.search-filter
  div.search-filter-slider(data-ng-if="model.tags.length > 3")
    h4 {{::'SEARCH.SEARCH_RECENT' | translate}}
    .default-container
      pro-tags-slider(data-tags="model.tags" data-on-tag-click-action="tagsAction")

  .default-container
    .advanced-search-bar-wrap
      pro-dropdown(data-pro-model='model.sortBy' data-label="{{::'SEARCH.SORT_BY' | translate }}" data-placeholder="{{::'SEARCH.SATISFIED_PERCENT' | translate }}" data-pro-items="sortList" data-no-search)

      pro-dropdown(data-pro-model='model.language' data-label="{{::'DASHBOARD.CREATE_PROFILE.PROFILE_LANGUAGE_HEADER' | translate }}" data-placeholder="{{::'SEARCH.ALL_LANGUAGES' | translate }}" data-pro-items="languagesList" data-no-search)

      pro-dropdown(data-pro-model='model.category' data-label="{{::'SEARCH.DOMAINS' | translate }}" data-placeholder="{{::'SEARCH.ALL' | translate }}" data-pro-items="categoryList" data-no-search)

      pro-range-slider(data-min-value='model.minPrice' data-max-value='model.maxPrice' data-label="{{::'SEARCH.PRICE_RANGE' | translate}}")

    pro-switcher(id="switcher" data-ng-model="model.onlyAvailable" data-label="SEARCH.EXPERTS_CURRENTLY_AVAILABLE")
