.file-uploader
    .upload-field(ngf-drop ngf-select ng-model="proModel" class="drop-box"
    ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
    accept="{{accept}}"
    ngf-pattern="{{pattern}}"
    items="{{filesUploaded}}")
        .upload-icons
            i.icon.icon-upload-cloud-64
            i.icon.icon-upload-arrow-24-1.icon-overlay(data-ng-hide="upload" ng-class="{'arrow-hide': hideArrow, 'arrow-show': showArrow}")
            i.icon.icon-upload-progress-24-1.icon-overlay-load.fa-spin.icon-24(data-ng-show="upload" ng-class="{'hide-loader' : hideLoader}")
        .upload-description(ng-class="{'fade-effect': fadeText}")
            h3.bold {{header | translate}}
                span(data-ng-hide="!upload")  {{progress}}%
            h5.bold(data-translate="{{info | translate: translationInfo}}")
        .upload-field-fill(style="height: {{ progress }}%")
    .input-error-messages
        .error(data-translate="COMMON.DIRECTIVES.INTERFACE.UPLOADER.ERROR_EXTERNAL_FILES_TYPE" data-ng-show="badFileType")
        .error(data-translate="COMMON.DIRECTIVES.INTERFACE.UPLOADER.ERROR_EXTERNAL_FILES_SIZE" data-ng-show="badFileSize")
