plat-consultation-footer
  //left part of the screen
  .consultation-footer__left-price
    plat-consultation-footer-price(*ngIf='isFreelance', [grossPrice]='grossPrice')
  //middle part of the screen
  .consultation-footer__left-text
    plat-consultation-footer-freelance(
      *ngIf='isFreelance else organization',
      [price]='price',
      [grossPrice]='grossPrice')
    ng-template(#organization)
      plat-consultation-footer-organization
  //right part of the screen
  .consultation-footer__right
    a((click)='onLeave()', plat-stroked-button color='secondary') {{"CONSULTATION_DETAILS.FOOTER.LEAVE" | translate}}
  //right panel on the screen on mobile
  .consultation-footer__right--mobile
    a((click)='onLeave()', plat-stroked-button color='secondary') {{"CONSULTATION_DETAILS.FOOTER.LEAVE" | translate}}
