@import "~@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"

.tag-list
	&__item
		min-height: 32px
		border: 1px solid $c-lines
		border-radius: 32px
		display: flex
		align-items: center

		span
			+caption
			color: $c-text-secondary
			border: 0
			background: none