.single-consultation.consultation-list
  .consultation-section
    .consultation-details
      .consultation-price.price-section
        span(data-ng-bind-html="::$ctrl.service.details.price | money")
        span.time(data-translate='HOME.TOP_CONTAINER.EXPERT_PROFILE.CURRENCY_PER_MINUTE')

      ul.consultation-details-info
        li.options-item.recomendation
          span.icon.icon-satisfaction-16
          span  {{ ::$ctrl.service.rating }}%
        li.options-item.conversation-count
          span.icon.icon-call-16
          span {{ ::$ctrl.service.usageCounter }}

    .consultation-as-employee(data-ng-if="$ctrl.ownerCompany")
      span {{ 'EXPERT_PROFILE.CONSULTING_AS_EMPLOYEE.TITLE' | translate }}
        a.link(data-ui-sref="app.company-profile({profileId: $ctrl.ownerCompany.id})") {{ $ctrl.ownerCompany.organizationDetails.name }}

    .consultation-title
      h3
        span {{ $ctrl.service.details.name }}

    tags-list(data-tags="$ctrl.tags")

  .consultation-actions
    a.btn.btn-success(data-ng-click="$ctrl.startCall($ctrl.service)"
    data-translate="HOME.TOP_CONTAINER.EXPERT_PROFILE.CALL")
