.upload-field
  margin: 10px 0
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: space-around
  align-content: center
  align-items: center
  background: $c-background
  width: 100%
  border: 2px dashed $c-lines
  padding: 55px 0 60px 0
  text-align: center
  .upload-description
    margin-top: -40px
    h3
      color: $c-primary-hover
      font-size: 23px
    p
      color: $c-primary-hover
      margin-top: -14px
  i
    margin-top: 55px
    margin-bottom: 30px
    font-size: 70px
    color: $c-primary-hover
  .icon-overlay
    font-size: 30px
    position: absolute
    margin-top: 31px
    margin-left: -50px