
<div class="navigation">
  <div class="navigation__gradient"></div>
  <div class="navigation__container" [ngClass]="{'navigation__container--hideable': isUserInactive}"><span></span>
    <am-core-navigation-description [newCallEvent]="newCallEvent" [hangupCall]="hangupCall"></am-core-navigation-description>
    <nav>
      <ul class="navigation__list navigation__list--bottom">
        <li (click)="toggleVideo()"><a class="btn-nav btn-nav--communicator" [class.btn-nav--selected]="isVideo" [class.hideable]="isUserInactive" [ngClass]="{'is-active': isVideo, 'is-inactive': !isVideo}"><span class="icon icon-camera-on" *ngIf="isVideo"></span><span class="icon icon-camera-off" *ngIf="!isVideo"></span></a><span class="icon-title" *ngIf="isVideo">{{ 'FEATURE.COMMUNICATOR.NAVIGATION.CAMERA_ON' | translate }}</span><span class="icon-title" *ngIf="!isVideo">{{ 'FEATURE.COMMUNICATOR.NAVIGATION.CAMERA_OFF' | translate }}</span></li>
        <li (click)="toggleAudio()"><a class="btn-nav btn-nav--communicator" [ngClass]="{'btn-nav--selected': isAudio, 'hideable': isUserInactive, 'btn-nav--error': currentMicrophoneStateEnum === microphoneStateEnums.MUTED}"><span class="icon icon-microphone-on" *ngIf="isAudio"></span><span class="icon icon-microphone-off" *ngIf="!isAudio"></span></a>
          <ng-container *ngIf="currentMicrophoneStateEnum === microphoneStateEnums.GOOD"><span class="icon-title" *ngIf="isAudio">{{ 'FEATURE.COMMUNICATOR.NAVIGATION.MICROPHONE_ON' | translate }}</span><span class="icon-title" *ngIf="!isAudio">{{ 'FEATURE.COMMUNICATOR.NAVIGATION.MICROPHONE_OFF' | translate }}</span></ng-container><span class="icon-title" *ngIf="currentMicrophoneStateEnum === microphoneStateEnums.MUTED">{{ 'FEATURE.COMMUNICATOR.NAVIGATION.MICROPHONE_PROBLEM' | translate }}</span>
        </li>
        <li [ngClass]="{'disabled': !isConnected}"><a class="btn-nav btn-nav--communicator btn--chat-switcher" (click)="toggleMessenger($event)" [ngClass]="{'btn-nav--selected': isMessenger}"><span class="icon icon-chat" *ngIf="unseenMessages &lt; 1"></span><span class="icon icon-chat-numbers" *ngIf="!isMessenger &amp;&amp; unseenMessages &gt; 0"><span class="unseen-messages">{{ unseenMessages }}</span></span></a><span class="icon-title">Czat</span></li>
      </ul>
    </nav>
  </div>
</div>