.communicator-nav
  .communicator-upper-nav
    .communicator-window-nav(data-ng-if="!$ctrl.isPlatformForExpert")
      a.btn.btn-circle.black(data-ng-click="$ctrl.toggleOptions($event) && $ctrl.pullCall()")
        span.icon.icon-smartphone-24
        span.icon-title(data-translate="COMMUNICATOR.NAVIGATION.SWITCH_GSM")

      a.btn.btn-circle.black(data-ng-click="$ctrl.toggleOptions($event)")
        span.icon.icon-dots-menu-24
        span.icon-title(data-translate="COMMUNICATOR.NAVIGATION.MORE")

  .communicator-lower-nav
    a.btn.btn-circle.black(data-ng-click="$ctrl.animateButtons($event)")
      span.icon.icon-mic-on-24(data-ng-click="$ctrl.stopAudio()"  data-ng-show="$ctrl.isAudio")
      span.icon.icon-mic-off-24(data-ng-click="$ctrl.startAudio()" data-ng-hide="$ctrl.isAudio")
      span.icon-title(data-translate="COMMUNICATOR.NAVIGATION.MICROPHONE")

    a.btn.btn-circle.cancel-conversation(data-ng-click="$ctrl.animateButtons($event); $ctrl.hangupCall()")
      span.icon.icon-reject-24
      span.icon-title(data-translate="COMMUNICATOR.NAVIGATION.END_CALL")

    a.btn.btn-circle.black(data-ng-class="{'is-active': !$ctrl.isVideo, 'is-inactive': $ctrl.isVideo}")
      span.icon.icon-camera-on-24(data-ng-click="$ctrl.stopVideo()" data-ng-show="$ctrl.isVideo")
      span.icon.icon-camera-off-24(data-ng-click="$ctrl.startVideo($event)" data-ng-hide="$ctrl.isVideo")
      span.icon-title(data-translate="COMMUNICATOR.NAVIGATION.CAMERA")

    a.btn.btn-circle.black.chat-switcher(data-ng-click="$ctrl.toggleMessenger($event)")
      span.icon.icon-chat-24
      span.icon-title(data-translate="COMMUNICATOR.NAVIGATION.CHAT")
