.profile-preview
  display: flex
  align-items: center

  &.vertical-preview
    display: block

    .thumb
      margin: 0 0 16px

    .profile-name
      display: block

  .thumb
    margin: 0 16px 0 0

    .status-list
      .status
        +mdm
          justify-content: flex-end

  .profile-name
    +consultationProfileName
    display: flex
    align-items: center

.title-row
  +default-font-regular
  font-size: $f-paragraph-title
  color: $c-tertiary-txt
  margin: 0 0 12px
  display: block

  span
    font-size: $f-paragraph-title
    color: $c-tertiary-txt
    margin: 0 0 12px 4px

.circle
  border-radius: 50%
