.status-list
  .status
    +default-font-medium
    font-size: $f-button-small
    text-transform: uppercase
    display: inline-flex
    align-items: center

    &::before
      content: ''
      width: 16px
      height: 16px
      position: absolute
      border-radius: 50%

    &.availability
      color: $c-success

      span
        &.icon
          position: relative
          z-index: $z-index-100
          background: $c-success

      &::before
        background: $c-success

    span
      &.icon
        font-size: $f-icon-size
        margin: 0 8px 0 0
        border-radius: 50%
        width: 16px
        height: 16px
        color: $c-white


.is-error
  color: $c-error

.is-success
  color: $c-success

.is-warning
  color: $c-warning
