$icons: (timer-24: ea02)
$icons: map-merge($icons, (tablet-24: ea03))
$icons: map-merge($icons, (suitcase-24: ea04))
$icons: map-merge($icons, (success-24: ea05))
$icons: map-merge($icons, (start-earning-24: ea06))
$icons: map-merge($icons, (speakers-24: ea07))
$icons: map-merge($icons, (smile-24: ea08))
$icons: map-merge($icons, (smartphone-24: ea09))
$icons: map-merge($icons, (sign-in-24: ea0a))
$icons: map-merge($icons, (shrink-24: ea0b))
$icons: map-merge($icons, (share-24: ea0c))
$icons: map-merge($icons, (settings-24: ea0d))
$icons: map-merge($icons, (send-24: ea0e))
$icons: map-merge($icons, (search-24: ea0f))
$icons: map-merge($icons, (screen-sharing-24: ea10))
$icons: map-merge($icons, (sad-24: ea11))
$icons: map-merge($icons, (reload-24: ea12))
$icons: map-merge($icons, (reject-24: ea13))
$icons: map-merge($icons, (recomended-tags-24: ea14))
$icons: map-merge($icons, (questionmark-24: ea15))
$icons: map-merge($icons, (printer-24: ea16))
$icons: map-merge($icons, (plus-24: ea17))
$icons: map-merge($icons, (planet-24: ea18))
$icons: map-merge($icons, (pin-number-24: ea19))
$icons: map-merge($icons, (pin-24: ea1a))
$icons: map-merge($icons, (picture-24: ea1b))
$icons: map-merge($icons, (pdf-24: ea1c))
$icons: map-merge($icons, (payout-24: ea1d))
$icons: map-merge($icons, (payment-card-2: ea1e))
$icons: map-merge($icons, (password-show-24: ea1f))
$icons: map-merge($icons, (password-hide-24: ea20))
$icons: map-merge($icons, (outgoing-call-24: ea21))
$icons: map-merge($icons, (next-24: ea22))
$icons: map-merge($icons, (next-12: ea23))
$icons: map-merge($icons, (mouse-24: ea24))
$icons: map-merge($icons, (minus-24: ea25))
$icons: map-merge($icons, (mic-on-24: ea26))
$icons: map-merge($icons, (mic-off-24: ea27))
$icons: map-merge($icons, (mail-24: ea28))
$icons: map-merge($icons, (logout-24: ea29))
$icons: map-merge($icons, (lock-24: ea2a))
$icons: map-merge($icons, (link-24: ea2b))
$icons: map-merge($icons, (like-24: ea2c))
$icons: map-merge($icons, (language-24: ea2d))
$icons: map-merge($icons, (invites-24: ea2e))
$icons: map-merge($icons, (info-24: ea2f))
$icons: map-merge($icons, (incoming-call-24: ea30))
$icons: map-merge($icons, (how-it-works-24: ea31))
$icons: map-merge($icons, (hourglass-24: ea32))
$icons: map-merge($icons, (history-24: ea33))
$icons: map-merge($icons, (heart-filled-24: ea34))
$icons: map-merge($icons, (heart-24: ea35))
$icons: map-merge($icons, (graphic-file-24: ea36))
$icons: map-merge($icons, (for-experts-24: ea37))
$icons: map-merge($icons, (filter-24: ea38))
$icons: map-merge($icons, (file-24: ea39))
$icons: map-merge($icons, (failure-24: ea3a))
$icons: map-merge($icons, (expand-24: ea3b))
$icons: map-merge($icons, (exclude-24: ea3c))
$icons: map-merge($icons, (edit-24: ea3d))
$icons: map-merge($icons, (download-file-24: ea3e))
$icons: map-merge($icons, (download-24: ea3f))
$icons: map-merge($icons, (down-12: ea40))
$icons: map-merge($icons, (dots-menu-24: ea41))
$icons: map-merge($icons, (dislike-24: ea42))
$icons: map-merge($icons, (danger-24: ea43))
$icons: map-merge($icons, (consultation-details-24: ea44))
$icons: map-merge($icons, (consultation-chat-24: ea45))
$icons: map-merge($icons, (computer-24: ea46))
$icons: map-merge($icons, (complaint-24: ea47))
$icons: map-merge($icons, (close-16: ea48))
$icons: map-merge($icons, (close-12: ea49))
$icons: map-merge($icons, (clock-24: ea4a))
$icons: map-merge($icons, (client-24: ea4b))
$icons: map-merge($icons, (check-10: ea4c))
$icons: map-merge($icons, (chat-24: ea4d))
$icons: map-merge($icons, (camera-on-24: ea4e))
$icons: map-merge($icons, (camera-off-24: ea4f))
$icons: map-merge($icons, (call-24: ea50))
$icons: map-merge($icons, (bell-24: ea51))
$icons: map-merge($icons, (back-24: ea52))
$icons: map-merge($icons, (back-12: ea53))
$icons: map-merge($icons, (attachment-24: ea54))
$icons: map-merge($icons, (arrow-up-24: ea55))
$icons: map-merge($icons, (arrow-right-24: ea56))
$icons: map-merge($icons, (arrow-left-24: ea57))
$icons: map-merge($icons, (arrow-down-24: ea58))
$icons: map-merge($icons, (add-expert-24: ea59))
$icons: map-merge($icons, (add-16: ea5a))
$icons: map-merge($icons, (warning: ea5b))
$icons: map-merge($icons, (upload: ea5c))
$icons: map-merge($icons, (triangle: ea5d))
$icons: map-merge($icons, (trash: ea5e))
$icons: map-merge($icons, (switch-to-gsm: ea5f))
$icons: map-merge($icons, (stroke-upload: ea60))
$icons: map-merge($icons, (stroke-right: ea61))
$icons: map-merge($icons, (stroke-left: ea62))
$icons: map-merge($icons, (stroke-edit: ea63))
$icons: map-merge($icons, (stroke-delete: ea64))
$icons: map-merge($icons, (show-password: ea65))
$icons: map-merge($icons, (settings: ea66))
$icons: map-merge($icons, (search: ea67))
$icons: map-merge($icons, (satisfaction: ea68))
$icons: map-merge($icons, (refresh: ea69))
$icons: map-merge($icons, (read-more: ea6a))
$icons: map-merge($icons, (questionmark: ea6b))
$icons: map-merge($icons, (play: ea6c))
$icons: map-merge($icons, (phone: ea6d))
$icons: map-merge($icons, (payment-card: ea6e))
$icons: map-merge($icons, (organization: ea6f))
$icons: map-merge($icons, (options-more: ea70))
$icons: map-merge($icons, (offline: ea71))
$icons: map-merge($icons, (money: ea72))
$icons: map-merge($icons, (microphone-on: ea73))
$icons: map-merge($icons, (microphone-off: ea74))
$icons: map-merge($icons, (mail: ea75))
$icons: map-merge($icons, (logout: ea76))
$icons: map-merge($icons, (lock: ea77))
$icons: map-merge($icons, (lock-closed: ea78))
$icons: map-merge($icons, (list: ea7a))
$icons: map-merge($icons, (information: ea7c))
$icons: map-merge($icons, (hide-password: ea7d))
$icons: map-merge($icons, (headphone: ea7e))
$icons: map-merge($icons, (file: ea80))
$icons: map-merge($icons, (expert: ea81))
$icons: map-merge($icons, (end-call: ea82))
$icons: map-merge($icons, (dropdown: ea83))
$icons: map-merge($icons, (download: ea84))
$icons: map-merge($icons, (down: ea85))
$icons: map-merge($icons, (country: ea86))
$icons: map-merge($icons, (comments: ea87))
$icons: map-merge($icons, (clear: ea88))
$icons: map-merge($icons, (circle-close: ea89))
$icons: map-merge($icons, (check: ea8a))
$icons: map-merge($icons, (chat: ea8b))
$icons: map-merge($icons, (cellphone: ea8c))
$icons: map-merge($icons, (camera-switch: ea8d))
$icons: map-merge($icons, (camera-on: ea8e))
$icons: map-merge($icons, (camera-off: ea8f))
$icons: map-merge($icons, (busy: ea91))
$icons: map-merge($icons, (bell: ea92))
$icons: map-merge($icons, (avatar: ea93))
$icons: map-merge($icons, (available: ea94))
$icons: map-merge($icons, (arrow-right: ea95))
$icons: map-merge($icons, (arrow-left: ea96))
$icons: map-merge($icons, (anymind: ea97))
$icons: map-merge($icons, (add: ea98))
$icons: map-merge($icons, (fullscreen: ea99))
$icons: map-merge($icons, (fullscreen-exit: ea9a))
$icons: map-merge($icons, (chat-numbers: ea9c))
$icons: map-merge($icons, (attachment: ea9d))
$icons: map-merge($icons, (download-file: ea9e))
$icons: map-merge($icons, (multiperson: ea9f))
$icons: map-merge($icons, (person: eaa0))
$icons: map-merge($icons, (upload-2: eaa1))
$icons: map-merge($icons, (backward: eaa2))
$icons: map-merge($icons, (rating: eaa3))
$icons: map-merge($icons, (calendar: eaa4))
$icons: map-merge($icons, (send: eaa5))
$icons: map-merge($icons, (discovery: eaa6))
$icons: map-merge($icons, (invite: eaa7))
$icons: map-merge($icons, (heart: eaa8))
$icons: map-merge($icons, (upload-files: eaa9))
$icons: map-merge($icons, (behance: eaaa))
$icons: map-merge($icons, (dribbble: eaab))
$icons: map-merge($icons, (facebook: eaac))
$icons: map-merge($icons, (goldenline: eaad))
$icons: map-merge($icons, (googleplus: eaae))
$icons: map-merge($icons, (instagram: eaaf))
$icons: map-merge($icons, (linkedin: eab0))
$icons: map-merge($icons, (medium: eab1))
$icons: map-merge($icons, (skype: eab2))
$icons: map-merge($icons, (twitter: eab3))
$icons: map-merge($icons, (vimeo: eab4))
$icons: map-merge($icons, (www: eab5))
$icons: map-merge($icons, (youtube: eab6))
$icons: map-merge($icons, (stroke-logout: eab7))
$icons: map-merge($icons, (stroke-show: eab8))
$icons: map-merge($icons, (stroke-computer: eab9))
$icons: map-merge($icons, (stroke-cellphone: eaba))
$icons: map-merge($icons, (loading: eabb))
$icons: map-merge($icons, (date: eabd))
$icons: map-merge($icons, (pdf: eabe))
$icons: map-merge($icons, (secure: eabf))
$icons: map-merge($icons, (time-duration: eac0))
$icons: map-merge($icons, (wallet: eac1))
$icons: map-merge($icons, (share: eac2))
$icons: map-merge($icons, (heart-stroke: eac3))
$icons: map-merge($icons, (heart-filled: eac4))
$icons: map-merge($icons, (account-payments: eac5))
$icons: map-merge($icons, (forward: eac6))
$icons: map-merge($icons, (zoom-in: eac7))
$icons: map-merge($icons, (zoom-out: eac8))
$icons: map-merge($icons, (print: eac9))
$icons: map-merge($icons, (pdf-file: eaca))
$icons: map-merge($icons, (excel-file: eacb))
$icons: map-merge($icons, (doc-file: eacc))
$icons: map-merge($icons, (picture: eacd))
$icons: map-merge($icons, (filters: ead0))
$icons: map-merge($icons, (playstore: ead1))
$icons: map-merge($icons, (appstore: ead2))
$icons: map-merge($icons, (thumb-up: ead3))
$icons: map-merge($icons, (thumb-down: ead4))
