.rtc-detector(data-ng-class=
"[{'is-edge': vm.isEdge}, {'is-opera': vm.isOpera}, {'is-firefox': vm.isFirefox}, {'is-safari': vm.isSafari}]")
  .container-small
    .rtc-detector-content
      .rtc-image
        img.arrow(data-ng-src="/assets/images/profitelo_icons/arrow.png")
        img(data-ng-src="/assets/images/profitelo_icons/camera-allow.png")

      .rtc-header
        h2 {{:: 'COMMUNICATOR.MODALS.RTC.TITLE' | translate }}
        span {{:: 'COMMUNICATOR.MODALS.RTC.DESCRIPTION' | translate }}

