.create-profile
  .step-active
    background-color: $c-background
    h3
      color: $c-primary
    .title-step
      p
        color: $c-secondary-txt
    .step-description
      p
        color: $c-primary
        margin-top: 30px
    .step-content
      .option
        p
          margin-top: -20px
          color: $c-primary
        i
          color: $c-primary

      .selected
        background-color: $c-primary
        p, i
          color: $c-white
