.create-profile
  background-color: $c-white
  padding-bottom: 146px
  +smm
    padding-bottom: 92px
  .title-row
    padding: 24px 12px
    text-transform: uppercase
    border-bottom: 1px solid $c-lines
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-content: center
    align-items: center
    height: 96px
    +mdm
      padding: 24px 24px
    .title
      h2
        text-align: center
        font-size: 23px
        color: $c-primary-txt
        +colfax-bold
        line-height: 22px
    .close-button
      margin-left: 0px
      i
        color: $c-secondary
      a
        text-decoration: none
        background-color: $c-white
        +border-radius(50px)
        &:hover
          background-color: $c-background
          border: 2px solid $c-secondary
          +transition('all 0.1s ease-in-out 0s')
      .btn-light
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: flex-start
        align-items: center
        padding-top: 19px
        i
          font-size: 16px
          &:hover
            padding: -2px
  .bottom-row
    color: $c-primary-txt
    background-color: $c-white
    width: 100%
    +smm
      width: calc(100% - 96px)
    bottom: 0
    z-index: 120
    position: fixed
    border-top: 1px solid $c-lines
    .progress-bar
      height: 1px
      background-color: $c-primary
      float: left
      position: absolute
      top: 0
      margin-top: -1px
      +transition('all 1s ease-in-out 0s')
    .title-row-column
      padding: 0 24px
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: space-between
      align-content: center
      align-items: center
    .title
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: flex-start
      align-content: flex-start
      align-items: center
      width: 100%
      color: $c-primary-txt
      h5
        color: $c-primary-txt
        +colfax-bold
        text-transform: uppercase
        padding: 10px 4px
      .width
        color: $c-nav-icons

    .next-step
      width: 200px
      .button-next-step
        .btn-main
          background-color: $c-primary
          color: $c-white
