.create-profile
  background-color: $c-white
  .title-row
    padding: 24px 15px
    text-transform: uppercase
    border-bottom: 1px solid $c-lines
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-content: center
    align-items: center
    height: 96px
    +mdm
      padding: 24px 30px
    .title
      h2
        text-align: center
        font-size: 23px
        margin: 0
        margin-left: 60px
        color: $c-primary
        font-weight: bold
        line-height: 22px
        +mdm
          margin-left: 0
    .close-button
      margin-left: 0px
      a
        text-decoration: none
        background-color: $c-white
        +border-radius(50px)
        &:hover
          background-color: $c-background
      .btn-light
        margin: 0
        i
          font-size: 16px

  .bottom-row
    color: $c-lines
    padding-top: 5px
    padding: 24px 24px
    background-color: $c-primary
    height: 160px
    position: block
    width: 100%
    bottom: 0
    z-index: 120
    position: fixed
    +mdm
      height: 96px
      max-width: calc(1170px - 220px)
      width: calc(100% - 220px)
    .next-step
      margin-top: 0
      +mdm
        margin-top: -32px
    .btn-medium
      background-color: $c-white
      color: $c-primary
      +border-radius(50px)
    .title
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: space-between
      align-content: space-between
      align-items: center
      width: 100%
      color: $c-white
      margin-top: -24px
      +mdm
        width: 75%
      h5
        color: $c-white
        font-weight: bold
        text-transform: uppercase
    .loader-container
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      justify-content: space-between
      align-content: center
      align-items: center
      +mdm
        flex-direction: row
        margin-top: -27px
      .password-verify
        width: 100%
        +mdm
          width: 75%
        .loader
          background-color: $c-primary-hover
          margin-top: -4px
        .progress-bar
          background-color: $c-white
          +border-radius(5px)
          max-width: 100%
