.create-profile
  background-color: $c-white
  padding-bottom: 146px
  +smm
    padding-bottom: 96px
  .title-row
    padding: 24px 15px
    text-transform: uppercase
    border-bottom: 1px solid $c-lines
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-content: center
    align-items: center
    height: 96px
    +mdm
      padding: 24px 30px
    .title
      h2
        text-align: center
        font-size: 23px
        margin: 0
        margin-left: 45px
        color: $c-primary
        font-weight: bold
        line-height: 22px
        +xsm
          margin-left: 60px
        +mdm
          margin-left: 0
    .close-button
      margin-left: 0px
      a
        text-decoration: none
        background-color: $c-white
        +border-radius(50px)
        &:hover
          background-color: $c-background
          border: 2px solid $c-primary-hover
          +transition('all 0.1s ease-in-out 0s')
      .btn-light
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: flex-start
        align-items: center
        padding-top: 19px
        i
          font-size: 16px
          &:hover
            padding: -2px
  .bottom-row
    color: $c-lines
    background-color: $c-primary
    width: 100%
    bottom: 0
    z-index: 120
    position: fixed
    +mdm
      max-width: 1004px
      width: 1004px
    .next-step
      margin-top: 0
      margin-left: 24px
      +smm
        margin-top: -32px
    .btn-medium
      background-color: $c-white
      color: $c-primary
      +border-radius(50px)
    .title-row-column
      padding: 0px 15px 28px
      +smm
        padding: 0 30px 14px
    .title
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: space-between
      align-content: space-between
      align-items: center
      width: 100%
      color: $c-white
      +smm
        width: 75%
      h5
        color: $c-white
        font-weight: bold
        text-transform: uppercase
    .loader-container
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      justify-content:space-between
      align-content: center
      align-items: center
      margin-top: -17px
      margin-bottom: -12px
      +smm
        margin-top: -27px
        flex-direction: row
      .password-verify
        width: 100%
        +smm
          width: 75%
        .button-next-step
          margin-top: -12px
        .progress-bar
        .loader
          background-color: $c-primary-hover
          margin-top: -4px
        .progress-bar
          background-color: $c-white
          +border-radius(5px)
          max-width: 100%
          +transition('all 1s ease-in-out 0s')
