.create-profile
  .step-done
    h3
      color: $c-primary-txt

    .step-content-column
      margin-top: 30px

    .title-step
      p
        color: $c-secondary-txt

    .step-description
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: space-between
      align-content: center
      align-items: center
      p
        color: $c-primary-txt
        margin-top: 30px
        white-space: nowrap
      i
        color: $c-secondary-txt
        font-size: 25px
        margin-left: 15px
        margin-top: 25px

    .step-content
      p
        margin-top: -20px

      .option
        i
          color: $c-secondary-txt
      .selected
        background-color: $c-primary
        p, i
          color: $c-white
