@import "~@anymind-ng/core/src/template/stylesheets/core/core"

.login-background
  &__container
    background: url("/assets/images/login-background.jpeg") no-repeat
    background-size: cover
    width: 100%
    display: flex
    align-items: center
    justify-content: center

    +xsm
      min-height: 100vh
      padding: 32px 0

    +mdm
      padding: 48px 0