section.unsupported
  .container
    header
      h4 {{ 'UNSUPPORTED.HEADER' | translate }}
      p {{ 'UNSUPPORTED.PARAGRAPH' | translate }}

    .browser-info-container
      .single-browser
        a(href='https://anymind.zendesk.com/hc/pl/articles/360012277652--Wymagania-techniczne-AnyMind' target='_blank')
          img.browsers-icons.chrome(src="/assets/images/help.png")
          span {{ 'UNSUPPORTED.ICON_DESCRIPTION' | translate }} 
