@import "../../../angularjs/template/profitelo_theme/stylesheets/variables/variables"
@import "../../../angularjs/template/profitelo_theme/stylesheets/core/helpers/helpers"

.unsupported
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  padding: 32px
  background: $c-white

  .container
    max-width: 100%
    text-align: center

    h4
      font-size: 22px
      line-height: 32px
      font-weight: 400
      color: $c-primary-txt

    p
      font-weight: 400
      color: $c-secondary-txt
      font-size: 14px
      margin: 16px 0 0
      line-height: 18px


  .browser-info-container
    margin: 48px 0 0
    display: flex
    justify-content: center

    .single-browser
      margin: 0 32px

      > *
        display: block

      img
        height: 48px
        width: 48px

      span
        display: block
        text-align: center
        margin-top: 24px
        font-size: 14px
        color: $c-primary

