.fullscreen-modals
  animation: animation-opacity 0.4s
  animation-fill-mode: forward
  background: $c-white
  width: 100%
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  padding: 32px + $dashboard-navbar-width 0 32px

  +smm-landscape
    padding: 32px + $dashboard-navbar-width 0 32px
