.dropdown-input
  display: flex
  align-items: stretch
  height: $f-input-height
  position: relative
  width: 100%
  transition: border 0.3s
  text-align: left

  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: auto
    height: 1px
    width: 100%
    background: $c-lines

  &::after
    transition: width 0.3s ease-out
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: auto
    height: 1px
    width: 0

  &.is-open
    &::after
      width: 100%
      background: $c-primary

    .dropdown-content
      display: block
      border-color: $c-primary

    .dropdown-header
      span
        &.icon
          &::after
            transform: rotate(180deg)

  &.is-active
    .dropdown-header
      span
        +inputText


  label
    +default-font-bold
    +inputLabel
    flex: 1 0 100%

  span:not(.icon)
    +inputText
    text-transform: none
    flex: 1 0 100%
    display: block

  .dropdown-header
    padding: 0 0 10px
    display: flex
    flex-wrap: wrap
    align-content: space-between
    cursor: pointer
    width: 100%
    position: relative

    .dropdown-icons
      position: absolute
      right: 0
      top: 0
      height: 100%
      display: flex

      .icon
        font-size: $f-icon-size
        color: $c-primary

  .dropdown-content
    position: absolute
    width: calc(100% + 2px)
    left: -1px
    top: 100%
    background: $c-white
    border-top: 0
    box-shadow: 0 1px 3px rgba($c-black, 0.25)
    padding: 0
    max-height: 320px
    display: none
    border-radius: 0
    z-index: $z-index-200
    animation: dropdown-collapsing 0.3s

    .scroll-list
      .title-list
        +inputDropDownItem
        color: $c-tertiary-txt
        padding: 24px 16px 8px
        display: block
        cursor: auto

      .all-items
        display: block
        padding: 8px 16px

        &:hover
          background: $c-primary

          span
            color: $c-white

        &.is-active
          color: $c-primary

    .dropdown-input
      height: 44px
      display: flex
      align-items: flex-end
      border: 0
      position: relative
      margin: 0 0 8px
      border: 0

      &::after, &::before
        content: none

      .icon
        position: absolute
        right: 16px
        top: 0
        bottom: 0
        margin: auto
        cursor: auto
        font-size: $f-icon-16

      input
        transition: border 0.3s
        border-bottom: 1px solid $c-lines
        width: 100%
        color: $c-tertiary-txt
        font-size: $f-paragraph
        padding: 8px 24px 8px 0
        margin: 0 16px

        &:focus
          border-color: $c-primary

    .dropdown-list
      padding: 8px 0
      margin: 0

      li
        &.is-focused,
        &:hover
          background: $c-primary

          a
            color: $c-white

        &.is-active
          a
            +inputDropDownItem
            color: $c-primary

          &.is-focused,
          &:hover
            a
              color: $c-white

        &.no-results
          &:hover
            background: none

            a
              color: inherit
              cursor: auto

        a
          +inputDropDownItem
          display: block
          padding: 8px 16px

      &.dropdown-favourite-list
        margin: 0 0 8px

