.dropdown-input
  display: flex
  align-items: stretch
  border: 1px solid #e6e6e6
  border-radius: 3px
  height: 56px
  position: relative
  width: 100%

  &.is-open
    border-color: $c-primary
    border-radius: 3px 3px 0 0

    .dropdown-content
      display: block
      border-color: $c-primary

  &.is-active
    border-color: $c-primary

  label
    +default-font-heavy
    color: $c-label
    font-size: $f-label-size
    text-transform: uppercase
    flex: 1 0 100%

  span
    +default-font-regular
    color: $c-secondary-txt
    font-size: $f-nav-size
    line-height: 1
    text-transform: none
    flex: 1 0 100%

  .dropdown-header
    padding: 12px 16px 9px
    display: flex
    flex-wrap: wrap
    cursor: pointer
    width: 100%

  .dropdown-content
    position: absolute
    width: calc(100% + 2px)
    left: -1px
    top: 100%
    background: $c-white
    border: 1px solid $c-lines
    border-top: 0
    padding: 0
    min-height: 100%
    max-height: 200px
    display: none
    border-radius: 0 0 3px 3px
    z-index: $z-index-100

    .dropdown-input
      height: 32px
      display: flex
      align-items: flex-end
      padding: 0 16px
      border: 0

      input
        transition: border 0.3s
        border-bottom: 1px solid $c-lines
        width: 100%
        color: $c-label
        font-size: $f-nav-size
        padding: 8px 0

        &:focus
          border-color: $c-primary

    .dropdown-list
      margin: 8px 0

      li
        &:hover
          background: $c-background

        a
          +default-font-regular
          color: $c-secondary-txt
          font-size: $f-nav-size
          line-height: 1.7
          display: block
          padding: 8px 16px

      &.dropdown-favourite-list
        border-bottom: 1px solid $c-lines