.term-suggestions
  .dropdown-default(data-ng-if="vm.terms.length")
    .search-query-cat.dropdown-category-list
      a.choose-category.dropdown-list-item(data-ng-repeat="term in vm.terms track by $index"
      data-ui-sref="app.search-result({q: term.term, category: term.category})")
        span.search-query(ng-bind-html="term.term | searchBoldFilter:vm.searchModel") {{ term.term }}
        span.search-hint(data-ng-if="!!term.category")
          | {{'SEARCH.IN_CATEGORY' | translate}}
          | {{'CATEGORY.' + vm.categorySlugs[term.category] | normalizeTranslationKey | translate}}
        span(data-ng-if="!term.category") {{'SEARCH.IN_ALL_CATEGORIES' | translate}}