@import "grid-elements/grid-elements"
@import "helpers"
@import "modules"

html
  +paragraph
  font-smoothing: antialiased
  osx-font-smoothing: grayscale
  font-size: 100%

body
  +default-font-light
  font-family: 'Roboto', sans-serif
  background-color: $c-background
  overflow-x: hidden
  overflow-y: auto
  width: 100%
  height: 100%

*
  +paragraph
  font-family: 'Roboto', sans-serif
  font-smooth: always
  font-smoothing: antialiased
  osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2)
  box-sizing: border-box
  line-height: 1

*:before,
*:after
  box-sizing: border-box

img
  max-width: 100%

  &:after
    content: "\73"
    font-family: "profitelo_icons"
    color: rgb(100, 100, 100)
    position: absolute
    z-index: 2
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $c-white
    display: flex
    align-items: center
    justify-content: center

  &.user-avatar
    display: block
    overflow: hidden
    text-indent: 200%
    min-width: inherit
    min-height: inherit
    border-radius: 50%

    &.is-not-uploaded
      background: url('/assets/images/no-avatar.jpg') 50% 50% / cover $c-background
      position: relative
      overflow: hidden
      width: 100%
      height: 100%

    &:after
      content: ""
      position: absolute
      border-radius: 50%
      z-index: 2
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      background: url('/assets/images/no-avatar.jpg') 50% 50% / cover $c-white

::selection
  color: $c-white
  background: $c-primary
