@import "grid-elements/grid-elements"
@import "helpers"
@import "modules"

html
  +paragraph
  font-smoothing: antialiased
  osx-font-smoothing: grayscale
  font-size: 100%

body
  +default-font-light
  font-family: 'Roboto', sans-serif
  background-color: $c-background
  overflow-x: hidden
  overflow-y: auto
  width: 100%
  height: 100%
  transition: padding 0.3s

  main
    &.is-call-pending
      padding: $s-messenger-input-height 0 0

      .navbar
        top: $s-messenger-input-height

*
  +paragraph
  font-family: 'Roboto', sans-serif
  font-smooth: always
  font-smoothing: antialiased
  osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2)
  box-sizing: border-box
  line-height: 1

*:before,
*:after
  box-sizing: border-box

img
  max-width: 100%

  &.user-avatar
    display: block
    overflow: hidden
    text-indent: 200%
    min-width: inherit
    min-height: inherit
    border-radius: 50%

::selection
  color: $c-white
  background: $c-primary

