.complain
  client-complain-reason(data-ng-show="!$ctrl.isComplaint" data-on-reason-change="$ctrl.onReasonChange"
    data-on-complain-open="$ctrl.onComplainOpen")
  client-complain-status(data-ng-show="$ctrl.isComplaint")
