.grid.uib-monthpicker(role='grid', aria-labelledby='{{::uniqueId}}-title', aria-activedescendant='{{activeDateId}}')
    .top-table-section
        .tab-row
            .cell
                .uib-left(type='button', ng-click='move(-1)', tabindex='-1')
                    span.icon.icon-arrow-left-16
            .cell
                .uib-title(id='{{::uniqueId}}-title', role='heading', aria-live='assertive', aria-atomic='true', type='button', ng-click='toggleMode()', ng-disabled='datepickerMode === maxMode', tabindex='-1')
                    strong {{title}}
            .cell
                .uib-right(type='button', ng-click='move(1)', tabindex='-1')
                    span.icon.icon-arrow-right-16
    .main-table-section
        .tab-row.uib-months(ng-repeat='row in rows track by $index')
            .cell.uib-month.text-center(ng-repeat='dt in row', role='gridcell', id='{{::dt.uid}}', ng-class='::dt.customClass')
                .btn(type='button', uib-is-class="\
        'btn-info' for selectedDt,\
        'active' for activeDt\
        on dt", ng-click='select(dt.date)', ng-disabled='::dt.disabled', tabindex='-1')
                    span(ng-class="::{'text-info': dt.current}") {{::dt.label}}