.summary-charge-account
  .summary-charge-container(data-ng-class="{'no-ammount': !$ctrl.amount}")
    .amount-details(data-ng-show="$ctrl.amount")
      .amount-price
        p {{:: 'DASHBOARD.CHARGE_ACCOUNT.AMOUNT.LABEL' | translate }}
          span(data-ng-bind-html="$ctrl.amount | money")

    .charge-account-btn
      button.btn.btn-default.icon-right(type="submit") {{:: 'DASHBOARD.CHARGE_ACCOUNT.CHARGE_ACCOUNT_BUTTON_TEXT' | translate }}
        span.icon.icon-arrow-right-16
