.summary-charge-account
  .summary-charge-container
    .amount-details
      .amount-price
        p {{:: 'DASHBOARD.CHARGE_ACCOUNT.AMOUNT.LABEL' | translate }}
          span 50zł

    .charge-account-btn
      button.btn.btn-default.icon-right(type="submit") {{:: 'DASHBOARD.CHARGE_ACCOUNT.CHARGE_ACCOUNT_BUTTON_TEXT' | translate }}
        span.icon.icon-arrow-right-24
