.summary-charge-account
  .summary-charge-container.no-ammount
    .charge-account-btn
      button.btn.btn-default.icon-right(type="submit") {{:: 'DASHBOARD.CHARGE_ACCOUNT.CHARGE_ACCOUNT_BUTTON_TEXT' | translate }}
        span.icon.icon-arrow-right-16
