$c-primary-txt:     #393c41
$c-secondary-txt:   #89929a
$c-input:           rgba(157, 157, 157, 0.5)
$c-lines:           #EDEDED
$c-background:      #fbfbfb
$c-primary:         #1F4BA5
$c-white:           #ffffff
$c-primary-hover:   #0072C9
$c-error:           #ff3f2b
$c-error-alert:     #FFD9D5
$c-input-error:     rgba(245, 88, 83, 0.95)
$c-warning:         #ffc612
$c-warning-alert:   #FFF3D5
$c-info:            #3673d7
$c-info-alert:      #D7E3F7
$c-complete:        #3673d7
$c-success:         #68bf7b
$c-success-alert:   #E1F2E5
$c-button-1:        #222222
$c-button-2:        #ffffff
