$c-primary-txt:     #2C2F34
$c-secondary-txt:   #7f7f7f
$c-input:           rgba(157, 157, 157, 0.5)
$c-lines:           #e0e0e0
$c-background:      #fbfbfb
$c-background-2:    #F4F4F4
$c-background-3:    #202226
$c-background-4:    #3A3C41
$c-primary:         #7854D7
$c-white:           #ffffff
$c-primary-hover:   #5A40A3
$c-secondary:       #EB3955
$c-secondary-hover: #B82C41
$c-error:           #ff3f2b
$c-error-alert:     #FFD9D5
$c-input-error:     rgba(245, 88, 83, 0.95)
$c-warning:         #ffc612
$c-warning-alert:   #FFF3D5
$c-info:            #3673d7
$c-info-alert:      #D7E3F7
$c-complete:        #3673d7
$c-success:         #68bf7b
$c-success-alert:   #E1F2E5
$c-button-1:        #222222
$c-button-2:        #ffffff
$c-invalid-border:  rgba(255, 63, 43, 0.5)
$c-nav-icons:       #6F7074
$c-purple:          #6042ca
$c-gray:            #b6b6b6
$c-marengo:         #323133
