.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.EXPERT_ACCOUNT.EXPERT_LANGUAGES")
      p(data-translate="")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-success-24
  .step-content-column
    pro-input(placeholder="{{'DASHBOARD.EXPERT_ACCOUNT.EXPERT_LANGUAGE_PLACEHOLDER' | translate}}" data-pro-model="language")
    .document-submit
      a.pro-btn.btn-main.btn-medium
        p Język Angielski
        i.icon.icon-close-12
      a.pro-btn.btn-main.btn-medium
        p Język Niemiecki
        i.icon.icon-close-12
      a.pro-btn.btn-main.btn-medium
        p Język Hiszpański
        i.icon.icon-close-12
