.step.step-active
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP6_TITLE")
      p(data-translate="DASHBOARD.CREATE_PROFILE.STEP6_DESCRIPTION")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
    
  .step-content-column
    .links-submit
      pro-input(placeholder="http://" data-pro-model="www")

    .links-submit
      div
        h3(data-translate="DASHBOARD.CREATE_PROFILE.CREATE_PROFILE_YOUR_LINKS")
        .step-content
          a.pro-btn.btn-main.btn-medium
            span http://www.facebook.com
          a.pro-btn.btn-main.btn-medium
            span http://www.facebook.com
          a.pro-btn.btn-main.btn-medium
            span http://www.facebook.com
          a.pro-btn.btn-main.btn-medium
            span http://www.facebook.com
