.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP5_TITLE")
      p(data-translate="DASHBOARD.EXPERT_ACCOUNT.EXPERT_DOCUMENT_TITLE_DESCRIPTION")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-success-24
  .step-content-column
    pro-uploader

    .document-submit
      div
        h3(data-translate="DASHBOARD.CREATE_PROFILE.STEP5_UPLOAD_DOCUMENT")
        .step-content
          a.pro-btn.btn-main.btn-medium
            span Referencje.pdf
            i.icon.icon-close-12
          a.pro-btn.btn-main.btn-medium
            span Referencje.pdf
            i.icon.icon-close-12
          a.pro-btn.btn-main.btn-medium
            span Referencje.pdf
            i.icon.icon-close-12
