.communicator-modals
  .no-credits
    img(data-ng-src="/assets/images/search-image.png")

    .communicator-modals-content
      h2(data-translate="COMMUNICATOR.MODALS.ACCOUNT_BALANCE_FOR_CONVERSATION")
      p(data-translate="COMMUNICATOR.MODALS.CHARGE_ACCOUNT_OR_ADD_CREDIT_CARD")

    .modal-action
      a.btn.btn-primary(data-ng-click="reject()" data-translate="COMMUNICATOR.MODALS.CANCEL")
      a.btn.btn-default(data-ng-click="accept()" data-translate="COMMUNICATOR.MODALS.CHARGE")