.container
  width: 100%
  padding: 0
  position: relative

  &.main-container

    .menu-toogle
      z-index: 20
      position: fixed
      margin-top: 24px
      margin-left: 12px
      padding: 12px 9px 3px
      width: 48px
      height: 48px
      +border-radius(50px)
      outline: none
      border: none
      box-shadow: none

      +smm
        z-index: 0
        margin-left: 24px

    .slide-out
      margin-left: 100px
      +transition
      z-index: 11
      +smm
        margin-left: 0

    .right-container
      min-height: 100vh
      +transition
      background-color: $c-white
      width: 100%
      overflow-y: hidden
      padding-bottom: 130px
