.container
  width: 100%
  padding: 0
  +lgm
    width: 1170px
  &.main-container
    .menu-toogle
      z-index: 20
      position: fixed
      margin-top: 30px
      margin-left: 30px
      padding: 9px 9px 3px
      +border-radius(50px)
      +mdm
        z-index: 0
    .right-container
      position: absolute
      min-height: 100vh
      +transition
      background-color: $c-white
      z-index: 10
      border-left: 1px solid $c-lines
      border-right: 1px solid $c-lines
      -webkit-box-shadow: 0px 0px 20px 0px rgba(234,234,234,1)
      -moz-box-shadow: 0px 0px 20px 0px rgba(234,234,234,1)
      box-shadow: 0px 0px 20px 0px rgba(234,234,234,1)
      width: 100%
      +mdm
        position: static
        z-index: 10
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        padding-left: 318px
        padding-right: 0px
      h2
        margin: 0
    .slide-out
      +transition
      margin-left: 319px
      z-index: 10
