.container
  width: 100%
  padding: 0
  +lgm
    width: 1170px
  &.main-container
    .menu-toogle
      z-index: 20
      position: fixed
      margin-top: 24px
      margin-left: 15px
      padding: 12px 9px 3px
      width: 48px
      height: 48px
      +border-radius(50px)
      +mdm
        z-index: 0
        margin-left: 24px
    .slide-out
      display: none
      visibility: hidden
      margin-left: 319px
      +mdm
        margin-left: 0
      @media screen and (min-width: 321px)
        display: block
        visibility: visible
      +transition
      z-index: 10

    .right-container
      position: absolute
      min-height: 100vh
      +transition
      background-color: $c-white
      z-index: 10
      border-left: 1px solid $c-lines
      border-right: 1px solid $c-lines
      -webkit-box-shadow: 0px 0px 20px 0px rgba(234,234,234,1)
      -moz-box-shadow: 0px 0px 20px 0px rgba(234,234,234,1)
      box-shadow: 0px 0px 20px 0px rgba(234,234,234,1)
      width: 100%
      +mdm
        position: static
        z-index: 10
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        padding-left: 318px
        padding-right: 0px
      h2
        margin: 0
