@import "../../../../../../../../shared/components/modals/modal/modal.component"

\:host
  display: block
  width: 100%

.change-msisdn
  .modal-component__action
    justify-content: center
    margin: 24px 0 0

  .input-handler
    display: flex

    plat-dropdown
      flex: 0 0 20%
      height: 100%
      margin: 0 24px 0 0

    am-core-input-phone-number
      flex: 1 0
