.pro-button
  @include border-radius($button-radius)
  @extend .text-semi-bold
  @extend .default-border
  margin-top: $button-margin-top
  padding: $button-padding
  height: $button-height
  background-color: $c-primary
  color: $button-text-color
  font-size: $button-text-size
  text-transform: uppercase
  border-width: 2px
  border-color: $c-primary

.pro-button-light
  @extend .pro-button
  @include transition($transitions-time linear)
  background-color: $c-white
  color: $c-primary

.pro-button-light:hover
  background-color: $c-primary
  color: $button-text-color