$c-primary:          	 #0081ff
$c-primary-background:   #f7f7f7
$c-secondary-background: #fcfcfc
$c-primary-text:     	 #334754
$c-secondary-text:   	 #b9c5ce
$c-lines:		         #b9c5ce
$c-white:           	 #ffffff
$c-site-background:      #F8F9FD

$c-success:           #00ab75
$c-error:             #fc6368

$c-law:               #ECCEB1
$c-business:          #A3DBE4
$c-medicine:          #E5AFB0
$c-motor:             #D5BFD9
$c-construction:      #94BCCD
$c-education:         #8FC892
$c-electrical:        #F2B4C5
$c-it:                #ABC7E0

$max-width:           1140px

$input-container-margin-top:            35px
$input-container-padding:               0px 80px 0px 30px
$input-container-height:                70px
$input-container-width:                 360px
$input-container-font-size:             14px
$input-container-radius:                3px
$input-container-text-margin:           0px 0px 0px 10px
$input-container-text-padding:          0px 0px 5px 0px


$wizard-box-padding: 60px 80px

$button-radius:             3px
$button-padding:            0px 15px 0px 15px
$button-height:             70px
$button-width:              360px
$button-text-size:          14px
$button-text-color:         #ffffff
$button-margin-top:         30px

$icon-container-width:  50px
$icon-container-height: 50px


$sm-filled-round-border: 5px
$sm-round-size: 18px

$font-size-header: 44px
$font-size-subheader: 34px
$font-size-primary: 14px
$font-size-main-header: 72px
$font-size-subheader: 24px

$transitions-time: 0.15s

// input font-size: 14
// registration header 44
// id number in 2nd registration part - 34
