.pro-expert-slider
  .slider-container
    margin-top: 60px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: flex-start
    align-content: center
    align-items: center
    width: 100%
    max-width: 1200px
    margin: 60px auto
    position: relative
    overflow: hidden
    background-color: $c-white
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)

    +smm
      flex-direction: row

    .slider-control
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding: 0
      height: 290px
      position: relative
      z-index: 10
      float: left
      background-color: $c-white

      span
        color: $c-secondary-txt
        font-size: 32px

      p
        text-align: center
        width: 280px
        text-transform: uppercase
        font-weight: bold

      .switcher
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        align-items: center
        width: 100%
        height: auto
        margin-top: 15px

        span
          font-size: 12px
          border: 1px solid $c-lines
          padding: 17px 17px 13px 17px

          &:hover
            color: $c-white
            background-color: $c-primary-txt
            cursor: pointer

          &:last-child
            margin-left: -1px

    .slider-slides
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: flex-start
      align-content: center
      align-items: center
      position: relative
      width: 100%
      margin: 0 16px
      +transition(left 0.5s ease-in-out 0s)

      +smm
        width: 75%

      img
        width: 280px
        max-height: calc(100% - 16px)
        padding: 0 16px

      .slides
        width: 280px
        height: 280px
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        align-items: center
        border-left: 1px solid $c-lines
        border-top: 1px solid $c-lines
        +smm
          border-top: 0
