.pro-expert-slider
  .slider-container
    margin-top: 60px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: flex-start
    align-content: center
    align-items: center
    padding: 0 16px
    width: 100%
    max-width: 1200px
    margin: 60px auto
    position: relative
    overflow: hidden
    background-color: $c-white

    .slider-slides
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: flex-start
      align-content: center
      align-items: center
      position: relative
      width: 100%
      margin: 0 16px

      img
        width: 280px
        max-height: 100%

      .slides
        width: 280px
        height: 280px
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        align-items: center
        margin: 0 16px

    .slider-control
      width: 100%
      display: flex
      flex-direction: column
      align-content: center
      align-items: center
      justify-content: center
      padding: 0 16px
      height: 290px
      position: relative
      z-index: 10
      float: left
      background-color: $c-white

      img
        width: 100%

      i
        color: $c-secondary-txt
        font-size: 32px

      p
        text-transform: uppercase
        font-weight: bold
        padding: 0
        margin: 0

      .switcher
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-content: center
        align-items: center
        width: 100%
        height: auto
        margin-top: 15px

        i
          font-size: 12px
          border: 1px solid $c-lines
          padding: 17px 17px 13px 17px

          &:hover
            color: $c-white
            background-color: $c-primary-txt
            cursor: pointer

          &:last-child
            margin-left: -1px
