.pro-expert-see-more
  &.expert-cards-section
   flex: 1 0 25%
   align-items: center
   justify-content: space-between

  .top-content-wrap
    background: $c-white
    padding: 16px
    margin: 0 8px
    height: 400px
    text-align: center

    .expert-top
      +default-font-bold
      text-transform: uppercase
      margin: 32px 0 16px

    .expert-counter
      +default-font-thin
      font-size: $f-counter
      margin: 0 0 8px
      line-height: 1

    .experts-popular
      +default-font-light
      font-size: $f-main-subheader
      margin: 0 0 16px
      line-height: 1.3
