.pro-expert-slider
  position: relative

  &:hover
    .btn-arrow
      opacity: 1

  .btn-arrow
    transition: opacity 0.3s
    opacity: 0
    position: absolute
    top: 0
    bottom: 0
    margin: auto
    z-index: $z-index-100

    &.arrow-left
      left: -24px

    &.arrow-right
      right: -24px

  .slider-container
    padding: 0

    p
      +default-font-regular
      text-align: center
      margin: 0 0 32px

      span
        +default-font-regular
        color: $c-label
        display: block
        font-size: $f-h3-size
        text-transform: uppercase
        margin: 0

    .slider-list
      margin: 0
      display: flex
      margin: 0 -32px 0 0

    .slider-slides
      +transition(left 0.5s ease-in-out 0s)
      width: 100%
      position: relative
      background: $c-white
      overflow: hidden

      .slides
        text-align: center
        flex: 1 0 100%
        display: flex
        align-items: stretch
        padding: 0 32px 0 0
        height: 192px

        +smm
          flex: 1 0 40%
          width: 40%
          border-top: 0
          height: 288px

        +lgm
          flex: 1 0 25%
          width: 25%

        &.slider-header
          .slider-item
            > div
              text-align: center

          .icon
            color: $c-label
            margin: 0 0 12px

        .slider-item
          display: flex
          align-items: center
          justify-content: center
          border: 1px solid $c-lines
          border-radius: 3px
          width: 100%
          position: relative
          overflow: hidden

          img
            position: absolute
            left: 0
            right: 0
            top: 0
            bottom: 0
            margin: auto
            max-width: inherit
            width: auto

        h4
          +default-font-heavy
          margin: 0 0 24px

        .thumbnail
          width: 100%
          min-height: 150px
          height: 150px
          position: relative
          overflow: hidden
          margin: 0 0 32px

          img
            position: absolute
            margin: auto
            left: 0
            right: 0
            bottom: 0
            top: 0
            max-width: 100%

            +smm
              height: 100%
              width: 100%

            +mdm
              height: inherit

        .description
          +default-font-regular
          font-size: $f-h4-size
          color: $c-secondary-txt
          text-align: center
          margin: 0 0 32px
          padding: 0 64px
          width: 100%
