.expert-profile
  margin: 80px auto 0
  padding: 32px 0

  +smm
    padding: 64px 0

  .expert-profile-details
    position: relative
    display: flex
    justify-content: center

    .expert-profile-content
      text-align: center

      .thumb
        margin: 0 0 24px

      h3
        +default-font-regular
        font-size: $f-h2-size
        line-height: 1

  .status-list
    margin: 0 0 16px

  .share-links
    display: flex
    margin: 0 0 32px

    +smm
      position: absolute
      right: 0
      top: 0


    li
      margin: 0 0 0 16px

  .languages-section
    +default-font-regular
    margin: 0 0 32px

    span
      color: $c-secondary-txt
      display: inline-block

    .languages-list
      display: inline-flex

      li
        color: $c-secondary-txt

        &:last-child
          &::after
            content: none

        &::after
          content: ','
          margin: 0 4px 0 0

  .expert-collaborators
    margin: 0 0 32px

    +smm
      margin: 0 0 64px

    p
      +default-font-regular
      color: $c-secondary-txt
      font-size: $f-h5-size
      margin: 0 0 8px

    .collaborators-list
      display: flex
      justify-content: center
      align-items: center

      .collaborators-item
        margin: 0 8px

  .expert-profile-description
    p
      +default-font-regular
      font-size: $f-paragraph
      color: $c-primary-txt
