.expert-profile-consultation
  margin: 0 auto 16px

  +smm
    margin: 0 auto 32px

  .consultation-wrapper
    padding: 0
    border: 1px solid $c-lines

    .consultation-content
      padding: 32px 16px

      +lgm
        padding: 32px

    .pro-summary-tag
      background: $c-background
      padding: 32px 16px

      +lgm
        padding: 32px

      h4
        +default-font-regular
        font-size: $f-h5-size
        color: $c-label
        margin: 0 0 12px

        span
          font-size: $f-h5-size
          color: $c-label
          margin: 0 0 12px 4px