.advice-tiles
  padding: 40px 0 0 0
  justify-content: center

.grid-advice-tile
  align-items: flex-start
  justify-content: space-between
  background: $c-white
  height: inherit
  padding: 16px

  .advice-tile-label
    color: $c-white
    background: $c-warning
    display: inline-block
    padding: 5px 8px
    font-size: $f-input-small
    text-transform: uppercase
    margin: 0 0 52px 0
    +default-font-bold

  .advice-tile-title
    font-size: $f-paragraph
    +default-font-bold
    margin: 0 0 20px 0

  p.advice-tile-desc
    color: $c-secondary-txt
    margin: 0 0 20px
    overflow: hidden

  .additional-info
    .comments-counter,
    .fav-couner,
    .when-published
      margin: 0 16px 0 0
      position: relative

      p
        padding: 0 0 0 24px
        color: $c-secondary-txt

      .icon
        &::before
        color: $c-secondary-txt
        position: absolute
        font-size: 16px
        left: 0
        top: 4px
