.pro-text-chat
  background: $c-background
  top: 0
  bottom: 0
  right: 0
  height: 100vh
  z-index: 9
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

  +xlgm
    flex: 1 0 25%

  .chat-conversation
    display: flex
    flex-wrap: wrap
    padding: 32px 16px 64px

  .chat-cloud
    border-radius: $-radius-4
    color: $c-white
    padding: 13px 16px
    position: relative

    .chat-file-download
      margin: 16px 0 0

      a
        display: flex
        align-items: center
        justify-content: flex-end
        +default-font-heavy
        text-transform: uppercase
        font-size: $f-h4-size
        color: $c-white

      .icon
        margin: 0 0 0 16px
        line-height: 1

  .chat-date
    +default-font-heavy
    display: block
    color: $c-secondary-txt
    font-size: $f-btn-size

  .chat-line
    margin: 0 0 12px

    &.interlocutor
      padding: 0 16px 0 64px
      position: relative

      .thumb
        position: absolute
        left: 0
        top: 0

      .interlocutor-chat
        flex: 1 0 100%
        display: flex
        align-items: flex-start
        padding: 0 0 8px

        .chat-cloud
          background: $c-primary
          margin: 0 0 0 16px

          &::before
            content: ""
            position: absolute
            left: -8px
            top: 16px
            width: 0
            height: 0
            border-top: 8px solid transparent
            border-right: 8px solid $c-primary
            border-bottom: 8px solid transparent
            z-index: 99

      .chat-date
        text-align: right

    &.me
      padding: 0 0 0 80px
      .thumb
        position: absolute
        left: 0
        top: 0

      .me-chat
        display: flex
        flex: 1 0 100%
        justify-content: flex-end
        align-items: flex-end
        padding: 0 0 8px

        .chat-cloud
          background: $c-nav-icons
          position: relative
          margin: 0 16px 0 0

          &::before
            content: ""
            position: absolute
            right: -8px
            top: 16px
            width: 0
            height: 0
            border-top: 8px solid transparent
            border-left: 8px solid $c-nav-icons
            border-bottom: 8px solid transparent
            z-index: 99

      .chat-date
        text-align: left

