.similar-consultations
  .entry-title
    h2(data-translate="EXPERT_ACCOUNT.SIMILAR_CONSULTATION.TITLE")

    a.btn.btn-primary.btn-small(data-ui-sref="app.search-result" data-translate="EXPERT_ACCOUNT.SIMILAR_CONSULTATION.BUTTON.SHOW_MORE.TITLE")

  .consultation-tiles-row.tiles-row
    tiles.tiles-component
    tiles.tiles-component
    tiles.tiles-component
    tiles.tiles-component
