scrollable(data-is-fullscreen="vm.isFullscreen" data-is-navbar="vm.isNavbar")
  top-modal-navbar(data-on-close="vm.onModalClose")
  .modal-primary.container-big
    preloader(data-is-loading="vm.isLoading")
      .invitations-modal(data-ng-if="vm.areInvitations")
        .modal-section
          .profile-preview
            .thumb.x96
              user-avatar(data-image-token="vm.logo")

            .profile-container
              .profile-name
                span {{ vm.companyName }}

        .modal-section
          .consultation-section
            header.entry-title
              span(data-translate="DASHBOARD.EXPERT_ACCOUNT.INVITATION.DETAILS.CONSULTATIONS")
            p {{ vm.description }}

        .modal-section
          consultation-list-item(data-ng-repeat="service in vm.services"
          data-service="service"
          data-on-change="vm.onSelectConsultation")

        .buttons-container
          a.btn.btn-default(data-translate="DASHBOARD.EXPERT_ACCOUNT.INVITATION.DETAILS.BUTTON.ACCEPT"
          data-ng-click="vm.processInvitationState()" data-ng-disabled="vm.isSubmitButtonDisabled")

      .no-invitations-modal(data-ng-if="!vm.areInvitations")
        no-results-information(data-icon-src="assets/images/profitelo_icons/icon_no_invite.png"
          data-information-title="DASHBOARD.EXPERT_ACCOUNT.INVITATIONS.NO_INVITATIONS.TITLE")
