.profile-layout
  plat-user-avatar.profile-layout__avatar(
  [avatarToken]="avatarToken",
  [avatarSize]="avatarSize"
  )
  .profile-layout__content
    .profile-layout__details
      .profile-layout__details-name-wrapper
        span.profile-layout__details-name {{name}}
        .profile-layout__icons()
          a.profile-layout__icons-button([plat-copy-to-clipboard]="currentUrl", [onCopySuccessMsg]="'ALERT.PROFILE_COPIED'", plat-icon-button)
            span(plat-icon iconClass='share')
          a(*ngIf='isLogged && isOwnProfile; else likeButton',plat-stroked-button, (click)='editProfileClick()').profile-layout__icons-button {{'EXPERT_DASHBOARD.EDIT' | translate}}
      .profile-layout__details-available
        plat-expert-availability(*ngIf='expertId', [expertId]='expertId')
      plat-social-links([links]='links')
      .profile-layout__languages {{"EXPERT_DASHBOARD.LANGUAGES" | translate}}
      plat-tag-list([itemList]="languages", color='secondary')
    plat-expandable-panel.profile-layout__description
      span {{description}}

    a(*ngIf="isGalleryPreviewVisible", plat-stroked-button, (click)="openFilePreviewModal()") {{'EXPERT_DASHBOARD.ATTACHMENTS_BUTTON' | translate:attachmentCount}}

ng-template(#likeButton)
  a.profile-layout__icons-button(plat-icon-button, (click)='likeProfileClick()')
    span(plat-icon iconClass='heart-stroke')
