.email-confirmaiton
  am-core-content-default(
    imgName="message-send",
    titleText="DASHBOARD.SETTINGS.EMAIL_CONFIRMATION.DESCRIPTION",
    descriptionText="DASHBOARD.SETTINGS.EMAIL_CONFIRMATION.SUB_DESCRIPTION"
  )
