@import "../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.expert-employee
	.list-row
		padding: 16px 0
		
		+lgm
			padding: 16px
		
		&:hover
			background: $c-background
			
			.employee-button-container
				+lgm
					display: flex
		
		.employee-informations
			display: flex
			align-items: center
			width: 100%
		
		.employee-name-container
			min-width: 184px
			margin: 0 24px 0 0
			
			span
				+paragraphTitle
		
		.employee-avatar-container
			margin: 0 24px 0 0
		
		.emmployee-consultation-list
			ul
				li
					margin: 0 0 8px
					
					&:last-child
						margin: 0
			
			span
				font-size: $f-paragraph-small
		
		.consultations-count-container
			padding: 0 16px 0 0
			
			span
				+paragraphSmall
				color: $c-primary-txt
			
			.consultation-slug
				margin: 0 0 0 8px
		
		.employee-details
			display: flex
			flex-wrap: wrap
			align-items: center
		
		.employee-button-container
			+lgm
				display: none
			
			a:first-child
				margin: 0 24px 0 0
		
		.employee-container
			+smm
				display: flex
				justify-content: space-between
				width: 100%
	
	.employment-type
		margin: 0 0 0 8px
		
		span
			font-size: $f-input-small
