.container.main-container
  a.pro-btn.btn-main.btn-small.menu-toogle(data-ng-click="dashboardController.toogleSidebar()")
    i.icon.icon-menu-16
  .dashboard-menu(data-ng-swipe-left="dashboardController.toogleSidebar()")
    .left-column
      .top-row
        a(data-ui-sref="app.dashboard.start")
          .logo
            img(src="assets/images/logo-symbol.png")
        .user
          .photo
              img(src='assets/images/John_Doe.jpg' alt='user-avatar')
              .user-status
                .user-online
                  span 74
        .switcher
          .onoffswitch
            input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" data-ng-model="vm.userSwitcher" checked)
            label(class="onoffswitch-label" for="myonoffswitch")
          span(data-ng-if="vm.userSwitcher" data-translate="DASHBOARD.MENU.EXPERT")
          span(data-ng-if="!vm.userSwitcher" data-translate="DASHBOARD.MENU.CLIENT")
        .menu-icon
          a.option-left
            i.icon.icon-menu-16
          a.option-left
            i.icon.icon-password-show
          a.option-left
            i.icon.icon-search-24
          a.option-left
            i.icon.icon-settings-24
        
      .bottom-row
        .switcher
        .switcher-tools
        .logout-icon
          a.option-left(data-ng-click="dashboardController.logout()")
            i.icon.icon-logout-24
        
  .right-container(data-ng-class="{'slide-out':dashboardController.isSidebarOpen}" )
    div(data-ui-view="")
