.container.main-container(data-ng-class="{'hide-menu': !dashboardController.isSidebarShown}")

  dashboard-left-menu()
          
  .right-container(data-ng-class="{'slide-out':dashboardController.isSidebarOpen}" )
    div(data-ui-view="")
