.container.main-container
  a.pro-btn.btn-main.btn-small.menu-toogle(data-ng-click="dashboardController.toogleSidebar()")
    span.icon.icon-menu-16

  dashboard-left-menu()
          
  .right-container(data-ng-class="{'slide-out':dashboardController.isSidebarOpen}" )
    div(data-ui-view="")
