.modal-open
  padding: 0 !important
  overflow-y: visible

  .modal-dialog
    position: absolute
    left: 0
    top: 0

    +mdm
      height: 100vh

    .modal-content
      border: 0
      border-radius: 0
      box-shadow: none
      min-width: 35%

      .modal-contents
        padding: 16px

        form
          .item-group
            .pro-checkbox
              margin: 0 0 16px

          .input-group
            height: 48px
            margin: 32px 0 0

          .modal-buttons
            margin: 16px 0 0

            +smm
              display: flex
              justify-content: space-between

            button
              width: 100%
              margin: 0 0 16px

              +xsm
                flex-grow: 1
                width: auto
                margin: 0
