.pro-invitation-acceptance-box
  padding: 16px 16px 0

  +mdm
    padding: 32px 32px 16px

  .box-header
    display: block

    +lgm
      display: flex

    h3
      margin: 0 0 16px

      +mdm
        margin: 0 0 32px

      +lgm
        margin: 0

      +lgm
        flex: 1 0

    .box-status
      +lgm
        display: flex

      button
        width: 100%
        margin: 0 0 16px

        +lgm
          width: inherit
          margin: inherit

    &.is-rejected
      color: $c-error

    &.is-accepted
      color: $c-success
