.complain-reason
  h5(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.TITLE")
  pre {{ $ctrl.model | json }}
  form(data-ng-submit="" novalidate)
    radio-btn-text(data-id="asdasd" value="foo" data-name="name" data-label-description="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.REPORT_COMPLAINS.REASON_INCOPENTENT_EXPERT.DESCRIPTION.LABEL" data-label="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.REPORT_COMPLAINS.REASON_INCOPENTENT_EXPERT")
    radio-btn(data-id="ID_asdd" value="foo" data-ng-model="$ctrl.model.value"   data-label="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.REPORT_COMPLAINS.REASON_RUDE_EXPERT")
    radio-btn(data-id="ID_asds" value="foo2" data-ng-model="$ctrl.model.value"  data-label="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.REPORT_COMPLAINS.REASON_TECHNICAL_PROBLEMS")
    radio-btn(data-id="ID_asda" value="foo3" data-ng-model="$ctrl.model.value"  data-label="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.REPORT_COMPLAINS.REASON_OTHER")

    .btn-group
      button.btn.btn-primary(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.CANCEL.BUTTON")
      button.btn.btn-default(data-ng-click="$ctrl.showComplainReasonModal()" data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.COMPLAINS.REPORT_COMPLAINS.BUTTON")
