plat-consultation-footer
  //left part of the screen
  .consultation-footer__left-price
    plat-consultation-footer-price([grossPrice]='grossPrice')
  //middle part of the screen
  .consultation-footer__left-text
    span.consultation-footer__text
      span(plat-icon iconClass='information-stroke')
      p {{ "CONSULTATION_DETAILS.FOOTER.SELECTEXPERT" | translate }}
  //right part of the screen
  .consultation-footer__right
    span
