pro-service-provider-summary-head

div(ng-repeat="item in vm.consultation.name")
  pro-service-provider-summary-step(
  data-name="vm.consultation.name[$index]"
  data-cost="vm.consultation.cost[$index]"
  data-tags="vm.consultation.tags[$index]"
  )
    
.step
  .summary-button
    a.pro-btn.btn-round.btn.small.btn-main(data-translate="DASHBOARD.CREATE_PROFILE.SUMMARY.VERIFY_YOU_PROFILE")
