include partials/step-1.partial.jade
include partials/step-2.partial.jade
include partials/step-3.partial.jade
include partials/step-4.partial.jade
include partials/step-5.partial.jade
include partials/step-6.partial.jade
include partials/step-7.partial.jade