.pro-input-password,
.pro-input
  background: $c-white
  position: relative
  display: flex
  padding: 0
  width: 100%
  overflow: hidden

  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: auto
    height: 1px
    width: 100%
    background: $c-lines

  &::after
    transition: width 0.3s ease-out
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: auto
    height: 1px
    width: 100%
    animation: inputBorderLineAnimationOut 0.3s

  &.on-click
    &::after
      animation: inputBorderLineAnimation 0.3s
      animation-fill-mode: forwards


  &.invalid
    &::after
      animation: inputBorderLineAnimationError 0.3s
      animation-fill-mode: forwards

    span
      &.cross-addon
        color: $c-error

