.pro-checkbox
  display: flex
  justify-content: space-between
  align-items: flex-start
  position: relative

  +xsm
    align-items: center

  label
    cursor: pointer

    &.text
      padding: 0 0 0 16px
      color: $c-secondary-txt
      width: 100%

      &:hover
        color: $c-primary

    &.checker
      border: 1px solid $c-lines
      width: 24px
      height: 24px
      position: relative

      &:hover
        &::after
          opacity: 0.5

      &::after
        transition: opacity 0.3s
        opacity: 0
        content: ''
        position: absolute
        width: 15px
        height: 5px
        background: transparent
        top: -4px
        left: 0
        right: 0
        bottom: 0
        margin: auto
        border: 3px solid $c-primary
        border-top: none
        border-right: none
        transform: rotate(-45deg)

  &.invalid
    label
      &.checker
        border: 1px solid $c-error
        box-shadow: inset 0 0 0 1px $c-error

  input[type=checkbox]
    display: none

  input[type=checkbox]
    &:checked
      & + label
        &:after
          opacity: 1

.pro-radio
  @extend .pro-checkbox
  input[type=radio]
    visibility: hidden

  label
    border-radius: 50px

    &:after
      width: 12px
      height: 12px
      background-color: $c-primary
      top: 8px
      left: 8px
      border-radius: 50px

    &:hover::after
      opacity: 0

  input[type=radio]:checked + label:after
    opacity: 1
