.calendar-container
  > input
    display: none

  .input-group
    border-bottom: 1px solid $c-lines
    margin: 0 12px 0 0
    overflow: hidden
    height: $s-input-height-container
    width: 100%
    display: flex
    align-items: flex-end
    padding: 12px 0 9px
    cursor: pointer
    position: relative

    &:hover
      border-color: $c-primary

    > div:not(.input-group)
      position: absolute
      left: 0
      top: 100%
      width: 100%


