.pro-tags-dropdown
  width: 100%

  .input-tag-group
    padding: 16px 0
    position: relative
    cursor: pointer
    max-width: 100%


    &.valid
      border-color: $c-error

    .ui-select-container
      background: $c-white
      padding: 12px 0
      min-height: inherit
      border-radius: 3px
      background: none
      border: 1px solid $c-lines
      position: relative

      .ui-select-choices
        top: 100% !important
      
      &.open
        border-color: $c-primary

        .ui-select-choices
          .ui-select-choices-group
            .ui-select-choices-row
              &.active
                > a
                  background: none
                  color: $c-secondary-txt

                &:hover
                  > a
                    color: $c-primary

    .ui-select-search
      border: 0

    .btn-default
      outline: none
      text-transform: capitalize
      background-color: transparent
      z-index: 100

      .ui-select-match-text
        padding-left: 10px
        position: relative
        top: 23px

    .btn-default-focus
      box-shadow: none
      background-color: $c-background

    .ui-select-match
      display: block
      margin: 0 16px

      +xsm
        display: inline

      .ui-select-match-item
        background: $c-background-2
        border: 1px solid $c-lines
        padding: 0 16px
        display: inline-flex
        align-items: center
        flex-direction: row-reverse
        margin: 0 8px 3px 0
        border-radius: 20px
        position: relative
        height: 32px

        span
          +default-font-regular
          text-transform: uppercase
          color: $c-primary-txt
          font-size: $f-paragraph

    input
      &.ui-select-search
        min-width: 92px
