.pro-textarea
  width: 100%
  textarea
    border: 0
    resize: none
    width: 100%
    line-height: 200%
    outline: none
    position: relative
    background-color: transparent
    color: $c-secondary-txt
    height: 180px
    float: left
