.pro-alert
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 9999

  .alert
    position: relative
    height: 48px
    width: 100%
    padding-top: 12px
    background-color: $c-lines
    overflow: hidden
    z-index: 1000

    .content-wrapper
      width: 100%
      display: flex
      position: relative
      padding: 0 24px
      flex-direction: row
      justify-content: space-around

      div
        width: 100%
        display: inline-flex

        .status-icon
          padding-right: 16px
          padding-top: 3px

        .alert-header
          padding-right: 16px
          text-transform: uppercase

      .cross-icon
        font-size: 12px
        margin-top: 6px

        &:hover
          cursor: pointer
          text-decoration: underline

    &.success
      background-color: $c-success
      color: $c-white
      border-bottom: 1px solid $c-success

      h6
        color: $c-white

    &.error
      background-color: $c-error
      color: $c-white
      border-bottom: 1px solid $c-error

      h6
        color: $c-white

    &.warning
      background-color: $c-warning
      color: $c-white
      border-bottom: 1px solid $c-warning

      h6
        color: $c-white

    &.info
      background-color: $c-info
      color: $c-white
      border-bottom: 1px solid $c-info

      h6
        color: $c-white
