.pro-alert
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  z-index: 9999

  .alert
    position: relative
    height: 48px
    width: 100%
    padding-top: 12px
    background-color: $c-lines
    overflow: hidden
    z-index: 1000
    margin: 0px 0px 0px 0px

    .content-wrapper
      width: 100%
      display: flex
      position: relative
      padding: 0 24px
      flex-direction: row
      justify-content: space-around

      div
        width: 100%
        display: inline-flex

        .status-icon
          padding-right: 16px
          padding-top: 3px

        .alert-header
          margin: 0
          padding-right: 16px
          text-transform: uppercase

        .alert-info
          margin: 0

      .cross-icon
        font-size: 12px
        margin-top: 6px

        &:hover
          cursor: pointer
          text-decoration: underline

    &.success
      background-color: $c-success-alert
      color: $c-success
      border-bottom: 1px solid $c-success

      h6
        color: $c-success

    &.error
      background-color: $c-error-alert
      color: $c-error
      border-bottom: 1px solid $c-error

      h6
        color: $c-error

    &.warning
      background-color: $c-warning-alert
      color: $c-warning
      border-bottom: 1px solid $c-warning

      h6
        color: $c-warning

    &.info
      background-color: $c-info-alert
      color: $c-info
      border-bottom: 1px solid $c-info

      h6
        color: $c-info
