.calendar-container
  > input
    display: none

  .input-group
    border: 1px solid $c-lines
    border-radius: 3px
    margin: 0 12px 0 0
    overflow: hidden
    height: 56px
    width: 100%
    display: flex
    align-items: flex-end
    padding: 12px 16px 9px
    cursor: pointer
    position: relative
    cursor: pointer
    transition: border 0.3s

    &:hover
      border-color: $c-primary

    > div:not(.input-group)
      position: absolute
      left: 0
      top: 100%
      width: 100%

    label
      font-weight: 700
      color: #bfbfbf
      font-size: $f-label-size
      width: 100%
      line-height: 1
      position: absolute
      top: 12px
      left: 16px
      text-transform: uppercase
      background: none
      cursor: pointer

    input
      +default-font-regular
      font-weight: 400
      color: $c-primary-txt
      font-size: $f-h5-size
      padding: 0
      line-height: 1
      text-transform: none
      cursor: pointer