.last-activities
  .last-activities-container(data-ng-click=":: $ctrl.openActivityDescriptions()")
    .list-row.call-activity(data-ng-if="$ctrl.isCallActivity")
      .last-activity-details
        .last-activity-icon
          span.icon.icon-incoming-call-24

        .last-activity-about
          .last-activity-date
            span 22.12.17r

      .last-activity-description
        span Consumer psychology in the industrial and manufacturing equipment marketplace.

      .last-activity-profile
        .profile-preview
          .thumb.x48
            user-avatar(src data-ng-src="#")

          .profile-name
            span Tomek Bolek

        .price-small.price-section
          span.amount +12.55
          span.currency PLN

    .list-row.money-activity(data-ng-if="!$ctrl.isCallActivity")
      .last-activity-details
        .last-activity-icon
          span.icon.icon-payout-24

        .last-activity-about
          .last-activity-date
            span 12.12.17r

      .money-activity-informations-container
        .last-activity-description
          span Payout

        .price-small.price-section
          span.amount +322.11
          span.currency PLN
