@import "../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.last-activities
  .last-activities-container
    margin: 0 0 24px

    .call-activity, .money-activity
      padding: 28px 0
      border-bottom: 1px solid $c-lines
      display: block
      cursor: pointer

      +lgm
        display: flex
        align-items: center

      .last-activity-details
        display: flex
        align-items: center
        flex-wrap: wrap

        +smm
          padding: 0 0 0 16px

        +lgm
          flex: initial
          min-width: 210px

        .last-activity-icon
          margin: 0 16px 0 0

          span
            color: $c-secondary-txt

      .last-activity-description
        padding: 16px 0
        flex: 1

        +smm
          padding: 8px 16px 8px 56px

        +lgm
          padding: 0 0 0 16px

        h3
          +default-font-light
          flex: 1 0 100%
          color: $c-primary-txt
          font-size: $f-paragraph
          line-height: 24px

      .last-activity-profile
        display: flex
        align-items: center
        justify-content: space-between
        flex: 1 0 50%

        +smm
          padding: 0 16px 0 56px

        +lgm
          flex: 0 0 30%
          padding: 0 16px

        .profile-preview
          .profile-name
            span
              +default-font-light
              color: $c-primary-txt
              font-size: $f-paragraph

      .price-small
        +default-font-bold
        min-width: 100px
        text-align: right

        span
          color: $c-primary-txt

          &.sign
            padding: 0 4px 0 0

      .money-activity-informations-container
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%

        +smm
          padding: 0 16px 0 0

        .last-activity-description
          margin: 0

    .last-activity-about
      display: flex

      .component-complain-status
        margin: 0 0 0 16px

      .last-activity-date
        display: flex
        align-items: center
        font-size: $f-paragraph-title
        color: $c-secondary-txt
