@import "../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.invite-employees
  +smm
    position: relative

  .invite-employees-action
    text-align: right
    margin: 48px 0 0 0

    .preloader-container
      height: auto

      .content-loader
        align-items: baseline
        justify-content: flex-end

  .add-employee-label
    +inputSmall

  input-consultation-employee
    .input-handler
      input
        border-bottom: 1px solid $c-lines
