.activities
  .activities__upper-container
    header.activities__header(*ngIf="counters | async as headerCounter")
      .activities__title
        span([translate]="'ACTIVITIES.HEADER_TITTLE'")

      .activities__tabs
        .activities__tabs--expert(*ngIf="isExpert", routerLink="/dashboard/user/activities/expert" routerLinkActive="active")
          span.activities__tabs__title([translate]="'ACTIVITIES.EXPERT_TAB_HEADER'")
          plat-activities-counter([counter]="headerCounter.expertProfileActivitiesCount",
          *ngIf="headerCounter.expertProfileActivitiesCount > 0 ")

        .activities__tabs--client(routerLink="/dashboard/user/activities/client" routerLinkActive="active")
          span.activities__tabs__title([translate]="'ACTIVITIES.CLIENT_TAB_HEADER'")
          plat-activities-counter([counter]="headerCounter.clientActivitiesCount",
          *ngIf="headerCounter.clientActivitiesCount > 0")

  .activities__container
    router-outlet

