.summary
  profile-header-edit(
    data-profile-details="vm.wizardProfileData"
    data-profile-type="vm.isExpert"
    data-documents="vm.files"
  )

  .container
    .add-new-consultation
      p(data-translate="WIZARD.SUMMARY.ADD.TITLE")
      a.btn.btn-default(data-translate="WIZARD.SUMMARY.ADD.BUTTON")
