.similar-experts-slider.pro-expert-slider
  .slider-slides
    .slides
      height: 440px

      .slider-item-consultation
        display: flex
        flex-wrap: wrap
        align-self: stretch
        align-content: space-between
        padding: 16px 24px 32px
        transition: background 0.2s
        cursor: pointer

        &:hover
          background: $c-background-2

        > *
          flex: 1 0 100%
          justify-content: center

        .consultation-about
          justify-content: space-between

          li
            margin: 0 0 8px

            &::after
              content: none

            span
              margin: 0 8px 0 0

              &:last-child
                margin: 0

        .profile-preview
          display: block

          .thumb
            margin: 0 0 12px

          .profile-name
            display: block
