.navbar(data-ng-class="{'is-hidden':  $ctrl.isWindowScrolling, 'is-menu-collapsed': $ctrl.isNavigationCollapsed}")
  .navbar-logo(data-ui-sref="app.home")
    a
      img.logo( src="/assets/images/profitelo-logo-small.png" alt="Profitelo-logo")

  .navbar-search
    a.search-btn(data-ng-click="$ctrl.onSearchCollapsed()")
      span.icon.icon-search-24

    .search-expandable.animation.mobile-search-animation(
      data-ng-show="$ctrl.isSearchVisible" data-ng-class="{'is-collapsed': !$ctrl.isSearchVisible }")
      pro-search-dropdown(data-ng-enter="searchAction(searchModel)" data-ng-model="$ctrl.searchModel"
      data-search-count="searchCount" data-open="showSearch")

      a.btn.btn-noborder.btn-close(data-ng-click="$ctrl.onSearchCollapsed()")
        span(data-translate="NAVIGATION.CANCEL.BUTTON")

  nav
    .mobile-nav(data-ng-class="{'is-active': $ctrl.isNavigationCollapsed}" data-ng-click="$ctrl.onMobileMenuCollapsed()")
      button#hamburger
        span
        span
        span
    .navbar-navigation.animation.mobile-menu-animation.ng-hide
      navbar-logged-in-menu(data-ng-show="$ctrl.isLoggedIn")
      navbar-logged-out-menu(data-ng-hide="$ctrl.isLoggedIn")
