.navbar(data-ng-style="$ctrl.navbarStyle"
  data-ng-class="{'is-hidden': $ctrl.isWindowScrollBottom, 'is-scroll-top': !$ctrl.isWindowScrollBottom, 'is-not-collapsed': !$ctrl.isCollapsed, 'is-menu-collapsed': $ctrl.isNavigationCollapsed}")
  .navbar-logo(data-ui-sref="{{ $ctrl.onLogoLink }}")
    a
      img.logo( src="/assets/images/AnyMind_logo_small.png" alt="Profitelo-logo")

  .navbar-search
    a.search-btn(data-ng-click="$ctrl.onSearchCollapsed()")
      span.icon.icon-search-24

    .search-expandable.animation.mobile-search-animation.ng-hide(
      data-ng-show="$ctrl.isSearchVisible" data-ng-class="{'is-collapsed': !$ctrl.isSearchVisible }")
      search-dropdown(data-search-value="$ctrl.searchInputQueryValue")
      a.btn.btn-link.btn-close(data-ng-click="$ctrl.onSearchCollapsed()")
        span(data-translate="NAVIGATION.CANCEL.BUTTON")

  nav
    .mobile-nav(data-ng-class="{'is-active': $ctrl.isNavigationCollapsed}" data-ng-click="$ctrl.onMobileMenuCollapsed()")
      .mobile-nav-hamburger
        a#hamburger
          span
          span
          span

    .navbar-navigation.animation.mobile-menu-animation.ng-hide(data-ng-show="$ctrl.isNavigationCollapsed")
      navbar-logged-in-menu(data-ng-show="$ctrl.isLoggedIn")
      navbar-logged-out-menu(data-ng-hide="$ctrl.isLoggedIn")
