@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/mixins/mixins"
@import "~@anymind-ng/core/src/template/stylesheets/core/helpers/rwd"

.collapsable-container

  +paragraph-small
  overflow-y: hidden
  margin-bottom: 8px

  +smm

    +paragraph
    line-height: 22px

.collapsable-button
  margin-left: -5px
