.collapsable-container(
  [@collapseExpandContainer]="state"
)
  .container-data(#content)
    ng-content
  div(*ngIf='state === "collapsed"')
    a.expand-button((click)='expand()')
      span ...
      span {{"PANEL.LEARN_MORE" | translate}}
