@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

.collapsable-container

  +paragraph-small
  overflow-y: hidden
  margin-bottom: 8px

  +smm

    +paragraph
    line-height: 22px

.collapsable-button
  margin-left: -5px
