.collapsable-container(
  [@collapseExpandContainer]="state"
)
  .container-data(#content, (click)='toggleState()')
    ng-content
div(*ngIf='expandable')
  button.collapsable-button(plat-mini-flat-fab, (click)='toggleState()')
    span(plat-icon iconClass='read-more')
