@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

.collapsable-container
  +paragraph-small
  position: relative
  overflow-y: hidden
  margin-bottom: 8px

  +smm

    +paragraph
    line-height: 22px

.expand-button
  +paragraph-small
  position: absolute
  bottom: 0px
  right: 0px
  background: $c-white
  padding-left: 5px
  color: $c-primary

  +smm

    +paragraph
    line-height: 22px
