.dashboard-summary-company
  .pro-service-provider-profile,
  .pro-service-provider-summary-step
    margin-top: 20px

  .edit-consultation-form
    > div
      position: relative
      left: -33px

  .summary-next-step-button
    display: flex
    justify-content: center