.files-uploaded-list
  +smm
    display: flex
    flex-wrap: wrap
    margin: 0 -32px

  .file-item
    display: flex
    align-items: center
    justify-content: space-between
    flex: 1 0 50%
    margin: 0 0 16px

    +smm
      padding: 0 32px

    .file-preview
      overflow: hidden
      padding: 0 16px 0 0
      border-radius: $s-border-radius

    .file-info
      flex: 1

      .file-name
        +paragraphTitle
        word-break: break-all
        display: block

      .file-size
        +paragraphSmall
        word-break: break-all

    .file-action
      padding: 0 0 0 16px

      +mdm
        padding: 0 0 0 32px

      span
        cursor: pointer

        &.icon
          color: $c-primary
