.no-activity
  .dashboard-content
    img(data-ng-src="/assets/images/profitelo-icons/icon9.png")

    div
      h3(data-translate="DASHBOARD.CLIENT.ACTIVITIES.HELLO")
      p(data-translate="DASHBOARD.CLIENT.ACTIVITIES.NO_ACCOUNT_HISTORY")

      a.btn.btn-primary(data-translate="DASHBOARD.CLIENT.ACTIVITIES.SEARCH_EXPERT" data-ui-sref="app.search-result")