.no-activity.no-results-page
  .dashboard-content.no-results-page-content
    img(data-ng-src="/assets/images/profitelo_icons/icon_history.png")

    div
      h2(data-translate="DASHBOARD.CLIENT.ACTIVITIES.NO_ACCOUNT_HISTORY")

      a.btn.btn-default(data-translate="DASHBOARD.CLIENT.ACTIVITIES.SEARCH_EXPERT" data-ui-sref="app.search-result")
