.consultation-list
  padding: 48px 0
  border-bottom: 1px solid $c-lines

  +xsm
    display: flex
    align-items: flex-start

  +lgm
    align-items: center

  .consultation-section
    flex: 1

  .consultation-details
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 0 16px

    +xsm
      justify-content: flex-start

    .consultation-details-info
      +consultationDetailsInfo
      display: flex
      margin: 0 0 0 8px

      li
        display: inline-flex
        align-items: center
        margin: 0 0 0 16px

        span
          color: $c-secondary-txt

          &[class*="icon"]
            margin: 0 8px 0 0

  .consultation-title
    margin: 0

  .tags-list
    margin: 24px 0 0 0

  .consultation-actions
    text-align: center
    padding: 48px 0 0

    +lgm
      padding: 0

  .consultation-as-employee
    margin: 0 0 4px

    span
      +default-font-regular
      font-size: $f-paragraph-title
      color: $c-tertiary-txt

      a
        color: $c-primary
        margin: 0 0 0 4px
