scrollable(data-is-fullscreen="isFullscreen" data-is-navbar="isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.RATE_CONVERATION" data-on-close="onModalClose")
  preloader(data-is-loading="!callSummary")
    .container-medium
      .summary-conversation
        .consultation-profile
          .profile-preview
            user-avatar.thumb.x96(data-image-token="expertAvatarUrl")
              .status-list
                span.status.availability
                  span.icon.icon-success-12

            div
              .profile-name
                span {{ callSummary.companyExpertProfile.expertDetails.name }}


        .consultation-price.price-section
          span(data-ng-bind-html="callSummary.service.price | money ")

        .consultation-range
          .consultation-info
            .consultation-title
              span {{ callSummary.service.name }}

            ul.consultation-details-info
              li.options-item.recomendation
                span  {{ rating || '0' }}% {{"SEARCH.RECOMMENDATION" | translate }}
              li.options-item.conversation-count
                span {{ callSummary.service.usageCounter || '0' }}
              //li.options-item.balance
                span {{ 'NONE' }} min.

        .consultation-time-details
          ul.conversation-time
            li.label(data-translate="COMMUNICATOR.MODALS.CONVERSATION_TIME")
            li {{ callSummary.callDuration | secondsToDateTime | date:'HH:mm:ss' }}

          ul.conversation-cost
            li.label(data-translate="COMMUNICATOR.MODALS.CONVERSATION_COST")
            li(data-ng-bind-html="callSummary.cost | money ")

        multiselect(data-title="COMMUNICATOR.MODALS.SUMMARY_HELPER_RANGE" data-items="callSummary.tags.tags"
        data-field="name" data-ng-show="isRecommended" data-on-select-change="onTagsSelectChange")

        .modal-action(ng-show="callSummary.isRecommendable")
          span(data-translate="COMMUNICATOR.MODALS.IS_CONVERSATION_GOOD")

          div.action-recommend(data-ng-show="!isRecommended")
            a.btn.btn-primary(data-ng-click="closeModal()" data-translate="COMMUNICATOR.MODALS.SKIP")
            a.btn.btn-default(data-ng-click="recommendService()" data-translate="COMMUNICATOR.MODALS.RECOMMEND")

          div.action-next(data-ng-show="isRecommended")
            a.btn.btn-primary(data-ng-click="closeModal()" data-translate="COMMUNICATOR.MODALS.CANCEL")
            a.btn.btn-default(data-ng-click="recommendServiceTags()" data-translate="COMMUNICATOR.MODALS.SAVE")
