scrollable.change-password-settings(data-is-fullscreen="isFullscreen" data-is-navbar="isNavbar")
  top-modal-navbar(data-title="COMMUNICATOR.MODALS.SUMMARY_CONVERSATION" data-on-close="onModalClose")
  .modal-settings
    .default-container-small
      h2(data-translate="{{:: 'SETTINGS.SECURITY.CHANGE_PASSWORD.TITLE' | translate}}")
