.login-content
  .login-content__container
    .main
      header.login-content__header
        .logo
          img(
            src="{{urlIcons}}/logo_vertical_color.svg",
            alt="AnyMind_logo"
          )
        .title-container
          h6 {{ titleTrKey | translate  }}
            am-core-tooltip(
              *ngIf="tooltipText",
              [tooltipText]="tooltipText",
              placement="top-right"
            )
          p.title-container__subtitle.title-container__subtitle--info(
            *ngIf="subTitleTrKey",
            [innerHTML]="subTitleTrKey | translate"
          )
          p.title-container__subtitle(*ngIf="msisdn")
            span([translate]="'LOGIN.YOUR_NUMBER'")
            span.title-container__subtitle__msisdn {{ msisdn }}
            a.title-container__subtitle__link(routerLink="/login", [translate]="'LOGIN.CHANGE_NUMBER'")

      ng-content

    plat-login-mobile-footer
