@import "../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../template/profitelo_theme/stylesheets/core/helpers/mixins"

.textarea
  display: flex
  align-content: space-between
  flex-wrap: wrap
  background: $c-white
  position: relative
  padding: 0
  width: 100%

  textarea
    margin: 0 0 8px
    width: 100%
    align-self: flex-end
    resize: none
    min-height: $s-textarea-min-height

  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: auto
    height: 1px
    width: 100%
    background: $c-lines

  &::after
    transition: width 0.3s ease-out
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: auto
    height: 1px
    width: 100%
    animation: inputBorderLineAnimationOut 0.3s

  label
    +inputLabel

  &.is-focused
    &::after
      animation: inputBorderLineAnimation 0.3s
      animation-fill-mode: forwards

  &.is-invalid
    &::after
      animation: inputBorderLineAnimationError 0.3s
      animation-fill-mode: forwards

    input
      color: $c-error

.input-sign-counter
  text-align: left
  margin: 8px 0 0
