.favourite-experts
    .entry-title
        h3(data-translate="DASHBOARD.CLIENT.FAVOURITE_EXPERTS.TITLE")

    .favourite-experts-list
        client-favourite-expert.client-favourite-expert()
        client-favourite-expert.client-favourite-expert()
        client-favourite-expert.client-favourite-expert()
        client-favourite-expert.client-favourite-expert()
        client-favourite-expert.client-favourite-expert()
        client-favourite-expert.client-favourite-expert()
        client-favourite-expert.client-favourite-expert()
