.expert-layout
  plat-user-avatar.expert-layout__avatar(
    [avatarToken]="avatarToken"
  )
  .expert-layout__content
    .expert-layout__details
      .expert-layout__details-name-wrapper
        span.expert-layout__details-name {{name}}
        .expert-layout__icons
          a.expert-layout__icons-button(plat-icon-button)
            span(plat-icon iconClass='share-24')
          a(*ngIf='isOwnProfile; else likeButton').expert-layout__icons-button(plat-stroked-button, (click)='editProfileClick()') {{'EXPERT_DASHBOARD.EDIT' | translate}}
      .expert-layout__details-available
        plat-expert-availability([expertId]='expertId')
      plat-social-links([links]='links')
    plat-expandable-panel.expert-layout__description
      span {{description}}
    a(plat-stroked-button) {{'EXPERT_DASHBOARD.ATTACHMENTS_BUTTON' | translate:attachmentCount}}
ng-template(#likeButton)
  a.expert-layout__icons-button(plat-icon-button, (click)='likeProfileClick()')
    span(plat-icon iconClass='heart')
