.blocked-view
  login-background
    login-content(
      contentHeightAnimation,
      titleText="LOGIN.BLOCKED.TITLE",
      subTitle="LOGIN.BLOCKED.DESCRIPTION"
    )

      button.button.button--default(translate="LIMITED_ACCESS.BUTTON", routerLink="/login")
