@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.consultation-form
  .modal-section
    margin: 0 0 96px

    +smm
      min-width: 640px

    .section-title
      .title
        +inputSmall

      .additional-text
        +paragraphTitle
        color: $c-tertiary-txt
        font-size: $f-paragraph-small

    input-price
      margin: 0 0 16px

      .input-price
        height: $s-input-height

    .hint
      display: flex
      align-items: center
      position: relative

      p
        margin: 0 8px 0 0

    input-consultation-employee,
    input-consultation-tag
      input
        border-bottom: 1px solid $c-lines
        width: 100%

    input-consultation-tag
      .checked-list
        margin: 16px 0 32px

    textarea-primary
      textarea
        margin: 8px 0 0
        height: $s-input-height-container

  .modal-action
    flex-wrap: wrap

    .validation-alert
      display: flex
      justify-content: flex-start
      width: 100%

      +xsm
        justify-content: center
