.top-navbar
  position: fixed
  z-index: 100
  width: 100%
  background: $c-white
  height: 80px
  display: inline-flex
  justify-content: space-between
  align-items: center
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 $c-lines

  nav
    display: flex
    align-self: stretch
    justify-content: flex-start

    +smm
      flex: 1 0

    .hamburger-menu
      padding: 0
      border-right: 1px solid $c-lines
      min-width: 79px
      display: flex
      align-self: stretch
      align-items: center
      justify-content: center

  .logo
    text-align: left
    flex: 2 0
    padding: 0 0 0 20px

    +smm
      padding: 0
      text-align: center

    a
      display: inline-block
      vertical-align: bottom

      img
        display: block

    img
      max-width: 100px

  .buttons
    display: flex
    align-self: stretch
    justify-content: flex-end

    +smm
      flex: 1 0

    a
      min-width: 79px
      display: flex
      align-self: stretch
      align-items: center
      justify-content: center
      border-left: 1px solid $c-lines
      color: $c-primary-txt

      &.search-btn
        display: none

        +smm
          display: flex