@import "type-faces"
//HEADERS:

h1
  font-size: $f-header-big

h2
  font-size: $f-header

h3
  font-size: $f-subheader

h4
  font-size: $f-subheader

h5
  font-size: $f-paragraph-title

h6
  font-size: $f-input-small

p
  +paragraphSmall

a
  &:hover,
  &:active,
  &:focus
  text-decoration: none
