@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.client-consultation-details-modal
  .details-tab
    .details-header-row
      .details-tab-price
        display: flex

        span
          +default-font-medium
          color: $c-primary-txt

  .modal-container
    > *:not(:last-child):not(header)
      display: block
      margin: 0 0 $s-input-section-margin

  .collapse-btn
    text-align: left

    +smm
      margin: 0 0 32px

  .chat-history
    .collapse-btn-content
      max-height: 456px
      overflow: scroll
      background: $c-background
      padding: 16px 0 32px

