.edit-expert-profile
  .user-avatar
    text-align: center

  form
    > *
      display: block
      margin: 0 0 96px

  .profile-avatar
    display: block
    text-align: center

  .input-group
    margin: 0 0 8px

  .input-sign-counter
    text-align: right

  .modal-action
    justify-content: flex-end
