@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.edit-expert-profile
  position: relative

  form
    > *
      display: block
      margin: 0 0 96px

  .profile-avatar
    display: block
    text-align: center

    wizard-avatar
      .image-crop
        margin: 0 auto

      .validation-alert
        text-align: center

  .input-group
    margin: 0 0 8px

  .input-sign-counter
    text-align: right

  .modal-action
    justify-content: flex-end

  .top-modal-navbar
    position: absolute
    padding: 0

    .btn-close
      border: 0

      span
        color: $c-tertiary-txt
        font-size: $f-icon-22

  .wizard-uploader
    margin: 0 auto
