@import "../../../../../../../shared/components/modals/modal/modal.component"
@import "./projects/anymind-ng-core/src/template/stylesheets/core/variables/variables"
@import "./projects/anymind-ng-core/src/template/stylesheets/core/helpers/mixins/mixins"

\:host
  display: block
  width: 100%

.change-email
  text-align: center
