extends ../../../templates/wizard/section-controlls.partial.jade

block content
  .step-content-column
    pro-input(placeholder="{{'DASHBOARD.EXPERT_ACCOUNT.EXPERT_PLACEHOLDER' | translate}}" data-pro-model="nameExport")




