extends ../../../templates/wizard/section-controlls.partial.jade

block content
  .step-content-column(data-ng-click="onClick()")
    pro-input(data-placeholder="{{placeholder | translate}}" data-pro-model="model.name" data-ng-class="{invalid: badName}")
  .input-error-messages
    .error(data-translate="DASHBOARD.SERVICE_PROVIDER.NAME.BAD_NAME" data-ng-show="badName")