.pro-service-provider-profile
  text-align: center
  padding: 32px 0
  border-bottom: 1px solid $c-lines

  +xsm
    padding: 64px 0

  +smm
    padding: 128px 0

  .summary-step
    padding: 0

    .summary-avatar
      transition: all 0.2s linear
      position: relative
      background: #fbfbfb
      width: 216px
      height: 216px
      border-radius: 50%
      text-align: center
      vertical-align: middle
      margin: 0 auto 16px
      overflow: hidden
      position: relative

    .summary-languages
      margin: 0 0 32px

    .summary-descriptions
      color: $c-primary-txt
      text-align: center
      margin: 0 0 32px
      padding: 0 16px

      +smm
        padding: 0 64px

      p
        text-align: center

      .show-more-arrow
        margin: 32px auto 0

    h2
      color: $c-primary-txt
      font-size: $f-h2-size
      margin: 0 0 16px
