.conversation-rate
  .entry-title
    h4(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.RECOMMENDED_TAGS.TITLE")
    span(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.RECOMMENDED_TAGS.DESCRIPTION")

  multiselect(data-items="$ctrl.items")

  .modal-action
    a.btn.btn-default(data-translate="DASHBOARD.CLIENT.ACTIVITIES.MODALS.CONSULTATION_DETAILS.RECOMMENDED_TAGS.SAVE_TAGS.BUTTON")
