.paypal
  .your-personal-data-footer
    .summary-charge-account
      .summary-charge-container(data-ng-class="{'no-ammount': $ctrl.amountMethodModal.amountModel.cashAmount || $ctrl.amountMethodModal.amountModel.amount | money}")
        .amount-details(data-ng-show="$ctrl.amountMethodModal.amountModel.cashAmount || $ctrl.amountMethodModal.amountModel.amount")
          .amount-price
            p {{:: 'DASHBOARD.CHARGE_ACCOUNT.AMOUNT.LABEL' | translate }}
              span(data-ng-bind-html="$ctrl.amountMethodModal.amountModel.cashAmount || $ctrl.amountMethodModal.amountModel.amount | money")

        .charge-account-btn
          #paypal-button



