@import "../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../template/profitelo_theme/stylesheets/core/interface/typography/typography"

.charge-account
  background: none
  display: flex
  align-items: center
  justify-content: center

  .scrollable
    &.fullscreen-modals
      &.fullscreen-navbar
        .scrollable-container
          .scrollable-center
            padding: 0

  .fullscreen-modals
    animation: none

  .input-error-messages
    text-align: center

    +smm
      text-align: left

  .charge-account-title
    header.entry-title
      justify-content: center

    .btn-handler
      padding: 0 16px

      +smm
        display: flex
        justify-content: center

      .btn
        width: 100%

        +xsm
          width: auto
          min-width: 250px

  .top-charge-account
    > div:not(.charge-account-title)
      +smm
        margin: $s-input-section-margin 0 0

  .braintree
    position: relative
    padding: 0

    .balls-loader
      position: absolute

  .card-payment
    .braintree
      padding: 0

      .braintree-content-form
        +smm
          margin: 0 0 $s-input-section-margin

  .charge-payments
    padding: 32px 0 0 0

    .modal-container
      &:not(.paypal-payment-form):not(.summary-charge-container)
        padding:  24px 0

        +smm
          padding: 16px 48px 0

  .paypal-payment-form
    +smm
      background: $c-background

    .paypal-button
      display: flex
      justify-content: center

      +smm
        display: block

  .invoice-form-company-info
    margin: $s-input-section-margin 0 0 0

  .modal-form
    padding: 0 16px

    .modal-container
      &.payment-personal-data
        .your-personal-data
          display: flex
          flex-wrap: wrap

      .amount-details
        margin: 0

  .select-choice
    animation: fadeInY 0.3s
    animation-fill-mode: forwards
