.search-result
  pro-top-navbar(data-show-search="true" logout-action="appController.logout" data-search-count="vm.searchResults.count")
  preloader(data-is-loading= "vm.isSearchLoading" data-min-timeout="800")
    search-filters(data-search-results="vm.searchResults")
    no-consultations(data-query="vm.searchParams.q" data-ng-if="vm.searchResults.results.length === 0 && !vm.isSearchLoading")
    div(infinite-scroll="vm.loadMoreOnScroll()"  infinite-scroll-distance="2")
      single-consultation(data-ng-repeat="result in vm.searchResults.results" data-consultation="result")
    preloader-container(data-is-loading="vm.isLoadMoreLoading" data-is-error="vm.isLoadMoreError"
    data-error-fn="vm.loadMoreOnClick" data-error-message="SEARCH.PRELOADER_CONTAINER.ERROR_MESSAGE")
    pro-footer()
