.search-result
  pro-top-navbar(data-show-search="true" logout-action="appController.logout")
  preloader(data-wait-for-response= "vm.waitingForSearchResponse")
    search-filters(data-tag-click-action="vm.tagsClick" data-search-results="vm.searchResults")
    no-consultations(data-query="vm.searchParams.q" data-ng-if="vm.searchResults.results.length === 0 && vm.receivedData")
    div(infinite-scroll="vm.loadMore()"  infinite-scroll-distance="2")
      single-consultation(data-ng-repeat="result in vm.searchResults.results" data-consultation="result")
    pro-footer()
