pro-top-navbar(data-show-search="true" logout-action="appController.logout")
search-filters(data-tag-click-action="vm.tagsClick")
single-consultation(data-ng-repeat='result in vm.searchResults.results track by $index' data-consultation='result')
pro-footer()
