div
  div.inline-block(data-ng-show="$root.registrationFooterData.step1")
    div.filled-round
    div.small-round
  div.inline-block(data-ng-show="!$root.registrationFooterData.step1")
    div.small-round
    div.filled-round