//- Fixed navbar
nav.navbar
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(data-ui-sref="app.dashboard") Profitelo
    #navbar.navbar-collapse.collapse.top-navbar
      ul.nav.navbar-nav.navbar-right
        //li.disabled
        //  a Client
        //li.disabled
        //  a Expert
        li.disabled
          a(href="" data-ui-sref="app.messages")
            i.fa.fa-bell
        li.disabled
          a(href="" data-ui-sref="app.favourite")
            i.fa.fa-heart
        li.dropdown.active.user-panel
          .dropdown-toggle.clearfix(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
            .pull-left.user-details
              span John Doe <br/>
              span ID 012 345
            .pull-left
              i.fa.fa-user.fa-3x

            span.caret
          ul.dropdown-menu
            li
              a(href="" data-ui-sref="app.expert-profile") Expert's profile
            li.disabled
              a(href="") Settings
            li.divider(role="separator")
            li.disabled
              a(href="") Logout

  .container.bottom-navbar.clearfix
    .section.nav.pull-left
      ul.nav.navbar-nav.navbar-left
        li
          a Home
        li
          a Dashboard
        li
          a Konsultacje
        li
          a Finanse
    .section.search.pull-left
      form
        i.fa.fa-search
        input(type="text" placeholder="Znajdź eksperta z branży(pediatra, mechanik, ...)")
    .section.database.pull-left
      a Baza ekspertów


