//- Fixed navbar
nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(data-ui-sref="app.dashboard") Profitelo
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.disabled
          a(href="" data-ui-sref="app.messages")
            i.fa.fa-bell
        li.disabled
          a(href="" data-ui-sref="app.favourite")
            i.fa.fa-heart
        li.dropdown.active
          a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
            i.fa.fa-user &nbsp;
            | John Doe
            | (ID 012345)
            span.caret
          ul.dropdown-menu
            li
              a(href="" data-ui-sref="app.expert-profile") Expert's profile
            li.disabled
              a(href="") Settings
            li.divider(role="separator")
            li.disabled
              a(href="") Logout
