// -- default viariales -- //
/* Variables are names as classes into HTML */
$s-thumb-width:              20px
$s-title-width:               10%
$s-subtitle-width:            7%
$s-description-long-width:    35%
$s-description-short-width:   15%
$s-button-width:              40px

// -- core viariales -- //
$s-vertical-margin:           8px
$s-vertical-margin-big:       24px
$s-bar-height:                8px
$s-horizontal-margin:         18px
$s-horizontal-margin-big:     36px