@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"
@import "content-loader-default-variables"

/*
 *
 * If you want to overwrite default variables you have to import
 * 'template/components/content-loader-default-variables' into component sass file
 * example: option-row-loader.component.sss
 *
 * HOW IT's WORKS
 * Position of any cols it's a sum of previous columns width + their margins
 * example: $s-second-col-position = #{$s-horizontal-margin} + #{$s-thumb-width}
 *        : $s-second-col-position = 18px + 20px
 */

$s-thumb-cell-position: #{$s-thumb-width}
$s-title-cell-position: calc(#{$s-horizontal-margin} + #{$s-thumb-width})
$s-short-desc-cell-position: calc(#{$s-title-cell-position} + #{$s-title-width} + #{$s-horizontal-margin-big})
$s-long-desc-cell-position: calc(#{$s-short-desc-cell-position} + #{$s-description-short-width} + #{$s-horizontal-margin-big})

plat-content-loader
  display: block
  width: 100%
  height: 100%

.content-loader-continer
  height: 100%
  width: 100%
  display: block

  svg
    height: 100%
    width: 100%

    rect
      height: inherit
      width: 100%

  .content-loader
    display: block
    width: 100%
    height: 100%

    &__thumb
      width: $s-thumb-width
      height: $s-thumb-width
      x: 0
      y: 0

    &__title
      width: $s-description-long-width
      height: $s-bar-height
      x: $s-title-cell-position
      y: $s-vertical-margin

      +mdm
        width: $s-title-width
        y: 0

    &__subtitle
      display: none

      +mdm
        display: block
        width: $s-subtitle-width
        height: $s-bar-height
        y: calc(#{$s-bar-height} + #{$s-vertical-margin})
        x: $s-title-cell-position

    &__description
      height: $s-bar-height

      &--long
        width: calc(100% - #{$s-horizontal-margin} - #{$s-thumb-width})
        y: calc(#{$s-vertical-margin} + #{$s-bar-height} + #{$s-vertical-margin-big})
        x: $s-title-cell-position

        +smm
          width: calc(#{$s-description-long-width} * 2)
          y: calc(#{$s-vertical-margin} + #{$s-bar-height} + #{$s-vertical-margin-big})
          x: $s-title-cell-position

        +mdm
          width: $s-description-long-width
          y: $s-vertical-margin
          x: $s-long-desc-cell-position

      &--short
        width: $s-description-short-width
        y: calc(#{$s-vertical-margin} + #{$s-bar-height} + #{$s-vertical-margin-big} + #{$s-bar-height} + #{$s-vertical-margin-big})
        x: $s-title-cell-position

        +smm
          width: calc(#{$s-button-width} + #{$s-vertical-margin})

        +mdm
          y: $s-vertical-margin
          x: $s-short-desc-cell-position
          width: $s-description-short-width

    &__button
      y: calc(#{$s-vertical-margin} + #{$s-bar-height} + #{$s-vertical-margin-big} + #{$s-bar-height} + #{$s-vertical-margin-big})
      x: calc(100% - #{$s-button-width})
      width: $s-button-width
      height: $s-bar-height

      +mdm
        y: $s-vertical-margin

