.collapse-btn(data-ng-style="$ctrl.stylesObject")
  .btn-collapse.btn
    .collapse-btn-wrapper
      .btn.collapse-btn-header(data-ng-click="$ctrl.collapseToggle()")
        div
          span {{ $ctrl.title | translate }}

      .collapse-btn-content.animation(data-ng-if="!$ctrl.isCollapsed")
        div
          ng-transclude
