.modal-header
  h3.modal-title {{'DASHBOARD.CREATE_PROFILE.DIALOG_HEADER' | translate}}
.modal-footer
  button.btn.btn-success(type='button', data-ng-click='confirm()') {{'INTERFACE.YES' | translate}}
  button.btn.btn-error(type='button', data-ng-click='reject()') {{'INTERFACE.NO' | translate}}