.step.step-done
  .title-step
    .title-order
      h3(data-translate="DASHBOARD.CONSULTATION_RANGE.CONSULTANTS_LIST_TITLE")
    div
      .step-description
        h5(data-translate="DASHBOARD.CREATE_PROFILE.STEP")
        i.icon.icon-success-24
  .step-content-column
    pro-checkbox(data-label="{{'DASHBOARD.MENU.STEP1_ONE_PERSON' | translate}}")
    pro-input(placeholder="{{'REGISTER.SERVICE_EMAIL_PLACEHOLDER' | translate}}")
    .links-submit
      a.pro-btn.btn-main.btn-medium
        p jan.kowalski@itelo.pl
        i.icon.icon-close-12
      a.pro-btn.btn-main.btn-medium
        p jan.kowalski@itelo.pl
        i.icon.icon-close-12
      a.pro-btn.btn-main.btn-medium
        p jan.kowalski@itelo.pl
        i.icon.icon-close-12
    h3(data-translate="DASHBOARD.CONSULTATION_RANGE.CONSULTANTS_LOAD_CSV")
    pro-uploader
