@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../template/profitelo_theme/stylesheets/variables/variables"

.consultation-list-item.list-row
  align-items: flex-start
  padding: 24px 0

  .consultation-list-checkbox
    margin: 0 16px 0 0

    .checkbox
      align-items: flex-start

  .consultation-list-content
    width: 100%

    > *
      display: block
      margin: 0 0 16px

      &:last-child
        margin: 0

    .price-section
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      width: 100%

      .pending-invite,
      .pending-invite-time
        +paragraphSmall
        text-transform: lowercase

      .pending-invite-time
        color: $c-tertiary-txt
        margin: 0 0 0 4px

      .currency,
      .time
        color: $c-primary-txt

  .consultation-title
    span
      +default-font-regular
      color: $c-primary-txt
      font-size: $f-paragraph
      line-height: 24px
