.consultation-list-item.list-row
  .consultation-list-checkbox
    pro-checkbox(data-id="$ctrl.consultationCheckboxId"
      data-ng-model="$ctrl.consultationCheckboxNgModel")

  .consultation-list-content
    .price-section
      span.consultation-price
        span(data-ng-bind-html="$ctrl.consultationPrice | money")
        span(data-translate="DASHBOARD.EXPERT_ACCOUNT.EMPLOYEE.DETAILS.PER_MINUTE")
      div(data-ng-show="$ctrl.consultationInviteTime")
        span.pending-invite(data-translate="DASHBOARD.EXPERT_ACCOUNT.EMPLOYEE.DETAILS.INVITE.PENDING")
        span.pending-invite-time {{$ctrl.consultationInviteTime}}

    .consultation-title
      span {{$ctrl.consultationTitle | translate}}

    tags-list(data-tags="$ctrl.consultationTags")
