.pro-videochat
  .client-timer
     img.circle(src="/assets/images/John_Doe.jpg")
     h5 Jan Kowalski
     ul
       li 00
       li 07
       li 29
       li.price
          strong 5,89 pln

  .fullscreen
      a.circle.icon.icon-settings-24 full

  .client-list
      ul
        li
          img.circle(src="/assets/images/John_Doe.jpg")
        li
          img.circle(src="/assets/images/John_Doe.jpg")

  nav
    .settings
      a.circle.icon.icon-settings-24

    ul.main-nav
      li
        a.circle.icon.icon-settings-24
      li
        a.conversation.on.circle.icon.icon-settings-24
      li
        a.circle.icon.icon-settings-24

    ul
      li
        a(href="#")
          a.circle.icon.icon-settings-24
      li
        a(href="#")
          a.circle.icon.icon-settings-24
