$c-primary:         #8A3DFF
$c-primary-dark:    #6E31CC
$c-secondary:       #F35752
$c-accent:          #6F1349
$c-primary-txt:     #2C2F34
$c-secondary-txt:   #959799
$c-tertiary-txt:    #BFBFBF
$c-lines:           #E6E6E6
$c-background:      #F2F2F2
$c-base-background: #F5F5F5
$c-background-2:    #FAFAFA
$c-error:           #F6564D
$c-success:         #5BC793
$c-success-hover: 	#48916c
$c-warning:         #FFC40C
$c-info:            $c-primary
$c-white:           #FFF
$c-black:           #000
