@import 'sizes'

$f-header-big:            42px
$f-header:                22px
$f-subheader:             18px
$f-paragraph:             16px
$f-paragraph-title:       15px
$f-paragraph-small:       13px
$f-input-big:		          32px
$f-label:           13px
$f-input-txt:             15px
$f-input-small:           11px

$f-btn-size:              14px
$f-button-small:             12px
$f-btn-icon:              15px

$f-icon-size: 10px
$f-icon-12:   13px
$f-icon-16:   16px
$f-icon-22:   22px
$f-icon-32:   32px
$f-icon-48:   48px
$f-icon-128:		128px


$top-modal-navbar: 80px
$dashboard-width-nav:   300px
$dashboard-navigation-height: 80px
$f-commmunicator-header: 26px
$f-input-line-height:      $s-input-height
