$s-input-margin:                    24px
$s-input-section-margin:            48px
$s-border-radius:                   3px

$s-input-height-container:          56px
$s-textarea-min-height:             56px
$s-input-height:          					36px
$s-footer-height:										341px
$s-navbar-height:										64px

$s-messenger-input-height:          48px
$s-messenger-input-line-height:			$s-messenger-input-height - 2px


$s-btn-dropdown-navbar-availbility:			176px
