button
  &[disabled]
    @extend .btn-disabled
    cursor: not-allowed

  &.btn-link
    &[disabled]
      background: none
      color: $c-secondary-txt

.btn-handler
  +xsm
    margin: 0 -16px

  +smm
    margin: 0 -12px

  .btn
    margin: 0 0 24px
    width: 100%

    +xsm
      width: auto
      margin: 0 16px 24px

    +smm
      margin: 0 12px

.btn
  +default-font-medium
  display: inline-flex
  align-items: center
  justify-content: center
  color: $c-white
  font-size: $f-btn-size
  height: 48px
  border-radius: 48px
  padding: 0 24px
  text-transform: uppercase
  position: relative
  z-index: 1
  overflow: hidden
  cursor: pointer
  letter-spacing: 0.5px
  text-align: center
  width: 100%
  white-space: nowrap

  +xsm
    padding: 0 32px
    width: auto

  &.btn-small
    border-radius: 32px
    height: 32px
    padding: 0 24px
    width: auto
    font-size: $f-btn-small

  [class*="icon"]
    font-size: $f-icon-22
    margin: 0 16px

  &.icon-right
    padding: 0 16px 0 24px

    [class*="icon"]
      margin: 0 0 0 8px

  &.icon-left
    padding: 0 24px 0 16px

    [class*="icon"]
      margin: 0 8px 0 0

.btn-default
  background: $c-primary
  border-color: $c-primary

  span
    &.icon
      color: $c-white

.btn-default-border
  background: none
  color: $c-primary
  padding: 0
  width: auto

  +smm
    background: $c-white
    padding: 0 24px
    border: 1px solid $c-primary

.btn-select
  @extend .btn-primary
  &.is-active
    overflow: visible
    background: $c-primary
    color: $c-white
    
    .icon
      display: inline-flex

  .icon
    display: none
    position: absolute
    left: 0
    right: 0
    bottom: -10px
    width: 20px
    height: 20px
    border-radius: 50%
    border: 2px solid $c-primary
    background: $c-white
    margin: auto
    color: $c-primary
    font-size: $f-icon-size

.btn-primary
  background: $c-white
  border: 1px solid $c-lines
  color: $c-primary
  transition: border 0.2s

  &:hover
    border-color: $c-primary

  span
    color: $c-primary

.btn-success
  background: $c-success
  +btn-hover($c-success)

  .icon
    color: $c-white

.btn-error
  background: $c-error
  +btn-hover($c-error)

  .icon
    color: $c-white

.btn-warning
  +btn-hover($c-warning)
  background: $c-warning

.btn-disabled
  background: $c-lines

.btn-noborder
  padding: 0
  color: $c-primary

.btn-close
  width: 48px
  height: 48px
  padding: 0
  border: 1px solid $c-lines
  color: $c-primary
  transition: border-color 0.3s

  &:hover
    border-color: $c-primary

  span
    color: $c-primary

    &.icon
      font-size: $f-icon-16

.btn-close-icon
  color: $c-secondary-txt
  font-size: $f-icon-size

.btn-arrow
  background: $c-white
  border: 1px solid $c-lines
  width: 48px
  height: 48px

  &:hover
    span
      color: $c-secondary-txt

  span
    transition: color 0.3s
    color: $c-lines


.btn-show-more
  +default-font-regular
  text-transform: uppercase
  color: $c-secondary-txt
  display: inline-block
  height: auto
  text-align: center

  &::after
    transition: transform 0.3s
    content: ""
    display: block
    margin: 6px auto 0
    width: 0
    height: 0
    border-top: 4px solid $c-secondary-txt
    border-right: 4px solid transparent
    border-left: 4px solid transparent

  &.show-less
    &::after
      transform: rotate(180deg)

.btn-group
  display: flex
  justify-content: space-between

  > .btn
    &:first-child
      margin: 0 8px 0 0

    &:last-child
      margin: 0 0 0 8px

.btn-link
  +default-font-medium
  width: auto
  height: auto
  text-transform: uppercase
  font-size: $f-btn-small
  color: $c-primary
  padding: 0
  border-radius: 0
  letter-spacing: initial
  border-radius: 0

  &.btn-small
    padding: 0

/* circle buttons */
.btn-circle
  transition: border 0.2s
  border-radius: 50%
  height: 48px
  width: 48px
  padding: 0
  background: $c-white
  border: 1px solid $c-lines
  position: relative
  z-index: 1

  span
    font-size: $f-icon-22
    color: $c-secondary-txt

  &:hover
    border-color: $c-primary

    span
      color: $c-primary

  &.reject
    background: $c-error

  &.answer
    background: $c-success

  &.black
    border: 0
    background: rgba($c-black, 0.3)
    +btn-circle-hover($c-white)

    &:hover
      transition: background 0s 0.3s
      background: none

    span
      font-size: $f-icon-22
      color: $c-white

.arrow-slider
  display: none
  opacity: 0.4

  +lgm
    transition: background 0.3s
    align-items: center
    justify-content: center
    color: $c-secondary-txt
    border-radius: 3px
    width: 32px
    height: 32px
    background: $c-lines
    font-size: $f-btn-small
    display: flex

  &.active-btn
    opacity: 1

    &:hover
      background: $c-primary

      span
        color: $c-white

  &.arrow-right,
  &.arrow-left
    &:hover
      background: $c-primary-txt

  span
    transition: color 0.3s
    line-height: 1
    font-size: $f-paragraph
    color: $c-secondary-txt



/* hovers */
.displace
  .icon
    margin: 0
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: -100%
    transition: top 0.3s

  span:not(.icon)
    transition: transform 0.3s
    position: relative

  &:hover
    span
      &:not(.icon)
        transform: translateY(300%)

      &.icon
        top: 0
/* hovers end */


