.payments
  .payments-options.payments
    .icon
      transform: rotate(90deg)

  .invoice-information
    .info-tab
      border-bottom: 1px solid $c-lines

  .entry-title
    justify-content: space-between

    +smm
      justify-content: flex-start

    .btn
      +smm
        margin: 0 0 0 24px

  .list-row
    display: flex
    align-items: center
    justify-content: space-between
    position: relative

    .title
      display: none

      +smm
        +paragraphTitle
        margin: 0
        padding: 0
        display: inline-flex

    .radio
      position: static

    .text
      position: relative
      z-index: $z-index-100
      padding: 0 0 0 24px

      +xsm
        padding: 0 0 0 64px

    .radio-input
      width: 24px
      display: flex
      justify-content: flex-start

      +xsm
        width: 64px
        justify-content: center

    .payment-thumb
      display: flex
      align-items: center
      max-width: 54px
      margin: 0 8px 0 0

      +smm
        margin: 0 24px 0 0

      img
        border: 1px solid $c-lines

    &.profitelo-account
      span
        +paragraphTitle
        color: $c-primary-txt

        +smm
          margin: 0 0 0 4px

        &.title
          +paragraphTitle

  .radio
    margin: 0

    label
      padding: 0
      font-size: $f-paragraph
      display: flex
      align-items: center

  .payments-method
    margin: 0 0 48px

    .preloader-container
      @extend .list-row
      height: 82px

    .payments-method-list
      .radio-text
        .radio-input
          position: absolute
          top: 0
          bottom: 0
          margin: auto
          display: flex
          align-items: center

