@import "../../../../../template/profitelo_theme/stylesheets/variables/variables"
@import "../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"

.dashboard-navigation
  &.expert-navigation
    .dashboard-nav
      li
        flex: 1 0 auto

        &:hover
          .complain-count
            background: $c-white

    .complain-count
      +default-font-medium
      display: flex
      justify-content: center
      align-items: center
      background: $c-secondary-txt
      font-size: $f-btn-small
      color: $c-primary-txt
      width: 20px
      height: 20px
      border-radius: 50%
      margin: 0 0 0 8px
      transition: background-color 0.3s
