extends ../../../templates/wizard/section-controlls.partial.jade

block edit-section
  div.text-center
    h3.color-secondary.uppercase.text-bold KTO ŚWIADCZY USŁUGĘ
  form.form-horizontal.type-wizard(novalidate="" role="form" name="createNewServiceForm" data-ng-hide="config.toggles.past && !config.toggles.beingEdited")
    .type-box(data-ng-class="singleType.key == model.type ? 'type-box-selected' : ''" data-ng-repeat="singleType in serviceTypes" data-ng-click="updateModel(singleType)")
      | {{ singleType.name }}

block done-section
  h5.color-secondary.uppercase.text-bold {{ 'COMMON.DIRECTIVES.PRO_CREATE_NEW_SERVICE_NAME.INDUSTRY_NAME' | translate }}
  span {{ model.type }}