plat-modal-component(
[modalTrTitleHeader]="modalHeaderTr"
)

  form.form.form--create-organization(
  [id]="'createOrganizationForm'",
  [formGroup]="createOrganizationFormGroup",
  id="createOrganizationForm",
  novalidate
  )
    .modal-form__row--small(*ngIf="isProfileHasConsultations")
      .alert-content.alert-content--error
        span.icon.icon-warning
        p {{'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.HAS_GOT_CONSULTATION.ALERT' | translate }}

    .modal-form__row.modal-form__row--small
      header.modal-component__content__header
        span {{'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.ADD_BASIC_DATA.TITLE' | translate }}
          am-core-tooltip(
          [tooltipText]="'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.TOOLTIP.DESCRIPTION'"
        )

    .modal-form__row
      plat-basic-profile-data(
      [form]="createOrganizationFormGroup",
      [profileNameControlName]="createOrganizationNameFormControl",
      [avatarControlName]="avatarFormControl",
      [avatarToken]="avatarToken",
      [isRequired]="true",
      [isDisabled]="isInputDisabled",
      [isOrganizationAvatar]="true",
      [inputTextLabel]="'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.INPUT.INPUT_NAME.LABEL'",
      [inputTextPlaceholder]="'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.INPUT.INPUT_NAME.PLACEHOLDER'"
      )

    .modal-form__row.modal-form__row--small
      header.modal-component__content__header
        span {{ 'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.DESCRIPTION.HEADER.TITLE' | translate }}

      am-core-textarea-primary(
      [maxLength]="profileDescriptionMaxLength",
      [minLength]="profileDescriptionMinLength",
      [placeholder]="'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.DESCRIPTION.PLACEHOLDER'",
      [form]="createOrganizationFormGroup",
      [controlName]="descriptionFormControl",
      [errorTextKey]="'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.DESCRIPTION.ERROR'",
      [label]="'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.DESCRIPTION.LABEL'",
      [isRequired]="true",
      [isDisabled]="isInputDisabled"
      )

    .modal-form__row.modal-form__row--small
      plat-file-uploader(
      *ngIf="!isPending || isInputDisabled",
      [maxFileSize]="maxValidFileSize",
      [maxFilesCount]="maxValidFilesCount",
      [fileCategory]="fileCategory",
      [profileDocuments]="profileDocumentsList",
      (uploadingFile)="onUploadingFile($event)",
      (fileTokensList)="onUploadFile($event)",
      [isDisabled]="isInputDisabled"
      )

    .modal-form__row.modal-form__row--small
      plat-profile-links(
      *ngIf="!isPending || isInputDisabled",
      [form]="createOrganizationFormGroup",
      [controlName]="profileLinksFormControl",
      [itemsList]="profileLinksList",
      [isDisabled]="isInputDisabled",
      (linksListEmitter$)="onAddProfileLink($event)"
      )

  .modal-component__action.modal-component__action--create-organization
    am-core-submit-button(
    (click)="onCreateOrganizationProfile(createOrganizationFormGroup)",
    [titleText]="'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.BUTTON.SAVE_PROFILE'",
    [isDisabled]="isFileUploading || isPending || isInputDisabled",
    [isLoading]="isFileUploading || isPending || isInputDisabled"
    )
