plat-modal-component([modalTrTitleHeader]="modalHeaderTr")
  plat-company-profile(
    [profileForm]="createOrganizationFormGroup",
    [isInputDisabled]="isInputDisabled",
    [profileDocumentsList]="profileDocumentsList",
    [isProfileHasConsultations]="isProfileHasConsultations",
    (fileUploadingStatusChange)="onFileUploadingStatusChange($event)"
  )
  .modal-component__action.modal-component__action--create-organization
    am-core-submit-button(
    (click)="onCreateOrganizationProfile(createOrganizationFormGroup)",
    [titleText]="'DASHBOARD.CREATE_PROFILE.CREATE_ORGANIZATION_PROFILE.BUTTON.SAVE_PROFILE'",
    [isDisabled]="isFileUploading || isPending || isInputDisabled",
    [isLoading]="isFileUploading || isPending || isInputDisabled"
    )
