.pro-tags-slider
  .search-tags
    display: flex
    margin: 0 0 32px
    >a
      display: none
      +smm
        display: block
    .slider-tag
      width: 100%
      max-width: 1200px
      position: relative
      overflow: hidden
      padding: 0 16px

      .slides-container
        +transition(left 0.5s ease-in-out 0s)
        display: flex
        width: 100%
        max-width: 1200px
        position: relative
        padding: 0
        left: 0

        .slide-page
          display: flex
          padding: 0

          li
            margin: 0 16px 0 0
            +default-font-regular



//do refactoringu
.search-filter a:not(.icon)
  margin: 0
.search-filter .icon
  font-size: 12px
  margin: 0
.default-container
  a
    margin: 0
.success
  background: $c-success