.pro-tags-slider
  .search-tags
    display: flex
    margin: 0

    .slider-tag
      width: 100%
      position: relative
      overflow: hidden
      margin: 0

      +mdm
        margin: 0 8px

      .slides-container
        +transition(left 0.5s ease-in-out 0s)
        display: flex
        width: 100%
        max-width: 1200px
        position: relative
        padding: 0
        left: 0

        .slide-page
          display: flex
          padding: 0

          li
            +default-font-regular
            margin: 0 8px 0 0
            border-radius: 0

            .slide-btn-tag
              transition: color 0.3s
              background: rgba($c-lines, 0.6)
              border-radius: 3px
              color: $c-secondary-txt
              height: 32px
              display: inline-flex
              align-items: center
              padding: 0 16px
              white-space: pre
              font-size: $f-h5-size

              &:hover
                color: $c-white
                background: $c-secondary-txt

