.pro-tags-slider
  .search-tags
    display: flex
    margin: 0

    .slider-tag
      width: 100%
      position: relative
      overflow: hidden
      margin: 0
      overflow: hidden

      +mdm
        margin: 0 8px

      .slides-container
        +transition(left 0.5s ease-in-out 0s)
        display: flex
        width: 100%
        max-width: 1200px
        position: relative
        padding: 0
        left: 0

        .slide-page
          display: flex
          padding: 0

          li
            +default-font-regular
            margin: 0 8px 0 0
            border-radius: 0

            .slide-btn-tag
              transition: color 0.3s
              background: rgba($c-lines, 0.6)
              border-radius: 3px
              color: $c-secondary-txt
              height: 32px
              display: inline-flex
              align-items: center
              padding: 0 16px
              white-space: pre
              font-size: $f-h5-size

              &:hover
                color: $c-white
                background: $c-primary

  .arrow-slider
    display: none
    opacity: 0.4
    +lgm
      align-items: center
      justify-content: center
      color: $c-label
      border-radius: 3px
      width: 32px
      height: 32px
      background: $c-lines
      font-size: $f-base
      display: flex

    &.active-btn
      opacity: 1
      &:hover
        background: $c-primary

        span
          color: $c-white

    span
      transition: color 0.3s
      line-height: 1
      font-size: $f-paragraph
      color: $c-secondary-txt

