.widget-information-view
  plat-login-background
    plat-login-content(
      contentHeightAnimation,
      titleText="FORGOT_PASSWORD.WIDGET_INFORMATION.TITLE",
      subTitle="FORGOT_PASSWORD.WIDGET_INFORMATION.DESCRIPTION"
    )
