.dropdown-input(data-ng-class="{'is-open': $ctrl.isOpen, 'is-active': $ctrl.isActive}")
  .dropdown-header(data-ng-click="$ctrl.toggleDropdown()")
    label {{$ctrl.label}}
    span(data-ng-if="$ctrl.selectedItem") {{$ctrl.selectedItem.name }}
    span.placeholder(data-ng-if="!$ctrl.selectedItem") {{$ctrl.mainPlaceholder.name}}

    .dropdown-icons
      span.icon.icon-down-12

  .dropdown-content
    .dropdown-input
      input(type="text" placeholder="{{ $ctrl.inputPlaceholder | translate }}" data-ng-model="$ctrl.filterBy.name")
      span.icon.icon-search-24

    .scroll-list
      a.all-items(data-ng-click="$ctrl.onMainItemSelect($ctrl.mainPlaceholder)" data-ng-class="{'is-active': $ctrl.isSelected(item)}")
        span {{ $ctrl.mainPlaceholder.name }}

      span.title-list(data-ng-show="$ctrl.mainListExist() && !$ctrl.isSecondaryListExist()" data-translate="{{ $ctrl.mainListLabel }}")
      span.title-list(data-ng-show="$ctrl.isSecondaryListExist()" data-translate="{{ $ctrl.mainListLabelOnSecondaryExist }}")
      ul.dropdown-list.dropdown-favourite-list(data-ng-show="$ctrl.mainListExist()")
        li(data-ng-repeat="item in $ctrl.mainList | filter: $ctrl.filterBy" data-ng-click="$ctrl.onMainItemSelect(item)" data-ng-class="{'is-active': $ctrl.isSelected(item)}")
          a {{ item.name }}

        li(data-ng-repeat="section in $ctrl.sections" data-ng-class="{'is-active' : $ctrl.isSelected(section)}")
          a(ng-click="$ctrl.setMaster(section)") {{ sections.name }}

        li.no-results(data-ng-show="!$ctrl.mainList || $ctrl.mainList.length < 1")
          a no results

      span.title-list(data-ng-show="$ctrl.isSecondaryListExist()" data-translate="COMMON.COMPONENTS.INTERFACE.DROPDOWN.OTHER_CONSULTATIONS.LABEL")
      ul.dropdown-list(data-ng-show="$ctrl.isSecondaryListExist()")
        li(data-ng-repeat="item in $ctrl.secondaryList | filter: $ctrl.filterBy" data-ng-click="$ctrl.onSecondaryItemSelect(item)" data-ng-class="{'is-active': $ctrl.isSelected(item)}")
          a {{ item.name }}



