section.top-content-home
  .default-container.flex-col.home-header
    include ./parts/top-container.partial.jade
  .default-container
    include ./parts/home-search-bar.partial.jade
  .default-container
    include ./parts/branch-overview.partial.jade
