navbar
main.top-content-home
  .container.home-header
    include ./parts/top-container.partial.pug
  .container
    include ./parts/branch-overview.partial.pug

  .container
    similar-experts-slider(data-consultations="vm.similarExperts" data-title="HOME.SIMILAR_EXPERTS_SLIDER_MESSAGE")

footer.footer
  pro-footer
