@import "./projects/anymind-ng-core/src/template/stylesheets/core/core"

.navbar-user-avatar
  position: relative

  &__icon
    position: absolute
    right: -4px
    bottom: -4px
    font-size: 24px

  .icon-available
    &::before
      color: $c-success-primary

  .icon-offline
    &::before
      color: $c-placeholder

  .icon-background
    position: absolute
    background-color: $c-white
    right: -2px
    bottom: -2px
    width: 20px
    height: 20px
    border-radius: 50%

  plat-user-avatar
    &::ng-deep
      .user-avatar
        &__img
          width: 40px
          height: 40px
          min-width: 40px
          min-height: 40px

          +xsm
            width: 48px
            height: 48px

      .icon-avatar
        height: 40px
        width: 40px
        font-size: 40px

        +xsm
          width: 48px
          height: 48px
          font-size: 48px

      .icon-avatar
        &:hover
          background: $c-primary
