.container.create-new-service
  .top-section.clearfix
    h2.text-bold.pull-left NOWA USŁUGA
    i.icon-close.icon-2x.pull-right.link(data-ui-sref="app.dashboard.start")

  pro-create-new-service-name.widget-divider()
  pro-create-new-service-name.widget-divider()
  pro-create-new-service-name.widget-divider()
  pro-create-new-service-name.widget-divider()
  pro-create-new-service-category.widget-divider()

  //pro-create-new-service-description()

  div(data-pro-progress-bar="vm.progress" data-caption="PROGRESS_BAR.SERVICE_COMPLETED" data-next="vm.emitContextSaveAndGoNext")
  //
  //pre
  //  | vm: {{vm|json}}
