.container.create-new-service
  .top-section.clearfix
    h2.text-bold.pull-left {{ 'APP.WIZARDS.CREATE_NEW_SERVICE.NEW_SERVICE' | translate }}
    i.icon-close.icon-2x.pull-right.link(data-ui-sref="app.dashboard.start")


  pro-create-new-service-name.widget-divider(data-queue="vm.queue" data-order="1" data-service-model="vm.serviceModel")
  pro-create-new-service-industry.widget-divider(data-queue="vm.queue" data-order="2" data-service-model="vm.serviceModel")
  pro-create-new-service-category.widget-divider(data-queue="vm.queue" data-order="3" data-service-model="vm.serviceModel")
  pro-create-new-service-tag.widget-divider(data-queue="vm.queue" data-order="4" data-service-model="vm.serviceModel")
  pro-create-new-service-type.widget-divider(data-queue="vm.queue" data-order="5" data-service-model="vm.serviceModel")

  //pro-create-new-service-type-self-consultants(data-queue="vm.queue" data-order="5" data-service-model="vm.serviceModel")







  pro-progress-bar(data-progress="vm.progress" data-queue="vm.queue" data-caption="PROGRESS_BAR.SERVICE_COMPLETED" data-next="vm.nextSection")
