.container.create-new-service
  pro-create-new-service-category()

  .row
    .col-sm-9
      span
        | {{ 'WIZARDS.CREATE_NEW_SERVICE.NEW_SERVICE_COMPLETE_IN' | translate }} {{ vm.calculateFillPercentage() }}%
      div(data-pro-progress-bar="vm.progress" data-caption="PROGRESS_BAR.SERVICE_COMPLETED" data-next="vm.emitContextSaveAndGoNext")

