#help-menu.navbar-menu
  .help-menu-container
    .help-search-tab.left-tab-animation
      .navbar-menu-header.help-menu-header
        a.go-back-link(data-ng-click="$ctrl.buttonCallback()")
          span.icon.icon-back-24
        span.icon.icon-search-24
        input.help-search(type="text" name="search" placeholder="{{'NAVIGATION.HELP_MENU.SEARCH_PLACEHOLDER' | translate}}"
          ng-model="$ctrl.helpSearchQuery" autofocus data-ng-change="$ctrl.onHelpSearchInputChange()")

      .help-content
        .help-title
          span(data-translate="NAVIGATION.HELP_MENU.SUGGESTIONS")
        ul.help-link-list
          li(ng-repeat="result in $ctrl.searchResults | filter : helpSearchQuery | limitTo : $ctrl.resultCount")
            a(target="_blank" href="{{ result.html_url }}") {{ result.name }}
      .help-menu-footer
        a.btn.btn-link(data-translate="NAVIGATION.HELP_MENU.HELP_CENTER"
        target="_blank"
        href="{{$ctrl.zendeskUrl}}")
