@import "../../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.invite-employees
  .select-list-item
    margin: 0 0 48px
    display: flex
    align-items: flex-start
    border-bottom: 1px solid $c-lines
    padding: 24px 0

    .select-list-radio
      .checkbox
        align-items: flex-start

    .select-list-content
      padding: 0 0 0 16px

      > *
        display: block
        margin: 0 0 16px

        &:last-child
          margin: 0

  .consultation-title
    +consultationTitleList

  .invite-employees-action
    text-align: right

  .pro-tags-dropdown
    .input-tag-group
      .ui-select-container
        .ui-select-choices
          top: $f-input-height !important

      > div
        .ui-select-match
          margin: 0

          .ui-select-match-item
            +default-font-medium
            transition: color 0.3s, border 0.3s
            background: $c-white
            border: 1px solid $c-lines
            color: $c-secondary-txt
            height: 32px
            display: inline-flex
            align-items: center
            padding: 0 16px
            white-space: pre
            font-size: $f-paragraph-small
            border-radius: 5px
            margin: 0 8px 8px 0

            span
              font-size: $f-paragraph-small
              color: $c-secondary-txt

      input
        &.ui-select-search
          height: $f-input-height
          margin: 0 0 32px

