.expert-invoice
    .list-row
      .invoice-file-container
        .icon-container
          a.btn
            span.icon.icon-download-report-24
        .date-container
          span 12.04.2017
      .invoice-details-container
        .description-container
          span(data-translate="DASHBOARD.EXPERT_ACCOUNT.INVOICES.INVOICES_SECTION.INVOICE_NO")
          span FV1234/14
        .button-container
          a.btn.btn-link(data-translate="DASHBOARD.EXPERT_ACCOUNT.INVOICES.DOWNLOAD_BUTTON")
