@import "../../../../../../template/profitelo_theme/stylesheets/core/helpers/helpers"
@import "../../../../../../template/profitelo_theme/stylesheets/variables/variables"

.expert-invoice
  .list-row
    flex-wrap: wrap

    +smm
      flex-wrap: nowrap
      justify-content: initial

    &:hover
      background: $c-background

      .button-container
        display: initial

  .invoice-file-container
    display: flex
    align-items: center
    width: 100%
    min-width: 200px
    margin: 0 0 8px

    +smm
      width: auto
      margin: 0

  .invoice-details-container
    display: flex
    justify-content: space-between
    width: 100%

    .description-container
      span
        +paragraphSmall
        color: $c-primary-txt

        &:first-child
          margin: 0 4px 0 0

    .button-container
      display: none

  .icon-container
    margin: 0 24px 0 0

    .btn
      padding: 0

    .icon
      margin: 0

      &:hover
        color: $c-primary

  .date-container
    +paragraphSmall
