.phone-number
  .input-group
    border-radius: 0
    border: 1px solic $c-lines

    &:first-of-type
      border-right: 0

  .inputs-handler
    display: flex

    .prefix-phone
      width: 124px

      .input-group
        border-top-left-radius: $border-radius-default
        border-bottom-left-radius: $border-radius-default

    .phone
      flex: 0 1 calc(100% - 124px)
      border-top-right-radius: $border-radius-default
      border-bottom-right-radius: $border-radius-default
      width: calc(100% - 124px)

  .dropdown-menu
    max-width: 125px
    width: 125px
    margin: 0
    padding: 0
