.phone-number
  .inputs-handler
    +xsm
      display: flex

  .btn
    width: 100%

  .pro-dropdown
    width: 100%
    margin: 0 0 16px

    +xsm
      margin: 0
      min-width: 124px

    .input-group
      .ui-select-container
        border-radius: 3px 0 0 3px

        +xsm
          border-right-color: $c-white

  .pro-input
    border-radius: 0 3px 3px 0

    +xsm
      min-width: 276px
