.phone-number
  .inputs-handler
    display: flex
    border-radius: 5px
    border: 1px solid $c-lines
    overflow: hidden

    .prefix-phone
      border: 0
      border-radius: 0
      flex: 1 0

    .phone
      border: 0
      border-left: 1px solid $c-lines
      border-radius: 0
      flex: 3 0
