.email-veryfication
  .email-sent
    p
      font-size: $f-header
      margin-bottom: 24px

    .btn-show-more
      width: 100%
      margin-bottom: 24px

    a
      display: block
      text-align: center
      font-size: $f-paragraph-small
      color: $c-secondary-txt
      transition: color .2s
      text-transform: uppercase

      &:hover
        color: $c-primary-txt
