.email-veryfication
  .email-sent
    p
      font-size: $f-regular
      margin-bottom: 24px

    .pro-button
      margin-bottom: 24px

    a
      display: block
      text-align: center
      font-size: $f-base
      color: $c-secondary-txt
      transition: color .2s
      text-transform: uppercase

      &:hover
        color: $c-primary-txt
