.login-page
  height: 100vh

  .left-column
    flex: 0 0 100%
    align-items: center
    background-color: $c-white

    +smm
      flex: 0 0 33%

    .btn-handler
      width: 100%
      justify-content: space-between

      button
        flex: 0 1 50%

        &:not(:last-of-type)
          margin-right: 16px

    .top-content
      width: 100%
      padding: 20px
      float: left

      +xsm
        width: 480px
        padding: 40px

      img
        height: 40px
        margin-bottom: 36px

      .top-div
        border-bottom: 1px solid $c-lines
        margin-bottom: 32px

        h3, h4
          font-size: $f-regular
          margin-bottom: 8px

        .purple
          color: $c-primary

        .password-verify
          margin-top: 32px
          margin-bottom: 32px

        .pro-checkbox
          margin: 32px 0 32px 0

      .forgot-password
        width: 100%
        text-align: center
        margin-top: 20px

    .bottom-content
      width: 100%
      padding: 0 20px
      position: relative
      margin-top: 10px
      float: left

      +xsm
        width: 480px
        padding: 0 40px

      .log-bottom
        text-align: center

        p
          margin-bottom: 32px

      .app-buttons
        justify-content: space-around

        +xsm
          margin-bottom: 32px

        img
          height: 48px
          width: 140px

  .img-column
    display: none
    background-image: url("/assets/images/login-background.jpg")
    background-size: cover
    background-position: center

    +smm
      display: block
      flex: 1 0 66%
