.login-4
  .btn-handler
    display: flex
    justify-content: space-between
    .btn-icon
      position: relative
      top: 2px
  .link
    display: flex
    justify-content: flex-end
    padding-top: 20px
  div
    h5
      display: flex
      justify-content: space-between
