.login-page
  height: auto
  min-height: 100vh

  .left-column
    flex: 0 0 100%
    align-items: center
    justify-content: space-between
    background-color: $c-white
    display: flex
    flex-flow: column

    +smm
      flex: 0 0 480px

    .btn-handler
      justify-content: space-between
      flex-direction: row-reverse

      &.login-handlerbe
        flex-wrap: wrap

        +smm
          flex-wrap: nowrap
          flex-direction: row-reverse

        button
          margin: 0 0 16px
          flex: 1 0 100%

          +smm
            flex: 1

          +smm-landscape
            &:first-child
              margin: 0 8px 0 0

            &:last-child
              margin: 0 0 0 8px

    .top-content
      align-self: flex-start
      padding: 20px
      width: 100%

      +xsm
        padding: 40px

      svg.logo
        width: 146px
        height: 40px
        margin-bottom: 32px

      .top-div
        border-bottom: 1px solid $c-lines
        margin-bottom: 32px

        h3, h4
          font-size: $f-regular
          margin-bottom: 8px

        .purple
          color: $c-primary

        .password-verify
          margin-top: 32px
          margin-bottom: 32px

        .pro-checkbox
          margin: 32px 0 32px 0

      .forgot-password
        width: 100%
        text-align: center
        margin-top: 20px

        a
         text-transform: uppercase
         display: block
         text-align: center
         font-size: $f-base
         color: $c-secondary-txt
         transition: color .2s

         &:hover
           color: $c-primary-txt

    .bottom-content
      align-self: flex-end
      width: 100%
      padding: 0 20px 40px
      position: relative
      margin-top: 10px
      float: left

      +xsm
        padding: 0 40px 0

      .log-bottom
        text-align: center

        p
          +default-font-heavy
          font-size: $f-base
          margin-bottom: 32px
          text-transform: uppercase

      .app-buttons
        justify-content: center

        a:first-of-type
          margin-right: 16px

        +xsm
          margin-bottom: 32px

        img
          margin: 0 8px
          height: 40px
          width: auto

  .img-column
    display: none
    background-image: url("/assets/images/login-background.jpg")
    background-size: cover
    background-position: center

    +smm
      display: block
      flex: 1 0 66%

    +smm-landscape
      flex: 1 0 50%

    +smm-portrait
      flex: 1 0 50%

    +lgm
      flex: 1 0 65%

    +xlgm
      flex: 1 0 78%
