.login-6
  .warrning-wrapper
    background-color: $c-warning
    margin-top: 20px
    border-radius: 0.3em
    text-align: center
    padding: 20px 20px 10px 20px
    color: $c-background
    i
      font-size: 30px
    h6
      margin-top: -1px
      color: $c-background
      text-transform: uppercase
  .btn-handler
    display: flex
    justify-content: space-between
    .btn-icon
      position: relative
      top: 2px
