.login-page
  .left-column
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-between
    align-content: center
    align-items: center
    min-height: 100vh
    width: 100%
    background-color: $c-white
    +xsm
      width: 480px

    .btn-handler
      display: inline-flex
      width: 100%
      button
        &:first-child
          max-width: 50%
          margin-right: 8px
        &:nth-child(2)
          max-width: 50%
          margin-left: 8px
    .top-content
      width: 100%
      height: 100%
      position: relative
      padding: 20px
      +xsm
        width: 480px
        padding: 40px
      img
        height: 40px
      .top-div
        border-bottom: 1px solid $c-lines
        margin-bottom: 32px
        h5
          margin-top: 32px

        h4
          margin: -24px 0 0 0
          padding-bottom: 32px
          span
            &.purple
              color: $c-primary
              font-weight: 600
      form
        margin-top: 32px
        button
          margin-top: 7px
        .password-verify
          margin-top: 32px
          margin-bottom: 32px
        .pro-checkbox
          margin: 0 0 32px 0

      .forgot-password
        width: 100%
        text-align: center
        margin-top: 20px


    .bottom-content
      width: 100%
      padding: 0 20px
      position: relative
      margin-top: 20px
      +xsm
        width: 480px
        padding: 0 40px

      .log-bottom
        text-align: center
        h5
          margin: 0
          padding-bottom: 32px
      .app-buttons
        display: flex
        justify-content: center
        margin-bottom: 32px
        img
          height: 48px
          width: 140px
          &:nth-child(2)
            margin-left: 16px
      .footer
        border-top: 1px solid $c-lines
        padding-top: 0
        text-align: center
        width: 100%
        h6
          margin-top: 16px
          margin-bottom: 16px

  .img-column
    overflow-x: hidden
    width: 0
    background-image: url("/assets/images/login-background.jpg")
    position: absolute
    background-size: cover
    left: 480px
    height: 100%
    top: 0
    display: none

    +xsm
      display: block
      width: calc(100% - 480px)
      overflow-x: hidden