.phone-handler
  margin: 32px 0

  h5
    padding: 5px 0 0

  span
    left: 8px
    position: relative
    color: $c-success

.new-password
  .checkbox-error-messages
    width: 100%
    font-size: $f-input-small
    font-weight: bold
    text-transform: uppercase
    padding: 8px 0 0 40px
    color: $c-error

  button
    margin: 16px 0 0 0
    width: 100%

.set-email
  input-primary
    margin: 0 0 32px
