.consultations-field
  pro-top-navbar()
  
  .consultations-top(style="background: url('/assets/images/test-bg.jpg') no-repeat top center")
    .field-search(data-model='vm.model' data-tag-click-action="vm.tagsClick")
      .default-container
        .consultations-field-title
          span.icon.icon-technology-32
          h4 Nazwa Dziedziny
      
        pro-search-dropdown
        
        .top-search-items
          .title-tags
            h4(data-translate="HOME.FIELD.TOP_SEARCH")
          .tags
            pro-tags-slider(data-tags="vm.tags" data-on-tag-click-action="vm.tagsAction")
          

  .card-slider
    card-slider.flex-row(data-cards="vm.expertCard" data-controlls="vm.controlls")
      
  .default-container
    pro-expert-slider()

  pro-footer()
  
  
