div.input-container.center-block
  .icon-container
    i.icon-2x(class="{{ labelIcon }}")
    span {{ name }}
  input(type="password" name="inputPass" data-ng-required="true" data-ng-model="inputValue" data-ng-maxlength="{{maxLength}}" data-ng-minlength="{{minLength}}")
  i.icon-2x.icon-close.mark-position.reject(data-ng-if="form.inputPass.$touched && form.inputPass.$invalid")
  i.icon-2x.icon-yes.mark-position.ok(data-ng-if="form.inputPass.$touched && form.inputPass.$valid")

