div.input-container.center-block
  .icon-container
    i.icon-2x(class="{{ labelIcon }}")
    span {{ name }}
  input(type="password" name="inputPass" data-ng-required="true" data-ng-model="inputValue")

