.field-search(style="background: {{vm.background}}")
  .default-container.field-container
    span.icon.icon-technology-32
    h4 Nazwa Dziedziny
    
    input.input-search-row(type="text", placeholder="{{'HOME.SEARCH_PLACEHOLDER' | translate}}")
    
    h4(data-translate="HOME.FIELD.TOP_SEARCH")
    pro-tags-slider(data-tags="model.tagsModel" data-on-tag-click-action="tagsAction")
