.pro-expert-slider.experts-consultation-slider
  .slider-header
    span.title-row {{ $ctrl.title | translate }}
      span ({{ $ctrl.experts.length }})

  .slider-container
    a.arrow-slider.arrow-left(data-ng-click="$ctrl.prevSlide()" data-ng-show="$ctrl.areControllsVisible")
      span.icon.icon-arrow-left-16

    .slider-slides(data-ng-style="leftOffset" data-ng-swipe-left="$ctrl.nextSlide()")
      slider.slider-list(data-ng-transclude data-controlls="controlls" data-move-slides="-2")

        .slides(data-ng-repeat="expert in $ctrl.experts"  data-ng-swipe-right="$ctrl.prevSlide()")
          .slider-item
            a.profile-preview(data-ui-sref="app.expert-profile({profileId: expert.id})")
              .thumb.x48
                img.user-avatar(data-ng-src="{{ $ctrl.expertImage(expert.img) }}" alt="{{ expert.name }}"  data-ng-class="{'is-not-uploaded': !companyImage}")
                .status-list
                  span.status.availability

              .profile-name
                span {{ expert.name }}

    a.arrow-slider.arrow-right(data-ng-click="$ctrl.nextSlide()" data-ng-show="$ctrl.areControllsVisible")
      span.icon.icon-arrow-right-16