.container
  .welcome-to-anymind
    am-core-image-display(
      imgName="anymind_logo",
      altDescription="anymind_logo"
    )

    header.welcome-to-anymind__header
      h6 {{ 'DASHBOARD.WELCOME.TITLE' | translate }}
      p {{ 'DASHBOARD.WELCOME.DESCRIPTION' | translate }}

    .choose-profile-container
      .choose-profile-container__option
        .option__info-container
          header.option__header {{ 'DASHBOARD.WELCOME.EXPERT_ACCOUNT.TITLE' | translate }}
          p.option__description {{ 'DASHBOARD.WELCOME.EXPERT_ACCOUNT.DESCRIPTION' | translate }}
        .option__button-container
          a(
            plat-large-button,
            color="primary",
            (click)="onCreateExpertAccount()"
          ) {{ 'DASHBOARD.WELCOME.CONFIRM_BUTTON' | translate }}

      .choose-profile-container__option
        .option__info-container
          header.option__header {{ 'DASHBOARD.WELCOME.COMPANY_ACCOUNT.TITLE' | translate }}
          p.option__description {{ 'DASHBOARD.WELCOME.COMPANY_ACCOUNT.DESCRIPTION' | translate }}
        .option__button-container
          a(
            plat-large-button,
            color="primary",
            (click)="onCreateCompanyAccount()"
          ) {{ 'DASHBOARD.WELCOME.CONFIRM_BUTTON' | translate }}
