.dropdown.dropdown-input(data-ng-class="{'is-open': $ctrl.isOpen, 'is-active': $ctrl.isActive, 'is-disabled': $ctrl.isDisabled}")
  .dropdown-header(data-ng-click="$ctrl.toggleDropdown()")
    label {{ $ctrl.label | translate }}
    span(data-ng-if="$ctrl.selectedItem") {{ $ctrl.selectedItem.name }}
    span.placeholder(data-ng-if="!$ctrl.selectedItem") {{ $ctrl.mainPlaceholder.name }}

    .dropdown-icons
      span.icon.icon-down-12

  .dropdown-content
    .scroll-list
      ul.dropdown-list
        li(data-ng-repeat="item in $ctrl.mainList | filter: $ctrl.filterBy"
        data-ng-click="$ctrl.onMainItemSelect(item)" data-ng-class="{'is-active': $ctrl.isSelected(item)}")
          a {{ item.name }}

        li.no-results(data-ng-show="!$ctrl.mainList || $ctrl.mainList.length < 1")
          a {{ 'INTERFACE.DROPDOWN_PRIMARY.NO_RESULTS' | translate }}

validation-alert(
data-alert-text="{{$ctrl.validationText}}"
data-is-visible="!$ctrl.isValid && $ctrl.validationText && $ctrl.validationText.length > 0 && " +
"!$ctrl.isOpen && $ctrl.isSubmitted")
