.pro-switcher
  cursor: pointer
  display: flex
  align-items: center

  .checkbox-switcher

    span
      +default-font-regular
      user-select: none
      color: $c-secondary-txt
      font-size: $f-btn-size
      text-transform: uppercase
      margin: 0 0 0 16px

    input[type="checkbox"]
      display: none

      + label
        cursor: pointer
        width: 36px
        height: 18px
        display: inline-block
        vertical-align: middle
        background: $c-white
        border-radius: 30px
        position: relative
        border: 1px solid $c-lines

        &::after
          +transition(all 0.3s)
          content: ""
          position: absolute
          left: 3px
          top: 2px
          width: 12px
          height: 12px
          border-radius: 50%
          background: $c-label

      &:checked
        + label
          &::after
            background: $c-success
            left: 19px
