.limited-access-view
  plat-login-background
    plat-login-content(
    contentHeightAnimation,
    titleText="LIMITED_ACCESS.TITLE",
    subTitle="LIMITED_ACCESS.SUBTITLE"
    )

      button.button.button--default(translate="LIMITED_ACCESS.BUTTON", routerLink="/login")
