@mixin default-font-thin()
  font-weight: 100

@mixin default-font-light()
  font-weight: 300

@mixin default-font-regular()
  font-weight: 400

@mixin default-font-medium()
  font-weight: 500

@mixin default-font-bold()
  font-weight: 700

@mixin default-font-heavy()
  font-weight: 900
