@mixin colfax()
  font-family: "Colfax", sans-serif
  font-style: normal
  font-weight: 400
  text-rendering: optimizeLegibility !important
  -webkit-font-smoothing: antialiased !important
  -moz-osx-font-smoothing: grayscale !important
  -webkit-font-smoothing: antialiased !important
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)

@mixin colfax-bold()
  font-family: "Colfax", sans-serif
  font-style: normal
  font-weight: 500
  text-rendering: optimizeLegibility !important
  -webkit-font-smoothing: antialiased !important
  -moz-osx-font-smoothing: grayscale !important
  -webkit-font-smoothing: antialiased !important
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
