@mixin proxima()
  font-family: "proxima-nova",sans-serif
  font-style: normal
  font-weight: 400

@mixin proxima-bold()
  font-family: "proxima-nova",sans-serif
  font-style: normal
  font-weight: 700

@mixin sofia()
  font-family: "sofia-pro-soft",sans-serif
  font-style: normal
  font-weight: 400

@mixin sofia-bold()
  font-family: "sofia-pro-soft",sans-serif
  font-style: normal
  font-weight: 700