@import "type-faces"
//HEADERS:

h1
  font-size: $f-h1-size

  &.bold
    +default-font-bold
h2
  font-size: $f-h2-size

  &.bold
    +default-font-bold
h3
  font-size: $f-h3-size

  &.light
    color: $c-secondary-txt

  &.bold
    +default-font-bold
h4
  font-size: $f-h4-size

  &.bold
    +default-font-bold
h5
  font-size: $f-h5-size

  &.light
    color: $c-secondary-txt

  &.bold
    +default-font-bold
h6
  font-size: $f-h6-size

  &.bold
    +default-font-bold

  &.bold
    +default-font-bold
p
  font-size: $f-paragraph

a
  &:hover,
  &:active,
  &:focus
  text-decoration: none
