@import "type-faces"
//HEADERS:

@font-face
  font-family: "Lato", sans-serif
  src: url("#{$profitelo-font-path}/LatoLatin-Regular.eot")
  src: url("#{$profitelo-font-path}/LatoLatin-Regular.eot?#iefix") format("embedded-opentype"), url("#{$profitelo-font-path}/LatoLatin-Regular.woff") format("woff"), url("#{$profitelo-font-path}/LatoLatin-Regular.ttf") format("truetype")
  font-weight: 400
  font-style: normal

h1
  font-size: $f-h1-size

  &.bold
    +default-font-heavy
h2
  font-size: $f-h2-size

  &.bold
    +default-font-heavy
h3
  font-size: $f-h3-size

  &.light
    color: $c-secondary-txt

  &.bold
    +default-font-heavy
h4
  font-size: $f-h4-size

  &.bold
    +default-font-heavy
h5
  font-size: $f-h5-size

  &.light
    color: $c-secondary-txt

  &.bold
    +default-font-heavy
h6
  font-size: $f-h6-size

  &.bold
    +default-font-heavy

  &.bold
    +default-font-heavy
p
  font-size: $f-paragraph

a
  &:hover,
  &:active,
  &:focus
  text-decoration: none

.input-error-messages
  font-size: $f-h6-size
  font-weight: bold
