.consultation-title
  h3
    +default-font-regular
    color: $c-primary-txt

    font-size: $f-h4-size

.consultation-price
  margin: 0 0 24px

  span.currency
    color: $c-label

  span
    +default-font-bold
    text-transform: uppercase
    font-size: $f-h4-size

    .currency
      margin: 0 0 0 8px
      color: $c-label

.consultation-about
  +xsm
    display: flex
    align-items: center

  .options-item
    display: block
    +default-font-regular
    color: $c-secondary-txt
    font-size: $f-h5-size
    margin: 0

    +xsm
      &::after
        content: '/'
        margin: 0 4px

    +smm
      display: flex
      align-items: center

    &:last-child
      &::after
        content: none

    span
      &.icon
        margin: 0 8px 0 0


.profile-preview
  display: flex
  align-items: center

  &.vertical-preview
    display: block

    .thumb
      margin: 0 0 16px
      
    .profile-name
      display: block

  .thumb
    margin: 0 16px 0 0

    .status-list
      .status
        +mdm
          justify-content: flex-end

  .profile-name
    display: flex
    align-items: center

    span
      +default-font-regular
      color: $c-secondary-txt
      font-size: $f-h5-size
      transition: color 0.2s

.title-row
  +default-font-regular
  font-size: $f-h5-size
  color: $c-label
  margin: 0 0 12px
  display: block

  span
    font-size: $f-h5-size
    color: $c-label
    margin: 0 0 12px 4px

.circle
  border-radius: 50%
