.pro-bottom-communicator-component(data-ng-class="{'full-screen': vm.isFullScreenMode}" data-ng-show="vm.showChat")
  .expert-camera-preview
    button(data-ng-click="vm.toggleFullScreen()") Full Screen
  .controls
    .meta
      .user
        img(src="avarat")
        span Jan Kowalski
      .call-status
        .time
          | 17:29
        .cost
          | 58,89 PLN
    .buttons
      .settings
        span Opcje
      .camera
        span(data-translate="COMMUNICATOR.CONTROLS.CAMERA")
      .disconnect
        span Rozłącz
      .mute
        span(data-translate="COMMUNICATOR.CONTROLS.MUTE")
      .swap-devide
        span przełącz
      .chat
        span(data-translate="COMMUNICATOR.CONTROLS.CHAT")