@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import "~@anymind-ng/core/src/template/stylesheets/interface/input/input-containers"

.password-view
  form
    margin: 0 0 16px

    > am-core-submit-button
      margin: 16px 0 0

    .hidden-input
      display: none
      height: 0
      width: 0

  .forgot-password
    p
      +button-small
      font-weight: 400
      color: $c-text-secondary

    &__link
      +button-small
      color: $c-primary
