@import "../../../../../../node_modules/@anymind-ng/core/src/template/stylesheets/core/variables/variables"
@import "../../../../../../node_modules/@anymind-ng/core/src/template/stylesheets/core/helpers/helpers"

.password-view
  form
    margin: 0 0 16px

    .hidden-input
      display: none
      height: 0
      width: 0

  .forgot-password
    p
      +buttonTextSmall
      font-weight: 400
      color: $c-text-secondary

    &__link
      +buttonTextSmall
      color: $c-primary
