@import "../../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/variables/variables"
@import "../../../../../../node_modules/@anymind-ng/components/src/template/stylesheets/core/helpers/helpers"

.password-view
  form
    margin: 0 0 16px

  .forgot-password
    +paragraphSmall

    &__link
      font-weight: 500
      color: $c-secondary
