.password-view
  login-background
    login-content(
      titleText="LOGIN.PASSWORD.TITLE",
      [msisdn]="msisdn"
    )
      form(
        [id]="passwordFormName",
        [formGroup]="passwordForm",
        novalidate,
        (ngSubmit)="onFormSubmit(passwordForm)"
      )
        .input-icon-container
          span.icon.icon-lock-closed
          input-password(
            label="LOGIN.PASSWORD.ENTER_PASSWORD.LABEL",
            placeholder="LOGIN.PASSWORD.ENTER_PASSWORD.PLACEHOLDER",
            [form]="passwordForm",
            [controlName]="passwordControlName",
            [isDisabled]="isRequestPending",
            [initialFocus]="isInputInitialFocused"
          )

        submit-button(
          titleText="LOGIN.NEXT",
          [formName]="passwordFormName",
          [isLoading]="isRequestPending"
        )

      .forgot-password
        p {{ "LOGIN.PASSWORD.FORGOT_PASSWORD" | translate }}
        a.forgot-password__link(routerLink="/forgot-password/{{msisdn}}/") {{ "LOGIN.PASSWORD.RESET_PASSWORD" | translate }}
