.payu-payment-form
  margin: 0

  .choose-bank
    .choose-options
      display: flex
      flex-wrap: wrap
      margin: 0 -8px

      .choose-options-item
        padding: 0 8px

  .your-personal-data
    margin: 0 0 32px

    +smm
      display: flex
      flex-wrap: wrap
      margin: 0 -8px 28px

    .personal-data-item
      flex: 1 0 100%
      margin: 0 0 16px

      +smm
        flex: 1 0 50%
        max-width: 50%
        padding: 0 8px

  .your-personal-data-footer
    margin: 0 0 32px

    .pro-checkbox
      min-height: 32px

      label
        display: flex
        align-items: center
        color: $c-primary-txt

    p
      font-size: $f-base
      padding: 8px 0 0 40px
      color: $c-secondary-txt

    .input-error-messages
      padding: 8px 16px 8px 40px

  .charge-account-action
    background: $c-background
    text-align: center
    padding: 56px 16px 104px

    +smm
      display: flex
      align-items: center
      justify-content: space-between
      padding: 48px 104px

    .amount-details
      margin: 0 0 64px

      +smm
        margin: 0
        display: flex
        align-items: center
        justify-content: space-between

    .amount-price
      p
        color: $c-secondary-txt
        font-size: $f-h2-size

        span
          +default-font-medium
          margin: 0 0 0 8px
          color: $c-primary-txt
          text-transform: uppercase
