.security-pin-number
  .input-handler
    margin: 0 0 16px

    +smm
      margin: 0

  .checkbox-handler
    margin: 0 0 64px

    .pro-checkbox
      margin: 0 0 16px

      &:last-child
        margin: 0
.security-confirm-pin
  .pro-input-password
    margin: 0 0 16px
