.security-pin-number
  .input-handler
    margin: 0 0 16px

    +smm
      margin: 0 0 32px

  .checkbox-handler
    margin: 0 0 64px

    .checkbox
      margin: 0 0 16px

      &:last-child
        margin: 0
.security-confirm-pin
  .input-password
    margin: 0 0 16px
