navbar
.expert-profile
  profile-header
  .container
    profile-single-consultation(data-ng-repeat="consultation in vm.consultations" data-service="consultation.service"
                                data-tags="consultation.tags")
pro-footer()
