navbar
.expert-profile
  profile-header(data-profile-details="vm.profile" data-is-favourite="vm.isFavourite"
  data-on-like="vm.handleLike" profile-type="vm.profileType")

  .container.no-padding
    profile-single-consultation(data-ng-repeat="consultation in vm.consultations" data-service="consultation.service"
                                data-tags="consultation.tags" data-owner-company="consultation.ownerProfile"
                                data-profile-id="vm.profileId")
  .container
    similar-consultation()

pro-footer()
