.left-column.sidebar
  .logo
    img(src="assets/images/logo_profitelo_black.png")
  .user
    .photo
        img(src='http://www.naturaloil.ph/wp-content/uploads/2015/11/John_Doe.jpg' alt='user-avatar')
        .user-status
          .user-online(style='background-color: #03ad53;')
    .username
        h5 john.doe@itelo.pl
        span ID 0000 245
  .switcher
    .option-left Klient
    .option-right.active Ekspert
