h2 Dashboard
ul
  li
    a(data-ui-sref="app.wizards.create-new-service") Create new service
  li
    a(data-ui-sref="app.expert-profile") Create expert profile
  li
    a(data-ui-sref="app.expert-progress") Expert progress
  li
    a(data-ui-sref="app.registration") Registration
