h2 Dashboard
ul
  li
    a(data-ui-sref="app.wizards.create-new-service") Create new service
  li To rework when session will returns something similar to: `amIExpert`
    ol
      li
        a(data-ng-if="true" data-ui-sref="app.expert-profile") Create new expert profile (own company profile)
      li
        a(data-ng-if="true" data-ui-sref="app.expert-profile") Edit my expert profile (own company profile)
  li
    a(data-ui-sref="app.expert-progress") Expert progress
  li
    a(data-ui-sref="app.registration") Registration
  li
    a(data-ui-sref="app.login") Login
