h2 Dashboard
ul
  li
    a(data-ui-sref="app.dashboard.service-wizard") Service wizard
  li
    a(data-ui-sref="app.expert-profile") Expert profile
  li
    a(data-ui-sref="app.expert-progress") Expert progress
  li
    a(data-ui-sref="app.registration") Registration