h2 Dashboard
h4 Working pages
ul
  li
    a(data-ui-sref="app.dashboard.service-provider.choose-path") Service provider
  li
    a(data-ui-sref="app.dashboard.service-provider.consultation-range") Consultation Range
  li
    a(data-ui-sref="app.dashboard.service-provider.summary") Summary
