.pad.dashboard-start
  h2 Dashboard
  h4 Working pages
  ul
    li
      a(data-ui-sref="app.dashboard.service-provider.choose-path") Create Profile
    li
      a(data-ui-sref="app.company-profile({ contactId: vm.userId })") Show Your Company Profile
    li
      a(data-ui-sref="app.expert-profile({ contactId: vm.userId })") Show Your Expert Profile
    li
      a(data-ui-sref="app.dashboard.invitation") Invitations
    li
      a(data-ui-sref="app.consultations-field({ fieldId: 1 })") Field Page
    li
      a(data-ui-sref="app.dashboard.charge-account") Charge Account Page
    li
      a(data-ui-sref="app.dashboard.payments-thank-you-page") thank-you-page
    li
      a(data-ui-sref="app.dashboard.conversation-audio") conversation-audio