h2 Dashboard
ul
  li
    a(data-ui-sref="app.dashboard.company-profile") Create new expert profile (own company profile)
    ul
      li
        a(data-ui-sref="app.dashboard.company-summary") Summary
      li
        a(data-ui-sref="app.dashboard.company-cost-data") Cost data
  li
    a(data-ui-sref="app.dashboard.single-profile") Create new expert profile (single person)
    ul
      li
        a(data-ui-sref="app.dashboard.cost-data") Cost data
