.pad.dashboard-start
  h2 Dashboard
  h4 Working pages
  ul
    li
      a(data-ui-sref="app.dashboard.service-provider.choose-path") Create Profile
    li
      a(data-ui-sref="app.expert-profile({ contactId: vm.userId })") Show Expert Profile
    li
      a(data-ui-sref="app.dashboard.invitation") Invitations
    li
      a(data-ui-sref="app.dashboard.videochat") Videochat
