.expert-complains
  no-results-information(data-ng-if="!vm.areComplains"
    data-icon-src="assets/images/profitelo_icons/icon_expert_no_complains.png"
    data-information-title="DASHBOARD.EXPERT_ACCOUNT.NO_COMPLAINS.TITLE"
  )

  complains-list(data-ng-if="vm.areComplains" data-header-title="DASHBOARD.CHARGE_ACCOUNT.RECHARGE_CREDIT")
