.complains
  no-content-message(data-ng-if="!vm.areComplains"
    data-icon-src="assets/images/profitelo_icons/icon_expert_no_complains.png"
    data-message-title="DASHBOARD.EXPERT_ACCOUNT.NO_COMPLAINS.TITLE"
  )
