.client-favourite-content
  +smm
    padding: 0

  .entry-title
    h3
      +subHeader
      text-transform: uppercase
      margin: 0 0 32px

  .dashboard-content
    padding: 0

    h2
      margin: 0 0 16px

    img
      margin: 0 0 64px

.favourite-experts-list
  +xsm
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    margin: 0 -16px
