.setting-option
  .setting-option__left
    .description-container
      h3.description-container__title
        | {{ title | translate }}
        am-core-tooltip(
        *ngIf="tooltipTrText",
        [tooltipText]="tooltipTrText | translate"
        )

      span.description-container__description {{ description | translate }}

  .setting-option__right
    ng-content
