.setting-option
  .setting-option__left
    .description-container
      span.description-container__title {{ title | translate }}

      span.description-container__description {{ description | translate }}

  .setting-option__right
    button.button.button--small.button--tertiary((click)="buttonHandler()")
      span {{ buttonText | translate }}
