@import "~@anymind-ng/core/src/template/stylesheets/core/core"

\:host
	display: block

.setting-option
	padding: 20px 48px
	background-color: $c-white
	display: flex
	justify-content: space-between
	border-radius: 4px

	&__left
		.description-container
			&__title
				+h6
				font-weight: 500

			&__description
				+subtitle-small
				color: $c-text-secondary

	&__right
		button
			height: 40px
			border: 1px solid rgba(44,47,52,0.15)

			span
				+button-small
				color: $c-text-primary
				text-transform: none

