@import "~@anymind-ng/core/src/template/stylesheets/core/core"
@import "../../../../../../../template/core/helpers/mixins"
\:host
  display: block

.setting-option
  +option-row
  max-width: 840px

  &__left
		.description-container
      &__title-container
        display: flex

      &__title
        +subtitle
        font-weight: 500

      &__optional-text
        margin: 0 0 0 8px

      &__description,
      &__optional-text
        +subtitle-small
        word-break: break-word
        color: $c-text-secondary
