.messenger-input
  input(placeholder='{{ "COMMUNICATOR.MESSENGER.INPUT.PLACEHOLDER" | translate}}' data-ng-model="$ctrl.inputModel"
    data-ng-enter="$ctrl.sendMessage($ctrl.inputModel)" data-ng-keyup="$ctrl.onKeyup($event)")

  .messenger-input-action
    a(ngf-select="$ctrl.uploadFiles($files)" ngf-multiple="false" data-ng-disabled="$ctrl.isFileUploading" data-ng-class="{'disable': $ctrl.isFileUploading}")
      span.icon.icon-attachment-24

    a(data-ng-click="$ctrl.sendMessage($ctrl.inputModel)")
      span.icon.icon-send-24