.pro-top-navbar.clearfix(role="navigation" data-ng-class="{'hideNavbar':  isHide }")
  .hamburger-menu.menu-item(data-ng-click="sidebarAction()"
  data-ng-class='hamburgerClass')
    a.nav-icon(data-ng-class="{'open': animateCross}")
      span
      span
      span
      span
    .responsive-main-menu(data-ng-show="!isDashboard && showResponsiveMenu ")
      ul
        li
          a(data-translate="NAVIGATION.HOME_PAGE" data-ui-sref="app.home" data-ng-show="windowSize < 480")
        li(data-ng-repeat="item in menuElements")
          a(data-translate="{{ item.label }}" )

  a.logo-wrapper(role="button", aria-label="home", href="/home")
    img.logo(data-ui-sref="app.home", src="/assets/images/logo_profitelo_black.png", alt="Profitelo-logo")


  div.rightside(data-ng-class="{'search-active':showSearch}")
    ul.main-menu
      li(data-ng-repeat="item in menuElements")
        a(data-translate="{{ item.label }}" )

    div
      a.status-btn(data-ng-show="!!$root.loggedIn  && isExpert && !showSearch" )
          span.status-icon

      .search-expandable(data-ng-class="{'logIn':!!$root.loggedIn, 'logOut':!$root.loggedIn}")

        div.toggle-search
          pro-search-dropdown(data-ng-enter="searchAction(searchModel)" data-ng-model="searchModel" data-search-count="searchCount" data-open="showSearch")

          .search-active-state
            a.search-active-btn.menu-item(data-ng-click="searchAction(searchModel)")
              span(data-translate="NAVIGATION.SEARCH.BUTTON")

            a.cancel-btn.menu-item(data-ng-click="setHideSearch()")
              span(data-translate="NAVIGATION.CANCEL.BUTTON")

    .default-state(data-ng-if="!showSearch" data-ng-class="{'logIn':!!$root.loggedIn, 'logOut':!$root.loggedIn}")
        a.search-btn.menu-item(data-ng-click="setShowSearch()")
          span.icon.icon-search-24
          span.search(data-ng-hide="!!$root.loggedIn || showSearch" data-translate="NAVIGATION.SEARCH.BUTTON")

        a.profile-btn.menu-item(data-ng-hide="!!$root.loggedIn" data-ui-sref='app.login.account')
          span.icon.icon-login-24
          span.login(data-translate="PAGE_TITLE.LOGIN.ACCOUNT")

        a.notification-btn.menu-item(data-ng-if="!!$root.loggedIn")
          span.icon.icon-bell-24

        .login-btn.menu-item(data-ng-if="!!$root.loggedIn" data-ng-mouseover="showUserMenu = true"
        data-ng-mouseleave="showUserMenu = false" data-ng-click="hideOtherMenus()" data-ng-class="{'hover-login-btn': showUserMenu}")
          span.icon.icon-user-profile-24

          .user-menu(data-ng-class="{ 'show-menu' : !!showUserMenu }")
            ul.menu.account-menu(data-ng-click="showUserMenu = false")
              li
                a(data-ui-sref="app.dashboard.client.favourites") Dashboard
              li
                a(data-ui-sref="app.dashboard.service-provider.choose-path") Create Profile
              li
                a(data-ui-sref="app.company-profile({ contactId: userId })") Company profile
              li
                a(data-ui-sref="app.expert-profile({ contactId: userId })") Expert profile
              li
                a(data-ui-sref="app.dashboard.charge-account") Charge Account Page
              li
                a(data-ng-click="logout()" data-translate="NAVIGATION.LOGOUT")
