.image-crop
  .cropper-container
    span.icon.icon-picture-24.icon-smaller
    span.icon.icon-picture-24
  .btn.btn-default(data-translate="SETTINGS.GENERAL.BASIC_ACCOUNT_SAVE_CROPPING"
  data-ng-click='$ctrl.cropImage()')
