.tags-list
  header.entry-title(data-ng-if="$ctrl.title")
    span.icon.icon-recomended-tags-24
    span {{ $ctrl.title | translate }}

  ul.tag-list.slide-page
    li(ng-repeat="tag in $ctrl.tags | limitTo: 7")
      span.slide-btn-tag {{ tag.name }}
