.tags-list
  header.entry-title(data-ng-if="$ctrl.title")
    span.icon.icon-recomended-tags-24
    span {{ $ctrl.title | translate }}

  ul.tag-list.slide-page
    li(ng-repeat="tag in $ctrl.tags | limitTo: 7")
      a.slide-btn-tag(data-ui-sref="app.search-result({q: tag.name})") {{ tag.name }}
