.client
  padding: $s-navbar-height 0 0 0

  &.no-activity
    height: calc(100vh )

  .dashboard-nav
    position: relative

    +smm
      position: static

    .container
      padding: 0

      +smm
        padding: 0 32px

      +xlgm
        padding: 0
