span.expert-progress.text-center
  h1.text-center(style="margin-bottom:100px")
    | Tworzenie profilu experta
  .row.row-centered
    div.col-lg-3.col-centered.box
      div.round
        p.center-in-circle 1
      h3.box-title Profil experta
      p Stwórz swoją wizytówkę! Opisz firmę, dodaj referencje...
      a Uzupelnil Profil
    div.col-lg-3.col-centered.box
      div.round
        p.center-in-circle 2
      h3.box-title Usługi
      p Opisz czym się zajmujesz i jakiej pomocy inni moga oczekiwać
      a Dodaj usługę
    div.col-lg-3.col-centered.box
      div.round
        p.center-in-circle 3
      h3.box-title Weryfikacja
      p Zweryfikuj profil. Sprawdzimy czy wszystko się zgadza
      a Zgłoś do weryfikacji