span.expert-progress.text-center
  h1.text-center.margin-bottom-100
    | Tworzenie profilu experta
  .row.row-centered
    div(pro-progress-box container="vm.box.expert")
    div(pro-progress-box container="vm.box.services")
    div(pro-progress-box container="vm.box.verification")
