span.expert-progress.text-center
  h1.text-center.margin-bottom-100
    | Tworzenie profilu experta
  .row.clearfix.center-flex
    div.pull-left(pro-progress-box container="vm.box.expert")
    div.pull-left(pro-progress-box container="vm.box.services")





    // unique box
    div.pull-left.col-lg-3.box
      div.round
        p.center-in-circle(data-ng-show='vm.verifyBox.verified && !vm.verifyBox.accepted')
          i.fa.fa-times
        p.center-in-circle(data-ng-show='!vm.verifyBox.verified') {{ vm.verifyBox.number }}
      h3.box-title {{ vm.verifyBox.title | translate }}
      p(data-ng-show='!vm.verifyBox.sended') {{ vm.verifyBox.description | translate }}
      p(data-ng-show='vm.verifyBox.sended && !vm.verifyBox.verified') {{ vm.verifyBox.description | translate }}
      p(data-ng-show='!vm.verifyBox.accepted') {{ vm.verifyBox.description | translate }}
      a(data-ng-show='vm.verifyBox.ableToSend' data-ui-sref='{{vm.verifyBox.uiSref}}') {{ vm.verifyBox.uiTitleDone | translate }}
