plat-navbar([isExpertNavVisible]='true')
.expert-dashboard-layout
  .container
    plat-expert-dashboard-header(
      [avatarToken]='avatarToken',
      [name]='name',
      [links]='links',
      [description]='description',
      [isOwnProfile]='isOwnProfile',
      [expertId]='expertId',
      (editProfile)='editProfile()'
    )
.container
  h2.header-text {{'EXPERT_DASHBOARD.CONSULTATIONS_CAPTION' | translate}}
  plat-expert-dashboard-consultations(
    [consultations]='consultations',
    [isOwnProfile]='isOwnProfile',
    (addConsultation)='addConsultation()'
  )
